
<?php
	
	if($this->session->get("is_login") == "X"){					
	}else{
		header("location:login");
	}
	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('ChangePassword'), '<span> Change Password </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	// $messages = $this->flashSession->getMessages();
	// if(count($messages) > 0){
	// 	foreach ($messages as $messageType => $messageArray) {
	// 		foreach ($messageArray as $message) {
	// 			$arr_msg = explode(";", $message);
	// 			echo "<script>swal({
	// 				title: '".$arr_msg[0]."',
	// 				text: '".$arr_msg[1]."',
	// 				type: '".$arr_msg[2]."',
	// 				html: true });</script>";
	// 			$this->flashSession->clear();
	// 		}
	// 	}
	// }
	
	echo '<div class="content_content">';		
	echo '<legend> Ubah Password </legend>';
	echo $this->tag->form([uri("ChangePassword/Update"), "class"=>"add-form"]);
		echo '
			<div class="row">
				<div class="col-sm-6">
					<div class="col-sm-4">
						<label> ID User </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["User_ID", "value"=>$data->user_id, "readonly"=>"true", "class"=>"form-control input-sm" ]).'
					</div>
					
					<div class="col-sm-4">
						<label> Nama User </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["User_Name", "value"=>$data->user_name, "readonly"=>"true", "class"=>"form-control input-sm" ]).'
					</div>
					
					<div class="col-sm-4">
						<label> Password Lama </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->passwordField(["Old_Password", "class"=>"form-control input-sm"]).'
					</div>
					
					<div class="col-sm-4">
						<label> Password Baru </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->passwordField(["New_Password", "class"=>"form-control input-sm"]).'
					</div>
					
					<div class="col-sm-12 styled_button">
						<center>
							<br/>
							<button id="btn_save" type="submit" name="Save" class="btn btn-primary btn-sm"> Simpan </button>
							<button id="btn_back" class="btn btn-default btn-sm"> Kembali </button>							
						</center>
					</div>
				</div>					
			</div>
		';		
    echo $this->tag->endForm();
	echo '</div>';
	
?>

