<script type="text/javascript">
	$(document).ready( function () {			
		$('.confirmation').on('click', function () {	
			var link = $(this).attr("href");			
			
			swal({
				title : "Anda yakin ingin menghapus Retur?",
				text : "Retur yang sudah dihapus tidak dapat dikembalikan!",
				type : "warning",
				showCancelButton : true,
				confirmButtonColor : "#DD6B55",
				confirmButtonText : "Ya, Hapus",
				cancelButtonText : "Tidak, Kembali",
				closeOnConfirm : false,
				closeOnCancel : false
			},
			function(isConfirm){
				if (isConfirm) {
					window.location = link;
					swal("Terhapus!", "Data Retur berhasil dihapus.", "success");
				}else{
					swal("Dibatalkan", "Batal menghapus Retur", "error");
				}
			});
			
			return false;
		});
	});
</script>

<?php
	$messages = $this->flashSession->getMessages();
	if(count($messages) > 0){
		foreach ($messages as $messageType => $messageArray) {
			foreach ($messageArray as $message) {
				$arr_msg = explode(";", $message);
				echo "<script>swal({
					title : '".$arr_msg[0]."',
					text  : '".$arr_msg[1]."',
					type  : '".$arr_msg[2]."',
					html  : true });</script>";
				$this->flashSession->clear();
			}
		}
	}
	
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immpos'), '<span> IMMPOS </span>']).'</li>			
			<li>'.Phalcon\Tag::linkTo([uri('ReturPenjualan'), '<span> Retur Penjualan </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">
		<legend> Retur Penjualan </legend>
	';									
		echo '
			<div class="col-sm-12">
				</br>	
			</div>
		';
				
		echo '<div class="col-sm-8">';
			echo '<table id="DataTable">';
				echo '<thead>';
					echo '<tr>
						<th style="text-align:center"> No Struk </th>
						<th style="text-align:center"> Tanggal </th>
						<th style="text-align:center">  Kasir </th>
						<th style="text-align:center"> Total </th>					  
						<th style="text-align:center"> Action </th>
					</tr>';
				echo '</thead>';

				echo '<tbody>';			
					if(count($lists_jual) > 0 ){
						foreach( $lists_jual as $key => $list_jual ) {
							echo '<tr>
								<td style="text-align:center"><a href="#" class="modalHold" data-toggle="modal" data-hold="'.$list_jual['id_jual'].'" data-target="#myModal">'.$list_jual['id_jual'].'</a></td>
								<td style="text-align:center">'.$list_jual['tanggal'].'</td>					
								<td style="text-align:center">'.$list_jual['id_kasir'].'</td>	
								<td style="text-align:right">'.number_format($list_jual['total'],2,',','.').'</td>	
								<td style="text-align:center">';								
									echo Phalcon\Tag::linkTo([uri('Penjualan/Sell?id_jual='.$list_jual['id_jual']), "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Start Jual"]);
									echo '&nbsp;';
								echo '</td>
							</tr>';
						}		
					}
				echo '</tbody>';			
			echo '</table>';
		echo '</div>';
		
		echo '<div id="myModal" class="modal fade" role="dialog">';
		echo '<div class="modal-dialog modal-lg">';
		
			echo '<div class="modal-content">';
				echo '<div class="modal-header">';
					echo '<button type="button" class="close" data-dismiss="modal">&times;</button>';
					echo '<h4 class="modal-title"> GR/PO/PR/Retur Barang </h4>';
				echo '</div>';
				echo '<div class="modal-body" style="max-height:300px;overflow-y:auto;">';
					echo '<div class="table-responsive">';
					echo '<table class="table-bordered table-striped myTable" style="font-size:14px">';
						echo '<thead>';							
						echo '</thead>';
						  
						echo '<tbody>';							
						echo '</tbody>';			
					echo '</table>';
				echo '</div>';
				echo '</div>';
				echo '<div class="modal-footer">';
					echo '<a href="" class="btn btn-default" data-dismiss="modal">Close</a>';
				echo '</div>';
			echo '</div>';

		echo '</div>';
		echo '</div>';		
		
	echo '<div>';
	
?>
<script>
	$(document).on("click", ".modalHold", function(){
		var hold = $(this).data('hold');
		var myArray = [];
		
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		
		tr = $('<tr>');
		tr.append('<th>Item Code</th>');
		tr.append('<th>Description</th>');
		tr.append('<th>Harga</th>');						
		tr.append('<th>Harga Member</th>');
		tr.append('<th>Qty</th>');
		tr.append('<th>Total</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		$.ajax({ url: "<?php echo $this->url->get(uri('ReturBarang/ajaxJual')) ?>?hold="+hold+"" }).done(function(data){
			console.log(data);			
			myArray = JSON.parse(data);
			
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td style='text-align:right !important'>"+ myArray[i].harga +"</td>");
				tr.append("<td style='text-align:right !important'>"+ myArray[i].harga_member +"</td>");
				tr.append("<td>"+ myArray[i].qty +"</td>");
				tr.append("<td style='text-align:right !important'>"+ myArray[i].total +"</td>");
				
				grand_total = parseInt(grand_total,10) + parseInt(myArray[i].total,10);
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
			$('.myTable tbody').append("<tr><th colspan='5' style='text-align:right !important'>Total</th><td colspan='2'>"+ format(grand_total) +"</td></tr>");
		});		
	});
</script>

