
<?php
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	// get list menu (Immpos)
	$menu = new Menu();
	$condition = " WHERE \"parent_id\" = '14' ";
	$lists = $menu::getFreeSQL($condition);
	
	echo '<div class="content_content">';
		echo '<div class="metro-surface">';
			echo '					
				<div class="col-sm-4 boot-metro-tile boot-metro-tile-large metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('Product'), '<span><i class="fa fa-cubes fa-2x"></i><div class="judul"><div class="judul"> Product </div></div></span>']).'
				</div>	
				
				<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('Promo'), '<span><i class="fa fa-bullhorn fa-2x"></i><div class="judul"><div class="judul"> Promo </div></div></span>']).'
				</div>
	
				<!--<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('Unit'), '<span><i class="fa fa-cube fa-2x"></i><div class="judul"><div class="judul"> Unit </div></div></span>']).'
				</div>				
				
				<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('Currency'), '<span><i class="fa fa-dollar fa-2x"></i><div class="judul"><div class="judul"> Currency </div></div></span>']).'
				</div>
				
				<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('Location'), '<span><i class="fa fa-map-marker fa-2x"></i><div class="judul"><div class="judul"> Location </div></div></span>']).'
				</div>-->							
				
				<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('Supplier'), '<span><i class="fa fa-users fa-2x"></i><div class="judul"><div class="judul"> Supplier </div></div></span>']).'
				</div>
				
				<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('Member'), '<span><i class="fa fa-users fa-2x"></i><div class="judul"><div class="judul"> Kustomer </div></div></span>']).'
				</div>	
				
				<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('Divisi'), '<span><i class="fa fa-list fa-2x"></i><div class="judul"><div class="judul"> Divisi </div></div></span>']).'
				</div>
				
				<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('Category'), '<span><i class="fa fa-list fa-2x"></i><div class="judul"><div class="judul"> Kategori </div></div></span>']).'
				</div>											
				
				<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('Bank'), '<span><i class="fa fa-bank fa-2x"></i><div class="judul"><div class="judul"> Rekening Bank </div></div></span>']).'
				</div>													
			';
		echo '</div>';
	echo '<div>';
	
?>

