<script type="text/javascript">
	
	$(document).ready( function () {
		$('#planogram').click( function () {
				jQuery.ajax({
					url: '<?php echo $this->url->get(uri('Planogram/goPrint')) ?>',
					dataType: "json",
					beforeSend: function() {
						$('#planogram').attr('disabled', true);
						$('.modal').show();
					},
					complete: function() {
						$('#planogram').attr('disabled', false);
						$('.modal').hide();
					}, 
					success: function (data) {
						console.log(data);		
						if(data.type == 'S'){
							swal({
								title: "Planogram",
								text: data.message,
								type: data.alert,
								html: true
							},
							function(isConfirm){
								if (isConfirm) {		
									window.open(data.data,"_blank")
								}
							});	
						}else if(data.type == 'E'){
							swal({
								title: "Planogram",
								text: data.message,
								type: data.alert,
								html: true
							},
							function(isConfirm){
								if (isConfirm) {
									location.reload();
								}
							});
						}
					}
				});
			return false;
		});			
	});
</script>
<?php
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Planogram'), '<span> Planogram </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">
		<legend> Planogram </legend>
	';	
			echo '
			<div class="tab-content">
				<div id="PO" class="tab-pane fade in active">
					<div class="col-md-2">
						<label>Kode TMUK</label>
						<input type="text" class="form-control" name="kode" value="'.$kode.'" readonly required/>
						<input class="btn btn-primary btn-sm" id="planogram" type="submit" value="Get Planogram" style="margin-top:5px">
					</div>
					</div>';
			echo '</div>';
	echo '<div>';
?>

