<?php
	require (__DIR__ . '/../../library/excel_reader.php');
	$filename = __DIR__ . '/../../../public/sync/planogram/'.$_GET['rack'].'_'.$_GET['nomor'].'.xls';
	if(is_readable($filename)){}else{
		echo 'File tidak ditemukan.';
		return false;
	}
	
	$data = new Spreadsheet_Excel_Reader($filename, false);
	$excel_row = $data->rowcount($sheet_index=0);
	
	require (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('','A4',9,'lottefont',10,10,42,2,8);
	
	$lists_tmuk = TMUK::getAll();
	foreach($lists_tmuk as $tmuk){
		$tmuk_code = $tmuk['tmuk'];
		$tmuk_name = $tmuk['name'];
		$address1 = $tmuk['address1'];
		$tmuk_telp = $tmuk['telp'];
	}
		
		$html  = '
			<htmlpageheader name="firstpage" style="display:none">
				<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>			
				<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">PLANOGRAM REPORT</div>
				
				<br/><br/>
				<p style="width:360px;float:left">
					Halaman {PAGENO}/{nbpg}<br/>
					'.date('d/m/Y H:i:s').'<br/>
					User : '.$this->session->get("user")["user_name"].'
				</p>
				
				<p style="width:auto;" align="right">
					<b>IMM/TMUK Store : </b><br/>
					'.$tmuk_name.' ('.$tmuk_code.') <br/>
					'.$address1.'<br/>
					'.$tmuk_telp.' 
				</p>
			</htmlpageheader>

			<htmlpageheader name="otherpages" style="display:none">
				<div style="width:360px;float:left"><img src="http://'.$_SERVER['HTTP_HOST'].$di['url']->getBaseUri().'public/img/Logo_Lotte.png" width="120" height="60"/></div>		
				<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">PLANOGRAM REPORT</div>
				
				<br/><br/>
				<p style="width:360px;float:left">
					Halaman {PAGENO}/{nbpg}<br/>
					'.date('d/m/Y H:i:s').'<br/>
					User : '.$this->session->get("user")["user_name"].'
				</p>
			</htmlpageheader>
			
			<sethtmlpageheader name="firstpage" value="on" show-this-page="1" />
			<sethtmlpageheader name="otherpages" value="on" />
		';
		
		$html .= '
			<style>
				table {
					border: 1px solid #000;
					border-collapse: collapse;
				}
				
				.bordered {
					padding: 3px;
					border: 1px solid #000;
					vertical-align: middle;
					text-align: center;
				}
			</style>
			<p style="text-align:center">'.$_GET['rack'].' Nomor : '.$_GET['nomor'].'</p>
			<table style="width:100%;margin-top:5px;border:0" repeat_header="1">
				<thead><tr>
					<th class="bordered">Kode Barang</th>
					<th class="bordered">Barcode</th>
					<th class="bordered">Nama Produk</th>
					<th class="bordered">Posisi Barang</th>
				</tr></thead><tbody>
		';						
					
			for($i=2;$i<=$excel_row;$i++){
				$html .= '<tr>
					<td class="bordered">'.$data->val($i,3).'</td>
					<td class="bordered">'.$data->val($i,2).'</td>
					<td class="bordered">'.$data->val($i,4).'</td>
					<td class="bordered">Tingkat '.substr($data->val($i,6),0,1).' - Kolom '.substr($data->val($i,6),1,1).'</td>
				</tr>';
			}
				
		$html .= '</tbody>
			</table>
		';
	
	$mpdf->WriteHTML($html);
	$mpdf->Output();
	exit;
?>

