<?php	
	$global_ui = new GlobalUI();
	
	$global_ui::ui_open_panel(12);
	$global_ui::ui_open_panel_body();
		echo '<div class="col-lg-6 col-md-6">';
			$global_ui::ui_text('id', 'ID', 'DEFAULT', $data->id, true, true, false);
			$global_ui::ui_text('rack_type', 'Rack Type', 'DEFAULT', $data->rack_type, true, true, false);
			$global_ui::ui_numeric('tinggi', 'Tinggi', 'DEFAULT', $data->tinggi, true, true, false);
			$global_ui::ui_numeric('panjang', 'Panjang', 'DEFAULT', $data->panjang, true, true, false);
			$global_ui::ui_numeric('lebar', 'Lebar', 'DEFAULT', $data->lebar, true, true, false);
		echo '</div>';
		
		echo '<div class="col-lg-6 col-md-6">';
			$global_ui::ui_numeric('shelving', 'Shelving', 'DEFAULT', $data->shelving, true, true, false);
			$global_ui::ui_checkbox('hunger', 'Hunger', 'DEFAULT', $data->hunger, true, true, false);
			$global_ui::ui_numeric('tinggi_hunger', 'Tinggi Hunger', 'DEFAULT', $data->tinggi_hunger, true, true, false);	
			$global_ui::ui_numeric('panjang_hunger', 'Panjang Hunger', 'DEFAULT', $data->panjang_hunger, true, true, false);
		echo '</div>';
	$global_ui::ui_close_panel_body();
	$global_ui::ui_close_panel();
	
	$global_ui::ui_open_panel(12);
	$global_ui::ui_open_panel_body();
		echo '<center>';
			echo '<img src="http://'.$_SERVER['HTTP_HOST'].$di['url']->getBaseUri().'public/sync/planogram/'.$data->rack_type.'_'.$data->nomor.'.png" style="max-width:750px" />';
		echo '</center>';
	$global_ui::ui_close_panel_body();
	$global_ui::ui_close_panel();
?>