<?php
	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Unit'), '<span> Unit </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		echo $this->tag->form([uri("Unit/Update"), "class"=>"add-form"]);
		echo '<table>';
			echo '<tr>';
				echo '<td>'.'<label class="Unit"> Unit </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["unit", "value"=>$data->unit, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Name"> Name </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["name", "value"=>$data->name]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Decimals </label>'.'</td>';
				echo '<td>'.$this->tag->numericField(["decimals", "value"=>$data->decimals]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
				echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Unit'), '<span> Back </span>']).'</div></td>';
			echo '</tr>';
		echo '</table>';
    echo $this->tag->endForm();
	echo '</div>';
?>

