<style>
    #DataTableZero .markData { color: blue; font-weight: bold; }
	
	.styled_margin{
		margin-top:5px;
	}
	
	.styled_header{
		background: #f5f5f5;
        border: 1px solid #fff;
        padding: 5px;
        text-align: left;
		min-height: 200px;		
    }
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
	$(document).ready( function () {
		$(".select2").select2({
            placeholder: 'Pilih Produk',
			allowClear:true
		});
		
		$('#btn_sync').click( function () {
			var m_data = $('#m_data').val();
			var sync_url = '';
			
			if(m_data == 'TMUK') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncTMUK')) ?>' }	
			else if(m_data == 'SALDO') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncSaldo')) ?>' }
			else if(m_data == 'BANK') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncBank')) ?>' }
			else if(m_data == 'PROMOSI') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncPromo')) ?>' }
			else if(m_data == 'SUPPLIER') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncSupplier')) ?>' }
			else if(m_data == 'DIVISI') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncDivisi')) ?>' }
			else if(m_data == 'KATEGORI') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncCategory')) ?>' }
			else if(m_data == 'CUST') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncCust')) ?>' }
			else if(m_data == 'KUSTOMER') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncKustomer')) ?>' }
			else if(m_data == 'MEMBER') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncMember')) ?>' }
			else if(m_data == 'JENISKUSTOMER') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncJenisKustomer')) ?>' }
			else if(m_data == 'PRODUCT') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncProduct')) ?>' }
			else if(m_data == 'HARGA') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncHarga')) ?>' }
			else if(m_data == 'PLANOGRAM') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncPlanogram')) ?>' }			
			else if(m_data == 'RACK') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncRack')) ?>' }		
			else if(m_data == 'PENJUALAN') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncPenjualan')) ?>' }
			else if(m_data == 'STOCK') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncStock')) ?>' }	
			else if(m_data == 'OPNAME') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncOpname')) ?>' }		
			else if(m_data == 'PR') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncPR')) ?>' }
			else if(m_data == 'PO') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncPO')) ?>' }	
			else if(m_data == 'ALL') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncAll')) ?>' }	
			else if(m_data == 'PIUTANG') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncPiutangMember')) ?>' }	
			else if(m_data == 'POINT') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncPointMember')) ?>' }	
			
			// else if(m_data == 'TAX') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncTax')) ?>' }		
			// else if(m_data == 'POS') { sync_url = '<?php echo $this->url->get(uri('Sync/goSyncPOS')) ?>' }
		
			jQuery.ajax({
				url: sync_url,
				dataType: "json",
				beforeSend: function() {
					$('#btn_sync').attr('disabled', true);
					$('.modal').show();
				},
				complete: function() {
					$('#btn_sync').attr('disabled', false);		
					$('.modal').hide();
				}, 
				success: function (data) {
					console.log(data);		
					
					if(data.type == 'S'){
						setTimeout(function() {
							swal({
								title : "Sukses",
								text : data.message,
								type: "success",
								html : true,
							}, function() {
								window.location = '<?php echo $this->url->get(uri('SyncronMaster')) ?>';
							});
						}, 100);
					}else if(data.type == 'E'){
						setTimeout(function() {
							swal({
								title : "Gagal",
								text : data.message,
								type: "error",
								html : true,
							}, function() {
								window.location = '<?php echo $this->url->get(uri('SyncronMaster')) ?>';
							});
						}, 100);
					}
				}
			});
			
			//window.location = sync_url;
			
			return false;
		});			
	});
</script>

<?php
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('SyncronMaster'), '<span> Syncron Master </span>']).'</li>';			
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		echo '<legend>Syncron Master</legend>';
		
		echo '			
			 <div class="col-sm-6 styled_margin">
				'.$this->tag->select(["m_data", $m_data , "class"=>"form-control input-sm", "id"=>"m_data"]).'
				<center><button id="btn_sync" class="btn btn-primary btn-sm" style="margin:15px 0px">Sync</button></center>
			</div> <!--xx--!>

			
			<div class="col-sm-8">
				<table id="DataTable3" class="table-striped">
				<thead>
					<tr>									
						<th style="text-align:center;"> Syncron </th>											
						<th style="text-align:center;"> Tanggal </th>	
						<th style="text-align:center;"> Jam </th>
					</tr>
				</thead>
				
				<tbody>
		';
				if(count($lists) > 0 ){
					foreach( $lists as $key => $list ) {
						echo '<tr>											
							<td>'.$list['tipe'].'</td>								
							<td style="text-align:center">'.$list['sync_date'].'</td>																
							<td style="text-align:center">'.$list['sync_time'].'</td>															
						</tr>';
					}		
				}
		echo '
				</tbody></table>
			</div>
		';
		
		echo '			
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '<div>';
	
?>

