<style>
	.red-breadcrumb { display:none }
	div.main_center .content_header { background:transparent; margin:0; padding:0 }
	.border_div { background: #fcfcfc; border-bottom:1px solid #ddd; border-right:1px solid #ddd }
	.bold_me { font-weight:bold }
	#komentar {
		background: #fbfbfb;
		border: 1px solid #ddd;
		border-radius :4px;
		width: 100%;
		height: 300px;
		overflow: auto;
		text-align: left;
		padding: 5px;
	}

	#table {
		background: #fbfbfb;
		border: 1px solid #ddd;
		border-radius :4px;
		width: 100%;
		height: 300px;
		overflow: auto;
		text-align: left;
		padding: 5px;
	}
	
	#chat_table td { font-size: 14px }
	.pesan td { padding-bottom: 15px; border-bottom:1px solid #ddd }
</style>

<?php
function tgl_indonesia($date){
	$Hari = array ("Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu",);
	$Bulan = array ("Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember");
	$tahun     = substr($date, 0, 4);
	$bulan     = substr($date, 5, 2);
	$tgl    = substr($date, 8, 2);
	$waktu    = substr($date,11, 5);
	$hari    = date("w", strtotime($date));
	$result = $Hari[$hari].", ".$tgl." ".$Bulan[(int)$bulan-1]." ".$tahun." ".$waktu." ";
	return $result;
}

if($this->session->get("is_login") == "X"){					
}else{
	header("location:login");
}

echo '<div class="content_header">';
echo '<ul class="red-breadcrumb">';
echo '<li>'.Phalcon\Tag::linkTo([uri('Dashboard'), '<span> Dashboard </span>']).'</li>';
echo '</ul>';
echo '<div>';

if($this->session->get("user")['role_id'] == 1 OR $this->session->get("user")['role_id'] == 2 OR $this->session->get("user")['role_id'] == 3){
	$tmuk = new TMUK();
	$lists = $tmuk::getAll();
	if(isset($lists)){
		foreach($lists as $list){
			$tmuk->tmuk_id = $list['tmuk_id'];
			$tmuk->nama = $list['name'];
		}
	}

	if(isset($_POST['from'])){
		$value_from = $_POST['from'];
	}else{
		$value_from = date('Y-m-d', strtotime('-1 week'));
	}

	if(isset($_POST['to'])){
		$value_to = $_POST['to'];
	}else{
		$value_to = date('Y-m-d');
	}

	echo '<input type ="hidden" name="tmuk" id="tmuk" value="'.$tmuk->nama.'">';

	echo '
	<div class="col-md-4 form-inline">
		<div style="float:left; padding:10px;">
			<!--<a class="btn btn-success"><span class="fa fa-check-circle"></span> Online</a> --!
			<!-- <a class="btn btn-danger"><span class="fa fa-close"></span> Offline</a> -->
		</div>
	</div>


	<div class="col-md-8 form-inline">
		<div style="float:right; padding:10px;">
			<form action="Dashboard" id="myForm" method="POST">
				Tanggal Periode : 
				<input type="date" name="from" id="from_date" class="form-control input-sm" value="'.$value_from.'" style="margin:1px"/>
				<input type="date" name="to" id="to_date" class="form-control input-sm" value="'.$value_to.'" style="margin:1px"/>
			</form>
		</div>
	</div>

	<div class="col-md-12 border_div" style="border-left:1px solid #ddd;border-top:1px solid #ddd">
		<center>
			<h3>Grafik Penjualan</h3>
			<canvas id="sellChart" height="75%"></canvas>
		</center>
	</div>

	<div class="col-md-4 border_div" style="border-left:1px solid #ddd">
		<center>
			<h3 class="bold_me" id="laba"></h3>
			<h4>dari bulan lalu</h4>
		</center>
	</div>
	<div class="col-md-4 border_div">
		<center>
			<h3 class="bold_me" id="total_sales"></h3>
			<h4>Penjualan</h4>
		</center>
	</div>
	<div class="col-md-4 border_div">
		<center>
			<h3 class="bold_me" id="struk"></h3>
			<h4>Transaksi</h4>
		</center>
	</div>

	<div class="col-md-4 border_div" style="border-left:1px solid #ddd">
		<center>
			<h5>Penjualan Produk Teratas</h5>
			<canvas id="topChart" height="200%"></canvas>
		</center>
	</div>
	<div class="col-md-4 border_div">
		<center>
			<h5>Penjualan Per Kategori</h5>
			<canvas id="categoryChart" height="200%"></canvas>
		</center>
	</div>
	<div class="col-md-4 border_div">
		<center>
			<h5>Nominal Penjualan Tertinggi</h5>
			<canvas id="highChart" height="200%"></canvas>
		</center>
	</div>


	<div class="col-md-4 border_div" style="padding:4.5px 0px;border-left:1px solid #ddd">
		<center>
			<h4>PR yang belum di Approve</h4>
			<a href="#" data-toggle="modal" data-target="#modalPR"><h3 class="bold_me" id="PR_Approve"></h3></a>
		</center>
	</div>
	<div class="col-md-4 border_div">							
		<center>
			<h4>SO Bulanan Terakhir</h4>
		</center>
		<h5 id="SO_Terakhir"></h5>	
	</div>
	<div class="col-md-4 border_div" style="padding:4.5px 0px">
		<center>
			<h4>PO yang belum di GR</h4>
			<a href="#" data-toggle="modal" data-target="#modalPO"><h3 class="bold_me" id="PO_GR"></h3></a>
		</center>
	</div>

	<div class="col-md-4 border_div">
		<center>
			<h5>Produk Belum Terjual</h5>
			<canvas id="bottomChart" height="200%"></canvas>
		</center>
	</div>

<div class="col-md-12" style="margin-top: 30px;">
	<div class="col-md-6">
	<div id="table">
		<center>
			<h3>Sales Perjam</h3>
			<h5>';echo tgl_indonesia(date('Y-m-d')); echo'</h5>
			<canvas id="salesChart" height="75%"></canvas>
		</center>
	</div>
	</div>
	<div class="col-md-6">
	<div id="table">
		<center>
			<h3>Barang Tidak Bergerak dari Opening</h3>
			<table class="ui very basic striped small compact table">
					<thead>
						<tr>
							<th style="text-align: center;">#</th>
							<th style="text-align: left;">Kode</th>
							<th style="text-align: center;">Nama</th>
							<th style="text-align: center;">Qty</th>
						</tr>
					</thead>
					<tbody>';
					// $pm = new JualDetail();
					$hit = 1;
					$hit2 = 1;
					foreach ($opening as $key => $value) {
						if($hit<6){
							$no = $key + 1;
						echo'
						<tr>
							<td style="text-align: center;">'.$no.'</td>
							<td style="text-align: left;">'.$value['stock_id'].'</td>
							<td style="text-align: center;">'.$value['uom1_prod_nm'].'</td>
							<td style="text-align: center;">'.$value['nilai_persediaan'].'</td>
						</tr>';
							$hit2++;
						}else{
							break;
						}
						$hit++;
					}
					// dd($pm::get_product_move());
					// foreach ($pm::get_product_move() as $value) {
					// 	if($hit<6){
					// 		$pn = new JualDetail();
					// 		$pnn = $pn::get_product_name($value['stock_id']);
					// 		// var_dump($pnn);die;
					// 		echo'
					// 			<tr>
					// 				<td style="text-align: center;">'.$hit2.'</td>
					// 				<td style="text-align: left;">'.$value['stock_id'].'</td>
					// 				<td style="text-align: center;">'.$pnn.'</td>
					// 				<td style="text-align: center;">'.$value['qty'].'</td>
					// 			</tr>
					// 		';
					// 		$hit2++;
					// 	}else{
					// 		break;
					// 	}
					// 	$hit++;
					// }
					echo '	
					</tbody>
			</table>
		</center>
	</div>
	</div>
</div>';
echo '
<div class="col-md-12">
</br>
	<div class="col-md-6">
	<div id="table">
		<center>
			<h3>Mutasi Escrow</h3>';
			$year = date('Y');
			echo '
			<h5>Tahun 2018 YTD</h5>
				<table class="ui very basic striped small compact table">
					<thead>
						<tr>
							<th style="text-align: center;">#</th>
							<th style="text-align: center;">Tanggal</th>
							<th style="text-align: center;">Transaksi</th>
							<th style="text-align: center;">D</th>
							<th style="text-align: center;">K</th>
						</tr>
					</thead>
					<tbody>';
					$data = new TMUK();
					$lists = $data->getAll();
					if(count($lists) > 0){
						foreach($lists as $list){
							$tmuk = $list['tmuk'];

							$curl = new CurlClass();
							$result = $curl->post($this->di['api']['link']."/api/topup/get-topup-all", [
								'tmuk' => $tmuk,
								'year' => $year,
							]);
							// var_dump($result);
							// transform json to object array php
							$obj = json_decode($result, true);
							if ($obj['status'] == 'success') {
								$i=1;
								foreach ($obj['message'] as $value) {
									$date=date_create($value['tanggal']);
									$jenis = '';
									if($value['jenis']==1){
										$jenis = 'Setoran Penjualan';
									}else{
										if($value['jenis']==2){
											$jenis = 'Setoran Kredit';
										}else{
											$jenis = 'Setoran Modal';
										}	
									}
									echo '
									<tr>
										<td style="text-align: center;">'.$i++.'</td>
										<td style="text-align: center;">'.date_format($date,"d/m/y").'</td>
										<td style="text-align: center;">'.$jenis.'</td>
										<td style="text-align: center;">-</td>
										<td style="text-align: center;">'.number_format($value['jumlah'],0,',','.').'</td>
									</tr>
									';
								}
								// var_dump($obj['message']);
							}
						}						
					}
						echo '
					</tbody>
				</table>
		</center>
	</div>
	</div>
	<div class="col-md-6">
	<div id="table">
		<center>
			<h3>Last TopUp</h3>';
			$year = date('Y');
			echo '
			<h5>Tahun 2018 YTD</h5>
				<table class="ui very basic striped small compact table">
					<thead>
						<tr>
							<th style="text-align: center;">#</th>';
							// <th style="text-align: center;">Penjualan (Rp)</th>
							echo '
							<th style="text-align: center;">Setoran Penjualan (Rp)</th>';
							// <th style="text-align: center;">Outstanding (Rp)</th>
							echo '
							<th style="text-align: center;">Last Setoran</th>
						</tr>
					</thead>
					<tbody>';
					$data = new TMUK();
					$lists = $data->getAll();
					if(count($lists) > 0){
						foreach($lists as $list){
							$tmuk = $list['tmuk'];

							$curl = new CurlClass();
							$result = $curl->post($this->di['api']['link']."/api/topup/get-topup-year", [
								'tmuk' => $tmuk,
								'year' => $year,
							]);
							// var_dump($result);
							// transform json to object array php
							$obj = json_decode($result, true);
							if ($obj['status'] == 'success') {
								$i=1;
								foreach ($obj['message'] as $value) {
									$date=date_create($value['tanggal']);
									echo '
									<tr>
										<td style="text-align: center;">'.$i++.'</td>';
										// <td style="text-align: center;">3.000.000</td>
										echo '
										<td style="text-align: center;">'.number_format($value['jumlah'],0,',','.').'</td>';
										// <td style="text-align: center;">500.000</td>
										echo '
										<td style="text-align: center;">'.date_format($date,"d/m/y").'</td>
									</tr>
									';
								}
								// var_dump($obj['message']);
							}
						}						
					}
					echo '
					</tbody>
				</table>
		</center>
	</div>
	</div>
</div>


	<div class="col-md-12" style="margin-top:20px;margin-bottom:20px">
		<center>
			<h4>Chat <span id="status_chat"></span></h4>
		</center>
			<div class="panel panel-default" style="height: 300px;">
			  <div class="panel-body" id="konten-chat" style="max-height: 300px;overflow-y:auto;">
			  	
			  </div>
			</div>
			<center>';
			echo $this->tag->form([uri("Dashboard/sendChat"), "id"=>"data-form", "type"=>"post","enctype"=>"multipart/form-data"]);
			echo '
			<div class="form-inline">
				<input type="text" id="isi_chat" name="inputchat" class="form-control" style="width:30%;margin:8px 3px" placeholder="Tulis sesuatu...">
				<button class="btn btn-primary" type="button" id="btn_chat">Kirim</button>
			</div>
			';
			echo $this->tag->endForm();
			echo '
			</center>
	</div>
	';
}else{
	echo '
	<div class="col-md-12">
		<center>
			<h1 class="bold_me" style="font-size:70px;letter-spacing:3px;margin-top:25%">IMMPOS</h1>
			';
			echo $this->tag->image([uri("img/Logo_TMUK-.png"), "style" => "width:206px;height:103px;"]);
			echo '</center></div>';
		}

		?>

		<div id="modalPO" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">PO yang belum di GR</h4>
					</div>
					<div class="modal-body">
						<div class="table-responsive">
							<table class="table-bordered table-condensed table-striped tabelPO">
								<thead>
									<tr>
										<th>Nomor PO</th>
										<th>Tanggal</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>

		<div id="modalPR" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">PR yang belum di Approve</h4>
					</div>
					<div class="modal-body">
						<div class="table-responsive">
							<table class="table-bordered table-condensed table-striped tabelPR">
								<thead>
									<tr>
										<th>Nomor PR</th>
										<th>Total</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>

		<div id="modalSO" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title-SO"></h4>
					</div>
					<div class="modal-body">
						<div class="table-responsive">
							<table class="table-bordered table-condensed table-striped tabelSO">
								<thead>
									<tr>
										<th>Jumlah Qty di Sistem</th>
										<th>Jumlah Qty di SO</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>

		<script>
			var sales_ago = 0;
			var sales_now = 0;
			var last_sales = 0;
			var myArray;

			var label_arr1 = []; var data_arr1 = [];
			var label_arr2 = []; var data_arr2 = [];
			var label_arr5 = []; var data_arr5 = [];
			var label_arr6 = []; var data_arr6 = [];
			var label_arr7 = []; var data_arr7 = [];
			var label_arr11 = []; var data_arr11 = [];
			var label_arr15 = []; var data_arr15 = [];

			function loadChat(){
				$.ajax({ url: "<?php echo $this->url->get(uri('Dashboard/cek_koneksi')) ?>" }).done(function(data){
					var real_value = JSON.parse(data);

					if(real_value == true){
						$("#status_chat").html("<text class='text-primary'>Online</text>");
						$("#isi_chat").attr('disabled', false);
						$("#btn_chat").attr('disabled', false);

						$.ajax({
							url: '<?php echo $this->di['api']['link'].'/api/chat/get-chat'; ?>',
							type: 'POST',
							dataType: "json",
							success: function(resp){
								$('.list-chat').remove();
									var html = ``;
									for (var i = 0; i < resp.message.length; i++) {
										var res = resp.message[i].created_at.split(" ");
										var date = new Date(res[0]);
										var tanggal = date.getDate();
										var _hari = date.getDay();
										var _bulan = date.getMonth();
										var _tahun = date.getYear();
										var hari = ['Minggu','Senin','Selasa','Rabu','Kamis','Jumat','Sabtu'];
										var bulan = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'];
										var hari = hari[_hari];
										var bulan = bulan[_bulan];
										var tahun = (_tahun < 1000) ? _tahun+1900 : _tahun;

										var time = res[1].split(":");
											html +=`
											<div class="row list-chat" style="margin:5px;">
										  		<div class="col-md-12">
										  			<div class="content">
														<a class="author">`+resp.message[i].nama+`</a>
														<div class="metadata">
															<span class="date">
															`+hari+`, `+tanggal+` `+bulan+` `+tahun+` `+time[0]+`:`+time[1]+`
															</span>
														</div>
														<div class="text">
															<p>`+resp.message[i].pesan+`</p>
														</div>
													</div>
										  		</div>
										  	</div>
											`;
									}
									$('#konten-chat').append(html);
									var objDiv = $("#konten-chat");
									var h = objDiv.get(0).scrollHeight;
									objDiv.animate({scrollTop: h});
							},
							error : function(resp){

							}
						});
					}else{
						$("#status_chat").html("<text style='color:#aaa'>Offline</text>");
						$("#isi_chat").attr('disabled', true);
						$("#btn_chat").attr('disabled', true);
					}
				});
			}

			setInterval(function(){
				loadChat(); 
			}, 30000);

			$(document).ready(function(){
				var y = document.getElementById("tmuk").value; 
				setInterval(function(){
					$.ajax({
						url: '<?php echo $this->di['api']['link'].'/api/ping/cek-ping'; ?>',
						type: 'POST',
						data:{
							tmuk: y
						}
					})
					.done(function() {
						console.log("success");
					})
					.fail(function() {
						console.log("error");
					})

				}, 30000);

				$('input[type="date"]').datepicker({ dateFormat: 'yy-mm-dd'});
				calcDashboard();	
				loadChat();	

				$(document).on("click", ".mySO", function(){
					var so_id = $(this).data('id');
					$('.modal-title-SO').text(so_id);
					$('.tabelSO tbody').html('');

					$.ajax({ url: "<?php echo $this->url->get(uri('Dashboard/ajaxSO')) ?>?so_id="+so_id+"" }).done(function(data){
						myArray = JSON.parse(data);

						tr = $('<tr>');				
						tr.append("<td style='text-align:right'>"+ myArray.dash10SO[0].qty_tersedia +"</td>");
						tr.append("<td style='text-align:right'>"+ myArray.dash10SO[0].qty_barcode +"</td>");
						$('.tabelSO tbody').append(tr);
					});	

				});

				$("#btn_chat").click(function(e){
					// e.preventDefault();
					$('#data-form').ajaxSubmit({				
						dataType: 'json',
						success: function (data) {
							if(data.type == 'S'){
								swal({
									title: "Success!",
									text: data.message,
									type: "success",
									showCancelButton: false,
									closeOnConfirm: true,
									html:true,
								},
								function(isConfirm){
									if (isConfirm) {
										loadChat();	
										$('#isi_chat').val('');
									}
								});
								
							}else if(data.type == 'E'){
								swal({
									title: "Failed!",
									text: data.message,
									type: "error",
									showCancelButton: false,
									closeOnConfirm: true,
									html:true,
								},
								function(isConfirm){
								});						
							}
						},
						error: function(data ) {
							swal({
								title: "Failed!",
								text: 'Terjadi Kesalahan',
								type: "error",
								showCancelButton: false,
								closeOnConfirm: true,
								html:true,
							},
							function(isConfirm){
							});
						}
					});
				});
			});	

			$('input[type="date"]').change(function(){
				$('#myForm').submit();
			});

			function calcDashboard(){		
				ctx1 = $("#sellChart");
				ctx2 = $("#topChart");
				ctx3 = $("#categoryChart");
				ctx4 = $("#highChart");
				ctx5 = $("#bottomChart");
				ctx6 = $("#salesChart")

				$.ajax({ url: "<?php echo $this->url->get(uri('Dashboard/ajaxProses')) ?>?from="+$("#from_date").val()+"&to="+$("#to_date").val()+"" }).done(function(data){	
					myArray = JSON.parse(data);
					console.log(myArray);

					var totalPR = 0;
					for(var i=0;i<myArray.dash8PR.length;i++){
						tr = $('<tr>');				
						tr.append("<td>"+ myArray.dash8PR[i].request_no +"</td>");
						tr.append("<td style='text-align:right'>Rp "+ format(myArray.dash8PR[i].total) +"</td>");
						$('.tabelPR tbody').append(tr);

						totalPR += parseInt(myArray.dash8PR[i].total);
					}

					$('.tabelPR tbody').append("<tr><th style='text-align:right !important'>Total</th><td style='text-align:right'>Rp "+ format(totalPR) +"</td></tr>");

					if($.trim(myArray.dash9PO)){
						for(var i=0;i<myArray.dash9PO.length;i++){
							tr = $('<tr>');				
							tr.append("<td>"+ myArray.dash9PO[i].po_no_ref +"</td>");
							tr.append("<td>"+ myArray.dash9PO[i].order_date +"</td>");
							$('.tabelPO tbody').append(tr);
						}}
					});

				$.ajax({ url: "<?php echo $this->url->get(uri('Dashboard/getData')) ?>?from="+$("#from_date").val()+"&to="+$("#to_date").val()+"" }).done(function(data){			
					myArray = JSON.parse(data);

			// dashboard 1
			label_arr1 = []; data_arr1 = [];
			if($.trim(myArray.dash1)){
				for(var i=0; i < myArray.dash1.length; i++){
					label_arr1.push(""+myArray.dash1[i].waktu+"");
					data_arr1.push(myArray.dash1[i].total);
				}}

			// dashboard 
			label_arr2 = []; data_arr2 = [];
			if($.trim(myArray.dash2)){
				for(var i=0; i < myArray.dash2.length; i++){
					label_arr2.push(""+myArray.dash2[i].waktu+"");
					data_arr2.push(myArray.dash2[i].total);
				}}

			// dashboard 2
			sales_ago = 0; sales_now = 0;	
			if($.trim(myArray.dash2)){ 
				sales_ago = parseInt(myArray.dash2[0].total);
				
				if(myArray.dash2.length > 1){
					if(myArray.dash2[1].total != null){	sales_now = parseInt(myArray.dash2[1].total); }
				}
			}
			
			last_sales = ((sales_now - sales_ago) / sales_ago * 100) ? ((sales_now - sales_ago) / sales_ago * 100) : 0;		
			document.getElementById("laba").innerHTML = Math.round(last_sales)+" %";
			
			// dashboard 3
			if(myArray.dash3_4[0].total_sales != null && myArray.dash3_4[0].total_sales != ''){
				document.getElementById("total_sales").innerHTML = "Rp "+format(myArray.dash3_4[0].total_sales); 
			}else{
				document.getElementById("total_sales").innerHTML = "Rp 0,00";
			}
			
			// dashboard 4
			document.getElementById("struk").innerHTML = myArray.dash3_4[0].struk;

			// dashboard 5
			label_arr5 = []; data_arr5 = [];
			if($.trim(myArray.dash5)){ 
				for(var i=0;i<myArray.dash5.length;i++){
				/*var res = myArray.dash5[i].description.split(" ");
				var text1 = ""; var text2 = "";
				
				for(var j=0;j < res.length-1;j++){
					if(j < 3){ text1 += " "+res[j]; }
					if(j > 3){ text2 += " "+res[j];	}
				}
				
				label_arr5.push([text1],[text2]);*/
				
				label_arr5.push(myArray.dash5[i].description);
				data_arr5.push(myArray.dash5[i].jumlah);
			}}
			// dashboard 6
			label_arr6 = []; data_arr6 = [];
			if($.trim(myArray.dash6)){ 
				for(var i=0;i<myArray.dash6.length;i++){
					label_arr6.push(""+myArray.dash6[i].l1_nm+"");
					data_arr6.push(myArray.dash6[i].jumlah);
				}}

			// dashboard 7
			label_arr7 = []; data_arr7 = [];
			if($.trim(myArray.dash7)){ 
				for(var i=0;i<myArray.dash7.length;i++){
					label_arr7.push(""+myArray.dash7[i].description+"");
					data_arr7.push(myArray.dash7[i].jumlah);
				}}

			label_arr15 = []; data_arr15 = [];
			if($.trim(myArray.dash15)){
				for(var i=0; i < myArray.dash15.length; i++){
					label_arr15.push(""+myArray.dash15[i].jam+"");
					data_arr15.push(myArray.dash15[i].subtotal);
				}
			}

				var list_SO = '';			
				if($.trim(myArray.dash10)){   
					for(var i=0;i<myArray.dash10.length;i++){
						list_SO += "<a href='#' data-toggle='modal' data-target='#modalSO' data-id='"+myArray.dash10[i].so_id+"' class='mySO'>"+myArray.dash10[i].so_id+"</a><span style='float:right'>"+myArray.dash10[i].so_date+"</span><br/>";
					}
				}

				document.getElementById("PR_Approve").innerHTML = myArray.dash8;
				document.getElementById("PO_GR").innerHTML = myArray.dash9;
				document.getElementById("SO_Terakhir").innerHTML = list_SO;

				label_arr11 = []; data_arr11 = [];
				if($.trim(myArray.dash11)){ 
					for(var i=0;i<myArray.dash11.length;i++){
						label_arr11.push(""+myArray.dash11[i].description+"");
						data_arr11.push(myArray.dash11[i].stock_qty);
					}}

					if(data_arr1 != ''){
						chart1 = new Chart(ctx1, {
							type: 'line',
							data: {
								labels: label_arr1,
								datasets: [
								{
									fill: "rgba(75,192,192,0.4)",
									lineTension: 0.1,
									backgroundColor: "rgba(40, 139, 206, 0.7)",
									borderColor: "#288bce",
									borderCapStyle: 'butt',
									borderDash: [],
									borderDashOffset: 0.0,
									borderJoinStyle: 'miter',
									pointBorderColor: "#fff",
									pointBackgroundColor: "#288bce",
									pointBorderWidth: 1,
									pointHoverRadius: 3,
									pointHoverBackgroundColor: "##288bce",
									pointHoverBorderColor: "#fff",
									pointHoverBorderWidth: 1,
									pointRadius: 3,
									pointHitRadius: 10,
									data: data_arr1,
									spanGaps: false,
								}
								]
							},
							options: { 
								legend: { display: false },
								tooltips: {
									callbacks: {
										label: function(tooltipItem, data) {
											var value = data.datasets[0].data[tooltipItem.index];
											value = value.toString();
											value = value.split(/(?=(?:...)*$)/);
											value = value.join('.');
											return "Penjualan : Rp " + value;
										}
									}
								},
								scales: {
									yAxes: [{
										ticks: {
											fontFamily: "12LotteMartDreamBold",
											beginAtZero: true,
											userCallback: function(value, index, values) {
												value = value.toString();
												value = value.split(/(?=(?:...)*$)/);
												value = value.join('.');
												return 'Rp ' + value;
											}
										}
									}]
								}
							}
						});
					}

					if(data_arr5 != ''){
						chart2 = new Chart(ctx2, {
							type: 'horizontalBar',
							data: {
								labels: label_arr5,
								datasets: [
								{
									label: "Jumlah Terjual ",
									backgroundColor: [
									'rgba(255, 99, 132, 0.7)',
									'rgba(54, 162, 235, 0.7)',
									'rgba(255, 206, 86, 0.7)',
									'rgba(75, 192, 192, 0.7)',
									'rgba(153, 102, 255, 0.7)',
									'rgba(255, 159, 64, 0.7)'
									],
									borderColor: [
									'rgba(255,99,132,1)',
									'rgba(54, 162, 235, 1)',
									'rgba(255, 206, 86, 1)',
									'rgba(75, 192, 192, 1)',
									'rgba(153, 102, 255, 1)',
									'rgba(255, 159, 64, 1)'
									],
									borderWidth: 1,
									data: data_arr5,
								}
								]

							},
							options: {
								legend: { display: false }
							}
						});
					}

					if(data_arr6 != ''){
						chart3 = new Chart(ctx3,{
							type: 'pie',
							data: {
								labels: label_arr6,
								datasets: [
								{
									data: data_arr6,
									backgroundColor: ["#FF6384", "#36A2EB",	"#FFCE56"],
									hoverBackgroundColor: ["#FF6384", "#36A2EB", "#FFCE56"]
								}
								]
							}
						});
					}

					if(data_arr7 != ''){
						chart4 = new Chart(ctx4, {
							type: 'horizontalBar',
							data: {
								labels: label_arr7,
								datasets: [
								{
									backgroundColor: [
									'rgba(255, 99, 132, 0.7)',
									'rgba(54, 162, 235, 0.7)',
									'rgba(255, 206, 86, 0.7)',
									'rgba(75, 192, 192, 0.7)',
									'rgba(153, 102, 255, 0.7)',
									'rgba(255, 159, 64, 0.7)'
									],
									borderColor: [
									'rgba(255,99,132,1)',
									'rgba(54, 162, 235, 1)',
									'rgba(255, 206, 86, 1)',
									'rgba(75, 192, 192, 1)',
									'rgba(153, 102, 255, 1)',
									'rgba(255, 159, 64, 1)'
									],
									borderWidth: 1,
									data: data_arr7,
								}
								]

							},
							options: { 
								legend: { display: false },

								tooltips: {
									callbacks: {
										label: function(tooltipItem, data) {
											var value = data.datasets[0].data[tooltipItem.index];
											value = value.toString();
											value = value.split(/(?=(?:...)*$)/);
											value = value.join('.');
											return "Penjualan : Rp " + value;
										}
									}
								},
								scales: {
									xAxes: [{
										ticks: {
											beginAtZero: true,
											userCallback: function(value, index, values) {
												value = value.toString();
												value = value.split(/(?=(?:...)*$)/);
												value = value.join('.');
												return 'Rp ' + value;
											}
										}
									}]
								}
							}
						});
					}

					if(data_arr11 != ''){
						chart2 = new Chart(ctx5, {
							type: 'horizontalBar',
							data: {
								labels: label_arr11,
								datasets: [
								{
									label: "Stok Tersisa ",
									backgroundColor: [
									'rgba(255, 99, 132, 0.7)',
									'rgba(54, 162, 235, 0.7)',
									'rgba(255, 206, 86, 0.7)',
									'rgba(75, 192, 192, 0.7)',
									'rgba(153, 102, 255, 0.7)',
									'rgba(255, 159, 64, 0.7)'
									],
									borderColor: [
									'rgba(255,99,132,1)',
									'rgba(54, 162, 235, 1)',
									'rgba(255, 206, 86, 1)',
									'rgba(75, 192, 192, 1)',
									'rgba(153, 102, 255, 1)',
									'rgba(255, 159, 64, 1)'
									],
									borderWidth: 1,
									data: data_arr5,
								}
								]

							},
							options: {
								legend: { display: false }
							}
						});
					}

					if(data_arr15 != ''){
						chart1 = new Chart(ctx6, {
							type: 'line',
							data: {
								// labels: label_arr2,
								 labels: label_arr15,
								 datasets: [
       										     {
       										     	label: "sales",
       										       	fill: "rgba(75,192,192,0.4)",
													lineTension: 0.1,
													backgroundColor: "rgba(40, 139, 206, 0.7)",
													borderColor: "#288bce",
													borderCapStyle: 'butt',
													borderDash: [],
													borderDashOffset: 0.0,
													borderJoinStyle: 'miter',
													pointBorderColor: "#fff",
													pointBackgroundColor: "#288bce",
													pointBorderWidth: 1,
													pointHoverRadius: 3,
													pointHoverBackgroundColor: "##288bce",
													pointHoverBorderColor: "#fff",
													pointHoverBorderWidth: 1,
													pointRadius: 3,
													pointHitRadius: 10,
													data: data_arr15,	
													spanGaps: false,
       										     }
       										 ]
							},
							options: { 
								legend: { display: false },
								tooltips: {
									callbacks: {
										label: function(tooltipItem, data) {
											var value = data.datasets[0].data[tooltipItem.index];
											value = value.toString();
											value = value.split(/(?=(?:...)*$)/);
											value = value.join('.');
											return "Penjualan : Rp " + value;
										}
									}
								},
								scales: {
									yAxes: [{
										ticks: {
											fontFamily: "12LotteMartDreamBold",
											beginAtZero: true,
											userCallback: function(value, index, values) {
												value = value.toString();
												value = value.split(/(?=(?:...)*$)/);
												value = value.join('.');
												return 'Rp ' + value;
											}
										}
									}]
								}
							}
						});
					}
				});
}
</script>