<style>
    #DataTableZero .markData { color: blue; font-weight: bold; }
	
	.styled_margin{
		margin-top:2px;
	}
	
	.styled_margin label{
		margin-top:10px;
	}
	
	.styled_header{
		background: #f5f5f5;
        border: 1px solid #fff;
        padding: 5px;
        text-align: left;
		min-height: 200px;		
    }
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
		var myTable;
		var count=0;				
		
		$(function(){
			$("#delivery_date").datepicker({ dateFormat: 'yy-mm-dd'});
		});
  
		$(document).ready( function () {				
			myTable = $('#DataTableZero').DataTable({
				"info"			: false,
				"paging"		: false,
				"ordering"		: false,
				"searching"		: false,
				"deferRender" 	: true,
				"scrollCollapse": true,
				"scrollY"		: "200px",
				"fnRowCallback"	: function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {					
					$('td:eq(3),td:eq(4)', nRow).addClass( "markData" );
				}
			});			
			
			$('#DataTableZero tbody').on( 'click', 'tr', function () {
				if ( $(this).hasClass('selected') ) {
					$(this).removeClass('selected');
				}
				else {
					myTable.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			});
		
			$('#btn_back').click( function () {
				window.location = '<?php echo $this->url->get(uri('PR')) ?>';
				return false;
			});
			
			$('#btn_delete').click( function () {
				myTable.row('.selected').remove().draw( false );
				calcQty();
				return false;
			});
			
			$('#btn_reset').click( function () {		
				myTable.clear();
				myTable.draw();	
				calcQty();				
				return false;
			});
			
			$('#btn_save').click( function () {		
				calcQty();
				var total = $("#total").val();
				if(total == "0,00"){
					sweetAlert("Total PR masih kosong", "Cek kembali data yang diinput!", "error");
					return false;
				}
				$("#pr-form").submit();
			});						
			
			$('#pr-form').submit(function(e) {
				var data = myTable.rows().data();			
				var data_input = myTable.$('input, select').serialize();

				data_arr1 = data_input.split("&");				
				var data_convert = [];
				
				var count = 6;
				var valid_supp = '';
				for(var i=0; i< data.length; i++){
					var qty_pr = data_arr1[i*count].split("=");
					var con_order = data_arr1[(i*count)+1].split("=");
					var con_sell = data_arr1[(i*count)+2].split("=");
					var con_pr = data_arr1[(i*count)+3].split("=");
					var harga = data_arr1[(i*count)+4].split("=");
					var supplied = data_arr1[(i*count)+5].split("=");
					console.log(qty_pr[1]);
					if(qty_pr[1] == ''){
						data[i][7] = 0;
						sweetAlert("Gagal", "Jumlah Barang tidak boleh null!", "error");
						return false; 
					}else if(qty_pr[1] == 0){
						sweetAlert("Gagal", "Jumlah Barang tidak boleh kosong!", "error");
						return false; 
					}else{
						data[i][7] = qty_pr[1];
						if(qty_pr[1] < 0) { 
							sweetAlert("Gagal", "Jumlah Barang tidak boleh lebih kecil dari 1!", "error");
							return false; 
						} 	
					}
					
					if(con_order[1] == ''){
						data[i][11] = 1;
					}else{
						data[i][11] = con_order[1];
					}
					
					if(con_sell[1] == ''){
						data[i][12] = 1;
					}else{
						data[i][12] = con_sell[1];
					}
					
					if(con_pr[1] == ''){
						data[i][13] = 1;
					}else{
						data[i][13] = con_pr[1];
					}
					
					if(harga[1] == ''){
						data[i][14] = 0;
					}else{
						data[i][14] = harga[1];
					}
					
					if(supplied[1] == ''){
						data[i][15] = '';
					}else{
						data[i][15] = supplied[1];
						if(valid_supp == ''){ valid_supp = supplied[1]; }
						else { 
							if(valid_supp.toLowerCase() != supplied[1].toLowerCase()) { 
								sweetAlert("Produk Lotte/Non Lotte", "item tidak boleh dari supplier yang berbeda!", "error");
								return false; 
							} 
						}  
					}
					
					data_convert.push([
						data[i][0],data[i][1],data[i][2],data[i][3],data[i][4],data[i][5],data[i][6],data[i][7],
						data[i][8],data[i][9],data[i][10],data[i][11],data[i][12],data[i][13],data[i][14],data[i][15]	
					]);
				}
				
				var json_data = document.getElementById('json_data');
				json_data.value = JSON.stringify(data_convert);
				
				e.preventDefault();
				jQuery.ajax({
					type: 'post',
					url: '<?php echo $this->url->get(uri('PR/Insert')) ?>',
					data: jQuery('#pr-form').serialize(),
					dataType: "json",
					beforeSend: function() {
						$('#btn_save').attr('disabled', true);
						$('#btn_back').attr('disabled', true);
						$('#btn_reset').attr('disabled', true);
						$('.modal').show();
					},
					complete: function() {
						$('#btn_save').attr('disabled', false);
						$('#btn_back').attr('disabled', false);						
						$('#btn_reset').attr('disabled', false);						
						$('.modal').hide();
					}, 
					success: function (data) {		
						if(data.type == 'S'){
							swal({
								title: "Sukses",
								text:  data.message,
								type: "success",
								html: true,
								showCancelButton: false,
								closeOnConfirm: false,
								closeOnCancel: false
							},
							function(isConfirm){
								if (isConfirm) {
									window.location = '<?php echo $this->url->get(uri('PR')) ?>';								
								}
							});
						}else if(data.type == 'E'){
							swal("Gagal", data.message, "error");
						}
					}
				});
				
				return false;
			});			
			
		});	

		$(document).keypress(function(e) {
			var barcode1 = $("#autocomplete").val();			
			var barcode2 = $("#barcode_only").val();			
			
			if(e.which == 13) {
				if(barcode1 != '' || barcode2 != ''){
					addRow();	
				}
				
				calcQty();
				return false;
			}
		});
		
		$(document).change(function(e) {		
			calcQty();
			return false;
		});		
		
		function calcQty() {			
			var total_calc = 0;
			var total = $("#total").val();			
			var data = myTable.rows().data();
			var data_input = myTable.$('input, select').serialize();
			data_arr1 = data_input.split("&");
			var count = 6;
			for(var i=0; i< data.length; i++){
				var qty_pr = data_arr1[i*count].split("=");
				var con_order = data_arr1[(i*count)+1].split("=");
				var con_sell = data_arr1[(i*count)+2].split("=");
				var con_pr = data_arr1[(i*count)+3].split("=");
				var harga = data_arr1[(i*count)+4].split("=");
				var supplied = data_arr1[(i*count)+5].split("=");
				
				if(qty_pr[1] != ''){
					var cell; 
					
					// qty order
					cell = myTable.cell(i,3); 
					cell.data(Math.ceil((qty_pr[1]*con_pr[1])/con_order[1]));
					
					// qty sell
					cell = myTable.cell(i,5);
					//cell.data(Math.ceil((qty_pr[1]*con_pr[1])/con_sell[1]));
					cell.data( Math.ceil(Math.ceil(( 1 * con_order[1]) / con_sell[1])) );
					
					// qty actual
					cell = myTable.cell(i,9);
					cell.data( Math.ceil((Math.ceil((qty_pr[1]*con_pr[1])/con_order[1])*con_order[1]) / con_pr[1]) );
					
					// harga
					cell = myTable.cell(i,10);
					cell.data(Math.ceil(((qty_pr[1]*con_pr[1])/con_order[1]))*harga[1]);
					total_calc = total_calc + (Math.ceil((qty_pr[1]*con_pr[1])/con_order[1]))*harga[1] ;					
				}
			}		
			
			$("#total").val(format(total_calc));			
		}
		
		function addRow() {
			var result;
			var query_barcode;
			
			var barcode1 = $("#autocomplete").val();			
			var barcode2 = $("#barcode_only").val();	
			
			if(barcode1 != '' && barcode2 == ''){
				var barcode_data = barcode1.split(' - ');	
				query_barcode = barcode_data[0];
			}
			
			if(barcode2 != '' && barcode1 == ''){
				query_barcode = barcode2;
			}
			
			if(query_barcode != ''){							
				$.ajax({ url: "<?php echo $this->url->get(uri('PR/ajaxProduct')) ?>?barcode="+query_barcode+"&count_index="+count+" " }).done(function(data){
					myArray = JSON.parse(data);
					grand_total = 0;
					
					for(var i=0; i < myArray.length; i++){		
						var data_table = myTable.rows().data();
						var flag_add;
						if(myArray[i].barcode == 'f'){
							var flag_add = 'X';
						}
						for(var j=0; j< data_table.length; j++){
							if(data_table[j][1] == myArray[i].barcode){
								var name_id = data_table[j][7].split('"');						
								$("#"+name_id[3]).val(parseInt($("#"+name_id[3]).val()) + parseInt(1));						
								flag_add = 'X';	
							}
						}						
						
						if(flag_add != 'X'){
							if(myArray[i].status !== 'NORMAL' && myArray[i].status !== 'ORDER STOP' && myArray[i].status !== 'Order Stop' && myArray[i].status !== 'Normal'){
								var isAbnormal = true;
								if(myArray[i].status == ''){
									sweetAlert("Gagal Input Produk", "Produk Tidak Lengkap", "error");
									document.getElementById('autocomplete').value = '';
									return false;
								}else{
									sweetAlert("Gagal Input Produk", "Status " + myArray[i].status, "error");
									document.getElementById('autocomplete').value = '';
									return false;
								}
							}else{
								var isAbnormal = false;
							}

							console.log(isAbnormal);
							if(myArray[i].tipe == 001){
								var tipe = 'Trade Lotte';
							}
							if(myArray[i].tipe == 002){
								var tipe = 'Trade Non Lotte';
							}
							if(myArray[i].tipe == 003){
								var tipe = 'Non Trade Lotte';
							}
							if(myArray[i].tipe == 004){
								var tipe = 'Non Trade Non Lotte';
							}
							var cek1 = 12;

							$('table#DataTableZero').dataTable().fnAddData( [
							  myArray[i].stock_id,
							  myArray[i].barcode,
							  myArray[i].description,
							  '1',
							  myArray[i].uom_order,
							  '1',
							  myArray[i].uom_sell,
							  '<input type="number" id="qty_pr_'+ myArray[i].count_index +'" name="qty_pr_'+ myArray[i].count_index +'" value="'+(isAbnormal ? 0 : 1)+'" style="width:60px" '+(isAbnormal ? 'readonly' : '') + '> ' +
							  '<input type="hidden" id="con_order_'+ myArray[i].count_index +'" name="con_order_'+ myArray[i].count_index +'" value="'+ myArray[i].convert_order +'" > ' +
							  '<input type="hidden" id="con_sell_'+ myArray[i].count_index +'" name="con_sell_'+ myArray[i].count_index +'" value="'+ myArray[i].convert_sell +'" > ' +
							  '<input type="hidden" id="con_pr_'+ myArray[i].count_index +'" name="con_pr_'+ myArray[i].count_index +'" value="'+ myArray[i].convert_pr +'" > ' +
							  '<input type="hidden" id="harga_'+ myArray[i].count_index +'" name="harga_'+ myArray[i].count_index +'" value="'+ myArray[i].harga_order +'" > ' +
							  '<input type="hidden" id="supplied_'+ myArray[i].count_index +'" name="supplied_'+ myArray[i].count_index +'" value="'+ myArray[i].tipe +'" > ' ,
							  myArray[i].uom_pr,
							  '1',
							  myArray[i].harga_order,
							  tipe
							]);
						}
					}
					
					calcQty();
					$("#autocomplete").val("");	
					$("#barcode_only").val("");	
				});

				count++;				
			}
		}
</script>

<?php

	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Pembelian'), '<span> Pembelian </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('PR'), '<span> Permintaan Barang (PR) </span>']).'</li>
		</ul>
	<div>';		
	
	echo '<div class="content_content">';		
		echo '<legend> Buat PR </legend>';
		
		echo $this->tag->form([uri(""), "id"=>"pr-form", "type"=>"post"]);
			echo '<input type="hidden" id="json_data" name="json_data">';
			echo '
				<div class="col-sm-6 styled_header">
					<div class="col-sm-4 styled_margin">
						<label> Saldo </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["saldo", "class"=>"form-control input-sm", "value"=> number_format($saldo,2,',','.'), "readonly"=>"true"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Point of Use </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["point_used", "class"=>"form-control input-sm", "value"=>"Manual", "readonly"=>"true"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Dikirim Oleh </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->select(["delivery_by", $delivery_by , "class"=>"form-control input-sm", "id"=>"delivery_by", "value" => "LSI"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Tanggal Kirim </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->dateField(["delivery_date", "class"=>"form-control input-sm", "value"=>$default_date]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Status </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->select(["status", $status , "class"=>"form-control input-sm", "id"=>"status", $role->pr_approve?"":"disabled"=>"true"]).'
					</div>
				</div>
				
				<div class="col-sm-6 styled_header">
					<div class="col-sm-4 styled_margin">
						<label> Dibuat Oleh </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["created_by", "class"=>"form-control input-sm", "value"=>$this->session->get("user")['user_name'], "readonly"=>"true"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Total </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["total", "readonly"=>"true", "id"=>"total", "class"=>"form-control input-sm"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Notes </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textArea(["comments", "cols"=>24, "rows"=>3, "class"=>"form-control input-sm"]).'
					</div>
				</div>		
				
				<div class="col-sm-12 styled_button">
					<center>
						<button type="button" id="btn_save" class="btn btn-primary btn-sm"> Simpan </button>
						<button id="btn_reset" class="btn btn-warning btn-sm"> Reset </button>	
					</center>
				</div>
			';		
		
		echo $this->tag->endForm();
		
		echo '			
			<div class="col-sm-12 styled_button form-inline">	
				<button id="btn_delete" class="btn btn-danger btn-sm" style="margin-top:5px"> Hapus </button>	
				'.$this->tag->textField(["barcode_only", "id"=>"barcode_only", "class"=>"form-control input-sm", "placeholder" => "Barcode", "style"=>"width:150px"]).'
				'.$this->tag->textField(["barcode", "id"=>"autocomplete", "class"=>"form-control input-sm", "placeholder" => "Barcode / Nama Produk", "style"=>"width:350px"]).'				
			</div>				
			
			<div class="col-sm-12" style="margin-bottom:20px">
				<table id="DataTableZero">
					<thead>
					<tr>
						<th> Kode Barang </th>
						<th> Barcode </th>
						<th style="width:28%"> Nama Barang </th>					  
						<th> Jumlah Beli </th>
						<th> Satuan Beli </th>
						<th> Jumlah Jual</th>	
						<th> Satuan Jual</th>
						<th> Jumlah PR</th>
						<th> Satuan PR</th>
						<th> Jumlah Aktual</th>
						<th> Harga</th>
						<th> Supplied By</th>
					</tr>
					</thead>
					
					<tbody>
					</tbody>
				</table>
			</div>
		';
		
		echo '			
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '</div>';
?>	

<script>
	$(document).ready( function () {
		$('#autocomplete').autocomplete({
			lookup: function (query, done) {
				var dataProduct = [];
				var query = $("#autocomplete").val();	
				
				$.ajax({ url: "<?php echo $this->url->get(uri('PR/ajaxSearchProduct')) ?>?query="+query+" " }).done(function(data){
					myArray = JSON.parse(data);
		
					for(var key in myArray){
						dataProduct.push({ "value" : myArray[key].display, "data" : myArray[key].val });
					}
					
					var result = { suggestions: dataProduct };
					done(result);	
				});	
			}, 
			autoSelectFirst: false,
			onSelect: function (suggestion) {
				addRow();
			}
		});		
	});
</script>