<script type="text/javascript">
	$(document).ready( function () {
		$('#btn_create').click( function () {
			window.location = '<?php echo $this->url->get(uri('PR/add')) ?>';
		});
		
		$('#tes').click( function () {
			$.post( "<?php echo $this->url->get(uri('Sync/goSystemPR')) ?>" );
		});
		
		$('.sync').on('click', function (e) {	
			var link = $(this).attr("href");			
			
			e.preventDefault();
			jQuery.ajax({				
				url: link,				
				dataType: "json",
				beforeSend: function() {
					$('.modal').show();
				},
				complete: function() {
					$('.modal').hide();
				}, 
				success: function (data) {
					console.log(data);								

					if(data.type == 'S'){
						swal({
							title: "Sukses",
							text:  data.message,
							type: "success",
							html: true,
							showCancelButton: false,
							closeOnConfirm: false,
							closeOnCancel: false
						},
						function(isConfirm){
							if (isConfirm) {								
								window.location = '<?php echo $this->url->get(uri('PR')) ?>';								
							}
						});
					}else if(data.type == 'E'){
						swal({
							title : "Gagal", 
							text : data.message, 
							type : "error",
							html : true
						},
						function(isConfirm){
							if (isConfirm) {
								location.reload();
							}
						});
					}
				}
			});
			
			//window.location = link;
			
			return false;
		});
		
		$('.confirmation').on('click', function () {	
			var link = $(this).attr("href");			
			
			swal({
				title: "Anda Yakin?",
				text: "PR yang sudah dihapus tidak bisa dikembalikan.",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Ya, Hapus",
				cancelButtonText: "Batal, Kembali",
				closeOnConfirm: false,
				closeOnCancel: false
			},
			function(isConfirm){
				if (isConfirm) {
					window.location = link;
					swal("Terhapus!", "PR Berhasil dihapus.", "success");
				}else{
					swal("Dibatalkan", "Hapus PR Dibatalkan.", "info");
				}
			});
			
			return false;
		});
	});
</script>

<?php
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Pembelian'), '<span> Pembelian </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('PR'), '<span> Permintaan Barang (PR) </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">		
		<legend> Permintaan Barang (PR)</legend>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#PR"> PR </a></li>
			<li><a data-toggle="tab" href="#History"> Riwayat PR </a></li>
		</ul>
		
		<div class="tab-content">
			<div id="PR" class="tab-pane fade in active">
		
				<div class="col-sm-12" style="margin:20px 0px">
					<button id="btn_create" class="btn btn-primary btn-sm"> Buat PR </button>	
					<!--<button id="tes" class="btn btn-primary btn-sm"> System PR </button>-->
				</div>
		
				<div class="col-sm-12">
					<table id="DataTable" class="table-striped hover">
						<thead>
							<tr>
								<th style="text-align:center"> Nomor PR </th>
								<th style="text-align:center"> Tipe </th>					  
								<th style="text-align:center"> Tanggal Pengiriman </th>	
								<th style="text-align:center"> Total Permintaan</th>	
								<th style="text-align:center"> Dibuat Oleh </th>									
								<th style="text-align:center"> Aksi </th>
							</tr>
						</thead>
						  
						<tbody>';	
							if(count($lists) > 0 ){
								foreach( $lists as $list ) {
									echo '<tr>
										<td style="text-align:center"><a href="#" class="modalPR" data-toggle="modal" data-request="'.$list['request_no'].'" data-target="#myModal">'.$list['request_no'].'</a></td>
										<td style="text-align:center">'.$list['point_used'].'</td>
										<td style="text-align:center">'.date('d-m-Y', strtotime($list['delivery_date'])).'</td>		
										<td style="text-align:right">'.number_format($list['total'],2,',','.').'</td>	
										<td style="text-align:center">'.$list['created_by'].'</td>	
										<td style="text-align:center">';
											if(!$list['flag_sync']){
												if($list['status'] != 0){											
													echo Phalcon\Tag::linkTo([uri('PR/Sync?Request_No='.$list['request_no']), "<i class='fa fa-refresh fa-lg'> </i>", "title"=>"Sync PR", "class"=>"sync"]);
													echo '&nbsp;&nbsp;';
												}
												
												echo Phalcon\Tag::linkTo([uri('PR/Print?Request_No='.$list['request_no']), "<i class='fa fa-print fa-lg'> </i>", "title"=>"Cetak PR"]);
												echo '&nbsp;&nbsp;';
												echo Phalcon\Tag::linkTo([uri('PR/Edit?Request_No='.$list['request_no']), "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Edit PR"]);
												echo '&nbsp;&nbsp;';
												echo Phalcon\Tag::linkTo([uri('PR/Delete?Request_No='.$list['request_no']), "<i class='fa fa-close fa-lg'> </i>", "title"=>"Hapus PR", "class"=>"confirmation"]);
												echo '&nbsp;&nbsp;';
											}											
										echo '</td>
									</tr>';
								}		
							}
						echo '</tbody>
					</table>
				</div>
		
			</div>
			<div class="tab-pane" id="History">
				<div class="col-sm-12" style="margin-top:30px">
					<table id="DataTable4" class="table-striped hover">
						<thead>
							<tr>
								<th> PR No </th>
								<th> Point of Use </th>				  
								<th> Tanggal Kirim </th>	
								<th> Dibuat Oleh </th>	
								<th> Total Permintaan</th>							
								<th> Status </th>							
								<th> Aksi </th>
							</tr>
						</thead>
						  
						<tbody>';	
							if(count($listsHistory) > 0 ){
								foreach( $listsHistory as $list ) {
									echo '<tr>
										<td style="width:30%"><a href="#" class="modalPR" data-toggle="modal" data-request="'.$list['request_no'].'" data-target="#myModal">'.$list['request_no'].'</a></td>
										<td>'.$list['point_used'].'</td>	
										<td>'.$list['delivery_date'].'</td>	
										<td>'.$list['created_by'].'</td>		
										<td>'.number_format($list['total'],2,',','.').'</td>	
										<td>';
											if($list['flag_sync'] == true AND $list['po_no_immbo'] != ''){
												echo 'Sudah Diterima';	
											}else if($list['flag_sync'] == true AND $list['po_no_immbo'] == ''){
												echo 'Sedang Diproses';
											}else if($list['flag_delete'] == true){
												if($list['reference'] == 'EXPIRED'){
													echo 'Expired';
												}else{
													echo 'Dihapus';
												}
											}else{
												echo 'Belum Diproses';
											}
										echo '</td><td>';												
											echo Phalcon\Tag::linkTo([uri('PR/Print?Request_No='.$list['request_no']), "<i class='fa fa-print fa-lg'> </i>", "title"=>"Cetak PR"]);
										echo '</td>
									</tr>';
								}		
							}
						echo '</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Permintaan Barang (PR)</h4>
					<h5></h5>
				</div>
				<div class="modal-body" style="max-height:300px;overflow-y:auto;">
					<div class="table-responsive">
					<table class="table-bordered table-striped myTable" style="font-size:14px">
						<thead>
							<tr>
								<th rowspan="2">Kode Barang</th>
								<th rowspan="2">Barcode</th>
								<th rowspan="2">Nama Barang</th>
								<th colspan="2">Info Beli</th>
								<th colspan="2">Info Jual</th>
								<th colspan="2">Info PR</th>																
								<th rowspan="2">Harga Satuan</th>
								<th rowspan="2">Total Harga</th>
							</tr>
							<tr>
								<th>Jumlah</th>
								<th>Satuan</th>
								<th>Jumlah</th>
								<th>Satuan</th>
								<th>Jumlah</th>
								<th>Satuan</th>								
							</tr>
						</thead>
						  
						<tbody>							
						</tbody>			
					</table>
				</div>
				</div>
				<div class="modal-footer">
					<a href="" class="btn btn-default" data-dismiss="modal">Keluar</a>
				</div>
			</div>

			</div>
		</div>
		
		<div class="modal" style="display: none">
			<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
		</div>
	<div>';
?>

<script>
	$(document).on("click", ".modalPR", function(){
		var request = $(this).data('request');
		var myArray = [];
		$('.myTable tbody').empty();
		$('.modal-header').empty();
		$.ajax({ url: "<?php echo $this->url->get(uri('PR/ajaxPR')) ?>?request="+request+"" }).done(function(data){
			myArray = JSON.parse(data);
			console.log(myArray[0].request_no);	
			span = $('<span>');	
			span.append("<h4 class='modal-title'>Permintaan Barang (PR)</h4>");
			span.append("<td>Nomor PR : "+ myArray[0].request_no +"</td>");
			span.append("</span>");
			$('.modal-header').append(span);	
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].barcode +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_order +"</td>");
				tr.append("<td>"+ myArray[i].unit_order +"</td>");
				tr.append("<td>"+ myArray[i].qty_sell +"</td>");
				tr.append("<td>"+ myArray[i].unit_sell +"</td>");
				tr.append("<td>"+ myArray[i].qty_pr +"</td>");
				tr.append("<td>"+ myArray[i].unit_pr +"</td>");
				tr.append("<td>"+ format(myArray[i].unit_order_price) +"</td>");
				tr.append("<td>"+ format(myArray[i].order_price) +"</td>");
				
				grand_total = parseInt(grand_total,10) + parseInt(myArray[i].order_price,10);
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
			$('.myTable tbody').append("<tr><th colspan='10' style='text-align:right !important'>Total</th><td>"+ format(grand_total) +"</td></tr>");
		});		
	});
</script>

