
<?php		
	require_once (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf=new mPDF('','A4-L',9,'lottefont',10,10,45,2,8);	

	$pr_date = date_create($pr->create_date);
	$total_pr = 0;
	
	$supplied_by = '';
	if(isset($pr_details)){
		foreach($pr_details as $pr_detail){
			$supplied_by = $pr_detail['supplied_by'];
			if($supplied_by == 001){
				$tipe = 'Trade Lotte';
			}
			if($supplied_by == 002){
				$tipe = 'Trade Non Lotte';
			}
			if($supplied_by == 003){
				$tipe = 'Non Trade Lotte';
			}
			if($supplied_by == 004){
				$tipe = 'Non Trade Non Lotte';
			}
			break;
		}
	}

	$html_header .= '
		<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>			
		<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right;margin-right:80px">PURCHASE REQUEST</div>
			
		<div style="width:auto;" align="right">
			<barcode code="'.$pr->request_no.'" type="C93" style="text-align:right;margin-right:-14px"/>
			<div style="font-family: ocrb;text-align:right;margin-right:65px"><b>'.$pr->request_no.'</b></div>
		</div>
				
		Halaman {PAGENO}/{nbpg}<br/>
		'.date('d/m/Y H:i:s').'<br/>
		'.$this->session->get("user")["user_name"].'
	';
	
	$html .= '
		<style>				
			table {
				
				border: 1px solid #000;
				border-collapse: collapse;
			}
			
			.bordered {
				padding: 3px;
				border: 1px solid #000;
				vertical-align: middle;
			}
		</style>		
		
		<p style="width:360px;float:left">
			<b>Order To : </b><br/>
			'.$tmuk->lsi.' <br/>
		</p>
		
		<p style="width:auto;" align="right">
			<b>IMM/TMUK Store : </b><br/>
			'.$tmuk->name.' ('.$tmuk->tmuk.') <br/>
			'.$tmuk->address1.'<br/>
			'.$tmuk->address2.'<br/>
			'.$tmuk->address3.'<br/>
			'.$tmuk->telp.' 
		</p>
		
		<p><table style="width:100%;border:0">
			<tr>
				<td style="width:30%">Nomor PR: '.$pr->request_no.'</td>
				<td style="width:22%">Tanggal PR: '.date_format($pr_date, 'd-m-Y').'</td>				
				<td align="right" style="width:26%">Tipe PR: '.$tipe.'</td>
			</tr>
		</table></p>
		
		<p><table style="width:100%;border:0">
			<thead>
				<tr>
					<th rowspan="2" class="bordered">Kode Barang</th>
					<th rowspan="2" class="bordered">Barcode</th>
					<th rowspan="2" class="bordered">Nama Barang</th>
					<th colspan="2" class="bordered">Info Beli</th>
					<th colspan="2" class="bordered">Info Jual</th>
					<th colspan="2" class="bordered">Info PR</th>
					<th colspan="2" class="bordered">Info Aktual PR</th>																
					<th rowspan="2" class="bordered">Harga Satuan</th>
					<th rowspan="2" class="bordered">Total Harga</th>
				</tr>
				<tr>
					<th class="bordered">Jumlah</th>
					<th class="bordered">Satuan</th>
					<th class="bordered">Jumlah</th>
					<th class="bordered">Satuan</th>	
					<th class="bordered">Jumlah</th>
					<th class="bordered">Satuan</th>
					<th class="bordered">Jumlah</th>
					<th class="bordered">Satuan</th>								
				</tr>
			</thead>
			
			<tbody>
	';
			if(count($pr_details) > 0 ){
				$count = 0;
				foreach( $pr_details as $pr_detail ) {
					$html .= '<tr>
						<td class="bordered">'.$pr_detail['item_code'].'</td>
						<td class="bordered">'.$pr_detail['barcode'].'</td>
						<td class="bordered">'.$pr_detail['description'].'</td>
						<td class="bordered" style="text-align:center">'.$pr_detail['qty_order'].'</td>	
						<td class="bordered" style="text-align:center">'.$pr_detail['unit_order'].'</td>	
						<td class="bordered" style="text-align:center">'.$pr_detail['qty_sell'].'</td>		
						<td class="bordered" style="text-align:center">'.$pr_detail['unit_sell'].'</td>		
						<td class="bordered" style="text-align:center">'.$pr_detail['qty_pr'].'</td>	
						<td class="bordered" style="text-align:center">'.$pr_detail['unit_pr'].'</td>
						<td class="bordered" style="text-align:center">'.$pr_detail['con_pr'].'</td>	
						<td class="bordered" style="text-align:center">'.$pr_detail['unit_pr'].'</td>
						<td class="bordered" style="text-align:right">'.number_format($pr_detail['unit_order_price']).'</td>
						<td class="bordered" style="text-align:right">'.number_format($pr_detail['order_price']).'</td>
					</tr>';
					
					$count++;
					
					$total_pr += $pr_detail['order_price'];
				}		
			}
			
	$html .='
				<tr><td colspan="11"></td></tr>
				<tr><td colspan="11"></td></tr>
				<tr><td colspan="11"></td></tr>
				<tr><td colspan="11"></td></tr>
				<tr><td colspan="11"></td></tr>
				<tr><td colspan="11"></td></tr>
				<tr><td colspan="11"></td></tr>
				<tr><td colspan="11"></td></tr>
				<tr><td colspan="11"></td></tr>
				<tr><td colspan="11"></td></tr>
				<tr><td colspan="11"></td></tr>
				<tr>
					<td colspan="12" align="right"><b>Total PR</b></td>
					<td style="text-align:right">: '.number_format($total_pr).'</td>
				</tr>
			</tbody>
		</table></p>
	';
	
	$mpdf->setHTMLHeader($html_header);
	$mpdf->WriteHTML($html);
	$mpdf->Output();
	exit;
	
?>

