<style>    	
	.styled_margin{
		margin-top:5px;
	}	
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
	$(document).ready( function () {	
		$('#btn_back').click( function () {
			window.location = '<?php echo $this->url->get(uri('NumberRange')) ?>';
			return false;
		});

		$('#From_').maskNumber({
			integer: true,
		});

		$('#To_').maskNumber({
			integer: true,
		});

		$('#Current_No').maskNumber({
			integer: true,
		});
		
		$('#btn_save').click( function () {				
			var trans_type = $("#Trans_Type").val();
			var period = $("#Period").val();
			var prefix = $("#Prefix").val();
			var from_ = $("#From_").val();
			var to_ = $("#To_").val();
			var current_no = $("#Current_No").val();
			
			if(trans_type == ''){ 
				sweetAlert("Gagal", "Tipe Transaksi Harus diisi", "error");
				return false;
			}else if(period == ''){ 
				sweetAlert("Gagal", "Period Harus diisi", "error");
				return false;
			}else if(prefix == ''){ 
				sweetAlert("Gagal", "Prefix Harus diisi", "error");
				return false;
			}else if(from_ == ''){ 
				sweetAlert("Gagal", "From Harus diisi", "error");
				return false;
			}else if(to_ == ''){ 
				sweetAlert("Gagal", "To Harus diisi", "error");
				return false;
			}else if(current_no == ''){ 
				sweetAlert("Gagal", "Current No Harus diisi", "error");
				return false;
			}
			
			$("#add-form").submit();
			return false;
		});	
	});
</script>

<?php
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('Setting'), '<span> Setting </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('NumberRange'), '<span> Number Range </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">';
		echo '<legend> Buat Number Range </legend>';
		
		echo $this->tag->form([uri("NumberRange/Insert"), "class"=>"add-form", "id"=>"add-form"]);
			echo '
				<div class="row">
					<div class="col-sm-6">
						<div class="col-sm-4">
							<label> Tipe Transaksi </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["Trans_Type", "class"=>"form-control input-sm"]).'
						</div>
						
						<div class="col-sm-4">
							<label> Period </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["Period", "class"=>"form-control input-sm", "value"=>date('Ym'), "readonly"=>"true"]).'
						</div>
						
						<div class="col-sm-4">
							<label> Prefix </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["Prefix", "class"=>"form-control input-sm"]).'
						</div>
						
						<div class="col-sm-4">
							<label> From </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["From_", "class"=>"form-control input-sm"]).'
						</div>
						
						<div class="col-sm-4">
							<label> To </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["To_", "class"=>"form-control input-sm"]).'
						</div>
						
						<div class="col-sm-4">
							<label> Current No </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["Current_No", "class"=>"form-control input-sm"]).'
						</div>
						
						<div class="col-sm-12 styled_button">
						<center>
							<button id="btn_save" class="btn btn-primary btn-sm"> Simpan </button>
							<button id="btn_back" class="btn btn-default  btn-sm"> Kembali </button>							
						</center>
					</div>
					</div>					
				</div>
			';
		echo $this->tag->endForm();
	echo '</div>';
?>	