<script type="text/javascript">
	$(document).ready( function () {
		$('#btn_create').click( function () {
			window.location = '<?php echo $this->url->get(uri('NumberRange/add')) ?>';
		});
		
		$('.confirmation').on('click', function () {	
			var link = $(this).attr("href");			
			
			swal({
				title: "Yakin ingin delete?",
				text: "Data yang di delete tidak bisa di recorvery kembali!",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Ya, delete!",
				cancelButtonText: "Tidak, delete!",
				closeOnConfirm: false,
				closeOnCancel: false
			},
			function(isConfirm){
				if (isConfirm) {
					window.location = link;
					swal("Terhapus!", "Data Berhasil di delete.", "success");
				}else{
					swal("Dibatalkan", "Batal delete :)", "error");
				}
			});
			
			return false;
		});
	});
</script>

<?php	
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('Setting'), '<span> Setting </span>']).'</li>			
			<li>'.Phalcon\Tag::linkTo([uri('NumberRange'), '<span> Number Range </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">		
		<legend> Setting Number Range </legend>
		
		<div class="col-sm-12">
			</br>
		</div>		
		<div class="col-sm-12">
			<button id="btn_create" class="btn btn-primary btn-sm"> Buat Number Range </button>		
		</div>
		
		<div class="col-sm-12">
			</br>
		</div>	
		
		<div class="col-sm-12">
			<table id="DataTable" class="table-striped hover">
				<thead>
					<tr>
						<th style="text-align:center"> ID </th>
						<th style="text-align:center"> Tipe Transaksi </th>
						<th style="text-align:center"> Period </th>
						<th style="text-align:center"> Prefix </th>
						<th style="text-align:center"> From </th>
						<th style="text-align:center"> To </th>
						<th style="text-align:center"> Current No </th>
						<th style="text-align:center"> Aksi </th>
					</tr>
				</thead>
				  
				<tbody>';	
					if(count($lists) > 0 ){
						foreach( $lists as $key => $list ) {
							echo '<tr>';
								echo '<td style="text-align:center">'.$list['number_id'].'</td>';
								echo '<td style="text-align:center">'.$list['trans_type'].'</td>';
								echo '<td style="text-align:center">'.$list['period'].'</td>';
								echo '<td style="text-align:center">'.$list['prefix'].'</td>';
								echo '<td style="text-align:center">'.$list['from_'].'</td>';
								echo '<td style="text-align:center">'.$list['to_'].'</td>';
								echo '<td style="text-align:center">'.$list['current_no'].'</td>';
								echo '<td style="text-align:center">';
									echo Phalcon\Tag::linkTo([uri('#'), "<i class='fa fa-search fa-lg'> </i>", "class"=>"modalData", "data-toggle"=>"modal", "data-id"=>$list['number_id'], "data-target"=>"#myModal", "title"=>"Detail Number Range"]);
									echo '&nbsp;&nbsp;';
									echo Phalcon\Tag::linkTo([uri('NumberRange/Edit?Number_ID='.$list['number_id']), "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Edit Number Range"]);
									echo '&nbsp;&nbsp;';
									echo Phalcon\Tag::linkTo([uri('NumberRange/Delete?Number_ID='.$list['number_id']), "<i class='fa fa-close fa-lg'> </i>", "title"=>"Delete Number Range", "class"=>"confirmation"]);									
								echo '</td>';
							echo '</tr>';
						}		
					}
			echo '</tbody>			
			</table>
		</div>
	</div>';	
	
	echo '
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Detail Setting Number Range</h4>
				</div>
				<div class="modal-body" style="max-height:300px;overflow-y:auto;">
					<div class="table-responsive">
					<table class="table-bordered table-striped myTable" style="font-size:14px">
						<thead>							
						</thead>

						<tbody>							
						</tbody>			
					</table>
				</div>
				</div>
				<div class="modal-footer">
					<a href="" class="btn btn-default" data-dismiss="modal">Close</a>
				</div>
			</div>

			</div>
		</div>
	';
?>

<script>
	$(document).on("click", ".modalData", function(){
		var id = $(this).data('id');
		var myArray = [];
		$('.myTable tbody').empty();
		
		$.ajax({ url: "<?php echo $this->url->get(uri('NumberRange/ajaxData')) ?>?id="+id+"" }).done(function(data){
			console.log(data);			
			myArray = JSON.parse(data);
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');				
					tr.append("<td style='width:150px'>"+ "ID" +"</td>");
					tr.append("<td style='width:300px'>"+ myArray[i].number_id +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);	
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Tipe Transaksi" +"</td>");
					tr.append("<td>"+ myArray[i].trans_type +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);		

				tr = $('<tr>');				
					tr.append("<td>"+ "Period" +"</td>");
					tr.append("<td>"+ myArray[i].period +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Prefix" +"</td>");
					tr.append("<td>"+ myArray[i].prefix +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);
				
				tr = $('<tr>');				
					tr.append("<td>"+ "from" +"</td>");
					tr.append("<td>"+ myArray[i].from_ +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);
				
				tr = $('<tr>');				
					tr.append("<td>"+ "To" +"</td>");
					tr.append("<td>"+ myArray[i].to_ +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Current No" +"</td>");
					tr.append("<td>"+ myArray[i].current_no +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);
			}
		});		
	});
</script>

