<style>
    #DataTableZero .markData { color: blue; font-weight: bold; }
	
	.styled_margin{
		margin-top:2px;
	}
	
	.styled_margin label{
		margin-top:10px;
	}
	
	.styled_header{
		background: #f5f5f5;
        border: 1px solid #fff;
        padding: 5px;
        text-align: left;
		min-height: 125px;		
    }
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
	var myTable;
	var count=0;
	
	$(function(){
		$("#so_date").datepicker({ dateFormat: 'yy-mm-dd'});
	});
	
	$(document).ready( function () {			
		myTable = $('#DataTableZero').DataTable({
			"info" 			: false,
			"scrollY"		: "300px",
			"scrollCollapse": true,				
			"ordering"		: false,				
			"deferRender"	: true				
		});			
		
		$('#DataTableZero tbody').on( 'click', 'tr', function () {
			if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
			}
			else {
				myTable.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		} );
		
		$('#btn_back').click(function(){
			window.location = '<?php echo $this->url->get(uri('SOHarian')) ?>';
			return false;
		});
		
		$('#btn_add').click(function(){
			var divisi_val = $("#divisi").val();
			var category_val = $("#category").val();
			var barcode_val = $("#autocomplete").val();			
			var barcode_data = barcode_val.split(' - ');
			$.ajax({ 
				url			: "<?php echo $this->url->get(uri('SOHarian/ajaxAdd')) ?>?divisi="+divisi_val+"&category="+category_val+" ",
				beforeSend	: function(){ $('.modal').show(); },
				complete  	: function(){ $('.modal').hide(); } 
			}).done(function(data){
				myArray = JSON.parse(data);
				if(myArray){
					for(var i=0; i < myArray.length; i++){
						$('table#DataTableZero').dataTable().fnAddData( [
							myArray[i].stock_id,
							myArray[i].barcode,
							myArray[i].description,
							myArray[i].satuan						
							]);
					}
				}else{
					sweetAlert("Peringatan", "Data Produk Tidak Lengkap ", "error");
					return false; 
				}
				
				$("#autocomplete").val('');	
			});	
			
			return false;
		});

		$('#btn_cari').click(function(){
			var divisi_val = $("#divisi").val();
			var category_val = $("#category").val();
			var barcode_val = $("#autocomplete").val();			
			var barcode_data = barcode_val.split(' - ');
			$.ajax({ 
				url			: "<?php echo $this->url->get(uri('SOHarian/ajaxAdd')) ?>?query="+barcode_data[0]+" ",
				beforeSend	: function(){ $('.modal').show(); },
				complete  	: function(){ $('.modal').hide(); } 
			}).done(function(data){
				myArray = JSON.parse(data);
				if(myArray){
					for(var i=0; i < myArray.length; i++){
						if(myArray[i].harga != 0){
							$('table#DataTableZero').dataTable().fnAddData( [
								myArray[i].stock_id,
								myArray[i].barcode,
								myArray[i].description,
								myArray[i].satuan
								]);
						}else{
							sweetAlert("Gagal", "Anda harus melakukan pembelian " + myArray[i].description, "error");
							return false; 
						}
					}
				}else{
					sweetAlert("Gagal", "Data Produk Tidak Lengkap ", "error");
					return false; 
				}
				
				$("#autocomplete").val('');	
			});	
			
			return false;
		});
		
		$('#btn_delete').click(function(){
			myTable.row('.selected').remove().draw( false );
			return false;
		});
		
		$('#btn_reset').click(function(){		
			myTable.clear();
			myTable.draw();
			return false;
		});
		
		$('#btn_proses').click(function(){
			$("#status").val('PC');
			$("#so-form").submit();
			return false;
		});
		
		$('#btn_mobile').click(function(){
			$("#status").val('MOBILE');
			$( "#so-form" ).submit();
			return false;
		});
		
		$("#divisi").change(function() {
			var divisi_val = $(this).val();
			$("#category").html("");
			
			$.ajax({ url: "<?php echo $this->url->get(uri('SOHarian/ajaxCategory')) ?>?divisi="+divisi_val+"" })
			.done(function(data){					
				myArray = JSON.parse(data);
				
				for(var i=0; i < myArray.length; i++){												
					$("#category").append('<option value="'+ myArray[i].val +'">'+ myArray[i].display + '</option>');
				}
			});		
		});	
		
		$('#so-form').submit(function(e) {
			var data = myTable.rows().data();
			var data_convert = [];
			
			for(var i=0; i< data.length; i++){
				data_convert.push([data[i][0],data[i][1],data[i][2],data[i][3],data[i][4]]);
			}
			
			var json_data = document.getElementById('json_data');
			json_data.value = JSON.stringify(data_convert);
			
			e.preventDefault();
			jQuery.ajax({
				type: 'post',
				url: '<?php echo $this->url->get(uri('SOHarian/Insert')) ?>',
				data: jQuery('#so-form').serialize(),
				dataType: "json",
				beforeSend: function() {
					$('#btn_proses').attr('disabled', true);
					$('#btn_mobile').attr('disabled', true);
					$('#btn_back').attr('disabled', true);
					$('#btn_reset').attr('disabled', true);
					$('.modal').show();
				},
				complete: function() {
					$('#btn_proses').attr('disabled', false);
					$('#btn_mobile').attr('disabled', false);
					$('#btn_back').attr('disabled', false);						
					$('#btn_reset').attr('disabled', false);						
					$('.modal').hide();
				}, 
				success: function (data) {

					if(data.type == 'S'){
						swal({
							title: "Sukses",
							text:  data.message,
							type: "success",
							html: true,
							showCancelButton: false,
							closeOnConfirm: false,
							closeOnCancel: false
						},
						function(isConfirm){
							if (isConfirm) {
								window.location = '<?php echo $this->url->get(uri('SOHarian')) ?>';								
							}
						});
					}else if(data.type == 'E'){
						swal("Gagal", data.message, "error");
					}
				}
			});
			
			return false;
		});	
	});		
	
	$(document).keypress(function(e) {				
		if(e.which == 13) {
			
			return false;
		}		
	});
	
</script>
		
<?php		
	echo '
	<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('StockOpname'), '<span> Stock Opname </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('SOHarian'), '<span> SO Harian </span>']).'</li>
		</ul>
	<div>
	
	<div class="content_content">
		<legend>Buat SO Harian</legend>';
		echo $this->tag->form([uri("SOHarian/Insert"), "id"=>"so-form", "autocomplete"=>"off"]);
			echo '<input type="hidden" id="json_data" name="json_data">'
			.$this->tag->hiddenField(["status", "id"=>"status"])
			.$this->tag->hiddenField(["so_type", "id"=>"so_type", "value"=>"DAY"]);
			
			echo '
				<div class="col-sm-6 styled_header">
					<div class="col-sm-4 styled_margin">
						<label> Divisi  </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->select(["divisi", $divisi , "class"=>"form-control input-sm", "id"=>"divisi"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Kategori </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->select(["category", $category ,"class"=>"form-control input-sm", "id"=>"category"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Barang </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["barcode", "id"=>"autocomplete", "class"=>"form-control input-sm", "placeholder" => "Barcode & Nama Product"]).'							
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Dibuat Oleh </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["user_id", "class"=>"form-control input-sm", "value"=>$this->session->get("user")['user_name'], "readonly"=>"true"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Tanggal </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->dateField(["so_date", "class"=>"form-control input-sm", "value"=>date("Y-m-d")]).'
					</div>
				</div>
				
				<div class="col-sm-12 styled_button">
					<div class="col-sm-6 styled_button">
						<center>
							<button id="btn_proses" class="btn btn-primary btn-sm"> Proses </button>
							<button id="btn_mobile" class="btn btn-info btn-sm" style="display:none"> Proses Mobile </button>
							<button id="btn_reset" class="btn btn-warning btn-sm"> Reset </button>
							<button id="btn_back" class="btn btn-default btn-sm"> Kembali </button>	
							<button id="btn_cari" hidden="hidden">
							</button>
						</center>
					</div>
				</div>
			';			
		echo $this->tag->endForm();

		echo '
			<div class="col-sm-12 styled_button form-inline">
				<button id="btn_add" class="btn btn-primary btn-sm"> Tambah </button>		
				<button id="btn_delete" class="btn btn-danger btn-sm"> Hapus </button>						
			</div>				
			
			<div class="col-sm-8">
				<table id="DataTableZero">
					<thead>
					<tr>
						<th style="width:15%"> Kode Produk </th>
						<th style="width:15%"> Barcode </th>
						<th style="width:40%"> Deskripsi </th>					  							
						<th> Satuan </th>
					</tr>
					</thead>
					
					<tbody>
					</tbody>
				</table>
			</div>
		';
		
		echo '			
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '</div>';
?>	

<script>
	$(document).ready( function () {
		$('#autocomplete').autocomplete({
			lookup: function (query, done) {
				var dataProduct = [];
				var query = $("#autocomplete").val();	
				var divisi_val = $('#divisi').val();
				var category_val = $('#category').val();

				// $.ajax({ url: "<?php echo $this->url->get(uri('SOHarian/ajaxSearchProduct')) ?>?query="+query+"&divisi="+divisi_val+"&category="+category_val+" " }).done
				$.ajax({ url: "<?php echo $this->url->get(uri('SOHarian/ajaxSearchProduct')) ?>?query="+query+" " }).done(function(data){
					myArray = JSON.parse(data);
		
					for(var key in myArray){
						dataProduct.push({ "value" : myArray[key].display, "data" : myArray[key].val });
					}
					
					var result = { suggestions: dataProduct };
					done(result);	
				});	
			}, 
			autoSelectFirst: false,
			onSelect: function (suggestion) {
				console.log('You selected: ' + suggestion.value + ', ' + suggestion.data);
				$('#btn_cari').click();
			}
		});
		
		$(document).keypress(function(e) {
			var query = $("#autocomplete").val();
			var divisi_val = $('#divisi').val();
			var category_val = $('#category').val();
			if(query != ""){			
				if(e.which == 13){
					// $.ajax({ url: "<?php echo $this->url->get(uri('SOHarian/ajaxSearchProduct')) ?>?query="+query+"&divisi="+divisi_val+"&category="+category_val+" " }).done(function(data){
					$.ajax({ url: "<?php echo $this->url->get(uri('SOHarian/ajaxSearchProduct')) ?>?query="+query+" " }).done(function(data){
						myArray = JSON.parse(data);
						
						if(Object.keys(myArray).length == 1){
							for(var key in myArray){
								document.getElementById("autocomplete").value = myArray[key].display;
								$('#btn_cari').click();
							}
						}
					});	
					
					return false;
				}
			}
		});		
	});
</script>