<script type="text/javascript">
		$(document).ready( function () {
			$('#btn_upload').click( function () {				
				$("#import-form").submit();
				return false;				
			});
			
			$('#import-form').submit(function(e) {
				var fd = new FormData(this);    				
				
				e.preventDefault();
				jQuery.ajax({
					type: 'post',
					url: '<?php echo $this->url->get(uri('SOHarian/SaveImport')) ?>',
					data: fd,
					dataType: "json",
					processData: false,
					contentType: false,
					beforeSend: function() {
						$('#btn_upload').attr('disabled', true);
						$('.modal').show();
					},
					complete: function() {
						$('#btn_upload').attr('disabled', false);
						$('.modal').hide();
					}, 
					success: function (data) {
						console.log(data);								

						if(data.type == 'S'){
							swal({
								title: "Sukses",
								text:  data.message,
								type: "success",
								html: true,
								showCancelButton: false,
								closeOnConfirm: false,
								closeOnCancel: false
							},
							function(isConfirm){
								if (isConfirm) {
									window.location = '<?php echo $this->url->get(uri('SOHarian/Proses?SO_ID='.$so->so_id)) ?>';								
								}
							});
						}else if(data.type == 'E'){
							swal("Gagal", data.message, "error");
						}
					}
				});
				
				return false;
			});
		});					
</script>

<?php	
	echo '
	<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('StockOpname'), '<span> Stock Opname </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('SOHarian'), '<span> SO Harian </span>']).'</li>
		</ul>
	<div>
	
	<div class="content_content">
		<legend>Import SO Harian</legend>
		
		'.$this->tag->form([uri("SOHarian/SaveImport"), "id"=>"import-form", "enctype"=>"multipart/form-data"]).'
		'.$this->tag->hiddenField(["id", "id"=>"id", "value"=>$so->so_id]);
		echo'
			<div class="col-sm-6">
				<div class="col-sm-12 form-inline">
					<label>Filename :</label> 
					<input type="file" name="file" id="file">
				</div>
				
				<div class="col-sm-12">
					</br>
				</div>
				
				<div class="col-sm-12">
					<center>
						<button id="btn_upload" class="btn btn-primary btn-sm"> Upload Data </button>
					</center>
				</div>
			</div>
		'.$this->tag->endForm().'
	';
		
	echo '			
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '</div>';
?>