
<?php		
	
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('Immpos'), '<span> IMMPOS </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('TundaPenjualan'), '<span> Tunda Penjualan </span>']).'</li>
		</ul>
	<div>';
	
	$messages = $this->flashSession->getMessages();
	if(count($messages) > 0){
		foreach ($messages as $messageType => $messageArray) {
			foreach ($messageArray as $message) {
				$arr_msg = explode(";", $message);
				echo "<script>swal({
					title : '".$arr_msg[0]."',
					text  : '".$arr_msg[1]."',
					type  : '".$arr_msg[2]."',
					html  : true });</script>";
				$this->flashSession->clear();
			}
		}
	}
	
	echo '<div class="content_content">			
		<legend> Tunda Penjualan </legend>
		<div class="table_container">
		<table id="DataTable">
			<thead>
				<tr>
					<th style="text-align:center"> No Struk </th>
					<th style="text-align:center"> Tanggal </th>
					<th style="text-align:center"> Kasir </th>
					<th style="text-align:center"> Total </th>					  
					<th style="text-align:center"> Action </th>
				</tr>
			</thead>
			  
			<tbody>';	
				if(count($lists) > 0 ){
					foreach( $lists as $key => $list ) {
						echo '<tr>
							<td style="text-align:center"><a href="#" class="modalHold" data-toggle="modal" data-hold="'.$list['id_jual'].'" data-target="#myModal">'.$list['id_jual'].'</a></td>
							<td style="text-align:center">'.$list['tanggal'].'</td>					
							<td style="text-align:center">'.$list['id_kasir'].'</td>	
							<td>'.number_format($list['total'],2,',','.').'</td>	
							<td>';								
								echo Phalcon\Tag::linkTo([uri('Penjualan/Sell?id_jual='.$list['id_jual']), "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Start Jual"]);
								echo '&nbsp;';
								echo Phalcon\Tag::linkTo([uri('TundaPenjualan/Delete?id_jual='.$list['id_jual']), "<i class='fa fa-close fa-lg'> </i>", "title"=>"Delete Hold Jual"]);
								echo '&nbsp;';
							echo '</td>
						</tr>';
					}		
				}
			echo '</tbody>
		</table>
		</div>
		
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Tunda Penjualan</h4>
				</div>
				<div class="modal-body" style="max-height:300px;overflow-y:auto;">
					<div class="table-responsive">
					<table class="table-bordered table-striped myTable" style="font-size:14px">
						<thead>
							<tr>
								<th>Item Code</th>
								<th>Description</th>
								<th>Harga</th>
								<th>Harga Member</th>
								<th>Qty</th>																
								<th>Total</th>
							</tr>							
						</thead>
						  
						<tbody>							
						</tbody>			
					</table>
				</div>
				</div>
				<div class="modal-footer">
					<a href="" class="btn btn-default" data-dismiss="modal">Close</a>
				</div>
			</div>

			</div>
		</div>
		
	<div>';
	
?>

<script>
	$(document).on("click", ".modalHold", function(){
		var hold = $(this).data('hold');
		var myArray = [];
		
		$.ajax({ url: "<?php echo $this->url->get(uri('TundaPenjualan/ajaxTunda')) ?>?hold="+hold+"" }).done(function(data){
			console.log(data);
			$('.myTable tbody').empty();
			myArray = JSON.parse(data);
			
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td style='text-align:right !important'>"+ myArray[i].harga +"</td>");
				tr.append("<td style='text-align:right !important'>"+ myArray[i].harga_member +"</td>");
				tr.append("<td>"+ myArray[i].qty +"</td>");
				tr.append("<td style='text-align:right !important'>"+ myArray[i].total +"</td>");
				
				grand_total = parseInt(grand_total,10) + parseInt(myArray[i].total,10);
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
			$('.myTable tbody').append("<tr><th colspan='5' style='text-align:right !important'>Total</th><td colspan='2'>"+ format(grand_total) +"</td></tr>");
		});		
	});
</script>