<div class="col-sm-12">     
	</br></br>
</div>

<div class="col-sm-12">     
	<center>
		<?php echo $this->tag->image([uri("img/restrict.png"), "style" => "width:250px;height:250px"]); ?>
		<h2> Maaf, Anda tidak memiliki otorisasi untuk akses halaman ini! </h2>
	</center>
</div>

