<div class="col-sm-12">     
	</br></br>
</div>

<div class="col-sm-12">     
	<center>
		<?php echo $this->tag->image([uri("img/restrict_sale.png"), "style" => "width:250px;height:250px"]); ?>
		<h2> Maaf, untuk melakukan transaksi penjualan harus Start of Day terlebih dahulu! 
			<p><?php echo Phalcon\Tag::linkTo([uri('StartDay'), '<span> Klik Disini </span>']); ?></p> 
		</h2>
	</center>
</div>

