
<?php

	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Persediaan'), '<span> Persediaan </span>']).'</li>';			
		echo '</ul>';
	echo '<div>';
	
		$data = new Product();
		$lists = $data::getJoin_ProductMove2();

	echo '<div class="content_content">
		<legend> Persediaan </legend>
	';
		// edited here
		echo '<div class="table-responsive">';
		echo '<table id="DataTable" class="table table-striped hover">';
			echo '<thead>';
				echo '<tr>';
				echo '<th style="width:10%; text-align: center;">Departemen</th>';
				echo '<th style="width:10%; text-align: center;">Kategori</th>';
				echo '<th style="width:10%; text-align: center;">Supplied By</th>';
				echo '<th style="width:10%; text-align: center;">Kode Barang</th>';
				echo '<th style="width:10%; text-align: center;">Barcode</th>';
				echo '<th style="width:25%; text-align: center;">Nama Barang</th>';
				echo '<th style="width:10%; text-align: center;">Status</th>';
				echo '<th style="width:8%; text-align: center;">MAP</th>';
				echo '<th style="width:8%; text-align: center;">Kuantitas</th>';
				echo '<th style="width:8%; text-align: center;">Nilai</th>';
				echo '</tr>';
			echo '</thead>';
			echo '<tbody>';
			
			if(count($lists) > 0){
				foreach($lists as $key => $list){
					if($list['tipe'] != 003 AND $list['tipe'] != 004 AND $list['tipe'] != ''){
						if($list['tipe'] == 001){
							$supplied = 'Trade Lotte';
						}
						if($list['tipe'] == 002){
							$supplied = 'Trade Non Lotte';
						}
						if($list['tipe'] == 003){
							$supplied = 'Non Trade Lotte';
						}
						if($list['tipe'] == 004){
							$supplied = 'Non Trade Non Lotte';
						}

						if($list['tipe'] == ''){
							$supplied = '';
						}

						echo '<tr>';
							echo '<td>'.$list['bumun_nm'].'</td>';
							echo '<td>'.$list['l1_nm'].'</td>';
							echo '<td>'.$supplied.'</td>';
							echo '<td style="text-align:right">'.$list['stock_id'].'</td>';
							echo '<td style="text-align:right">'.$list['uom_ib'].'</td>';
							echo '<td>'.$list['uom1_prod_nm'].'</td>';
							echo '<td style="text-align:center">'.$list['status'].'</td>';
							echo '<td style="text-align:right">'.number_format($list['map'],0,",",".").'</td>'; //dedy, edited, awalnya uom1_harga, jadi map
							echo '<td style="text-align:right">'.$list['nilai_persediaan'].'</td>';
							echo '<td style="text-align:right">'.number_format($list['map'] * $list['nilai_persediaan'],0,",",".").'</td>'; //dedy, edited, awalnya uom1_harga, jadi map
						echo '</tr>';
						
					}
				}
			}
			
			echo '</tbody>';
		echo '</table>';
	echo '</div>';
	echo '</div>';
	
?>

