<style>
	.form-control { width:auto }
	.myTable { width:100% }
	.add-form input, .add-form select { width:75% }
</style>
<?php	
echo '<div class="content_header">';
echo '<ul class="red-breadcrumb">';
echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
echo '<li>'.Phalcon\Tag::linkTo([uri('ManajemenHarga'), '<span> Manajemen Harga </span>']).'</li>';			
echo '</ul>';
echo '<div>';

echo '<div class="content_content">';

$messages = $this->flashSession->getMessages();
if(count($messages) > 0){
foreach ($messages as $messageType => $messageArray) {
foreach ($messageArray as $message) {
$arr_msg = explode(";", $message);
echo "<script>swal({
	title: '".$arr_msg[0]."',
	text: '".$arr_msg[1]."',
	type: '".$arr_msg[2]."',
	html: true });</script>";
	$this->flashSession->clear();
}
}
}

echo '<fieldset>
<form action="ManajemenHarga/update" method="POST" id="myForm">
	<input type="hidden" name="stock_id" id="stock_id" />
	<input type="hidden" name="desc" id="desc" />
	<div class="row" style="margin-left:0;">
		<legend>Manajemen Harga</legend>
	</div>
	<!-- <div class="row">
		<div class="form-inline" style="margin-top:10px">
			<div class="col-md-12">
				<div class="form-inline">
					<div class="col-md-10">
						<label>Product : </label>
						<input type="text" class="form-control input-sm" id="autocomplete" style="width:350px" placeholder="Barcode / Nama Produk" />
					</div>

					<div class="col-md-2">
						<input type="hidden" class="btn btn-primary btn-sm" value="Save" id="btn_save" style="float:right;margin-top:5px"/>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<div class="row" style="margin-left:3px;">
		<div class="col-md-6">
			<label>Product : </label>
			<input type="text" class="form-control input-sm" id="autocomplete" style="width:350px" placeholder="Barcode / Nama Produk" />
		</div>
		<div class="col-md-6">
			<input type="hidden" class="btn btn-primary btn-sm" value="Save" id="btn_save" style="float:right;margin-top:5px"/>
		</div>
	</div><br>
	<legend></legend>

	
	<div class="row" style="margin-left:3px;">
		<div class="form-inline" style="margin-top:10px">
			<div class="col-md-6">
				<label>Supplied by : </label>		
				<input type="text" class="form-control input-sm" id="supplied_by" placeholder="" style="width:40%" readOnly>
			</div>
			<div class="col-md-6">
				<label>Margin (Persen) : </label>
				<input type="text" class="form-control input-sm" placeholder="%" name="margin" id="margin" style="width:40%" readOnly>
			</div>
		</div>
	</div>

	<div class="header">
		<div style="float: right;">
			<button type="button" class="btn btn-primary add button uomp">+ UOM</button>
			<button type="button" class="btn btn-danger remove button uomp hidden">- UOM</button>
		</div>
	</div>

	<div class="row" style="margin-left:0;">
	<div class="col-md-12 xtc">
		<div class="col-md-6" style="margin-top:20px">
			<fieldset>
				<legend>UoM 1</legend>
				<table class="myTable table-striped">
					<tr class="add-form"><td>UoM 1 Description</td><td><input type="text" class="form-control input-sm" id="uom1_nm" readOnly></td></tr>
					<tr class="add-form"><td>Barcode UoM 1</td><td><input type="text" class="form-control input-sm" id="uom1_internal_barcode" readOnly></td></tr>
					<tr class="add-form"><td>Product Description UoM 1</td><td><input type="text" class="form-control input-sm" id="uom1_prod_nm" readOnly></td></tr>
					<tr>
						<td>Handling Type UoM 1</td>
						<td><table>
							<tr>
								<td><input type="checkbox" id="uom1_htype_1" disabled> Selling Unit</td>
								<td><input type="checkbox" id="uom1_htype_2" disabled> Receiving Unit</td>
							</tr>
							<tr>
								<td><input type="checkbox" id="uom1_htype_3" disabled> Order Unit</td>
								<td><input type="checkbox" id="uom1_htype_4" disabled> Return Unit</td>
							</tr>
							<tr>
								<td><input type="checkbox" id="uom1_htype_5" disabled> Inventory Unit</td>
							</tr>
						</table></td>
					</tr>
					<tr class="add-form"><td>HPP (MAP)</td><td><input type="text" id="uom1_cost_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Suggested Selling Price UoM 1</td><td><input type="text" id="uom1_suggested_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Rounding Selling Price UoM 1</td><td><input type="text" id="uom1_rounding_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Changed Selling Price UoM 1</td><td><input type="text" id="uom1_changed_price" name="uom1_changed_price" class="form-control input-sm" disabled="disabled"></td></tr>
					
					<tr class="add-form"><td>Margin Amount UoM 1</td><td><input type="text" id="uom1_margin_amount" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Harga Member</td><td><input type="text" name="uom1_member_price" id="uom1_member_price" class="form-control input-sm" readonly></td></tr>
				</table>
			</fieldset>
		</div>
		<div class="col-md-6" style="margin-top:20px">
			<fieldset>
				<legend>UoM 2</legend>
				<table class="myTable table-striped">
					<tr class="add-form"><td>UoM 2 Description</td><td><input type="text" class="form-control input-sm" id="uom2_nm" readOnly></td></tr>
					<tr class="add-form"><td>Barcode UoM 2</td><td><input type="text" class="form-control input-sm" id="uom2_internal_barcode" readOnly></td></tr>
					<tr class="add-form"><td>Product Description UoM 2</td><td><input type="text" class="form-control input-sm" id="uom2_prod_nm" readOnly></td></tr>
					<tr>
						<td>Handling Type UoM 2</td>
						<td><table>
							<tr>
								<td><input type="checkbox" id="uom2_htype_1" disabled> Selling Unit</td>
								<td><input type="checkbox" id="uom2_htype_2" disabled> Receiving Unit</td>
							</tr>
							<tr>
								<td><input type="checkbox" id="uom2_htype_3" disabled> Order Unit</td>
								<td><input type="checkbox" id="uom2_htype_4" disabled> Return Unit</td>
							</tr>
							<tr>
								<td><input type="checkbox" id="uom2_htype_5" disabled> Inventory Unit</td>
							</tr>
						</table></td>
					</tr>
					<tr class="add-form"><td>GMD Price</td><td><input type="text" id="gmd" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Cost Price UOM 2</td><td><input type="text" id="uom2_cost_price" class="form-control input-sm" readOnly></td></tr>
					<!-- <tr class="add-form"><td>Rounding Selling Price UoM 2</td><td><input type="text" id="uom2_rounding_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Changed Selling Price UoM 2</td><td><input type="text" id="uom2_changed_price" name="uom2_changed_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Member Price UoM 2</td><td><input type="text" id="uom2_member_price" name="uom2_member_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Margin Amount UoM 2</td><td><input type="text" id="uom2_margin_amount" class="form-control input-sm" readOnly></td></tr> -->
				</table>
			</fieldset>
		</div>
		</div>
	</div>


	<!-- <div class="row" style="margin-left:0;">
		<div class="col-md-6" style="margin-top:20px">
			<fieldset>
				<legend>UoM 3</legend>
				<table class="myTable table-striped">
					<tr class="add-form"><td>UoM 3 Description</td><td><input type="text" class="form-control input-sm" id="uom3_nm" readOnly></td></tr>
					<tr class="add-form"><td>Barcode UoM 3</td><td><input type="text" class="form-control input-sm" id="uom3_internal_barcode" readOnly></td></tr>
					<tr class="add-form"><td>Product Description UoM 3</td><td><input type="text" class="form-control input-sm" id="uom3_prod_nm" readOnly></td></tr>
					<tr>
						<td>Handling Type UoM 3</td>
						<td><table>
							<tr>
								<td><input type="checkbox" id="uom3_htype_1" disabled> Selling Unit</td>
								<td><input type="checkbox" id="uom3_htype_2" disabled> Receiving Unit</td>
							</tr>
							<tr>
								<td><input type="checkbox" id="uom3_htype_3" disabled> Order Unit</td>
								<td><input type="checkbox" id="uom3_htype_4" disabled> Return Unit</td>
							</tr>
							<tr>
								<td><input type="checkbox" id="uom3_htype_5" disabled> Inventory Unit</td>
							</tr>
						</table></td>
					</tr>
					<tr class="add-form"><td>Cost Price UoM 3</td><td><input type="text" id="uom3_cost_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Suggested Selling Price UoM 3</td><td><input type="text" id="uom3_suggested_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Rounding Selling Price UoM 3</td><td><input type="text" id="uom3_rounding_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Changed Selling Price UoM 3</td><td><input type="text" id="uom3_changed_price" name="uom3_changed_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Member Price UoM 3</td><td><input type="text" id="uom3_member_price" name="uom3_member_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Margin Amount UoM 3</td><td><input type="text" id="uom3_margin_amount" class="form-control input-sm" readOnly></td></tr>
				</table>
			</fieldset>
		</div>
		<div class="col-md-6" style="margin-top:20px">
			<fieldset>
				<legend>UoM 4</legend>
				<table class="myTable table-striped">
					<tr class="add-form"><td>UoM 4 Description</td><td><input type="text" class="form-control input-sm" id="uom4_nm" readOnly></td></tr>
					<tr class="add-form"><td>Barcode UoM 4</td><td><input type="text" class="form-control input-sm" id="uom4_internal_barcode" readOnly></td></tr>
					<tr class="add-form"><td>Product Description UoM 4</td><td><input type="text" class="form-control input-sm" id="uom4_prod_nm" readOnly></td></tr>
					<tr>
						<td>Handling Type UoM 4</td>
						<td><table>
							<tr>
								<td><input type="checkbox" id="uom4_htype_1" disabled> Selling Unit</td>
								<td><input type="checkbox" id="uom4_htype_2" disabled> Receiving Unit</td>
							</tr>
							<tr>
								<td><input type="checkbox" id="uom4_htype_3" disabled> Order Unit</td>
								<td><input type="checkbox" id="uom4_htype_4" disabled> Return Unit</td>
							</tr>
							<tr>
								<td><input type="checkbox" id="uom4_htype_5" disabled> Inventory Unit</td>
							</tr>
						</table></td>
					</tr>
					<tr class="add-form"><td>Cost Price UoM 4</td><td><input type="text" id="uom4_cost_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Suggested Selling Price UoM 4</td><td><input type="text" id="uom4_suggested_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Rounding Selling Price UoM 4</td><td><input type="text" id="uom4_rounding_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Changed Selling Price UoM 4</td><td><input type="text" id="uom4_changed_price" name="uom4_changed_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Member Price UoM 4</td><td><input type="text" id="uom4_member_price" name="uom4_member_price" class="form-control input-sm" readOnly></td></tr>
					<tr class="add-form"><td>Margin Amount UoM 4</td><td><input type="text" id="uom4_margin_amount" class="form-control input-sm" readOnly></td></tr>
				</table>
			</fieldset>
		</div>
	</div> -->


</div></form>
</fieldset>';
echo '</div>';

?>
<script>
	$('#autocomplete').focus();
	$('#autocomplete').autocomplete({
		lookup: function (query, done) {
			var dataProduct = [];
			var query = $("#autocomplete").val();
			$.ajax({ url: "<?php echo $this->url->get(uri('ManajemenHarga/ajaxSearchProduct')) ?>?query="+query+" " }).done(function(data){
				myArray = JSON.parse(data);

				for(var key in myArray){
					dataProduct.push({ "value" : myArray[key].display, "data" : myArray[key].val });
				}
				
				var result = { suggestions: dataProduct };
				done(result);	
			});	
		}, 
		autoSelectFirst: false,
		onSelect: function (suggestion) {
			console.log('You selected: ' + suggestion.value + ', ' + suggestion.data);
			addRow(suggestion.value, suggestion.data);
		}
	});

	$('#btn_save').on('click', function(){
		if($("#uom1_cost_price").val() !=0){
			var change = parseInt(($("#uom1_changed_price").val()).replace(/[^0-9.]/g, ''));
			var rounding = parseInt(($("#uom1_rounding_price").val()).replace(/[^0-9.]/g, ''));
			var suggested = parseInt(($("#uom1_suggested_price").val()).replace(/[^0-9.]/g, ''));
			if(change < rounding && change !=0){
				swal({
					title: "Anda Yakin?",
					text: "Harga Jual lebih kecil dari Harga Rounding !",
					type: "error",
					showCancelButton: true,
					showConfirmButton: true,
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "Ya, Submit",
					cancelButtonText: "Tidak, Kembali",
					closeOnConfirm: false
				},
				function(isConfirm){
					if(isConfirm) {
						$('#myForm').submit();
					}
				});
			}else{
				$('#myForm').submit();
			}
		}else{
			swal('Gagal','Data Product tidak Lengkap.','error');
		}
	});

	$(document).keypress(function(e) {
		var query = $("#autocomplete").val();
		if(query != ""){
			if(e.which == 13){
				$.ajax({ url: "<?php echo $this->url->get(uri('ManajemenHarga/ajaxSearchProduct')) ?>?query="+query+" " }).done(function(data){
					myArray = JSON.parse(data);
					
					if(Object.keys(myArray).length == 1){
						document.getElementById("uom1_htype_1").checked = false;
						document.getElementById("uom1_htype_2").checked = false;
						document.getElementById("uom1_htype_3").checked = false;
						document.getElementById("uom1_htype_4").checked = false;
						document.getElementById("uom1_htype_5").checked = false;
						for(var key in myArray){
							document.getElementById("autocomplete").value = myArray[key].display;
							addRow(myArray[key].display, myArray[key].val);
						}
					}
				});	
				
				return false;
			}
		}
	});

	function addRow(desc, stock_id){
		$("#uom1_htype_1").prop('checked', false); 
		$("#uom1_htype_2").prop('checked', false); 
		$("#uom1_htype_3").prop('checked', false); 
		$("#uom1_htype_4").prop('checked', false); 
		$("#uom1_htype_5").prop('checked', false);
		$("#uom2_htype_1").prop('checked', false); 
		$("#uom2_htype_2").prop('checked', false); 
		$("#uom2_htype_3").prop('checked', false); 
		$("#uom2_htype_4").prop('checked', false); 
		$("#uom2_htype_5").prop('checked', false);  
		var text = desc.split(' - ');
		document.getElementById('btn_save').type = 'button';	
		document.getElementById('desc').value = text[1];	
		document.getElementById('stock_id').value = stock_id;	
		$.ajax({ url: "<?php echo $this->url->get(uri('ManajemenHarga/ajaxProduct')) ?>?stock_id="+stock_id+"" }).done(function(data){
			myArray = JSON.parse(data);
			if(myArray != null){
				for(var i=0;i<myArray.length;i++){
					if(myArray[i].price > 0){
						$("#uom1_changed_price").prop("disabled", false);
						$("#uom1_member_price").prop("readonly", false);
					}else{
						$("#uom1_changed_price").prop("disabled", true);
						$("#uom1_member_price").prop("readonly", true);
					}
						 $('#uom1_changed_price').maskNumber({
						 	integer: true,
						 });
					// document.getElementById("supplied_by").value = myArray[i].supplied_by;\
					if(myArray[i].tipe == 001){
						var tipe = 'Trade Lotte';
					}
					if(myArray[i].tipe == 002){
						var tipe = 'Trade Non Lotte';
					}
					if(myArray[i].tipe == 003){
						var tipe = 'Non Trade Lotte';
					}
					if(myArray[i].tipe == 004){
						var tipe = 'Non Trade Non Lotte';
					}
					document.getElementById("uom1_member_price").value = myArray[i].uom1_member_price;
					document.getElementById("supplied_by").value = tipe;
					document.getElementById("margin").value = myArray[i].margin+" %";
					document.getElementById("uom1_nm").value = myArray[i].uom1_nm;
					document.getElementById("uom1_internal_barcode").value = myArray[i].uom1_internal_barcode;
					document.getElementById("uom1_prod_nm").value = myArray[i].uom1_prod_nm;
					document.getElementById("uom1_cost_price").value = (myArray[i].price).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
					document.getElementById("uom1_suggested_price").value = (Math.round(myArray[i].uom1_suggested_price)).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
					document.getElementById("uom1_rounding_price").value = (Math.round(myArray[i].uom1_rounding_price)).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"); 
					document.getElementById("uom1_changed_price").value = (myArray[i].uom1_changed_price).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
					// document.getElementById("uom1_member_price").value = myArray[i].uom1_member_price;

					if(myArray[i].uom1_htype_1 == true){ 
					document.getElementById("uom1_htype_1").checked = true; 
					document.getElementById("uom1_changed_price").readOnly = false; 
					// document.getElementById("uom1_member_price").readOnly = false; 
					}
					if(myArray[i].uom1_htype_2 == true){ 
						document.getElementById("uom1_htype_2").checked = true; 
					}
					if(myArray[i].uom1_htype_3 == true){ 
						document.getElementById("uom1_htype_3").checked = true; 
					}
					if(myArray[i].uom1_htype_4 == true){ 
						document.getElementById("uom1_htype_4").checked = true; 
					}
					if(myArray[i].uom1_htype_5 == true){ 
						document.getElementById("uom1_htype_5").checked = true; 
					}
					document.getElementById("uom2_nm").value = myArray[i].uom2_nm;
					document.getElementById("uom2_internal_barcode").value = myArray[i].uom2_internal_barcode;
					document.getElementById("uom2_prod_nm").value = myArray[i].description;
					document.getElementById("gmd").value = (myArray[i].harga).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
					var uom2 = (myArray[i].harga / myArray[i].uom2_conversion);
					document.getElementById("uom2_cost_price").value = (Math.round(uom2)).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
					// document.getElementById("uom2_suggested_price").value = myArray[i].uom2_suggested_price;
					// document.getElementById("uom2_rounding_price").value = myArray[i].uom2_rounding_price;
					// document.getElementById("uom2_changed_price").value = myArray[i].uom2_changed_price;
					// document.getElementById("uom2_member_price").value = myArray[i].uom2_member_price;
					// document.getElementById("uom2_margin_amount").value = myArray[i].uom2_margin_amount;
					if(myArray[i].uom2_htype_1 == true){ 
						document.getElementById("uom2_htype_1").checked = true; 
						// document.getElementById("uom2_changed_price").readOnly = false; 
						// document.getElementById("uom2_member_price").readOnly = false; 
					}
					if(myArray[i].uom2_htype_2 == true){ 
						document.getElementById("uom2_htype_2").checked = true; 
					}
					if(myArray[i].uom2_htype_3 == true){ 
						document.getElementById("uom2_htype_3").checked = true; 
					}
					if(myArray[i].uom2_htype_4 == true){ 
						document.getElementById("uom2_htype_4").checked = true; 
					}
					if(myArray[i].uom2_htype_5 == true){ 
						document.getElementById("uom2_htype_5").checked = true; 
					}
					var data = (document.getElementById("uom1_changed_price").value).replace(/[^0-9.]/g, '');
					if(data > 0){
						var map = (document.getElementById("uom1_cost_price").value).replace(/[^0-9.]/g, '');
						var hasil_map = (data-map);
						document.getElementById("uom1_margin_amount").value = (hasil_map).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
					}else{
						var map2 = (document.getElementById("uom1_cost_price").value).replace(/[^0-9.]/g, '');
						var rounding2 = (document.getElementById("uom1_rounding_price").value).replace(/[^0-9.]/g, '');
						if(rounding2 != 0){
							var hasil_map2 = (rounding2-map2);
							document.getElementById("uom1_margin_amount").value = (hasil_map2).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
						}else{
							document.getElementById("uom1_margin_amount").value = (0).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
						}	
					}

					$("#uom1_changed_price").keyup(function(){
						var data = (document.getElementById("uom1_changed_price").value).replace(/[^0-9.]/g, '');
						if(data > 0){
							var map = (document.getElementById("uom1_cost_price").value).replace(/[^0-9.]/g, '');
							var hasil_map = (data-map);
							document.getElementById("uom1_margin_amount").value = (hasil_map).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
						}else{
							var map2 = (document.getElementById("uom1_cost_price").value).replace(/[^0-9.]/g, '');
							var rounding2 = (document.getElementById("uom1_rounding_price").value).replace(/[^0-9.]/g, '');
							if(rounding2 != 0){
								var hasil_map2 = (rounding2-map2);
								document.getElementById("uom1_margin_amount").value = (hasil_map2).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
							}else{
								document.getElementById("uom1_margin_amount").value = (0).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
							}	
						}
					});
				}
			}else{
				swal('Gagal','Data Product tidak Lengkap.','error');
			}
		});
	}
		
		//uom 3,4
	$(document).on('click', '.add.button.uomp', function(e) {
	addUomp();
	});

	$(document).on('click', '.remove.button.uomp', function(e) {
		removeUomp();
	});

	function addUomp(){
		var html = `<div class='row add' style='margin-left:0;'>
		<div class='col-md-12 xtc'>
		<div class='col-md-6' style='margin-top:20px'>
			<fieldset>
				<legend>UoM 3</legend>
				<table class='myTable table-striped'>
					<tr class='add-form'><td>UoM 3 Description</td><td><input type='text' class='form-control input-sm' id='uom3_nm' readOnly></td></tr>
					<tr class='add-form'><td>Barcode UoM 3</td><td><input type='text' class='form-control input-sm' id='uom3_internal_barcode' readOnly></td></tr>
					<tr class='add-form'><td>Product Description UoM 3</td><td><input type='text' class='form-control input-sm' id='uom3_prod_nm' readOnly></td></tr>
					<tr>
						<td>Handling Type UoM 3</td>
						<td><table>
							<tr>
								<td><input type='checkbox' id='uom3_htype_1' disabled> Selling Unit</td>
								<td><input type='checkbox' id='uom3_htype_2' disabled> Receiving Unit</td>
							</tr>
							<tr>
								<td><input type='checkbox' id='uom3_htype_3' disabled> Order Unit</td>
								<td><input type='checkbox' id='uom3_htype_4' disabled> Return Unit</td>
							</tr>
							<tr>
								<td><input type='checkbox' id='uom3_htype_5' disabled> Inventory Unit</td>
							</tr>
						</table></td>
					</tr>
					<tr class='add-form'><td>Cost Price UoM 3</td><td><input type='text' id='uom3_cost_price' class='form-control input-sm' readOnly></td></tr>
					<tr class='add-form'><td>Suggested Selling Price UoM 3</td><td><input type='text' id='uom3_suggested_price' class='form-control input-sm' readOnly></td></tr>
				</table>
			</fieldset>
		</div>
		<div class='col-md-6' style='margin-top:20px'>
			<fieldset>
				<legend>UoM 4</legend>
				<table class='myTable table-striped'>
					<tr class='add-form'><td>UoM 4 Description</td><td><input type='text' class='form-control input-sm' id='uom4_nm' readOnly></td></tr>
					<tr class='add-form'><td>Barcode UoM 4</td><td><input type='text' class='form-control input-sm' id='uom4_internal_barcode' readOnly></td></tr>
					<tr class='add-form'><td>Product Description UoM 4</td><td><input type='text' class='form-control input-sm' id='uom4_prod_nm' readOnly></td></tr>
					<tr>
						<td>Handling Type UoM 4</td>
						<td><table>
							<tr>
								<td><input type='checkbox' id='uom4_htype_1' disabled> Selling Unit</td>
								<td><input type='checkbox' id='uom4_htype_2' disabled> Receiving Unit</td>
							</tr>
							<tr>
								<td><input type='checkbox' id='uom4_htype_3' disabled> Order Unit</td>
								<td><input type='checkbox' id='uom4_htype_4' disabled> Return Unit</td>
							</tr>
							<tr>
								<td><input type='checkbox' id='uom4_htype_5' disabled> Inventory Unit</td>
							</tr>
						</table></td>
					</tr>
					<tr class='add-form'><td>Cost Price UoM 4</td><td><input type='text' id='uom4_cost_price' class='form-control input-sm' readOnly></td></tr>
					<tr class='add-form'><td>Suggested Selling Price UoM 4</td><td><input type='text' id='uom4_suggested_price' class='form-control input-sm' readOnly></td></tr>
					
				</table>
			</fieldset>
		</div>
		</div>
	</div>`
				
		$( '.col-md-12.xtc' ).append(html);
		$('.add.button.uomp').addClass('hidden');
		$('.remove.button.uomp').removeClass('hidden');
	}

	function removeUomp(){
    	$('.row.add').remove();
		$('.remove.button.uomp').addClass('hidden');
		$('.add.button.uomp').removeClass('hidden');
	}


</script>



<!-- `<div class='row add' style='margin-left:0;'>
		<div class='col-md-6' style='margin-top:20px'>
			<fieldset>
				<legend>UoM 3</legend>
				<table class='myTable table-striped'>
					<tr class='add-form'><td>UoM 3 Description</td><td><input type='text' class='form-control input-sm' id='uom3_nm' readOnly></td></tr>
					<tr class='add-form'><td>Barcode UoM 3</td><td><input type='text' class='form-control input-sm' id='uom3_internal_barcode' readOnly></td></tr>
					<tr class='add-form'><td>Product Description UoM 3</td><td><input type='text' class='form-control input-sm' id='uom3_prod_nm' readOnly></td></tr>
					<tr>
						<td>Handling Type UoM 3</td>
						<td><table>
							<tr>
								<td><input type='checkbox' id='uom3_htype_1' disabled> Selling Unit</td>
								<td><input type='checkbox' id='uom3_htype_2' disabled> Receiving Unit</td>
							</tr>
							<tr>
								<td><input type='checkbox' id='uom3_htype_3' disabled> Order Unit</td>
								<td><input type='checkbox' id='uom3_htype_4' disabled> Return Unit</td>
							</tr>
							<tr>
								<td><input type='checkbox' id='uom3_htype_5' disabled> Inventory Unit</td>
							</tr>
						</table></td>
					</tr>
					<tr class='add-form'><td>Cost Price UoM 3</td><td><input type='text' id='uom3_cost_price' class='form-control input-sm' readOnly></td></tr>
					<tr class='add-form'><td>Suggested Selling Price UoM 3</td><td><input type='text' id='uom3_suggested_price' class='form-control input-sm' readOnly></td></tr>
					<tr class='add-form'><td>Rounding Selling Price UoM 3</td><td><input type='text' id='uom3_rounding_price' class='form-control input-sm' readOnly></td></tr>
					<tr class='add-form'><td>Changed Selling Price UoM 3</td><td><input type='text' id='uom3_changed_price' name='uom3_changed_price' class='form-control input-sm' readOnly></td></tr>
					<tr class='add-form'><td>Member Price UoM 3</td><td><input type='text' id='uom3_member_price' name='uom3_member_price' class='form-control input-sm' readOnly></td></tr>
					<tr class='add-form'><td>Margin Amount UoM 3</td><td><input type='text' id='uom3_margin_amount' class='form-control input-sm' readOnly></td></tr>
				</table>
			</fieldset>
		</div>
		<div class='col-md-6' style='margin-top:20px'>
			<fieldset>
				<legend>UoM 4</legend>
				<table class='myTable table-striped'>
					<tr class='add-form'><td>UoM 4 Description</td><td><input type='text' class='form-control input-sm' id='uom4_nm' readOnly></td></tr>
					<tr class='add-form'><td>Barcode UoM 4</td><td><input type='text' class='form-control input-sm' id='uom4_internal_barcode' readOnly></td></tr>
					<tr class='add-form'><td>Product Description UoM 4</td><td><input type='text' class='form-control input-sm' id='uom4_prod_nm' readOnly></td></tr>
					<tr>
						<td>Handling Type UoM 4</td>
						<td><table>
							<tr>
								<td><input type='checkbox' id='uom4_htype_1' disabled> Selling Unit</td>
								<td><input type='checkbox' id='uom4_htype_2' disabled> Receiving Unit</td>
							</tr>
							<tr>
								<td><input type='checkbox' id='uom4_htype_3' disabled> Order Unit</td>
								<td><input type='checkbox' id='uom4_htype_4' disabled> Return Unit</td>
							</tr>
							<tr>
								<td><input type='checkbox' id='uom4_htype_5' disabled> Inventory Unit</td>
							</tr>
						</table></td>
					</tr>
					<tr class='add-form'><td>Cost Price UoM 4</td><td><input type='text' id='uom4_cost_price' class='form-control input-sm' readOnly></td></tr>
					<tr class='add-form'><td>Suggested Selling Price UoM 4</td><td><input type='text' id='uom4_suggested_price' class='form-control input-sm' readOnly></td></tr>
					<tr class='add-form'><td>Rounding Selling Price UoM 4</td><td><input type='text' id='uom4_rounding_price' class='form-control input-sm' readOnly></td></tr>
					<tr class='add-form'><td>Changed Selling Price UoM 4</td><td><input type='text' id='uom4_changed_price' name='uom4_changed_price' class='form-control input-sm' readOnly></td></tr>
					<tr class='add-form'><td>Member Price UoM 4</td><td><input type='text' id='uom4_member_price' name='uom4_member_price' class='form-control input-sm' readOnly></td></tr>
					<tr class='add-form'><td>Margin Amount UoM 4</td><td><input type='text' id='uom4_margin_amount' class='form-control input-sm' readOnly></td></tr>
				</table>
			</fieldset>
		</div>
	</div>` -->