body{
	font-family: '12LotteMartDreamBold', arial;
}

/* Login Form */

body.login {
	background: #fff;
	color: #666666;
	font-family: '12LotteMartDreamBold', arial;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.login-form {
  position: relative;
  background: #ffffff;
  max-width: 500px;
  width: 100%;  
  border: 1px solid #4d5050;
  margin: 0 auto;
  margin-top: 5%;
  background-color: #4d5050;
  border-radius: 10px;
  
}

.login-form .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #33b5e5;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}

.login-form .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}

.login-form .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}

.login-form .form {
  display: none;
  padding: 40px;
}

.login-form h2 {
  margin: 5px;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.login-form input {  
  outline: none;
  display: block;
  width: 90%;
  height: 40px;
  border: 1px solid #d9d9d9;  
  margin: auto auto 10px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.login-form input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}

.login-form input[type=submit] {
  cursor: pointer;
  background: #33b5e5;
  width: 90%;
  border: 0;
  padding: 10px 15px;
  margin: auto auto 20px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.login-form input[type=submit]:hover {
  background: #178ab4;
}

/* Application Form */

body.application {
    background-color: #ffffff;	
	margin: 0px 0px 0px 0px;
}

main.main {
	width: auto;
	height: 100%;		
	margin-left: 200px;	
}

div.main_top {
	width: 100%;
	background-color: #e0021c;		
	text-align: center;
	height:50px; 
}

div.main_center .content_header{
	width: 100%;
	height: 102px;
	background: #ed1c23;
	padding: 20px 0px;
}

div.main_center .content_content{		
	margin-left: 40px;
	margin-top: 50px;
	width: 90%;
}

div.table_container_large{		
	width: 90%;
	height: 100%;
	margin: 30px 0px 0px 0px;
}

div.table_container{		
	width: 75%;
	height: 100%;
	margin: 30px 0px 0px 0px;
}

div.table_container_small{		
	width: 55%;
	height: 100%;
	margin: 30px 0px 0px 0px;
}

/* Navigation Bar */

.col-centered{
    float: none;
    margin: 0 auto;
}

.dataTable, th, td{ font-size: 12px; }

.myTable th{ text-align:center }

.myTable th, .myTable td{
	vertical-align: middle;
	padding: 1px 3px;
}

nav.navbar {
  background: #ed1c23;
  border-right:1px solid #fff;
  height: 100%;
  width: 200px;
  border-radius:0;
  top: 0;
  left: 0;  
  outline: none;
  position: fixed;
  overflow: hidden;
  z-index:3;
}

nav.navbar ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}

nav.navbar ul li {
  padding: 4% 10%;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
}

nav.navbar ul li:hover {
  display: block;
  background-color: #d41219;
}

nav.navbar ul li:focus {
  outline: none;
}

nav.navbar a:link {	
    text-decoration: none;	
	color: #f1f1f1;
	display:block;
}

nav.navbar a:hover {	
    text-decoration: none;		
	color: #ffffff;
	display:block; 
}

nav.navbar a:visited {
    text-decoration: none;	
	color: #ffffff;
	display:block;
}

nav.navbar ul li img{  
  border-radius: 20%;
  overflow: hidden;  
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
  margin: auto 10px auto 0px;      
}

nav.navbar .navbar_top {
  background: rgba(0, 0, 0, 0);  
  height: 80px;
  text-align: center;
  margin: 0px 0px 0px 0px;
}

nav.navbar .navbar_center {
  margin-top:50px;
  padding: 0.5em 0.5em;
  height: 140px;
  text-align: center;
}

nav.navbar .navbar_center img {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #ffea92;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

nav.navbar .navbar_center p {
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 10px;
  color: #ffffff;
}

nav.navbar .navbar_footer {
  padding: 15px;
  text-align: center;
  margin: 0px;
}

nav.navbar .navbar_footer  table{  
  margin: auto;  
}

nav.navbar .navbar_footer  td{  
  padding: 0px 7px;  
}

nav.navbar .navbar_footer img {
  width: 20px;
  border-radius: 30%;
  overflow: hidden;  
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
}


/* Metro Style */

.metro-surface{
	padding: 30px 0px 0px 0px;
	text-align:center;
	text-decoration: none;
}

.metro-tile span i {margin-top:10%}
.metro-tile-large span i {margin-top:35%}
.metro-tile-small span i {margin-top:20%}

.boot-metro-tile span i {margin-top:20px}
.boot-metro-tile-large span i {margin-top:75px}

.judul {
	margin-top:5px;
	font-size:16px;
}

.metro-surface span{
	width:100%;
	height:100%;
	color:white;
	text-align:center;
	font-size:2em;
	display:block;
	text-decoration: none;	
}

.metro-surface table{
	border-colapse: colapse;	
}

.metro-surface a{	
	text-decoration: none;	
}

.metro-surface a:hover{	
	text-decoration: none;	
}

.metro-tile {
	background-color: #D8512B;
	border-color: #DC6241;
	width: 232px;
	height: 115px;
	padding: 5px;
	margin: 1px;
	color: #FFF;
	font-family: '12LotteMartDreamBold', arial;
	font-size: 10px;
	border-width: 3px;
	border-style: solid;
	cursor: default;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-ms-transition: 0.1s all;
	transition: 0.1s all;
	text-decoration: none;
}

.boot-metro-tile {
	background-color: #D8512B;
	border-color: #DC6241;
	height: 120px;
	padding: 5px;
	margin: 1px;
	color: #FFF;
	font-family: '12LotteMartDreamBold', arial;
	font-size: 10px;
	cursor: default;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-ms-transition: 0.1s all;
	transition: 0.1s all;
	text-decoration: none;
}

.metro-tile-large {
	width: 232px;
	height: 232px;
}

.metro-tile-small {
	width: 115px;
	height: 115px;
}

.boot-metro-tile-large {	
	height: 242px;
}

.metro-tile-dgreen {
	background-color: #0d846c;
	border-color: #0d846c;
}

.metro-tile-lgreen {
	background-color: #0d846c;
	border-color: #0d846c;
}

.metro-tile-purple {
	background-color: #823aa0;
	border-color: #823aa0;
}

.metro-tile-lblue {
	background-color: #3498db;
	border-color: #3498db;
}

div.metro-tile:hover {
	-webkit-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	-moz-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	-ms-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	border-width: 3px;
	border-style:solid; 
	text-decoration: none;
}

div.boot-metro-tile:hover {
	-webkit-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	-moz-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	-ms-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	border-width: 3px;
	border-style:solid; 
	text-decoration: none;
}

/* Breadcrumb */

.red-breadcrumb { 
	margin-left: -30px;
	margin-bottom: 20px;
	list-style: none;
	overflow: hidden;
	font-size: 28px;
	margin-top: 9px;
}

.red-breadcrumb li a {
	color: white;
	text-decoration: none;
	padding: 5px 5px;
	background: red;
	background: hsl(358, 85%, 52%);
	position: relative;
	display: block;
	float: left;
	margin-top: 0;
	text-align: center;
	vertical-align: middle;
}

.red-breadcrumb li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid hsl(358, 85%, 52%);
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
	text-decoration: none;
}

.red-breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;       
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
	text-decoration: none;
}

.red-breadcrumb li:first-child a {
	padding-left: 10px;
}
.red-breadcrumb li:nth-child(2) a       { background:        hsl(358, 85%, 52%);  margin-left: 45px;}
.red-breadcrumb li:nth-child(2) a:after { border-left-color: hsl(358, 85%, 52%); }
.red-breadcrumb li:nth-child(3) a       { background:        hsl(358, 85%, 52%); margin-left: 45px;}
.red-breadcrumb li:nth-child(3) a:after { border-left-color: hsl(358, 85%, 52%); }
.red-breadcrumb li:nth-child(4) a       { background:        hsl(358, 85%, 52%); margin-left: 45px;}
.red-breadcrumb li:nth-child(4) a:after { border-left-color: hsl(358, 85%, 52%); }
.red-breadcrumb li:nth-child(5) a       { background:        hsl(358, 85%, 52%)	; margin-left: 45px;}
.red-breadcrumb li:nth-child(5) a:after { border-left-color: hsl(358, 85%, 52%); }


.red-breadcrumb li a:hover { background: #d41219 }
.red-breadcrumb li a:hover:after { border-left-color: #d41219 !important; }

/* Form */

.add-link {
  background: #33b5e5;
  width: 100px;
  height: 30px;
  border: 0;  
  margin: 10px 0px 20px 0px;  
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;    
}

.add-link a {    
  color: #ffffff;
  text-decoration: none;
  height: 30px;
  width: 100px;
  text-align: center;  
  background: #33b5e5;   
  display:table-cell; 
  vertical-align: middle;
}

.add-link a:hover {
  background: #178ab4;  
  display:table-cell; 
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
  height: 30px;
  width: 100px;
  text-align: center;      
}

.add-form input, .add-form select {
  outline: none;
  display: block; 
  height: 25px;
  border: 1px solid #d9d9d9;  
  margin: 5px 0px 5px 0px;
  padding: 0px 5px;
  box-sizing: border-box;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;  
}

.add-form label {
  outline: none;
  display: block; 
  height: 25px;
  margin: 5px 0px 5px 0px;
  padding: 5px 5px;  
}

.add-form table {
	margin-right: 20px;	
}

.add-form table tbody {
	vertical-align: top;		
}

.add-form input[type=submit] {
  cursor: pointer;
  background: #33b5e5;
  width: 100px;
  height: 30px;
  border: 0;
  padding: 5px 5px;
  margin: 10px 0px 20px 0px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.add-form input[type=submit]:hover {
  background: #178ab4;
}

/* add for input xs */
.input-xs {
  height: 25px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
}

.input-file{
  height: 25px;
  padding: 0px 0px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
}

.form-control {
	margin-top:5px;
}

.form-check {
	min-height:30px;
}	

.form-group {
	margin-bottom:5px;
}

.label_form {
	margin-top:10px;
	min-height:20px;
}

.label_form-xs {
	font-size: 12px;
	margin-top:10px;
	max-height:15px;
}

/* end add for input xs */

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; font-size:12px }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }