<?php
	echo '<div class="content_header">';		
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Immpos'), '<span> IMMPOS </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('RiwayatPenjualan'), '<span> Riwayat Penjualan </span>']).'</li>';
		echo '</ul>';		
	echo '<div>';
	
	if(isset($_POST['from'])){
		$value_from = $_POST['from'];
	}else{
		$value_from = date('Y-m-d', strtotime('-1 week'));
	}

	if(isset($_POST['to'])){
		$value_to = $_POST['to'];
	}else{
		$value_to = date('Y-m-d');
	}
	
	echo '<div class="content_content">
		<legend> Riwayat Penjualan </legend>
	';
		// edited here
		echo '		
		<form class="form-inline" method="POST" style="margin:30px 0px" id="form-filter">
			Tanggal Periode : 
			<input type="date" name="from" id="from_date" class="form-control input-sm" value="'.$value_from.'" style="margin:1px"/>
			<input type="date" name="to" id="to_date" class="form-control input-sm" value="'.$value_to.'" style="margin:1px"/>
			<input type="button" value="Tampilkan" class="btn btn-primary btn-sm" style="margin-top:5px" id="btn-tampil">	
		</form> ';
		echo '<table id="DataTable2">
			<thead>
				<tr>
					<th style="text-align:center">Tanggal</th>
					<th style="text-align:center">POS</th>
					<th style="text-align:center">Shift</th>
					<th style="text-align:center">No. Struk</th>
					<th style="text-align:center">Customer</th>
					<th style="text-align:center">Total</th>
					<th style="text-align:center">Aksi</th>
				</tr>
			</thead><tbody>';
			
		if(isset($_POST['from'])){			
			$data = new Jual();
			// $condition = " WHERE tanggal = '".$_POST['tanggal']."' ";
			$condition = " WHERE DATE(tanggal) BETWEEN '".$_POST['from']."' AND '".$_POST['to']."' ORDER BY tanggal asc ";
			$lists = $data::getJoin_Customer($condition);
			if($lists){
				foreach($lists as $list){
					echo '<tr>
							<td style="text-align:center">'.$list['tanggal'].'</td>
							<td style="text-align:center">'.$list['kassa'].'</td>
							<td style="text-align:center">'.$list['shift'].'</td>
							<td style="text-align:center"><a href="" class="modalStruk" data-toggle="modal" data-id="'.$list['id_jual'].'" data-target="#myModal">'.$list['id_jual'].'</a></td>
							<td style="text-align:center">'.$list['br_name'].'</td>
							<td style="text-align:right">'.$list['total'].'</td>
							<td style="text-align:center"><a href="#" value="'.$list['id_jual'].'" class="printStruk"><i class="fa fa-print fa-lg"></i></a>&nbsp;&nbsp;								
															
							</td>
						</tr>
					';
					$count++;
					// <a href="RiwayatPenjualan/delete?id_jual='.$list['id_jual'].'" title="Hapus"><i class="fa fa-close fa-lg"></i></a>
				}
			}else{}
		}else{
			echo '';
		}
		
		echo '</tbody></table>';
	echo '</div>';


	echo '
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Struk Detail</h4>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
				<table class="table-bordered myTable">
					<thead>
						<tr>
							<th>Item Code</th>
							<th>Item Description</th>
							<th>Harga</th>
							<th>Harga Member</th>
							<th>Quantity</th>
							<th>Discount</th>
							<th>Total</th>
							<th>Promo</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				</div>
			</div>
			<div class="modal-footer"></div>
		</div>

	  </div>
	</div>';
	
?>
<script>
	$('#btn-tampil').click(function(){
		var start = document.getElementById("from_date").value;
		var end = document.getElementById("to_date").value;
		var date_start = new Date(start);
		var date_end = new Date(end);
		if(date_start>date_end){
			swal({
				title: "Periode Tanggal Salah",
				text: "Tanggal Awal Tidak Boleh Lebih Dari Tanggal Akhir",
				type: "warning",
				html: true
			},
			function(isConfirm){
				if (isConfirm) {
					location.reload();
				}
			});
		}else{
			$("#form-filter").submit();
		}
	});
	$(function(){
		$("#tanggal").datepicker({ dateFormat: 'yy-mm-dd'});
	});
	
	$('.printStruk').click(function() {	
		$.post( "<?php echo $this->url->get(uri('Penjualan/cetak_struk')) ?>?id_jual="+$(this).attr('value')+"" );
	});
	
	$(document).on("click", ".modalStruk", function(){
		var id_jual = $(this).data('id');
		var myArray = [];
		
		$.ajax({ url: "<?php echo $this->url->get(uri('RiwayatPenjualan/ajaxStruk')) ?>?id_jual="+id_jual+"" }).done(function(data){
			$('.myTable tbody').empty();
			myArray = JSON.parse(data);
			
			console.log(myArray);
			
			for(var i=0;i<myArray.length;i++){
				tr = $('<tr>');
				
				if(myArray[i].harga == null){
					myArray[i].harga = "";
				}
				
				if(myArray[i].harga_member == null){
					myArray[i].harga_member = "";
				}
				
				if(myArray[i].qty == null){
					myArray[i].qty = "";
				}
				
				if(myArray[i].discount == null){
					myArray[i].disount = "";
				}
				
				if(myArray[i].total == null){
					myArray[i].total = "";
				}
				
				if(myArray[i].promo == null){
					myArray[i].promo = "";
				}
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ format(myArray[i].harga) +"</td>");
				tr.append("<td>"+ format(myArray[i].harga_member) +"</td>");
				tr.append("<td>"+ myArray[i].qty +"</td>");
				tr.append("<td>"+ myArray[i].discount +"</td>");
				tr.append("<td>"+ format(myArray[i].total) +"</td>");
				tr.append("<td>"+ myArray[i].promo +"</td>");
				
				$('.myTable tbody').append(tr);
			}
		});
		
	});
		
</script>




