<?php
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('StockOpname'), '<span> Stock Opname </span>']).'</li>
		</ul>
	<div>';	
	
	echo '<div class="content_content">';
		echo '<div class="metro-surface">';
			echo '							
				<div class="col-sm-4 boot-metro-tile boot-metro-tile-large metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('Penyesuaian'), '<span><i class="fa fa-balance-scale fa-2x"></i><div class="judul">Penyesuaian</div></span>']).'
				</div>
				
				<div class="col-sm-4 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('SOBulanan'), '<span><i class="fa fa-calendar fa-2x"></i><div class="judul">SO Bulanan</div></span>']).'
				</div>
				
				<div class="col-sm-4 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('SOHarian'), '<span><i class="fa fa-calendar-check-o fa-2x"></i><div class="judul">SO Harian</div></span>']).'
				</div>					
			';
		echo '</div>';
	echo '<div>';
?>

