<style>
/*.DataTableZero .markData { color: blue; font-weight: bold; }*/

.styled_margin{
	margin-top:2px;
}

.styled_margin label{
	margin-top:10px;
}

.styled_header{
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 5px;
	text-align: left;
	min-height: 200px;		
}

.styled_button{
	border: 1px solid #fff;
	padding: 10px;
	text-align: left;
	min-height: 50px;		
}
</style>

<script type="text/javascript">
	
	var myTable;
	var count=0;

	$(function(){
		$("#delivery_date").datepicker({ dateFormat: 'yy-mm-dd'});
	});

	$(document).ready( function () {
		$("#btn_save").click(function(e){
			e.preventDefault();
			$('.modal').show();

			$('#data-form').ajaxSubmit({				
				dataType: 'json',
				success: function (data) {
					$('.modal').hide();

					if(data.type == 'S'){
						swal({
							title: "Success!",
							text: data.message,
							type: "success",
							showCancelButton: false,
							closeOnConfirm: false,
							html:true,
						},
						function(isConfirm){
							if (isConfirm) {								
								window.location = '<?php echo $this->url->get(uri('TopUp')) ?>';								
							}
						});
						
					}else if(data.type == 'E'){
						swal({
							title: "Failed!",
							text: data.message,
							type: "error",
							showCancelButton: false,
							closeOnConfirm: false,
							html:true,
						},
						function(isConfirm){
							if (isConfirm) {
								location.reload();
							}
						});						
					}
				},
				error: function(data ) {
					$('.modal').hide();

					swal({
						title: "Failed!",
						text: 'Terjadi Kesalahan',
						type: "error",
						showCancelButton: false,
						closeOnConfirm: false,
						html:true,
					},
					function(isConfirm){
						if (isConfirm) {
							location.reload();
						}
					});
				}
			});
		})
		$(".check-all").change(function() {
			var ischecked= $(this).is(':checked');
			if(!ischecked){
				$('.sum-topup').each(function(){
					$(this).removeAttr("checked");
				});
				kalkulasi();
			}else{
				$('.sum-topup').each(function(){
					$(this).attr('checked', true);
				});
				kalkulasi();
			}
		});

		$(".sum-topup").change(function() {
			var ischecked= $(this).is(':checked');
			if(!ischecked){
				$(this).removeAttr("checked");
				kalkulasi();
				var week = "#week"+$(this).data('id');
				var jumlah = "#jumlah"+$(this).data('id');
				$(week).remove();
				$(jumlah).remove();
			}else{
				$(this).attr('checked', true);
				kalkulasi();
				var html = `<input type="hidden" name="week`+$(this).data('id')+`" value="`+$(this).data('week')+`" id="week`+$(this).data('id')+`" class="week-tunai">
				<input type="hidden" name="jumlah`+$(this).data('id')+`" value="`+$(this).val()+`" id="jumlah`+$(this).data('id')+`" class="week-tunai">`;
				$('#append-tunai').append(html);
			}
			$('#tunai-week').val(($(this).data('week')));
			$('#tunai-jumlah').val(($(this).val()));
		});

		$(".sum-kredit").change(function() {
			var ischecked= $(this).is(':checked');
			if(!ischecked){
				$(this).removeAttr("checked");
				kalkulasikredit();
				var member = "#member"+$(this).data('member');
				$(member).remove();
			}else{
				$(this).attr('checked', true);
				kalkulasikredit();
				var html = `<input type="hidden" name="member[`+$(this).data('member')+`]" value="`+$(this).val()+`" id="member`+$(this).data('member')+`" class="member-kredit">`;
				// <input type="hidden" name="member[][jumlah]" value="`+$(this).val()+`" id="jumlah`+$(this).data('member')+`">`;
				$('#append-kredit').append(html);
			}
		});

		function kalkulasi(){
			var tots = 0;
			$('.sum-topup').each(function(){
				if($(this).prop('checked')){
					var num = $(this).val();
					var x = num.toString();
					var res = x.replace(".", "");
					var n = parseInt(res);
					if(n)
						tots += n;
				}
			});
			$('.jumlah-topup').val(tots);
		}

		function kalkulasikredit(){
			var tots = 0;
			$('.sum-kredit').each(function(){
				if($(this).prop('checked')){
					var num = $(this).val();
					var x = num.toString();
					var res = x.replace(".", "");
					var n = parseInt(res);
					if(n)
						tots += n;
				}
			});
			$('.jumlah-topup').val(tots);
		}

		myTable = $('.DataTableZero').DataTable({
			"info"			: true,
			"paging"		: 10,
			"ordering"		: false,
			"searching"		: false,
			"deferRender" 	: true,
			"scrollCollapse": true,
			"scrollY"		: "200px",
			"fnRowCallback"	: function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {					
				$('td:eq(3),td:eq(4)', nRow).addClass( "markData" );
			}
		});

		$('#combo').on('change', function(){
			var val = this.value
			// console.log(val)
			// 
			if(val == 1){
				$(".member-kredit").remove();
				$('.deposit').addClass('hidden');
				// $('.modalx').addClass('hidden');
				$('.setoran').removeClass('hidden');
				$(".jumlah-topup").val('');
				$(".jumlah-topup").attr('readonly', false);
				myTable.draw();
				// test();
			}else if(val == 2){
				$(".week-tunai").remove();

				// $('.modal').addClass('hidden');
				$('.setoran').addClass('hidden');
				$('.deposit').removeClass('hidden');
				$(".jumlah-topup").val('');
				$(".jumlah-topup").attr('readonly', false);

				myTable.draw();	
			}else if(val == 3){
				$(".week-tunai").remove();
				$(".member-kredit").remove();
				$('.setoran').addClass('hidden');
				$('.deposit').addClass('hidden');
				// myTable.draw();	
				// $('.modalx').removeClass('hidden');
				$(".jumlah-topup").val('');
				$(".jumlah-topup").attr('readonly', false);


			}else{
				$('.deposit').addClass('hidden');
				$('.setoran').addClass('hidden');
				$(".jumlah-topup").val('');
				$(".jumlah-topup").attr('readonly', false);
			}
		});							

	});	

</script>
<?php

$now = date('Y-m-d');

echo '<div class="content_header">
<ul class="red-breadcrumb">
<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
<li>'.Phalcon\Tag::linkTo([uri('KasBank'), '<span> Kas Bank </span>']).'</li>
<li>'.Phalcon\Tag::linkTo([uri('TopUp'), '<span> Top Up Escrow </span>']).'</li>
</ul>
<div>';		

echo '<div class="content_content">';		
echo '<legend> Top Up Escrow </legend>';

echo $this->tag->form([uri("TopUp/insert"), "id"=>"data-form", "type"=>"post","enctype"=>"multipart/form-data"]);
echo '<input type="hidden" id="json_data" name="json_data">';
$totjual = new Jual();
echo '
<div class="col-sm-6 styled_header">
<div class="col-sm-4 styled_margin">
<label> Saldo </label>
</div>
<div class="col-sm-8 styled_margin">
'.$this->tag->textField(["saldo", "class"=>"form-control input-sm", "value"=> number_format($saldo,2,',','.'), "readonly"=>"true"]).'
</div>

<div class="col-sm-4 styled_margin">
<label> Tanggal Setor Bank </label>
</div>
<div class="col-sm-8 styled_margin">
'.$this->tag->dateField(["tanggal", "class"=>"form-control input-sm", "value"=>$now]).'
</div>

<div class="col-sm-4 styled_margin">
<label> Jenis Top Up </label>
</div>

<input type="hidden" name="totaljual" value="'.$totjual::getSumTotalPenjualan().'">

<div class="col-sm-8 styled_margin dropdown">
<select class="form-control dropdown" id="combo" name="jenis">
<option>Pilih Jenis TopUp</option>
<option value="1">Setoran Penjualan Tunai</option>
<option value="2">Setoran Penjualan Kredit</option>
<option value="3">Setoran Modal</option>
</select>
</div>

<div class="col-sm-4 styled_margin">
<label> Rekening Escrow </label>
</div>
<div class="col-sm-8 styled_margin">
'.$this->tag->textField(["escrow", "size" => 30, "class" => "form-control", "value" => $rekening ,"readonly"=>"readonly"]).'
</div>
<div class="col-sm-4 styled_margin">
<label> Nama Bank </label>
</div>
<div class="col-sm-8 styled_margin">
'.$this->tag->textField(["escrow", "size" => 30, "class" => "form-control", "value" => $rekening_nama ,"readonly"=>"readonly"]).'
</div>
<div class="col-sm-4 styled_margin">
<label> Nama Pemilik </label>
</div>
<div class="col-sm-8 styled_margin">
'.$this->tag->textField(["escrow", "size" => 30, "class" => "form-control", "value" => $rekening_pemilik ,"readonly"=>"readonly"]).'
</div>

<div class="col-sm-4 styled_margin">
<label> Jumlah (Rp) </label>
</div>
<div class="col-sm-8 styled_margin">
'.$this->tag->textField(["jumlah", "size" => 30, "class" => "form-control jumlah-topup"]).'
</div>

<div class="col-sm-4 styled_margin">
<label> Bukti Transfer </label>
</div>
<div class="col-sm-8 styled_margin">
'.$this->tag->fileField(["lampiran", "class" => "form-control", "id" => "fieldImageFile","accept"=>"image/*"]).'
</div>
</div>
<input type="hidden" name="periode" value="'.date('mY').'">
<div id="append-tunai">
</div>
<div id="append-kredit">
</div>
<div class="col-sm-12 styled_button">
<center>
<button type="submit" id="btn_save" class="btn btn-primary btn-sm"> Simpan </button>
<button id="btn_reset" type="reset" class="btn btn-warning btn-sm"> Reset </button>	
</center>
</div>';		

echo $this->tag->endForm();

echo '						

<div class="col-sm-12 setoran hidden" style="margin-bottom:20px">
<table class="DataTableZero">
<thead>
<tr>
<th style="text-align: center"> No</th>
<th style="text-align: center"> Periode Penjualan </th>
<th style="text-align: center"> Sisa (Rp) </th>
<th style="text-align: center"> Sudah Setor (Rp)</th>
</tr>
</thead>

<tbody>
';
// <th style="text-align: center">  </th>
$tot = new Jual();
$min = $tot::getMinDateJual();
$max = $tot::getMaxDateJual();

$min = strtotime($min);
$max = strtotime($max);

$min = date('Y-m-d',$min);
$max = date('Y-m-d',$max);
$nomor = 1;

$sum_tot = 0;
$totalperiode = $tot::getSumTopupTunaiAll();

while (strtotime($min) <= strtotime($max)) {
	if($tot::checkSOD($min)){
		$hari ='';
		switch (date( "N" ,strtotime($min))) {
		    case 1:
		        $hari = 'Senin'; 
		        break;
		    case 2:
		        $hari = 'Selasa'; 
		        break;
		    case 3:
		        $hari = 'Rabu'; 
		        break;
		    case 4:
		        $hari = 'Kamis'; 
		        break;
		    case 5:
		        $hari = 'Jumat'; 
		        break;
		    case 6:
		        $hari = 'Sabtu'; 
		        break;
		    case 7:
		        $hari = 'Minggu'; 
		        break;
		    default:
		        $hari = 'Senin'; 
		}
		$condition = " DATE(jual.tanggal) = '".$min."' ";
		$daytotal = $tot::getSumTotalDay($condition);

		if($totalperiode>0){
			if($daytotal<=$totalperiode){
				$bayar = $daytotal;
				$sisa = 0;
				$totalperiode = $totalperiode-$daytotal;
			}else{
				$bayar = $totalperiode;
				$sisa = $daytotal-$totalperiode;
				$totalperiode = 0;
			}
		}else{
			$bayar = 0;
			$sisa = $daytotal;
		}

		$sum_tot = $sum_tot + $sisa;
		echo '
		<tr>
			<td style="text-align: center">'.$nomor.'</td>
			<td style="text-align: center">'.$hari.'  '.date( "d M Y" ,strtotime($min)).'</td>
			<td style="text-align: center">'.number_format($sisa,0,',','.').'</td>
			<td style="text-align: center">'. number_format($bayar,0,',','.').'</td>
		</tr>
		';
		$nomor++;
	}
	$min = date ("Y-m-d", strtotime("+1 day", strtotime($min)));
}

// echo '
// ';

echo'
</tbody>
<tfoot style="background: LightGrey;">
<tr>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
</tr>
<tr>
<td style="text-align: center"></td>
<td style="text-align: right; font-weight: bold; ">Total</td>
<td style="text-align: center; font-weight: bold; ">'. number_format($sum_tot,0,',','.').'</td>
<td style="text-align: center"></td>
</tr>
</tfoot>
</table>
</div>

<div class="col-sm-12 deposit hidden" style="margin-bottom:20px">
<table class="DataTableZero">
<thead>
<tr>
<th>No </th>
<th>Nomor Member</th>					  
<th>Nama</th>
<th style="text-align: center">Sisa (Rp)</th>
<th style="text-align: center">Lunas (Rp)</th>
</tr>
</thead>

<tbody>';
// <th></th>

$sk = new Member();
$setorkredit = $sk::getMemberKredit();
$nom = 1;
$total = 0;
$jual = new Jual();
$totalbayar = $jual::getSumTopupMember();
foreach ($setorkredit as $kredit) {
	
	$pmember = new Jual();
	$paymember = $pmember::getTopupMember($kredit['nomor_member']);
	// var_dump($paymember);
	$hutangbayar = $kredit['hutang'] - $paymember;

	if($totalbayar>0){
		if($hutangbayar<=$totalbayar){
			$bayar = $hutangbayar;
			$sisa = 0;
			$totalbayar = $totalbayar-$hutangbayar;
		}else{
			$bayar = $totalbayar;
			$sisa = $hutangbayar-$totalbayar;
			$totalbayar = 0;
		}
	}else{
		$bayar = 0;
		$sisa = $hutangbayar;
	}

	$total += $sisa;
	// if($hutangbayar!=0){
	echo '
	<tr>
	<td>'.$nom++.'</td>
	<td>'.$kredit['nomor_member'].'</td>
	<td>'.$kredit['br_name'].'</td>
	<td style="text-align: center">'.number_format($sisa,0,',','.').'</td>
	<td style="text-align: center">'.number_format($bayar,0,',','.').'</td>
	</tr>
	';
			// <td><input type="checkbox" value="'.$sisa.'" data-member="'.$kredit['nomor_member'].'" class="sum-kredit"></td>
	// }
}

echo '
</tbody>
<tfoot style="background: LightGrey;">
<tr>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
</tr>
<tr>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
<td style="text-align: right; font-weight: bold; ">Total</td>
<td style="text-align: center; font-weight: bold; ">'. number_format($total,0,',','.').'</td>
<td style="text-align: center"></td>
</tr>
</tfoot>
</table>
</div>
';

echo '			
<div class="modal" style="display: none">
<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
</div>
';
echo '</div>';

echo '			
<div class="modal" style="display: none">
<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
</div>
';
?>	