<style>
/*.DataTableZero .markData { color: blue; font-weight: bold; }*/

.styled_margin{
	margin-top:2px;
}

.styled_margin label{
	margin-top:10px;
}

.styled_header{
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 5px;
	text-align: left;
	min-height: 200px;		
}

.styled_button{
	border: 1px solid #fff;
	padding: 10px;
	text-align: left;
	min-height: 50px;		
}
</style>

<script type="text/javascript">
	
	var myTable;
	var count=0;

	$(function(){
		$("#delivery_date").datepicker({ dateFormat: 'yy-mm-dd'});
	});

	$(document).ready( function () {
		$("#btn_save").click(function(e){
			e.preventDefault();
			$('.modal').show();

			$('#data-form').ajaxSubmit({				
				dataType: 'json',
				success: function (data) {
					$('.modal').hide();

					if(data.type == 'S'){
						swal({
							title: "Success!",
							text: data.message,
							type: "success",
							showCancelButton: false,
							closeOnConfirm: false,
							html:true,
						},
						function(isConfirm){
							if (isConfirm) {
								location.reload();
							}
						});
						
					}else if(data.type == 'E'){
						swal({
							title: "Failed!",
							text: data.message,
							type: "error",
							showCancelButton: false,
							closeOnConfirm: false,
							html:true,
						},
						function(isConfirm){
							if (isConfirm) {
								location.reload();
							}
						});						
					}
				},
				error: function(data ) {
					$('.modal').hide();

					swal({
						title: "Failed!",
						text: 'Terjadi Kesalahan',
						type: "error",
						showCancelButton: false,
						closeOnConfirm: false,
						html:true,
					},
					function(isConfirm){
						if (isConfirm) {
							location.reload();
						}
					});
				}
			});
		})
		$(".check-all").change(function() {
			var ischecked= $(this).is(':checked');
			if(!ischecked){
				$('.sum-topup').each(function(){
					$(this).removeAttr("checked");
				});
				kalkulasi();
			}else{
				$('.sum-topup').each(function(){
					$(this).attr('checked', true);
				});
				kalkulasi();
			}
		});

		$(".sum-topup").change(function() {
			var ischecked= $(this).is(':checked');
			if(!ischecked){
				$(this).removeAttr("checked");
				kalkulasi();
				var week = "#week"+$(this).data('id');
				var jumlah = "#jumlah"+$(this).data('id');
				$(week).remove();
				$(jumlah).remove();
			}else{
				$(this).attr('checked', true);
				kalkulasi();
				var html = `<input type="hidden" name="week`+$(this).data('id')+`" value="`+$(this).data('week')+`" id="week`+$(this).data('id')+`" class="week-tunai">
				<input type="hidden" name="jumlah`+$(this).data('id')+`" value="`+$(this).val()+`" id="jumlah`+$(this).data('id')+`" class="week-tunai">`;
				$('#append-tunai').append(html);
			}
			$('#tunai-week').val(($(this).data('week')));
			$('#tunai-jumlah').val(($(this).val()));
		});

		$(".sum-kredit").change(function() {
			var ischecked= $(this).is(':checked');
			if(!ischecked){
				$(this).removeAttr("checked");
				kalkulasikredit();
				var member = "#member"+$(this).data('member');
				$(member).remove();
			}else{
				$(this).attr('checked', true);
				kalkulasikredit();
				var html = `<input type="hidden" name="member[`+$(this).data('member')+`]" value="`+$(this).val()+`" id="member`+$(this).data('member')+`" class="member-kredit">`;
				// <input type="hidden" name="member[][jumlah]" value="`+$(this).val()+`" id="jumlah`+$(this).data('member')+`">`;
				$('#append-kredit').append(html);
			}
		});

		function kalkulasi(){
			var tots = 0;
			$('.sum-topup').each(function(){
				if($(this).prop('checked')){
					var num = $(this).val();
					var x = num.toString();
					var res = x.replace(".", "");
					var n = parseInt(res);
					if(n)
						tots += n;
				}
			});
			$('.jumlah-topup').val(tots);
		}

		function kalkulasikredit(){
			var tots = 0;
			$('.sum-kredit').each(function(){
				if($(this).prop('checked')){
					var num = $(this).val();
					var x = num.toString();
					var res = x.replace(".", "");
					var n = parseInt(res);
					if(n)
						tots += n;
				}
			});
			$('.jumlah-topup').val(tots);
		}

		myTable = $('.DataTableZero').DataTable({
			"info"			: true,
			"paging"		: false,
			"ordering"		: false,
			"searching"		: false,
			"deferRender" 	: true,
			"scrollCollapse": true,
			"scrollY"		: "200px",
			"fnRowCallback"	: function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {					
				$('td:eq(3),td:eq(4)', nRow).addClass( "markData" );
			}
		});

		$('#combo').on('change', function(){
			var val = this.value
			// console.log(val)
			// 
			if(val == 1){
				$(".member-kredit").remove();
				$('.deposit').addClass('hidden');
				// $('.modalx').addClass('hidden');
				$('.setoran').removeClass('hidden');
				$(".jumlah-topup").val('');
				$(".jumlah-topup").attr('readonly', false);
				myTable.draw();
				// test();
			}else if(val == 2){
				$(".week-tunai").remove();

				// $('.modal').addClass('hidden');
				$('.setoran').addClass('hidden');
				$('.deposit').removeClass('hidden');
				$(".jumlah-topup").val('');
				$(".jumlah-topup").attr('readonly', false);

				myTable.draw();	
			}else if(val == 3){
				$(".week-tunai").remove();
				$(".member-kredit").remove();
				$('.setoran').addClass('hidden');
				$('.deposit').addClass('hidden');
				// myTable.draw();	
				// $('.modalx').removeClass('hidden');
				$(".jumlah-topup").val('');
				$(".jumlah-topup").attr('readonly', false);


			}else{
				$('.deposit').addClass('hidden');
				$('.setoran').addClass('hidden');
				$(".jumlah-topup").val('');
				$(".jumlah-topup").attr('readonly', false);
			}
		});							

	});	

</script>
<?php

$now = date('Y-m-d');

echo '<div class="content_header">
<ul class="red-breadcrumb">
<li>'.Phalcon\Tag::linkTo(['immbo', '<span> IMMBO-STORE </span>']).'</li>
<li>'.Phalcon\Tag::linkTo(['KasBank', '<span> Kas Bank </span>']).'</li>
<li>'.Phalcon\Tag::linkTo(['TopUp', '<span> Top Up Escrow </span>']).'</li>
</ul>
<div>';		

echo '<div class="content_content">';		
echo '<legend> Top Up Escrow </legend>';

echo $this->tag->form([uri("TopUp/insert", "id"=>"data-form", "type"=>"post","enctype"=>"multipart/form-data"]);
echo '<input type="hidden" id="json_data" name="json_data">';

echo '
<div class="col-sm-6 styled_header">
<div class="col-sm-4 styled_margin">
<label> Saldo </label>
</div>
<div class="col-sm-8 styled_margin">
'.$this->tag->textField(["saldo", "class"=>"form-control input-sm", "value"=> number_format($saldo,2,',','.'), "readonly"=>"true"]).'
</div>

<div class="col-sm-4 styled_margin">
<label> Tanggal Setor Bank </label>
</div>
<div class="col-sm-8 styled_margin">
'.$this->tag->dateField(["tanggal", "class"=>"form-control input-sm", "value"=>$now]).'
</div>

<div class="col-sm-4 styled_margin">
<label> Jenis Top Up </label>
</div>

<div class="col-sm-8 styled_margin dropdown">
<select class="form-control dropdown" id="combo" name="jenis">
<option>Pilih Jenis TopUp</option>
<option value="1">Setoran Penjualan Tunai</option>
<option value="2">Setoran Penjualan Kredit</option>
<option value="3">Setoran Modal</option>
</select>
</div>

<div class="col-sm-4 styled_margin">
<label> Rekening Escrow </label>
</div>
<div class="col-sm-8 styled_margin">
'.$this->tag->textField(["escrow", "size" => 30, "class" => "form-control", "value" => $rekening ,"readonly"=>"readonly"]).'
</div>

<div class="col-sm-4 styled_margin">
<label> Jumlah (Rp) </label>
</div>
<div class="col-sm-8 styled_margin">
'.$this->tag->textField(["jumlah", "size" => 30, "class" => "form-control jumlah-topup"]).'
</div>

<div class="col-sm-4 styled_margin">
<label> Bukti Transfer </label>
</div>
<div class="col-sm-8 styled_margin">
'.$this->tag->fileField(["lampiran", "class" => "form-control", "id" => "fieldImageFile","accept"=>"image/*"]).'
</div>
</div>
<input type="hidden" name="periode" value="'.date('mY').'">
<div id="append-tunai">
</div>
<div id="append-kredit">
</div>
<div class="col-sm-12 styled_button">
<center>
<button type="submit" id="btn_save" class="btn btn-primary btn-sm"> Simpan </button>
<button id="btn_reset" type="reset" class="btn btn-warning btn-sm"> Reset </button>	
</center>
</div>';		

echo $this->tag->endForm();

echo '						

<div class="col-sm-12 setoran hidden" style="margin-bottom:20px">
<table class="DataTableZero">
<thead>
<tr>
<th style="text-align: center"> No</th>
<th style="text-align: center"> Periode Penjualan </th>
<th style="text-align: center"> Sisa (Rp) </th>
<th style="text-align: center"> Terbayar (Rp)</th>
</tr>
</thead>

<tbody>
';
// <th style="text-align: center">  </th>
$nomor =1;
$firstDayOfMonth = date('Y-m-d', strtotime('First Monday of '.date('Y-m')));
$bulan = date('F');

$week1 = $firstDayOfMonth;

$date1 = new DateTime($week1);
$date2 = date('Y-m-01');
$date3 = new DateTime($date2);
if($date1->diff($date3)->format("%a")>=4){
	$week1 = date('Y-m-d', strtotime('-7 day', strtotime($week1)));
}

$week2 = date( "Y-m-d" ,strtotime('next Monday', strtotime( $week1 ) ) );
$week3 = date( "Y-m-d" ,strtotime('next Monday', strtotime( $week2 ) ) );
$week4 = date( "Y-m-d" ,strtotime('next Monday', strtotime( $week3 ) ) );
$week5 = date( "Y-m-d" ,strtotime('next Monday', strtotime( $week4 ) ) );


$week1_end = date_create(date('Y-m-d', strtotime('+6 day', strtotime($week1))));
$week1 = date_create($week1);
$tot = new Jual();
$periode = date('mY');
$totalperiode = $tot::getSumTopupTunai($periode);
$sum_tot = 0;

$condition = " jual.tanggal BETWEEN '".date_format($week1, 'Y-m-d')."' AND '".date_format($week1_end, 'Y-m-d')."' ";
$string = 'Minggu I '.$bulan.' '.date('Y').' Tgl '.date_format($week1, 'd/m').' - '.date_format($week1_end, 'd/m').'';
// $pay = $tot::getTopupWeek($string);
$week1_total = $tot::getSumTotalWeek($condition);
if($totalperiode>0){
	if($week1_total<=$totalperiode){
		$bayar = $week1_total;
		$sisa = 0;
		$totalperiode = $totalperiode-$week1_total;
	}else{
		$bayar = $totalperiode;
		$sisa = $week1_total-$totalperiode;
		$totalperiode = 0;
	}
}else{
	$bayar = 0;
	$sisa = $week1_total;
}

$sum_tot = $sum_tot + $sisa;
// if($week1_total!=0){
echo '
	<tr>
	<td style="text-align: center">'.$nomor++.'</td>
	<td style="text-align: center">'.$string.'</td>
	<td style="text-align: center">'.number_format($sisa,0,',','.').'</td>
	<td style="text-align: center">'. number_format($bayar,0,',','.').'</td>
	</tr>
	';


$week2_end = date_create(date('Y-m-d', strtotime('+6 day', strtotime($week2))));
$week2 = date_create($week2);

$condition = " jual.tanggal BETWEEN '".date_format($week2, 'Y-m-d')."' AND '".date_format($week2_end, 'Y-m-d')."' ";
$string = 'Minggu II '.$bulan.' '.date('Y').' Tgl '.date_format($week2, 'd/m').' - '.date_format($week2_end, 'd/m').'';
// $pay = $tot::getTopupWeek($string);
$week2_total = $tot::getSumTotalWeek($condition);

if($totalperiode>0){
	if($week2_total<=$totalperiode){
		$bayar = $week2_total;
		$sisa = 0;
		$totalperiode = $totalperiode-$week2_total;
	}else{
		$bayar = $totalperiode;
		$sisa = $week2_total-$totalperiode;
		$totalperiode = 0;
	}
}else{
	$bayar = 0;
	$sisa = $week2_total;
}

$sum_tot = $sum_tot + $sisa;
// if($week2_total!=0){
	echo '
	<tr>
	<td style="text-align: center">'.$nomor++.'</td>
	<td style="text-align: center">'.$string.'</td>
	<td style="text-align: center">'.number_format($sisa,0,',','.').'</td>
	<td style="text-align: center">'. number_format($bayar,0,',','.').'</td>
	</tr>
	';
	// <td style="text-align: center"><input type="checkbox" data-week="'.$string.'" data-id="2" value="'.number_format($week2_total,0,',','').'" class="sum-topup"/></td>
// }

$week3_end = date_create(date('Y-m-d', strtotime('+6 day', strtotime($week3))));
$week3 = date_create($week3);

$condition = " jual.tanggal BETWEEN '".date_format($week3, 'Y-m-d')."' AND '".date_format($week3_end, 'Y-m-d')."' ";
$string = 'Minggu III '.$bulan.' '.date('Y').' Tgl '.date_format($week3, 'd/m').' - '.date_format($week3_end, 'd/m').'';
// $pay = $tot::getTopupWeek($string);
$week3_total = $tot::getSumTotalWeek($condition);

if($totalperiode>0){
	if($week3_total<=$totalperiode){
		$bayar = $week3_total;
		$sisa = 0;
		$totalperiode = $totalperiode-$week3_total;
	}else{
		$bayar = $totalperiode;
		$sisa = $week3_total-$totalperiode;
		$totalperiode = 0;
	}
}else{
	$bayar = 0;
	$sisa = $week3_total;
}

$sum_tot = $sum_tot + $sisa;
// if($week3_total!=0){
	echo '
	<tr>
	<td style="text-align: center">'.$nomor++.'</td>
	<td style="text-align: center">'.$string.'</td>
	<td style="text-align: center">'.number_format($sisa,0,',','.').'</td>
	<td style="text-align: center">'.number_format($bayar,0,',','.').'</td>
	</tr>
	';
	// <td style="text-align: center"><input type="checkbox" data-week="'.$string.'" data-id="3" value="'.number_format($week3_total,0,',','').'" class="sum-topup"></td>
// }

$week4_end = date_create(date('Y-m-d', strtotime('+6 day', strtotime($week4))));
$week4 = date_create($week4);

$condition = " jual.tanggal BETWEEN '".date_format($week4, 'Y-m-d')."' AND '".date_format($week4_end, 'Y-m-d')."' ";
$string = 'Minggu IV '.$bulan.' '.date('Y').' Tgl '.date_format($week4, 'd/m').' - '.date_format($week4_end, 'd/m').'';
// $pay = $tot::getTopupWeek($string);
$week4_total = $tot::getSumTotalWeek($condition);

if($totalperiode>0){
	if($week4_total<=$totalperiode){
		$bayar = $week4_total;
		$sisa = 0;
		$totalperiode = $totalperiode-$week4_total;
	}else{
		$bayar = $totalperiode;
		$sisa = $week4_total-$totalperiode;
		$totalperiode = 0;
	}
}else{
	$bayar = 0;
	$sisa = $week4_total;
}

$sum_tot = $sum_tot + $sisa;
// if($week4_total!=0){
	echo '
	<tr>
	<td style="text-align: center">'.$nomor++.'</td>
	<td style="text-align: center">'.$string.'</td>
	<td style="text-align: center">'.number_format($sisa,0,',','.').'</td>
	<td style="text-align: center">'. number_format($bayar,0,',','.').'</td>
	</tr>
	';
	// <td style="text-align: center"><input type="checkbox" data-week="'.$string.'" data-id="4" value="'.number_format($week4_total,0,',','').'" class="sum-topup"></td>
// }

$date4 = new DateTime($week5);
$date5 = date('Y-m-t');
$date6 = new DateTime($date5);

if($date4->diff($date6)->format("%a")>=2){
	$week5_end = date_create(date('Y-m-d', strtotime('+6 day', strtotime($week5))));
	$week5 = date_create($week5);
	$condition = " jual.tanggal BETWEEN '".date_format($week5, 'Y-m-d')."' AND '".date_format($week5_end, 'Y-m-d')."' ";
	$string = 'Minggu V '.$bulan.' '.date('Y').' Tgl '.date_format($week5, 'd/m').' - '.date_format($week5_end, 'd/m').'';
	// $pay = $tot::getTopupWeek($string);
	$week5_total = $tot::getSumTotalWeek($condition);

	if($totalperiode>0){
		if($week5_total<=$totalperiode){
			$bayar = $week5_total;
			$sisa = 0;
			$totalperiode = $totalperiode-$week5_total;
		}else{
			$bayar = $totalperiode;
			$sisa = $week5_total-$totalperiode;
			$totalperiode = 0;
		}
	}else{
		$bayar = 0;
		$sisa = $week5_total;
	}

	$sum_tot = $sum_tot + $sisa;
	// if($week5_total!=0){
		echo '
		<tr>
		<td style="text-align: center">'.$nomor++.'</td>
		<td style="text-align: center">'.$string.'</td>
		<td style="text-align: center">'.number_format($sisa,0,',','.').'</td>
		<td style="text-align: center">'. number_format($bayar,0,',','.').'</td>
		</tr>
		';
		// <td style="text-align: center"><input type="checkbox" data-week="'.$string.'" data-id="5" value="'.number_format($week5_total,0,',','').'" class="sum-topup"></td>
	// }
}
// <td style="text-align: center"></td>
// <td style="text-align: center"></td>
echo'
</tbody>
<tfoot style="background: LightGrey;">
<tr>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
</tr>
<tr>
<td style="text-align: center"></td>
<td style="text-align: right; font-weight: bold; ">Total</td>
<td style="text-align: center; font-weight: bold; ">'. number_format($sum_tot,0,',','.').'</td>
<td style="text-align: center"></td>
</tr>
</tfoot>
</table>
</div>

<div class="col-sm-12 deposit hidden" style="margin-bottom:20px">
<table class="DataTableZero">
<thead>
<tr>
<th>No </th>
<th>Nomor Member</th>					  
<th>Nama</th>
<th style="text-align: center">Sisa (Rp)</th>
<th style="text-align: center">Lunas (Rp)</th>
</tr>
</thead>

<tbody>';
// <th></th>

$sk = new Member();
$setorkredit = $sk::getMemberKredit();
$nom = 1;
$total = 0;
$jual = new Jual();
$totalbayar = $jual::getSumTopupMember();
foreach ($setorkredit as $kredit) {
	
	$pmember = new Jual();
	$paymember = $pmember::getTopupMember($kredit['nomor_member']);
	// var_dump($paymember);
	$hutangbayar = $kredit['hutang'] - $paymember;

	if($totalbayar>0){
		if($hutangbayar<=$totalbayar){
			$bayar = $hutangbayar;
			$sisa = 0;
			$totalbayar = $totalbayar-$hutangbayar;
		}else{
			$bayar = $totalbayar;
			$sisa = $hutangbayar-$totalbayar;
			$totalbayar = 0;
		}
	}else{
		$bayar = 0;
		$sisa = $hutangbayar;
	}

		$total += $sisa;
	// if($hutangbayar!=0){
		echo '
		<tr>
			<td>'.$nom++.'</td>
			<td>'.$kredit['nomor_member'].'</td>
			<td>'.$kredit['br_name'].'</td>
			<td style="text-align: center">'.number_format($sisa,0,',','.').'</td>
			<td style="text-align: center">'.number_format($bayar,0,',','.').'</td>
		</tr>
		';
			// <td><input type="checkbox" value="'.$sisa.'" data-member="'.$kredit['nomor_member'].'" class="sum-kredit"></td>
	// }
}

echo '
</tbody>
<tfoot style="background: LightGrey;">
<tr>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
</tr>
<tr>
<td style="text-align: center"></td>
<td style="text-align: center"></td>
<td style="text-align: right; font-weight: bold; ">Total</td>
<td style="text-align: center; font-weight: bold; ">'. number_format($total,0,',','.').'</td>
<td style="text-align: center"></td>
</tr>
</tfoot>
</table>
</div>
';

echo '			
<div class="modal" style="display: none">
<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
</div>
';
echo '</div>';

echo '			
	<div class="modal" style="display: none">
	<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
	</div>
	';
?>	