<style>
    #DataTableZero .markData { color: blue; font-weight: bold; }
	
	.styled_margin{
		margin-top:2px;
	}
	
	.styled_margin label{
		margin-top:10px;
	}
	
	.styled_header{
		background: #f5f5f5;
        border: 1px solid #fff;
        padding: 5px;
        text-align: left;
		min-height: 125px;		
    }
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
		var myTable;
		var count=0;
		
		$(document).ready( function () {			
			myTable = $('#DataTableZero').DataTable({
				"info" : false,
				"paging":   false,
				"ordering": false,
				"searching": false,
				"scrollY": "300px",
				"scrollCollapse": true				
			});			

			$('#btn_back').click( function () {
				window.location = '<?php echo $this->url->get(uri('GR')) ?>';
				return false;
			});
			
			// $('#btn_save').click( function () {				
			// 	$("#gr-form").submit();
			// });	
			
			$('#status').click(function() {				
				if ($(this).is(':checked')) {
					$('.fl_ok').attr('checked', true);
				}else{
					$('.fl_ok').attr('checked', false);
				}
			});
			
			$('#gr-form').submit(function(e) {
				var data = myTable.rows().data();			
				var data_input = myTable.$('input').serialize();
				
				data_arr1 = data_input.split("&");				
				
				var data_convert = [];
				
				for(var i=0; i< data.length; i++){
					data[i][4] = 'f';
					
					for(var j=0; j<data_arr1.length; j++){						
						var gr_flag_ok = data_arr1[j].split("=");
						var gr_flag_index = gr_flag_ok[0].split("_");
						
						if(gr_flag_index[1] == i){
							if(gr_flag_ok[1] != ''){
								data[i][4] = 't';
							}				
						}						
					}
					
					data_convert.push([data[i][0],data[i][1],data[i][2],data[i][3],data[i][4]]);
				}
				
				if(data_convert.length > 0){
					var json_data = document.getElementById('json_data');
					json_data.value = JSON.stringify(data_convert);
				}
				
				e.preventDefault();
				jQuery.ajax({
					type: 'post',
					url: '<?php echo $this->url->get(uri('GR/InsertRetur')) ?>',
					data: jQuery('#gr-form').serialize(),
					dataType: "json",
					beforeSend: function() {
						$('#btn_save').attr('disabled', true);
						$('#btn_back').attr('disabled', true);						
						$('.modal').show();
					},
					complete: function() {
						$('#btn_save').attr('disabled', false);
						$('#btn_back').attr('disabled', false);						
						$('.modal').hide();
					}, 
					success: function (data) {
						console.log(data);								

						if(data.type == 'S'){
							swal({
								title: "Sukses",
								text:  data.message,
								type: "success",
								html: true,
								showCancelButton: false,
								closeOnConfirm: false,
								closeOnCancel: false
							},
							function(isConfirm){
								if (isConfirm) {
									window.location = '<?php echo $this->url->get(uri('GR')) ?>';								
								}
							});
						}else if(data.type == 'E'){
							swal("Gagal", data.message, "error");
						}
					}
				});
				
				return false;
			});			
			
		});				
</script>
		
<?php
	
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Pembelian'), '<span> Pembelian </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('GR'), '<span> Penerimaan Barang (GR) </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">';			
		echo '<legend> Buat GR Retur </legend>';
		
		echo $this->tag->form([uri("GR/InsertRetur"), "id"=>"gr-form"]);
			echo '<input type="hidden" id="json_data" name="json_data">';			
			echo $this->tag->hiddenField(["comments", "value"=>$data_retur->comments]);
			echo $this->tag->hiddenField(["retur_no_immbo", "value"=>$data_retur->retur_no_immbo]);
			echo $this->tag->hiddenField(["no_gr", "value"=>$data_retur->gr_no_immpos]);
			
			echo '
				<div class="col-sm-6 styled_header">
					<div class="col-sm-4 styled_margin">
						<label> Tanggal Kirim </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["delivery_date", "class"=>"form-control input-sm", "value"=>$data_retur->delivery_date, "readonly"=>"true"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> No Retur </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["retur_no", "class"=>"form-control input-sm", "value"=>$data_retur->retur_no, "readonly"=>"true"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Diterima Oleh </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["create_by", "class"=>"form-control input-sm", "value"=>$this->session->get("user")['user_name'], "readonly"=>"true"]).'
					</div>
				</div>
				
				<div class="col-sm-12">
					<div class="col-sm-6 styled_button">
						<center>
							<button id="btn_save" class="btn btn-primary btn-sm"> Simpan </button>
							<button id="btn_back" class="btn btn-default  btn-sm"> Kembali </button>						
						</center>
					</div>
				</div>
			';
		echo $this->tag->endForm();
		
		echo '
			</br>
			
			<div class="col-sm-8">
				<table id="DataTableZero">
					<thead>
					<tr>
						<th> ID </th>
						<th> Kode Barang </th>
						<th> Nama Barang </th>			  
						<th> Jumlah Retur </th>
						<th> '.Phalcon\Tag::checkField(["status"]).' Status </th>
					</tr>
					</thead>
					
					<tbody>
		';
					if(count($lists_retur_detail) > 0 ){
						$count = 0;
						foreach( $lists_retur_detail as $list_retur_detail ) {
							$list_retur_detail['item_code'];
							$produk = new Product();
							$condition = " WHERE \"stock_id\" = '".$list_retur_detail['item_code']."' ";
							$data_product = $produk::getFreeSQL($condition);
							echo '<tr>';
								echo '<td>'.$list_retur_detail['retur_detail_item'].'</td>';
								echo '<td>'.$list_retur_detail['item_code'].'</td>';
								echo '<td>'.$list_retur_detail['description'].'</td>';	
								foreach ($data_product as $key => $value) {
									$qty_retur = $value['uom2_conversion'] * $list_retur_detail['qty_retur'];
									echo '<td>'.$qty_retur.'</td>';	
								}
								if($list_retur_detail['qty_retur'] == 0){
									echo '<center><td>'.Phalcon\Tag::checkField(["status_".$count, "class"=>"fl_ok", "checked"=>"true", "disabled"=>"disabled"]).'</td></center>';		
								}else{
									echo '<center><td>'.Phalcon\Tag::checkField(["status_".$count, "class"=>"fl_ok"]).'</td></center>';	
								}
							echo '</tr>';
							
							$count++;
						}
					}
		echo '
					</tbody>
				</table>
			</div>
		';		
	
		echo '			
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '</div>';
?>	