<script type="text/javascript">
	$(document).ready( function () {	
		$('.confirmation').on('click', function () {	
			var link = $(this).attr("href");			
			
			swal({
				title: "Anda yakin?",
				text: "Data GR yang sudah dihapus tidak bisa dikembalikan.",
				type: "error",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Ya, Hapus",
				cancelButtonText: "Tidak, Kembali",
				closeOnConfirm: false,
				closeOnCancel: false
			},
			function(isConfirm){
				if (isConfirm) {
					window.location = link;
					swal("Terhapus!", "Data GR Berhasil dihapus.", "success");
				}else{
					swal("Dibatalkan", "Batal hapus data GR :)", "error");
				}
			});
			
			return false;
		});
		
		$('.sync').on('click', function (e) {	
			var link = $(this).attr("href");			
			
			e.preventDefault();
			jQuery.ajax({				
				url: link,				
				dataType: "json",
				beforeSend: function() {
					$('.modal').show();
				},
				complete: function() {
					$('.modal').hide();
				}, 
				success: function (data) {
					console.log(data);								

					if(data.type == 'S'){
						swal({
							title: "Sukses",
							text:  data.message,
							type: "success",
							html: true,
							showCancelButton: false,
							closeOnConfirm: false,
							closeOnCancel: false
						},
						function(isConfirm){
							if(isConfirm){								
								window.location = '<?php echo $this->url->get(uri('GR')) ?>';								
							}
						});
					}else if(data.type == 'E'){
						swal({
							title: "Gagal", 
							text: data.message, 
							type: "error",
							html: true
						},
						function(isConfirm){
							if (isConfirm) {
								location.reload();
							}
						});
					}
				}
			});
			
			return false;
		});
	});
</script>

<?php
	
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Pembelian'), '<span> Pembelian </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('GR'), '<span> Penerimaan Barang (GR) </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">';
		echo '<legend> Penerimaan Barang (GR) </legend>';
		echo '<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#GR"> GR </a></li>
			<li><a data-toggle="tab" href="#GR_Retur"> GR Retur </a></li>
			<li><a data-toggle="tab" href="#GR_Sync"> GR Sync </a></li>  
			<li><a data-toggle="tab" href="#History"> Riwayat GR </a></li>  
		</ul>';
		
		echo '<div class="tab-content">';
		echo '<div id="GR" class="tab-pane fade in active">';	
			echo '
				<div class="col-sm-12">
					</br>	
				</div>
			';
			
			echo '<div class="col-sm-8">';
			echo '<table id="DataTable" class="table-striped hover">';
				echo '<thead>';
					echo '<tr>';
					  echo '<th style="text-align:center"> Nomor PO </th>';
					  echo '<th style="text-align:center"> Nomor PR </th>';					  
					  echo '<th style="text-align:center"> Tanggal </th>';			 
					  echo '<th style="text-align:center"> Aksi </th>';
					echo '</tr>';
				echo '</thead>';
				  
				echo '<tbody>';		
					if(count($lists) > 0 ){
						foreach( $lists as $list ) {
							echo '<tr>';		
								echo '<td style="text-align:center"><a href="#" class="modalPO" data-toggle="modal" data-pr="'.$list['pr_no_immpos'].'" data-request="'.$list['pr_no_immpos'].'" data-order="'.$list['po_no_immbo'].'" data-target="#myModal">'.$list['po_no_immbo'].'</a></td>';
								echo '<td style="text-align:center"><a href="#" class="modalPR" data-toggle="modal" data-request="'.$list['pr_no_immpos'].'" data-target="#myModal">'.$list['pr_no_immpos'].'</a></td>';								
								echo '<td style="text-align:center">'.$list['order_date'].'</td>';							
								echo '<td style="text-align:center">';									
									echo Phalcon\Tag::linkTo([uri('GR/Add?PR_NO_Immpos='.$list['pr_no_immpos'].'&PO_NO_immbo='.$list['po_no_immbo']), "<i class='fa fa-clipboard fa-lg'> </i>", "title"=>"Buat GR"]);
									echo '&nbsp;&nbsp;';
								echo '</td>';
							echo '</tr>';
						}		
					}
				echo '</tbody>';			
			echo '</table>';
			echo '</div>';
		echo '</div>';
		
		echo '<div id="GR_Retur" class="tab-pane fade">';
			echo '
				<div class="col-sm-12">
					</br>	
				</div>
			';
			
			echo '<div class="col-sm-8">';
				echo '<table id="DataTable2" class="table-striped hover">';
					echo '<thead>';
						echo '<tr>';
							echo '<th> Nomor Retur </th>';						
							echo '<th> Tanggal </th>';			 
							echo '<th> Aksi </th>';
						echo '</tr>';
					echo '</thead>';

					echo '<tbody>';			
						if(count($lists_retur) > 0 ){
							foreach( $lists_retur as $list_retur ) {
								echo '<tr>';		
									echo '<td><a href="#" class="modalRetur" data-toggle="modal" data-retur="'.$list_retur['retur_no'].'" data-target="#myModal">'.$list_retur['retur_no'].'</a></td>';								
									echo '<td>'.$list_retur['create_date'].'</td>';							
									echo '<td>';																	
										echo Phalcon\Tag::linkTo([uri('GR/AddRetur?Retur_No='.$list_retur['retur_no']), "<i class='fa fa-clipboard fa-lg'> </i>", "title"=>"Buat GR"]);
										echo '&nbsp;&nbsp;';
									echo '</td>';
								echo '</tr>';
							}
						}
					echo '</tbody>';			
				echo '</table>';
				echo '</div>';
		echo '</div>';
		
		echo '<div id="GR_Sync" class="tab-pane fade">';
			echo '
				<div class="col-sm-12">
					</br>	
				</div>
			';
			
			echo '<div class="col-sm-12">';
			echo '<table id="DataTable3" class="table-striped hover">';
				echo '<thead>';
					echo '<tr>';
						echo '<th> Nomor GR </th>';
						echo '<th> Nomor PO </th>';
						echo '<th> Nomor PR </th>';		
						echo '<th> Nomor Retur </th>';								
						echo '<th> Tanggal </th>';			 
						echo '<th> Aksi </th>';
					echo '</tr>';
				echo '</thead>';

				echo '<tbody>';			
					if(count($lists_sync) > 0 ){
						foreach( $lists_sync as $list_sync ) {
							echo '<tr>';		
								echo '<td style="width:20%"><a href="#" class="modalGR" data-toggle="modal" data-pr="'.$list_sync['pr_no_immpos'].'" data-gr="'.$list_sync['gr_no'].'" data-target="#myModal">'.$list_sync['gr_no'].'</a></td>';
								echo '<td style="width:10%"><a href="#" class="modalPO" data-toggle="modal" data-pr="'.$list_sync['pr_no_immpos'].'" data-request="'.$list_sync['pr_no_immpos'].'" data-order="'.$list_sync['po_no_immbo'].'" data-target="#myModal">'.$list_sync['po_no_immbo'].'</a></td>';
								echo '<td style="width:20%"><a href="#" class="modalPR" data-toggle="modal" data-request="'.$list_sync['pr_no_immpos'].'" data-target="#myModal">'.$list_sync['pr_no_immpos'].'</a></td>';								
								echo '<td style="width:20%"><a href="#" class="modalRetur" data-toggle="modal" data-gr="'.$list_sync['gr_no'].'" data-retur="'.$list_sync['retur_no_immpos'].'" data-target="#myModal">'.$list_sync['retur_no_immpos'].'</a></td>';								
								echo '<td style="width:10%">'.$list_sync['delivery_date'].'</td>';							
								echo '<td>';
									if(!$list_sync['flag_sync']){																				
										echo Phalcon\Tag::linkTo([uri('GR/Sync?GR_No='.$list_sync['gr_no']), "<i class='fa fa-refresh fa-lg'> </i>", "title"=>"Synchronize GR", "class"=>"sync"]);
										echo '&nbsp;&nbsp;';
										echo Phalcon\Tag::linkTo([uri('GR/Print?GR_No='.$list_sync['gr_no']), "<i class='fa fa-print fa-lg'> </i>", "title"=>"Cetak GR"]);
										echo '&nbsp;&nbsp;';
										if($list_sync['pr_no_immpos'] != '' && $list_sync['po_no_immbo'] != ''){
											echo Phalcon\Tag::linkTo([uri('GR/Edit?GR_No='.$list_sync['gr_no']), "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Edit GR"]);
											echo '&nbsp;&nbsp;';
										}elseif($list_sync['retur_no_immpos'] != ''){
											echo Phalcon\Tag::linkTo([uri('GR/EditRetur?GR_No='.$list_sync['gr_no']), "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Edit GR"]);
											echo '&nbsp;&nbsp;';
										}
										echo Phalcon\Tag::linkTo([uri('GR/Delete?GR_No='.$list_sync['gr_no']), "<i class='fa fa-close fa-lg'> </i>", "title"=>"Hapus GR", "class"=>"confirmation"]);
										echo '&nbsp;&nbsp;';
									}
								echo '</td>';
							echo '</tr>';
						}		
					}
				echo '</tbody>';			
			echo '</table>';
			echo '</div>';
		echo '</div>';
		
		echo '<div id="History" class="tab-pane fade">';
			echo '
				<div class="col-sm-12">
					</br>	
				</div>
			';
			
			echo '<div class="col-sm-12">';
			echo '<table id="DataTable4" class="table-striped hover">';
				echo '<thead>';
					echo '<tr>';
						echo '<th> Nomor GR </th>';
						echo '<th> Nomor PO </th>';
						echo '<th> Nomor PR </th>';		
						echo '<th> Nomor Retur </th>';								
						echo '<th> Tanggal </th>';			 
						echo '<th> Aksi </th>';
					echo '</tr>';
				echo '</thead>';

				echo '<tbody>';			
					if(count($listsHistory) > 0 ){
						foreach( $listsHistory as $list_sync ) {
							echo '<tr>';		
								echo '<td style="width:20%"><a href="#" class="modalGR" data-toggle="modal" data-pr="'.$list_sync['pr_no_immpos'].'" data-gr="'.$list_sync['gr_no'].'" data-target="#myModal">'.$list_sync['gr_no'].'</a></td>';
								echo '<td style="width:10%"><a href="#" class="modalPO" data-toggle="modal" data-pr="'.$list_sync['pr_no_immpos'].'" data-request="'.$list_sync['pr_no_immpos'].'" data-order="'.$list_sync['po_no_immbo'].'" data-target="#myModal">'.$list_sync['po_no_immbo'].'</a></td>';
								echo '<td style="width:20%"><a href="#" class="modalPR" data-toggle="modal" data-request="'.$list_sync['pr_no_immpos'].'" data-target="#myModal">'.$list_sync['pr_no_immpos'].'</a></td>';
								echo '<td style="width:20%"><a href="#" class="modalRetur" data-toggle="modal" data-gr="'.$list_sync['gr_no'].'" data-retur="'.$list_sync['retur_no_immpos'].'" data-target="#myModal">'.$list_sync['retur_no_immpos'].'</a></td>';								
								echo '<td style="width:10%">'.$list_sync['delivery_date'].'</td>';							
								echo '<td>';
									echo Phalcon\Tag::linkTo([uri('GR/Print?GR_No='.$list_sync['gr_no']), "<i class='fa fa-print fa-lg'> </i>", "title"=>"Cetak GR"]);
								echo '</td>';
							echo '</tr>';
						}		
					}
				echo '</tbody>';			
			echo '</table>';
			echo '</div>';
		echo '</div>';
		
		echo '</div>';
		
		// Modal PR/PO/Retur
		echo '<div id="myModal" class="modal fade" role="dialog">';
			echo '<div class="modal-dialog modal-lg">';

			echo '<div class="modal-content">';
				echo '<div class="modal-header">';
					echo '<button type="button" class="close" data-dismiss="modal">&times;</button>';
					echo '<h4 class="modal-title"> Penerimaan Barang (GR) </h4>';
				echo '</div>';
				echo '<div class="modal-body" style="max-height:300px;overflow-y:auto;">';
					echo '<div class="table-responsive">';
					echo '<table class="table-bordered table-striped myTable" style="font-size:14px">';
						echo '<thead>';							
						echo '</thead>';

						echo '<tbody>';							
						echo '</tbody>';			
					echo '</table>';
				echo '</div>';
				echo '</div>';
				echo '<div class="modal-footer">';
					echo '<a href="" class="btn btn-default" data-dismiss="modal">Close</a>';
				echo '</div>';
			echo '</div>';

			echo '</div>';
		echo '</div>';
		
		echo '
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '<div>';
	
?>

<script>
	$(document).on("click", ".modalPR", function(){
		var request = $(this).data('request');
		var myArray = [];
		$('.modal-header').empty();
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		
		tr = $('<tr>');
		tr.append('<th rowspan=2>Kode Barang</th>');
		tr.append('<th rowspan=2>Nama Barang</th>');
		tr.append('<th colspan=2>Info Beli</th>');
		tr.append('<th colspan=2>Info Jual</th>');
		tr.append('<th colspan=2>Info PR</th>');																
		tr.append('<th rowspan=2>Harga Satuan</th>');
		tr.append('<th rowspan=2>Total Harga</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		tr = $('<tr>');
		tr.append("<th>Jumlah</th>");
		tr.append("<th>Satuan</th>");
		tr.append("<th>Jumlah</th>");
		tr.append("<th>Satuan</th>");
		tr.append("<th>Jumlah</th>");
		tr.append("<th>Satuan</th>");
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		
		$.ajax({ url: "<?php echo $this->url->get(uri('GR/ajaxPR')) ?>?request="+request+"" }).done(function(data){
			console.log(data);		
			myArray = JSON.parse(data);
			span = $('<span>');	
			span.append("<h4 class='modal-title'>Penerimaan Barang (GR)</h4>");
			span.append("<td>Nomor PR : "+ myArray[0].request_no +"</td>");
			span.append("</span>");
			$('.modal-header').append(span);
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_order +"</td>");
				tr.append("<td>"+ myArray[i].unit_order +"</td>");
				tr.append("<td>"+ myArray[i].qty_sell +"</td>");
				tr.append("<td>"+ myArray[i].unit_sell +"</td>");
				tr.append("<td>"+ myArray[i].qty_pr +"</td>");
				tr.append("<td>"+ myArray[i].unit_pr +"</td>");
				tr.append("<td>"+ format(myArray[i].unit_order_price) +"</td>");
				tr.append("<td>"+ format(myArray[i].order_price) +"</td>");
				
				grand_total = parseInt(grand_total,10) + parseInt(myArray[i].order_price,10);
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
			$('.myTable tbody').append("<tr><th colspan='9' style='text-align:right !important'>Total</th><td>"+ format(grand_total) +"</td></tr>");
		});		
	});
	
	$(document).on("click", ".modalPO", function(){
		var pr = $(this).data('pr');
		var order = $(this).data('order');
		var request = $(this).data('request');
		var myArray = [];
		$('.modal-header').empty();
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		
		tr = $('<tr>');
		tr.append('<th rowspan=2>Kode Barang</th>');
		tr.append('<th rowspan=2>Nama Barang</th>');
		tr.append('<th colspan=2>Info PR</th>');		
		tr.append('<th colspan=2>Info PO</th>');																
		tr.append('<th rowspan=2>Harga Satuan</th>');
		tr.append('<th rowspan=2>Total Harga</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		tr = $('<tr>');
		tr.append("<th>Jumlah</th>");
		tr.append("<th>Satuan</th>");
		tr.append("<th>Jumlah</th>");
		tr.append("<th>Satuan</th>");		
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		
		$.ajax({ url: "<?php echo $this->url->get(uri('GR/ajaxPO')) ?>?order="+order+"&request="+request+"" }).done(function(data){
			myArray = JSON.parse(data);
			span = $('<span>');	
			span.append("<h4 class='modal-title'>Penerimaan Barang (GR)</h4>");
			span.append("<td>Nomor PR : "+ pr +"</td>");
			span.append("</span>");
			$('.modal-header').append(span);
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				console.log(myArray[i].qty_po,10);
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_pr +"</td>");
				tr.append("<td>"+ myArray[i].uom_o_type +"</td>");
				tr.append("<td>"+ myArray[i].qty_po +"</td>");
				tr.append("<td>"+ myArray[i].unit_po +"</td>");
				if(myArray[i].po_unit_price == false){
					tr.append("<td>0</td>");
				}else{
					tr.append("<td>"+ format(myArray[i].po_unit_price) +"</td>");
				}
				if(myArray[i].po_price != 0){
					tr.append("<td>"+ format(myArray[i].po_price / myArray[i].qty_po) +"</td>");
					grand_total = parseInt(grand_total,10) + parseInt(myArray[i].po_price / myArray[i].qty_po,10);
				}else{
					tr.append("<td>0</td>");
				}

				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
			$('.myTable tbody').append("<tr><th colspan='7' style='text-align:right !important'>Total</th><td>"+ format(grand_total) +"</td></tr>");
		});		
	});
	
	$(document).on("click", ".modalRetur", function(){
		var gr = $(this).data('gr');
		var retur = $(this).data('retur');		
		var myArray = [];
		$('.modal-header').empty();
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		
		tr = $('<tr>');
		tr.append('<th rowspan=2>Kode Barang</th>');
		tr.append('<th rowspan=2>Nama Barang</th>');
		tr.append('<th colspan=2>Info Retur</th>');						
		tr.append('<th rowspan=2>Harga Satuan</th>');
		tr.append('<th rowspan=2>Nilai</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		tr = $('<tr>');
		tr.append("<th>Jumlah</th>");
		tr.append("<th>Satuan</th>");	
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		$.ajax({ url: "<?php echo $this->url->get(uri('GR/ajaxRetur')) ?>?retur="+retur+"" }).done(function(data){
			console.log(data);		
			myArray = JSON.parse(data);
			span = $('<span>');	
			span.append("<h4 class='modal-title'>Penerimaan Barang (GR)</h4>");
			span.append("<td>Nomor GR : "+ gr +"</td>");
			span.append("</span>");
			$('.modal-header').append(span);
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_retur +"</td>");
				tr.append("<td>"+ myArray[i].unit_retur +"</td>");				
				tr.append("<td>"+ format(myArray[i].retur_unit_price) +"</td>");				
				tr.append("<td>"+ format(myArray[i].retur_unit_price * myArray[i].qty_retur) +"</td>");				
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}			
		});
	});
	
	$(document).on("click", ".modalGR", function(){
		var gr = $(this).data('gr');		
		var pr = $(this).data('pr');	
		var myArray = [];
		$('.modal-header').empty();
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		
		tr = $('<tr>');
		tr.append('<th rowspan=2>Kode Barang</th>');
		tr.append('<th rowspan=2>Nama Barang</th>');
		tr.append('<th colspan=2>Info PR</th>');		
		tr.append('<th colspan=2>Info PO</th>');
		tr.append('<th rowspan=2>Status</th>');		
		tr.append('<th rowspan=2>Harga Satuan</th>');
		tr.append('<th rowspan=2>Total Harga</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		tr = $('<tr>');
		tr.append("<th>Jumlah</th>");
		tr.append("<th>Satuan</th>");
		tr.append("<th>Jumlah</th>");
		tr.append("<th>Satuan</th>");
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		$.ajax({ url: "<?php echo $this->url->get(uri('GR/ajaxGR')) ?>?gr="+gr+"" }).done(function(data){
			myArray = JSON.parse(data);
			span = $('<span>');	
			span.append("<h4 class='modal-title'>Penerimaan Barang (GR)</h4>");
			span.append("<td>Nomor PR : "+ pr +"</td>");
			span.append("</span>");
			$('.modal-header').append(span);
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_pr +"</td>");
				tr.append("<td>"+ myArray[i].uom_o_type +"</td>");
				tr.append("<td>"+ myArray[i].qty_po +"</td>");
				tr.append("<td>"+ myArray[i].uom_o_type +"</td>");
				if(myArray[i].flag_gr_ok){
					tr.append('<td><input type="checkbox" name="status_'+i+'" checked disabled="disabled"></td>');
				}else{
					tr.append('<td><input type="checkbox" name="status_'+i+'" disabled="disabled"></td>');
				}
				
				tr.append("<td>"+ format(myArray[i].po_unit_price) +"</td>");
				tr.append("<td>"+ format(myArray[i].po_price / myArray[i].qty_po) +"</td>");
				
				grand_total = parseInt(grand_total,10) + parseInt(myArray[i].po_price / myArray[i].qty_po,10);
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
			$('.myTable tbody').append("<tr><th colspan='8' style='text-align:right !important'>Total</th><td>"+ format(grand_total) +"</td></tr>");
		});
	});
</script>

