
<?php
	require_once (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf=new mPDF('','A4-L',9,'lottefont',10,10,45,2,8);	
	
	$gr_date = date_create($gr->create_date);
	$order_date = date_create($gr->order_date);
	
	$supplied_by = '';
	if(isset($data)){
		foreach($data as $line_data){
			$supplied_by = $line_data['supplied_by'];
			break;
		}
	}
	
	$count = 0; 
	$totallevel = 0; 
	$avg_level = 0; 
	
	foreach( $data as $line_data ){
		$count++;
		$servicelevel = $line_data['qty_po'] / $line_data['qty_pr'] * 100;
		
		$totallevel += $servicelevel;
		$avg_level = $totallevel / $count;
	}
	
	$html_header .= '
		<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>		
		<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right;margin-right:60px">PENERIMAAN BARANG</div>
				
		<div style="width:auto;" align="right">
			<barcode code="'.$gr->gr_no.'" type="C93" style="text-align:right;margin-right:-14px" size="1" height="1" />
			<div style="font-family: ocrb;text-align:right;margin-right:70px"><b>'.$gr->gr_no.'</b></div>
		</div>
				
		Halaman {PAGENO}/{nbpg}<br/>
		'.date('d/m/Y H:i:s').'<br/>
		'.$this->session->get("user")["user_name"].'
	';
	
	$html .= '
		<style>						
			table {
				
				border: 1px solid #000;
				border-collapse: collapse;
			}
			
			.bordered {
				padding: 3px;
				border: 1px solid #000;
				vertical-align: middle;
			}
		</style>		
		
		<p style="width:360px;float:left">
			<b>Supplied By : </b><br/>
			'.$tmuk->lsi.' <br/>
		</p>
		
		<p style="width:auto;" align="right">
			<b>IMM/TMUK Store : </b><br/>
			'.$tmuk->name.' ('.$tmuk->tmuk.') <br/>
			'.$tmuk->address1.'<br/>
			'.$tmuk->address2.'<br/>
			'.$tmuk->address3.'<br/>
			'.$tmuk->telp.' 
		</p>
		
		<p><table style="width:100%;border:0">
			<tr>
				<td style="width:30%">Nomor PR : '.$gr->pr_no_immpos.'</td>
				<td style="width:22%">Tanggal GR : '.date_format($gr_date, 'd-m-Y').'</td>
				<td align="right" style="width:26%">Tipe PR : '.$supplied_by.'</td>
			</tr>
			<tr>
				<td style="width:30%">Nomor PO : '.$gr->po_no_ref.'</td>
				<td style="width:22%">Tanggal PO : '.date_format($order_date, 'd-m-Y').'</td>
				<td align="right" style="width:26%">Service Level : '.round($avg_level).'%</td>
			</tr>';
			if($gr->retur_no_immpos != '')
			{	
			$html .= '<tr>
				<td style="width:30%">Nomor Retur : '.$gr->retur_no_immpos.'</td>
				<td style="width:22%"></td>
				<td align="right" style="width:26%"></td>
			</tr>';
			}
			$html .= '
		</table></p>
		
		<p><table style="width:100%;">
			<thead>
				<tr>
					<th rowspan="2" class="bordered">No</th>
					<th class="bordered">Kode Barang</th>
					<th rowspan="2" class="bordered">Nama Barang</th>
					<th rowspan="2" class="bordered">Harga Satuan</th>
					<th rowspan="2" class="bordered">Total Harga</th>
					<th colspan="3" class="bordered">Info Order Unit</th>
					<th colspan="3" class="bordered">Info Receive Unit</th>
					<th rowspan="2" class="bordered">Jumlah PR</th>
					<th rowspan="2" class="bordered">Jumlah Pemesanan</th>					
					<th rowspan="2" class="bordered">Jumlah Penerimaan</th>					
					<th rowspan="2" class="bordered">Service Level</th>

				</tr>
				<tr>
					<th class="bordered">Qty/UOM & UOM</th>
					<th class="bordered">Qty/UOM</th>
					<th class="bordered">UOM</th>
					<th class="bordered">Barcode</th>
					<th class="bordered">Qty/UOM</th>
					<th class="bordered">UOM</th>
					<th class="bordered">Barcode</th>								
				</tr>

			</thead>
			
			<tbody>';
			
			if(count($data) > 0 ){
				$count = 0; 
				foreach( $data as $line_data ) {
					$count++;
					$servicelevel = $line_data['qty_po'] / $line_data['qty_pr'] * 100;

					$html .= '<tr>
						<td class="bordered">'.$count.'</td>
						<td class="bordered">'.$line_data['item_code'].'<br/>'.$line_data['unit_po'].'</td>
						<td class="bordered">'.$line_data['description'].'</td>
						<td class="bordered" style="text-align:right">'.number_format($line_data['po_unit_price'],2,',','.').'</td>
						<td class="bordered" style="text-align:right">'.number_format($line_data['po_price'] / $line_data['qty_po'],2,',','.').'</td>
						<td class="bordered" style="text-align:center">1</td>
						<td class="bordered" style="text-align:center">'.$line_data['unit_po'].'</td>
						<td class="bordered" style="text-align:center">'.$line_data['uom_o_barcode'].'</td>
						<td class="bordered" style="text-align:center">'.$line_data['uom_s_conversion'].'</td>	
						<td class="bordered" style="text-align:center">'.$line_data['uom_o_type'].'</td>	
						<td class="bordered" style="text-align:center">'.$line_data['uom_s_barcode'].'</td>
						<td class="bordered" style="text-align:center">'.$line_data['qty_pr'].'</td>		
						<td class="bordered" style="text-align:center">'.$line_data['qty_po'].'</td>			
						<td class="bordered" style="text-align:center">'.$line_data['qty_po'].'</td>	
						<td class="bordered" style="text-align:center">'.round($servicelevel).'%</td>
					</tr>';
				
				}		
			}
			
			$html .= '
			</tbody>
		</table></p><br/><br/><br/><br/>
		
		<div style="width:165px;float:left">
			PIC Mitra TMUK<br/>
			<div style="width:165px;height:65px;border:1px solid #000"></div>
		</div>
		<div style="width:165px;float:left;margin-left:40px">
			Transporter<br/>
			<div style="width:165px;height:65px;border:1px solid #000"></div>
		</div>
	';
		
	$mpdf->setHTMLHeader($html_header);
	$mpdf->WriteHTML($html);
	$mpdf->Output();
	exit;
	
?>

