<script type="text/javascript">

	$(document).ready( function () {
		var currentdate = new Date();
		var jam = currentdate.getHours();
		var menit = currentdate.getMinutes();
		// if(jam==12){
		// 	if(parseInt(menit)>=10){
		// 		swal({
		// 			title: "Start Day",
		// 			text: 'Mohon Untuk Start Day Tepat Jam 8:00 ',
		// 			type: 'error',
		// 			html: true
		// 		},
		// 		function(isConfirm){
		// 			if (isConfirm) {
		// 				location.reload();
		// 			}
		// 		});
		// 	}
		// }

		$('#btn_start').click( function () {
			jQuery.ajax({
				url: '<?php echo $this->url->get(uri('Sync/startDay')) ?>',
				dataType: "json",
				beforeSend: function() {
					$('#btn_start').attr('disabled', true);
					$('.modal').show();
				},
				complete: function() {
					$('#btn_start').attr('disabled', false);		
					$('.modal').hide();
				}, 
				success: function (data) {
					if(data.type == 'S'){
						swal({
							title: "Sukses Start of Day",
							text: data.message,
							type: data.alert,
							html: true
						},
						function(isConfirm){
							if (isConfirm) {
								location.reload();
							}
						});

						$.post( "<?php echo $this->url->get(uri('StartDay/cetak_SOD')) ?>" );						
					}else if(data.type == 'E'){
						swal({
							title: "Gagal Start of Day",
							text: data.message,
							type: data.alert,
							html: true
						},
						function(isConfirm){
							if (isConfirm) {
								location.reload();
							}
						});		
					}
				},
				error: function (data){
					console.log(data);
				}
			});
		});		
	});
</script>

<?php
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('Immpos'), '<span> IMMPOS </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('StartDay'), '<span> Start of Day </span>']).'</li>
		</ul>
	<div>';
	echo '<div class="content_content">';
		echo '<legend>Start of Day</legend>';
		echo '
			<div class="col-sm-12">
				<button id="btn_start" class="btn btn-primary btn-sm">Start of Day</button>
			</div>	
			<div class="col-sm-12">
				</br>
			</div>
			<div class="col-sm-12">
				<table id="DataTable2" class="table-striped">
				<thead>
					<tr>
						<th style="text-align:center"> Syncron </th>											
						<th style="text-align:center"> Tanggal </th>	
						<th style="text-align:center"> Jam </th>
					</tr>
				</thead>
				<tbody>
		';
				if(count($lists) > 0 ){
					foreach( $lists as $list ) {
						echo '<tr>					
							<td style="text-align:center">'.$list['tipe'].'</td>								
							<td style="text-align:center">'.$list['sync_date'].'</td>																
							<td style="text-align:center">'.$list['sync_time'].'</td>																
						</tr>';
					}		
				}
		echo '
				</tbody></table>
			</div>
		';
		echo '			
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '<div>';		
?>