<style>
    #DataTableZero .markData { color: blue; font-weight: bold; }
	
	.styled_margin{
		margin-top:2px;
	}
	
	.styled_margin label{
		margin-top:10px;
	}
	
	.styled_header{
		background: #f5f5f5;
        border: 1px solid #fff;
        padding: 5px;
        text-align: left;
		min-height: 100px;		
    }
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
		var myTable;
		var count=0;
		
		$(function(){
			$("#so_date").datepicker({ dateFormat: 'yy-mm-dd'});
		});
		
		$(document).ready( function () {			
			myTable = $('#DataTableZero').DataTable({
				"info"			: true,
				"scrollY"		: "300px",
				"scrollCollapse": true,
				"deferRender"	: true,
				"ordering"		: true
			});			
			
			$('#DataTableZero tbody').on( 'click', 'tr', function () {
				if ( $(this).hasClass('selected') ) {
					$(this).removeClass('selected');
				}
				else {
					myTable.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			} );
			
			$('#btn_back').click(function(){
				window.location = '<?php echo $this->url->get(uri('SOBulanan')) ?>';
				return false;
			});
			
			$('#btn_proses').click(function(){
				$("#status").val('PC');
				$("#so-form").submit();
				return false;
			});

			
			$('#so-form').submit(function(e) {
				var data = myTable.rows().data();
				var data_convert = [];
				
				for(var i=0; i< data.length; i++){
					data_convert.push([data[i][0],data[i][1],data[i][2],data[i][3],data[i][4]]);
				}
				
				var json_data = document.getElementById('json_data');
				json_data.value = JSON.stringify(data_convert);
				
				e.preventDefault();
				jQuery.ajax({
					type: 'post',
					url: '<?php echo $this->url->get(uri('SOBulanan/Insert')) ?>',
					data: jQuery('#so-form').serialize(),
					dataType: "json",
					beforeSend: function() {
						$('#btn_proses').attr('disabled', true);
						$('#btn_mobile').attr('disabled', true);
						$('#btn_back').attr('disabled', true);						
						$('.modal').show();
					},
					complete: function() {
						$('#btn_proses').attr('disabled', false);
						$('#btn_mobile').attr('disabled', false);
						$('#btn_back').attr('disabled', false);										
						$('.modal').hide();
					}, 
					success: function (data) {
						console.log(data);								

						if(data.type == 'S'){
							swal({
								title: "Sukses",
								text:  data.message,
								type: "success",
								html: true,
								showCancelButton: false,
								closeOnConfirm: false,
								closeOnCancel: false
							},
							function(isConfirm){
								if (isConfirm) {
									window.location = '<?php echo $this->url->get(uri('SOBulanan')) ?>';								
								}
							});
						}else if(data.type == 'E'){
							swal("Gagal", data.message, "error");
						}
					}
				});
				
				return false;
			});	
		});					
</script>
		
<?php	

	echo '
	<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('StockOpname'), '<span> Stock Opname </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('SOBulanan'), '<span> SO Bulanan </span>']).'</li>
		</ul>
	<div>
	
	<div class="content_content">
		<legend>Buat SO Bulanan</legend>';
		// $this->flashSession->output();
		
		echo $this->tag->form([uri("SOBulanan/Insert"), "id"=>"so-form"]);
			echo '<input type="hidden" id="json_data" name="json_data">'
			.$this->tag->hiddenField(["status", "id"=>"status"])
			.$this->tag->hiddenField(["so_type", "id"=>"so_type", "value"=>"MONTH"]);
			
			echo '
				<div class="col-sm-6 styled_header">						
					<div class="col-sm-4 styled_margin">
						<label> Dibuat Oleh </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["user_id", "class"=>"form-control input-sm", "value"=>$this->session->get("user")['user_name'], "readonly"=>"true"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Tanggal </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->dateField(["so_date", "class"=>"form-control input-sm", "value"=>date("Y-m-d")]).'
					</div>
				</div>
				
				<div class="col-sm-12 styled_button">
					<div class="col-sm-6 styled_button">
						<center>
							<button id="btn_proses" class="btn btn-primary btn-sm"> Proses </button>
							<button id="btn_mobile" class="btn btn-info btn-sm" style="display:none"> Proses Mobile </button>						
							<button id="btn_back" class="btn btn-default btn-sm"> Kembali </button>						
						</center>
					</div>
				</div>
			';			
		echo $this->tag->endForm();

		echo '
			<div class="col-sm-12 styled_button form-inline">					
				<button id="btn_delete" class="btn btn-danger btn-sm"> Hapus </button>						
			</div>				
			
			<div class="col-sm-8">
				<table id="DataTableZero">
					<thead>
					<tr>
						<th style="width:15%"> Kode Barang </th>
						<th style="width:15%"> Barcode </th>
						<th style="width:40%"> Nama Barang </th>					  				
						<th> Satuan </th>	
					</tr>
					</thead>
					
					<tbody>
		';
			if(count($data_products) > 0 ){
				foreach( $data_products as $data_product ) {
					echo '<tr>
						<td>'.$data_product['stock_id'].'</td>
						<td>'.$data_product['barcode'].'</td>
						<td>'.$data_product['description'].'</td>
						<td>'.$data_product['satuan'].'</td>
					</tr>';
				}		
			}
		echo '
						</tbody>
					</table>
				</div>
			</div>
		';
		
		echo '			
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '</div>';
?>	