<script type="text/javascript">
	$(document).ready( function () {
		$('#btn_create').click( function () {
			window.location = '<?php echo $this->url->get(uri('SOBulanan/add')) ?>';
		});

		$('.confirmation').on('click', function () {	
			var link = $(this).attr("href");			
			
			swal({
				title: "Anda Yakin?",
				text: "PR yang sudah dihapus tidak bisa dikembalikan.",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Ya, Hapus",
				cancelButtonText: "Batal, Kembali",
				closeOnConfirm: false,
				closeOnCancel: false
			},
			function(isConfirm){
				if (isConfirm) {
					window.location = link;
					swal("Terhapus!", "SO Berhasil dihapus.", "success");
				}else{
					swal("Dibatalkan", "Hapus SO Dibatalkan.", "info");
				}
			});
			
			return false;
		});
	});
</script>

<?php

	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('StockOpname'), '<span> Stock Opname </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('SOBulanan'), '<span> SO Bulanan </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">';
		echo '<legend> SO Bulanan </legend>';
		// $this->flashSession->output();
		
		echo '<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#SO"> SO Bulanan </a></li>
			<li><a data-toggle="tab" href="#History"> Riwayat SO Bulanan </a></li>
		</ul>';
		
		echo '<div class="tab-content">';
			echo '<div id="SO" class="tab-pane fade in active">';	
				echo '
					<div class="col-sm-12">
						</br>
					</div>
				';
				
				echo '<button id="btn_create" class="btn btn-primary btn-sm"> Buat SO Bulanan </button>';		
				
				echo '<div class="table_container">';
				echo '<table id="DataTable" class="table-striped hover">';
					echo '<thead>';
						echo '<tr>';
							echo '<th style="text-align:center"> ID </th>';
							echo '<th style="text-align:center"> Kode Verifikasi </th>';
							echo '<th style="text-align:center"> Tanggal </th>';					  
							echo '<th style="text-align:center"> Dibuat Oleh </th>';	
							echo '<th style="text-align:center"> Status </th>';						
							echo '<th style="text-align:center"> Action </th>';
						echo '</tr>';
					echo '</thead>';
					  
					echo '<tbody>';		
						if(count($lists) > 0 ){
							foreach( $lists as $list ) {
								echo '<tr>';
									echo '<td style="text-align:center"><a href="#" class="modalSO" data-toggle="modal" data-so="'.$list['so_id'].'" data-target="#myModal">'.$list['so_id'].'</a></td>';
									echo '<td style="text-align:center">'.$list['kode_verifikasi'].'</td>';					
									echo '<td style="text-align:center">'.$list['so_date'].'</td>';	
									echo '<td style="text-align:center">'.$list['user_id'].'</td>';	
									echo '<td style="text-align:center">'.$list['status'].'</td>';									
									echo '<td style="text-align:center">';
										if($list['status'] == 'POST_PC' || $list['status'] == 'POST_MOBILE'){
											echo Phalcon\Tag::linkTo([uri('SOBulanan/Post?SO_ID='.$list['so_id']), "<i class='fa fa-send fa-lg'> </i>", "title"=>"Posting SO"]);
											echo '&nbsp;&nbsp;';
										}
										
										if($list['status'] == 'PC' || $list['status'] == 'PROSES_PC'){
											echo Phalcon\Tag::linkTo([uri('SOBulanan/Proses?SO_ID='.$list['so_id']), "<i class='fa fa-refresh fa-lg'> </i>", "title"=>"Proses SO"]);
											echo '&nbsp;&nbsp;';
										}
										
										if($list['status'] == 'COMPLETE' || $list['status'] == 'POST_PC'){
											echo Phalcon\Tag::linkTo([uri('SOBulanan/Print?SO_ID='.$list['so_id']), "<i class='fa fa-print fa-lg'> </i>", "title"=>"Cetak SO"]);
											echo '&nbsp;&nbsp;';
										}										
										
										if($list['status'] == 'PC' || $list['status'] == 'MOBILE' || $list['status'] == 'PROSES_PC' || $list['status'] == 'PROSES_MOBILE'){
											echo Phalcon\Tag::linkTo([uri('SOBulanan/Delete?SO_ID='.$list['so_id']), "<i class='fa fa-close fa-lg'> </i>", "title"=>"Delete SO","class"=>"confirmation"]);
											echo '&nbsp;&nbsp;';
										}
									echo '</td>';
								echo '</tr>';
							}		
						}
					echo '</tbody>';
				echo '</table>';
				echo '</div>';
			echo '</div>';
			
			echo '
			<div class="tab-pane" id="History">
				<div class="col-sm-12" style="margin-top:30px">
					<table id="DataTable4" class="table table-striped hover">
						<thead>
							<tr>
								<th> ID </th>
								<th> Kode Verifikasi </th>				  
								<th> Tanggal </th>	
								<th> Dibuat Oleh </th>	
								<th> Status </th>							
								<th> Aksi </th>
							</tr>
						</thead>
						  
						<tbody>';	
							if(count($lists_history) > 0 ){
							foreach( $lists_history as $list_history ) {
								echo '<tr>';
									echo '<td><a href="#" class="modalSO" data-toggle="modal" data-so="'.$list_history['so_id'].'" data-target="#myModal">'.$list_history['so_id'].'</a></td>';
									echo '<td>'.$list_history['kode_verifikasi'].'</td>';					
									echo '<td>'.$list_history['so_date'].'</td>';	
									echo '<td>'.$list_history['user_id'].'</td>';	
									echo '<td>'.$list_history['status'].'</td>';									
									echo '<td>';
										echo Phalcon\Tag::linkTo([uri('SOBulanan/Print?SO_ID='.$list_history['so_id']), "<i class='fa fa-print fa-lg'> </i>", "title"=>"Cetak SO"]);
										echo '&nbsp;&nbsp;';
										echo Phalcon\Tag::linkTo([uri('SOBulanan/Excel?SO_ID='.$list_history['so_id']), "<i class='fa fa-file-excel-o fa-lg'> </i>", "title"=>"Cetak SO"]);
									echo '</td>';
								echo '</tr>';
							}		
						}
						echo '</tbody>
					</table>
				</div>
			</div>
			';
		echo '</div>';
		
		echo '<div id="myModal" class="modal fade" role="dialog">';
			echo '<div class="modal-dialog modal-lg">';

			echo '<div class="modal-content">';
				echo '<div class="modal-header">';
					echo '<button type="button" class="close" data-dismiss="modal">&times;</button>';
					echo '<h4 class="modal-title">SO Bulanan</h4>';
				echo '</div>';
				echo '<div class="modal-body" style="max-height:300px;overflow-y:auto;">';
					echo '<div class="table-responsive">';
					echo '<table class="table-bordered table-striped myTable" style="font-size:14px">';
						echo '<thead>';
						echo '</thead>';
						  
						echo '<tbody>';							
						echo '</tbody>';			
					echo '</table>';
				echo '</div>';
				echo '</div>';
				echo '<div class="modal-footer">';
					echo '<a href="" class="btn btn-default" data-dismiss="modal">Close</a>';
				echo '</div>';
			echo '</div>';

			echo '</div>';
		echo '</div>';
		
		echo '
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '<div>';
	
?>

<script>
	$(document).on("click", ".modalSO", function(){
		var so = $(this).data('so');		
		var myArray = [];
		
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		
		tr = $('<tr>');
		tr.append('<th>Item Code</th>');
		tr.append('<th>Item Description</th>');
		tr.append('<th>Item Unit</th>');						
		tr.append('<th>Item Barcode</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);		
		
		$.ajax({ url: "<?php echo $this->url->get(uri('SOBulanan/ajaxSO')) ?>?so_id="+so+"" }).done(function(data){
			console.log(data);		
			myArray = JSON.parse(data);
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].unit_item +"</td>");
				tr.append("<td>"+ myArray[i].barcode_code +"</td>");							
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}			
		});
	});
</script>

