<style>
    #DataTableZero .markData { color: blue; font-weight: bold; }
	
	.styled_margin{
		margin-top:2px;
	}
	
	.styled_margin label{
		margin-top:10px;
	}
	
	.styled_header{
		background: #f5f5f5;
        border: 1px solid #fff;
        padding: 5px;
        text-align: left;
		min-height: 125px;		
    }
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
		var myTable;
		var count=0;
		
		$(document).ready( function () {			
			myTable = $('#DataTableZero').DataTable({
				"info" : true,
				"scrollY": "300px",
				"scrollCollapse": true,
				"deferRender": true,
				"ordering": true
			});			
			
			$('#DataTableZero tbody').on( 'click', 'tr', function () {
				if ( $(this).hasClass('selected') ) {
					$(this).removeClass('selected');
				}
				else {
					myTable.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			});
			
			$('#btn_back').click( function () {
				document.location.href = '<?php echo $this->url->get(uri('SOBulanan')) ?>';
				return false;
			});

			$('#btn_post').click( function () {
				$("#status").val('COMPLETE');
				$("#so-form").submit();
				return false;				
			});
			
			$('#so-form').submit(function(e) {			
				e.preventDefault();
				jQuery.ajax({
					type: 'post',
					url: '<?php echo $this->url->get(uri('SOBulanan/SavePost')) ?>',
					data: jQuery('#so-form').serialize(),
					dataType: "json",
					beforeSend: function() {
						$('#btn_save').attr('disabled', true);
						$('#btn_post').attr('disabled', true);
						$('#btn_back').attr('disabled', true);
						$('.modal').show();
					},
					complete: function() {
						$('#btn_save').attr('disabled', false);
						$('#btn_post').attr('disabled', false);						
						$('#btn_back').attr('disabled', false);						
						$('.modal').hide();
					}, 
					success: function (data) {
						console.log(data);								

						if(data.type == 'S'){
							swal({
								title: "Sukses",
								text:  data.message,
								type: "success",
								html: true,
								showCancelButton: false,
								closeOnConfirm: false,
								closeOnCancel: false
							},
							function(isConfirm){
								if (isConfirm) {
									//javascript:jsWebClientPrint.print('printerName=' + $('#installedPrinterName').val() + '&so_id=' + data.id );
									window.location = '<?php echo $this->url->get(uri('SOBulanan')) ?>';								
								}
							});
						}else if(data.type == 'E'){
							swal("Gagal", data.message, "error");
						}
					}
				});
				
				return false;
			});	
		});					
</script>

<?php	
	echo '
	<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('StockOpname'), '<span> Stock Opname </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('SOBulanan'), '<span> SO Bulanan </span>']).'</li>
		</ul>
	<div>
	
	<div class="content_content">
		<legend>Posting SO Bulanan</legend>';
		
		echo $this->tag->form([uri("SOBulanan/SavePost"), "id"=>"so-form"]);
			echo '<input type="hidden" id="json_data" name="json_data">'
			.$this->tag->hiddenField(["status", "id"=>"status", "value"=>$so->status]);
			
			echo '				
				<div class="col-sm-6 styled_header">
					<div class="col-sm-4 styled_margin">
						<label> SO ID  </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["so_id", "class"=>"form-control input-sm", "value"=>$so->so_id, "readonly"=>"true"]).'
					</div>

					<div class="col-sm-4 styled_margin">
						<label> Dibuat Oleh </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["user_id", "class"=>"form-control input-sm", "value"=>$so->user_id, "readonly"=>"true"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Tanggal </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->dateField(["so_date", "class"=>"form-control input-sm", "value"=>$so->so_date, "readonly"=>"true"]).'
					</div>
				</div>
				
				<div class="col-sm-12 styled_button">
					<div class="col-sm-6 styled_button">
						<center>																
							<button id="btn_post" class="btn btn-primary btn-sm"> Posting </button>
							<button id="btn_back" class="btn btn-default btn-sm"> Kembali </button>	
						</center>
					</div>
				</div>	
			';			
		echo $this->tag->endForm();
		
		echo '							
			<div class="col-sm-12">
				<table id="DataTableZero">
					<thead>
					<tr>
						<th style="width:10%"> Kode Barang </th>
						<th style="width:10%"> Barcode </th>
						<th style="width:30%"> Nama Barang </th>	
						<th> Qty System</th>
						<th> Qty Fisik</th>	
						<th> Selisih Qty</th>	
						<th> Satuan </th>
						<th> Status </th>
					</tr>
					</thead>
					
					<tbody>
		';

			if(count($so_details) > 0 ){
				$count = 0;
				foreach( $so_details as $line_so_details ) {
					$selisih_stok = 0;
					
					if($line_so_details['qty_tersedia'] < 0){
						$line_so_details['qty_tersedia'] = 0;
					}
					
					if($line_so_details['qty_tersedia'] > $line_so_details['qty_barcode']){
						$selisih_stok = ($line_so_details['qty_tersedia'] - $line_so_details['qty_barcode']) * -1;
					}elseif($line_so_details['qty_tersedia'] < 0 AND $line_so_details['qty_tersedia'] < $line_so_details['qty_barcode']){
						$selisih_stok = (($line_so_details['qty_tersedia'] * -1) + $line_so_details['qty_barcode']);
					}elseif($line_so_details['qty_tersedia'] >= 0 AND $line_so_details['qty_tersedia'] < $line_so_details['qty_barcode']){
						$selisih_stok = $line_so_details['qty_barcode'] - $line_so_details['qty_tersedia'];
					}
					
					echo '<tr>
						<td>'.$line_so_details['item_code'].'</td>
						<td>'.$line_so_details['barcode_code'].'</td>
						<td>'.$line_so_details['description'].'</td>
						<td>'.$line_so_details['qty_tersedia'].'</td>
						<td>'.$line_so_details['qty_barcode'].'</td>
						<td>'.$selisih_stok.'</td>
						<td>'.$line_so_details['unit_item'].'</td>
					';
						if($line_so_details['flag_so_ok']){									
							echo '<td>'.Phalcon\Tag::checkField(["flagSO_".$count,  "id"=>"flagSO_".$count, "name"=>"flagSO_".$count, "checked"=>"checked", "disabled"=>"disabled"]).'</td>';		
						}else{
							echo '<td>'.Phalcon\Tag::checkField(["flagSO_".$count, "id"=>"flagSO_".$count, "name"=>"flagSO_".$count, "disabled"=>"disabled"]).'</td>';		
						}
					
					echo '</tr>';
					
					$count++;
				}
			}
					
		echo '
						</tbody>
					</table>
				</div>
			</div>
		';
		
		echo '			
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '</div>';
?>	