
<?php
	ini_set('memory_limit','-1');
	set_time_limit(0);
	require_once (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('','A4-L',9,'lottefont',10,10,45,2,8);	
	
	$flag = false;
	$so_date = date_create($so['so_date']);

	if($so['status'] == "COMPLETE" || $so['status'] == "POST_PC"){
		$flag = true;
	}
	
	$html_header .= '
		<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>	
		<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right;margin-right:60px">STOCK OPNAME BULANAN</div>
			
		<div style="width:auto;" align="right">
			<barcode code="'.$so['so_id'].'" type="C93" style="text-align:right;margin-right:-14px" size="1" height="1"/>
			<div style="font-family: ocrb;text-align:right;margin-right:65px"><b>'.$so['so_id'].'</b></div>
		</div>
		
		Halaman {PAGENO}/{nbpg}<br/>
		'.date('d/m/Y H:i:s').'<br/>
		'.$this->session->get("user")["user_name"].'
	';
	
	$total_so = 0;
	
	$title = array();
	$val = array();
	$valp = array();
	$valn = array();
	$val_so = array();
	
	foreach($so_details as $so_detail){
		$selisih_stok = 0; 
		
		if($so_detail['qty_tersedia'] < 0){
			$so_detail['qty_tersedia'] = 0;
		}
		
		if($so_detail['qty_tersedia'] > $so_detail['qty_barcode']){
			$selisih_stok = ($so_detail['qty_tersedia'] - $so_detail['qty_barcode']) * -1;
		}elseif($so_detail['qty_tersedia'] < 0 AND $so_detail['qty_tersedia'] < $so_detail['qty_barcode']){
			$selisih_stok = (($so_detail['qty_tersedia'] * -1) + $so_detail['qty_barcode']);
		}elseif($so_detail['qty_tersedia'] >= 0 AND $so_detail['qty_tersedia'] < $so_detail['qty_barcode']){
			$selisih_stok = $so_detail['qty_barcode'] - $so_detail['qty_tersedia'];
		}		
		
		$total_so += $so_detail['qty_barcode'] * $so_detail['unit_price'];
		
		$lists_cat = Category::getAll();
		foreach($lists_cat as $list){
			if($so_detail['l1_cd'] == $list['l1_cd']){
				$title[$list['l1_cd']] = $list['l1_nm'];
				
				$val_so[$list['l1_cd']] += $so_detail['unit_price'] * $so_detail['qty_barcode'];
				
				if($selisih_stok < 0){
					$valn[$list['l1_cd']] += $so_detail['unit_price'] * $selisih_stok;
				}else{
					$valp[$list['l1_cd']] += $so_detail['unit_price'] * $selisih_stok;
				}
			}
		}
	}
	
	$html .= '
		<style>	
			table {				
				border: 1px solid #000;
				border-collapse: collapse;
			}
			
			.bordered {
				padding: 3px;
				border: 1px solid #000;
				vertical-align: middle;
			}
		</style>
		
		<div align="right">
			<b>IMM/TMUK Store : </b><br/>
			'.$tmuk->name.' ('.$tmuk->tmuk.') <br/>
			'.$tmuk->address1.'<br/>
			'.$tmuk->address2.'<br/>
			'.$tmuk->address3.'<br/>
			'.$tmuk->telp.' 
		</div>
		<table style="width:40%;border:0;margin-top:-60px">
			<tr>
				<td style="font-weight:bold">Ringkasan</td>
				<td>Budget Shrinkage</td>
				<td>0.15%</td>
			</tr>
			<tr>
				<td></td>
				<td>Total SO</td>
				<td>'.number_format($total_so,2,',','.').'</td>
			</tr>
		</table>
		<p><table style="width:60%;border:0">
			<tr>
				<th class="bordered" style="text-align:left;">Kategori</th>
				<th class="bordered" style="text-align:left;">Hasil SO</th>
				<th class="bordered" style="text-align:left;">(+)</th>
				<th class="bordered" style="text-align:left;">(-)</th>
				<th class="bordered" style="text-align:left;">Variance</th>
			</tr>';
			
			foreach($title as $row_title => $row_value){		
				if($valp[$row_title] != 0 OR $valn[$row_title] != 0){
			
					$html .= '
						<tr>						
							<td class="bordered">'.$row_value.'</td>
							<td class="bordered">'.number_format($val_so[$row_title],2,',','.').'</td>
							<td class="bordered">'.number_format($valp[$row_title],2,',','.').'</td>
							<td class="bordered">'.number_format($valn[$row_title],2,',','.').'</td>
							<td class="bordered">'.number_format($valp[$row_title] + $valn[$row_title],2,',','.').'</td>
						</tr>
					';
				}
				
				$total_val += ($valp[$row_title] + $valn[$row_title]);
				$total_valp += $valp[$row_title];
				$total_valn += $valn[$row_title];
				$total_valso += $val_so[$row_title];
			}
			
		$html .= '	
			<tr>
				<td class="bordered" style="font-weight:bold">Grand Total</td>
				<td class="bordered" style="font-weight:bold">'.number_format($total_valso,2,',','.').'</td>
				<td class="bordered" style="font-weight:bold">'.number_format($total_valp,2,',','.').'</td>
				<td class="bordered" style="font-weight:bold">'.number_format($total_valn,2,',','.').'</td>
				<td class="bordered" style="font-weight:bold">'.number_format($total_val,2,',','.').'</td>
			</tr>
		</table></p>
		
		<p><table style="width:100%;">
			<thead>
				<tr>
					<th rowspan="2" class="bordered">Kategori</th>
					<th rowspan="2" class="bordered">Divisi</th>
					<th rowspan="2" class="bordered">Kode Barang</th>
					<th rowspan="2" class="bordered" style="width:20%">Nama Barang</th>
					<th colspan="2" class="bordered">Inventory Unit</th>
					';
				
				$html .= '<th rowspan="2" class="bordered" style="width:6%">Jumlah Fisik</th>';
				
				if($flag){
					$html .= '<th rowspan="2" class="bordered" style="width:6%">Jumlah Sistem</th>';
				}
				
				$html .= '<th rowspan="2" class="bordered" style="width:6%">Variance Qty</th>';
			
		$html .= '
				</tr>
				<tr>
					<th class="bordered">Satuan</th>
					<th class="bordered">Barcode</th>
				</tr>
			</thead>
			<tbody>';
			
			if(isset($so_details)){
				foreach($so_details as $so_detail){	

					$selisih_stok = 0;
					
					if($so_detail['qty_tersedia'] < 0){
						$so_detail['qty_tersedia'] = 0;
					}
					
					if($so_detail['qty_tersedia'] > $so_detail['qty_barcode']){
						$selisih_stok = ($so_detail['qty_tersedia'] - $so_detail['qty_barcode']) * -1;
					}elseif($so_detail['qty_tersedia'] < 0 AND $so_detail['qty_tersedia'] < $so_detail['qty_barcode']){
						$selisih_stok = (($so_detail['qty_tersedia'] * -1) + $so_detail['qty_barcode']);
					}elseif($so_detail['qty_tersedia'] >= 0 AND $so_detail['qty_tersedia'] < $so_detail['qty_barcode']){
						$selisih_stok = $so_detail['qty_barcode'] - $so_detail['qty_tersedia'];
					}
					
					$html .= '
						<tr>
							<td class="bordered">'.$so_detail['l1_nm'].'</td>
							<td class="bordered">'.$so_detail['bumun_nm'].'</td>
							<td class="bordered">'.$so_detail['item_code'].'</td>
							<td class="bordered">'.$so_detail['description'].'</td>
							<td class="bordered" style="text-align:center">'.$so_detail['unit_item'].'</td>
							<td class="bordered" style="text-align:left">'.$so_detail['barcode_code'].'</td>
							';
							
					if($flag){
						$html .= '							
							<td class="bordered" style="text-align:right">'.$so_detail['qty_barcode'].'</td>
							<td class="bordered" style="text-align:right">'.$so_detail['qty_tersedia'].'</td>
							<td class="bordered" style="text-align:right">'.$selisih_stok.'</td>';
					}else{
						$html .= '<td class="bordered"></td>';
					}
					$html .='
						</tr> ';
				}
			}
			
			$html .= '
			</tbody>
		</table></p>
		
		<p style="margin-top:50px">
			Counted by<br/>
			<div style="width:165px;height:65px;border:1px solid #000"></div>
		</p>
	';
	
	$mpdf->setHTMLHeader($html_header);
	$mpdf->useSubstitutions = false;
	$mpdf->simpleTables = true;
	$mpdf->WriteHTML($html);
	$mpdf->Output();
	exit;
	
?>

