<style>
    #DataTableZero .markData { color: blue; font-weight: bold; }
	
	.styled_margin{
		margin-top:2px;
	}
	
	.styled_margin label{
		margin-top:10px;
	}
	
	.styled_header{
		background: #f5f5f5;
        border: 1px solid #fff;
        padding: 5px;
        text-align: left;
		min-height: 125px;		
    }
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
		var myTable;
		var count=0;
		
		$(document).ready( function () {			
			myTable = $('#DataTableZero').DataTable({
				"info" 			: true,
				"scrollY"		: "300px",
				"scrollCollapse": true,
				"deferRender"	: true,
				"ordering"		: true
			});	
			
			var allPages = myTable.rows().nodes();
			
			$('#DataTableZero tbody').on( 'click', 'tr', function () {
				if ( $(this).hasClass('selected') ) {
					$(this).removeClass('selected');
				}
				else {
					myTable.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			});
			
			$('#btn_back').click(function(){
				document.location.href = '<?php echo $this->url->get(uri('SOBulanan')) ?>';
				return false;
			});
			
			$('#btn_export').click(function(){
				document.location.href = '<?php echo $this->url->get(uri('SOBulanan/exportexcel?SO_ID='.$so->so_id)) ?>';
				return false;
			});
			
			$('#btn_import').click(function(){
				document.location.href = '<?php echo $this->url->get(uri('SOBulanan/importexcel?SO_ID='.$so->so_id)) ?>';
				return false;
			});
			
			$('#status_ok').click(function() {	
				if ($(this).is(':checked')) {
					$('.fl_ok', allPages).prop('checked', true);
				}else{
					$('.fl_ok', allPages).prop('checked', false);
				}
			});
			
			$('#btn_save').click(function(){
				$("#status").val('PROSES_PC');
				$("#so-form").submit();
				return false;
			});
			
			$('#btn_post').click(function(){
				$("#status").val('POST_PC');
				
				var data = myTable.rows().data();
				var data_input = myTable.$('input, select').serialize();
				var data_convert = [];
				var count;
				
				item_data_input = data_input.split("&");
				
				count = 0;
				for(var i=0; i< data.length; i++){
					for(var j=0; j<item_data_input.length; j++){						
						var value_data_input = item_data_input[j].split("=");
						var name_data_input = value_data_input[0].split("_");
						
						if(name_data_input[1] == data[i][0] && name_data_input[0] == "flagSO"){
							count++;
						}		
					}				
				}
				
				if(data.length > count){
					sweetAlert("Gagal", "Posting bisa dilakukan jika seluruh barang sudah di opname", "error");					
					return false;
				}

				$("#so-form").submit();
				return false;				
			});
			
			$('#so-form').submit(function(e) {
				var data = myTable.rows().data();
				var data_input = myTable.$('input, select').serialize();
				var data_convert = [];
				
				item_data_input = data_input.split("&");
				
				for(var i=0; i< data.length; i++){
					data[i][4] = '0';
					data[i][7] = 'f';
					
					for(var j=0; j<item_data_input.length; j++){						
						var value_data_input = item_data_input[j].split("=");
						var name_data_input = value_data_input[0].split("_");
						
						if(name_data_input[1] == data[i][0] && name_data_input[0] == "qtyBarcode"){
							data[i][4] = value_data_input[1];
						}else if(name_data_input[1] == data[i][0] && name_data_input[0] == "flagSO"){
							data[i][7] = 't';
						}		
					}
					
					data_convert.push([data[i][0],data[i][1],data[i][2],data[i][3],data[i][4],data[i][5],data[i][6],data[i][7]]);					
				}
				
				var json_data = document.getElementById('json_data');
				json_data.value = JSON.stringify(data_convert);
				e.preventDefault();
				
				jQuery.ajax({
					type: 'post',
					url: '<?php echo $this->url->get(uri('SOBulanan/SaveProses')) ?>',
					data: jQuery('#so-form').serialize(),
					dataType: "json",
					beforeSend: function() {
						$('#btn_save').attr('disabled', true);
						$('#btn_post').attr('disabled', true);
						$('#btn_back').attr('disabled', true);
						$('.modal').show();
					},
					complete: function() {
						$('#btn_save').attr('disabled', false);
						$('#btn_post').attr('disabled', false);						
						$('#btn_back').attr('disabled', false);						
						$('.modal').hide();
					}, 
					success: function (data) {
						console.log(data);								

						if(data.type == 'S'){
							swal({
								title: "Sukses",
								text:  data.message,
								type: "success",
								html: true,
								showCancelButton: false,
								closeOnConfirm: false,
								closeOnCancel: false
							},
							function(isConfirm){
								if (isConfirm) {
									window.location = '<?php echo $this->url->get(uri('SOBulanan')) ?>';								
								}
							});
						}else if(data.type == 'E'){
							swal("Gagal", data.message, "error");
						}
					}
				});
				
				return false;
			});	
		});					
</script>

<?php	

	echo '
	<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('StockOpname'), '<span> Stock Opname </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('SOBulanan'), '<span> SO Bulanan </span>']).'</li>
		</ul>
	<div>
	
	<div class="content_content">
		<legend>Proses SO Bulanan</legend>';
		
		echo $this->tag->form([uri("SOBulanan/SaveProses"), "id"=>"so-form"]);
			echo '<input type="hidden" id="json_data" name="json_data">'
			.$this->tag->hiddenField(["status", "id"=>"status", "value"=>$so->status]);
			
			echo '
				<div class="col-sm-6 styled_header">
					<div class="col-sm-4 styled_margin">
						<label> SO ID  </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["so_id", "class"=>"form-control input-sm", "value"=>$so->so_id, "readonly"=>"true"]).'
					</div>

					<div class="col-sm-4 styled_margin">
						<label> Dibuat Oleh </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["user_id", "class"=>"form-control input-sm", "value"=>$so->user_id, "readonly"=>"true"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Tanggal </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->dateField(["so_date", "class"=>"form-control input-sm", "value"=>$so->so_date, "readonly"=>"true"]).'
					</div>
				</div>
				
				<div class="col-sm-12 styled_button">
					<div class="col-sm-6 styled_button">
						<center>								
							<button id="btn_save" class="btn btn-primary btn-sm"> Simpan </button>
							<button id="btn_post" class="btn btn-info btn-sm"> Posting </button>
						</center>
					</div>
					<div class="col-sm-6 text-right" style="padding:10px">
						<button id="btn_import" class="btn btn-default btn-sm"> <i class="fa fa-download fa-lg"> </i> Import XLS </button>
						<button id="btn_export" class="btn btn-default btn-sm"> <i class="fa fa-download fa-lg"> </i> Export XLS </button>
					</div>	
				</div>
			';			
		echo $this->tag->endForm();
		
		echo '				
			<div class="col-sm-12" style="margin-bottom:20px">
				<table id="DataTableZero">
					<thead>
					<tr>
						<th> ID </th>
						<th style="width:10%"> Kode Barang </th>
						<th style="width:10%"> Barcode </th>
						<th style="width:30%"> Nama Barang </th>	
						<th> Qty </th>	
						<th> Satuan </th>
						<th> '.Phalcon\Tag::checkField(["status_ok"]).' Status </th>							
					</tr>
					</thead>
					
					<tbody>
		';

			if(count($so_details) > 0 ){
				$count = 0;
				foreach( $so_details as $line_so_details ) {
					echo '<tr>
						<td>'.$line_so_details['so_detail_item'].'</td>
						<td>'.$line_so_details['item_code'].'</td>
						<td>'.$line_so_details['barcode_code'].'</td>	
						<td>'.$line_so_details['description'].'</td>
						<td>'.$this->tag->numericField(["qtyBarcode_".$line_so_details['so_detail_item'], "id"=>"qtyBarcode_".$line_so_details['so_detail_item'], "name"=>"qtyBarcode_".$line_so_details['so_detail_item'], "value"=>$line_so_details['qty_barcode'], "style"=>"width:75px"]).'</td>
						<td>'.$line_so_details['unit_item'].'</td>
					';
						if($line_so_details['flag_so_ok']){									
							echo '<td>'.Phalcon\Tag::checkField(["flagSO_".$line_so_details['so_detail_item'], "id"=>"flagSO_".$line_so_details['so_detail_item'], "name"=>"flagSO_".$line_so_details['so_detail_item'], "checked"=>"checked", "class"=>"fl_ok"]).'</td>';		
						}else{
							echo '<td>'.Phalcon\Tag::checkField(["flagSO_".$line_so_details['so_detail_item'], "id"=>"flagSO_".$line_so_details['so_detail_item'], "name"=>"flagSO_".$line_so_details['so_detail_item'], "class"=>"fl_ok"]).'</td>';		
						}
						
					echo '</tr>';
					
					$count++;
				}
			}
					
		echo '
					</tbody>
				</table>
			</div>
		';
		
		echo '			
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '</div>';
?>	