
<?php

	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Promo'), '<span> Promo </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
	
	if(strpos($_SERVER['REQUEST_URI'], 'Status') == false){
		
		echo $this->tag->form([uri("Promo/Insert"), "class"=>"add-form"]);
		echo '<table>';
			echo '<tr>';
				echo '<td>'.'<label class="Unit"> Kode Promosi </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["kode_promosi"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Name"> Nama Promosi </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["nama_promosi"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> From </label>'.'</td>';
				echo '<td>'.$this->tag->dateField(["from_"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> To </label>'.'</td>';
				echo '<td>'.$this->tag->dateField(["to_"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Loc Code </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["loc_code"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Jenis Promo </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["jenis_promo"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Amount </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["amount"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
				echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Promo'), '<span> Back </span>']).'</div></td>';
			echo '</tr>';
		echo '</table>';		
		echo $this->tag->endForm();	
		
	}else{
		
		if($_GET["Status"] == 'Barang'){
			echo $this->tag->form([uri("Promo/Insert?Status=Barang"), "class"=>"add-form"]);
			echo '<table>';
				echo '<tr>';
					echo '<td>'.'<label class="Unit"> Kode Promosi </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["kode_promosi"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Name"> Stock ID </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["stock_id"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Decimals"> Quantity </label>'.'</td>';
					echo '<td>'.$this->tag->numericField(["qty"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Decimals"> Discount Max </label>'.'</td>';
					echo '<td>'.$this->tag->numericField(["discount_max"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Decimals"> Discount Replace </label>'.'</td>';
					echo '<td>'.$this->tag->numericField(["discount_amount"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
					echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Promo'), '<span> Back </span>']).'</div></td>';
				echo '</tr>';
			echo '</table>';		
			echo $this->tag->endForm();	
			
		}
		
		if($_GET["Status"] == 'Hadiah'){
			
			echo $this->tag->form([uri("Promo/Insert?Status=Hadiah"), "class"=>"add-form"]);
			echo '<table>';
				echo '<tr>';
					echo '<td>'.'<label class="Unit"> Kode Promosi </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["kode_promosi"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Name"> Stock ID </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["stock_id"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Decimals"> Quantity </label>'.'</td>';
					echo '<td>'.$this->tag->numericField(["qty"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
					echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Promo'), '<span> Back </span>']).'</div></td>';
				echo '</tr>';
			echo '</table>';		
			echo $this->tag->endForm();	
			
		}
		
		if($_GET["Status"] == 'Location'){
			
			echo $this->tag->form([uri("Promo/Insert?Status=Location"), "class"=>"add-form"]);
			echo '<table>';
				echo '<tr>';
					echo '<td>'.'<label class="Unit"> Kode Promosi </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["kode_promosi"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Name"> Location </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["location"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
					echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Promo'), '<span> Back </span>']).'</div></td>';
				echo '</tr>';
			echo '</table>';		
			echo $this->tag->endForm();	
			
		}
		
		if($_GET["Status"] == 'PWP'){
			
			echo $this->tag->form([uri("Promo/Insert?Status=PWP"), "class"=>"add-form"]);
			echo '<table>';
				echo '<tr>';
					echo '<td>'.'<label class="Unit"> Kode Promosi </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["kode_promosi"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Name"> Stock ID </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["stock_id"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Decimals"> Price </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["price"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
					echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Promo'), '<span> Back </span>']).'</div></td>';
				echo '</tr>';
			echo '</table>';		
			echo $this->tag->endForm();	
			
		}
	}
	
	echo '</div>';
	
?>