<?php
	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Promo'), '<span> Promo </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	$data = new Promo();
	$data->id = $_REQUEST['ID'];
	$lists = $data::getFirst($data, $_GET['Status']);
	
	$data_val = new Promo();	
	if(empty($_GET['Status'])){	
		if($lists){
			foreach($lists as $list){
				$data_val->id = $list['id'];
				$data_val->kode_promosi = $list['kode_promosi'];
				$data_val->nama_promosi = $list['nama_promosi'];
				$data_val->from_ = $list['from_'];
				$data_val->to_ = $list['to_'];
				$data_val->loc_code = $list['loc_code'];
				$data_val->jenis_promo = $list['jenis_promo'];
				$data_val->amount = $list['amount'];
			}
		}
	}else{
		if($_GET["Status"] == 'Barang'){		
			if(count($lists) > 0){
				foreach($lists as $list){
					$data_val->id = $list['id'];
					$data_val->kode_promosi = $list['kode_promosi'];
					$data_val->stock_id = $list['stock_id'];
					$data_val->qty = $list['qty'];
					$data_val->discount_max = $list['discount_max'];
					$data_val->discount_amount = $list['discount_amount'];
				}
			}
		}
		
		if($_GET["Status"] == 'Hadiah'){
			if(count($lists) > 0){
				foreach($lists as $list){
					$data_val->id = $list['id'];
					$data_val->kode_promosi = $list['kode_promosi'];
					$data_val->stock_id = $list['stock_id'];
					$data_val->qty = $list['qty'];
				}
			}
		}
		
		if($_GET["Status"] == 'Location'){
			if(count($lists) > 0){
				foreach($lists as $list){
					$data_val->id = $list['id'];
					$data_val->kode_promosi = $list['kode_promosi'];
					$data_val->location = $list['location'];
				}
			}
		}
		
		if($_GET["Status"] == 'PWP'){		
			if(count($lists) > 0){
				foreach($lists as $list){
					$data_val->id = $list['id'];
					$data_val->kode_promosi = $list['kode_promosi'];
					$data_val->stock_id = $list['stock_id'];
					$data_val->price = $list['price'];
				}
			}
		}
	}
	
	echo '<div class="content_content">';
	
	if(empty($_GET['Status'])){
		
		echo $this->tag->form([uri("Promo/Update"), "class"=>"add-form"]);
		echo '<table>';
			echo '<tr>';
				echo '<td>'.'<label class="Unit"> ID </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["id", "value"=>$data_val->id, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Name"> Kode Promo </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["kode_promosi", "value"=>$data_val->kode_promosi]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Nama Promo </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["nama_promosi", "value"=>$data_val->nama_promosi]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> From </label>'.'</td>';
				echo '<td>'.$this->tag->dateField(["from_", "value"=>$data_val->from_]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> To </label>'.'</td>';
				echo '<td>'.$this->tag->dateField(["to_", "value"=>$data_val->to_]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> TMUK </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["loc_code", "value"=>$data_val->loc_code]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Jenis Promo </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["jenis_promo", "value"=>$data_val->jenis_promo]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Amount </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["amount", "value"=>$data_val->amount]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
				echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Promo'), '<span> Back </span>']).'</div></td>';
			echo '</tr>';
		echo '</table>';
		echo $this->tag->endForm();
		
	}else{
		
		if($_GET["Status"] == 'Barang'){
			echo $this->tag->form([uri("Promo/Update?Status=Barang"), "class"=>"add-form"]);
			echo '<table>';
				echo '<tr>';
					echo '<td>'.'<label class="Unit"> ID </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["id", "value"=>$data_val->id, "readonly"=>"true"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Name"> Kode Promo </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["kode_promosi", "value"=>$data_val->kode_promosi]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Decimals"> Kode Barang </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["stock_id", "value"=>$data_val->stock_id]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Decimals"> Jumlah </label>'.'</td>';
					echo '<td>'.$this->tag->numericField(["qty", "value"=>$data_val->qty]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Decimals"> Diskon (%) </label>'.'</td>';
					echo '<td>'.$this->tag->numericField(["discount_max", "value"=>$data_val->discount_max]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Decimals"> Diskon (Rp) </label>'.'</td>';
					echo '<td>'.$this->tag->numericField(["discount_amount", "value"=>$data_val->discount_amount]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
					echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Promo'), '<span> Back </span>']).'</div></td>';
				echo '</tr>';
			echo '</table>';
			echo $this->tag->endForm();			
		}
		
		if($_GET["Status"] == 'Hadiah'){
			
			echo $this->tag->form([uri("Promo/Update?Status=Hadiah"), "class"=>"add-form"]);
			echo '<table>';
				echo '<tr>';
					echo '<td>'.'<label class="Unit"> ID </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["id", "value"=>$data_val->id, "readonly"=>"true"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Name"> Kode Promo </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["kode_promosi", "value"=>$data_val->kode_promosi]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Decimals"> Kode Barang </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["stock_id", "value"=>$data_val->stock_id]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Decimals"> Jumlah </label>'.'</td>';
					echo '<td>'.$this->tag->numericField(["qty", "value"=>$data_val->qty]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
					echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Promo'), '<span> Back </span>']).'</div></td>';
				echo '</tr>';
			echo '</table>';
			echo $this->tag->endForm();						
		}
		
		if($_GET["Status"] == 'Location'){		
			echo $this->tag->form([uri("Promo/Insert?Status=Location"), "class"=>"add-form"]);
			echo '<table>';
				echo '<tr>';
					echo '<td>'.'<label class="Unit"> ID </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["id", "value"=>$data_val->id, "readonly"=>"true"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Unit"> Kode Promo </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["kode_promosi", "value"=>$data_val->kode_promosi]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Name"> Location </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["location", "value"=>$data_val->location]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
					echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Promo'), '<span> Back </span>']).'</div></td>';
				echo '</tr>';
			echo '</table>';		
			echo $this->tag->endForm();	
		}
		
		if($_GET["Status"] == 'PWP'){			
			echo $this->tag->form([uri("Promo/Insert?Status=PWP"), "class"=>"add-form"]);
			echo '<table>';
				echo '<tr>';
					echo '<td>'.'<label class="Unit"> ID </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["id", "value"=>$data_val->id, "readonly"=>"true"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Unit"> Kode Promo </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["kode_promosi", "value"=>$data_val->kode_promosi]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Name"> Kode Barang </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["stock_id", "value"=>$data_val->stock_id]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label class="Decimals"> Harga </label>'.'</td>';
					echo '<td>'.$this->tag->numericField(["price", "value"=>$data_val->price]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
					echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Promo'), '<span> Back </span>']).'</div></td>';
				echo '</tr>';
			echo '</table>';		
			echo $this->tag->endForm();	
		}
	}
		
	echo '</div>';
?>

