
<?php
	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Promo'), '<span> Promo </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
	
		echo '<ul class="nav nav-tabs">';
			echo '<li class="active"><a data-toggle="tab" href="#promosi">Promosi Diskon</a></li>';
			echo '<li><a data-toggle="tab" href="#pr_buy">Promo Buy X Get Y</a></li>';
			echo '<li><a data-toggle="tab" href="#pr_pwp">Promo Purchase With Purchase</a></li>';
			echo '<li><a data-toggle="tab" href="#pr_paket">Promo Paket</a></li>';
		echo '</ul>';

	    echo '<div class="tab-content">';
		echo '<div id="promosi" class="tab-pane fade in active">';
			echo '</br>';
			echo '<legend><h5><b> Active </b></h5></legend>';
			echo '<div class="table-responsive" style="margin-top:30px">';
			echo '<table id="DataTable" class="table-striped hover">';
				echo '<thead>';
					echo '<tr>';
					  echo '<th style="text-align:center"> Kode Promo </th>';
					  echo '<th style="text-align:center"> Nama Promo </th>';
					  echo '<th style="text-align:center"> Tanggal Mulai </th>';			  
					  echo '<th style="text-align:center"> Tanggal Selesai </th>';
					 // echo '<th> TMUK </th>';
					  echo '<th style="text-align:center"> Kode Barang </th>';
					  echo '<th style="text-align:center"> Barcode </th>';
					  echo '<th style="text-align:center"> Nama Barang </th>';
					  echo '<th style="text-align:center"> Harga </th>';
					  echo '<th style="text-align:center"> Harga Terdiskon </th>';
					  echo '<th style="text-align:center"> Diskon </th>';
					  /*echo '<th style="text-align:center"> Action </th>';*/
					echo '</tr>';
				echo '</thead>';
				echo '<tbody>';	
					if(count($data_diskon) > 0 ){
						foreach ($data_diskon as $key => $value) {
							$data_diskon = new Diskon();
							$condition = " WHERE \"promosi_id\" = '".$value['id']."' ";
							$data = $data_diskon::getFreeSQL($condition);
							foreach ($data as $val_diskon) {
								$produk = new Product();
								$condition = " WHERE \"stock_id\" = '".$val_diskon['kode_produk']."' ";
								$data_produk = $produk::getFreeSQL($condition);

								$price = new ProductPrice();
								$condition = " WHERE \"stock_id\" = '".$val_diskon['kode_produk']."' ";
								$cek_price = $price::getFreeSQL($condition);
								foreach ($data_produk as $key => $val_produk) {
									echo '<tr>';
									echo '<td style="text-align:center">'.$value['kode_promosi'].'</td>';
									echo '<td style="text-align:center">'.$value['nama_promosi'].'</td>';
									echo '<td style="text-align:center">'.date('d-m-Y', strtotime($value['from_'])).'</td>';					
									echo '<td style="text-align:center">'.date('d-m-Y', strtotime($value['to_'])).'</td>';					
									//echo '<td>'.$list['loc_code'].'</td>';					
									echo '<td style="text-align:center">'.$val_produk['stock_id'].'</td>';					
									echo '<td style="text-align:center">'.$val_produk['uom1_internal_barcode'].'</td>';					
									echo '<td style="text-align:center">'.$val_produk['uom1_prod_nm'].'</td>';					
									echo '<td style="text-align:right">'.$val_diskon['cost_price'].'</td>';					
									echo '<td style="text-align:right">'.$val_diskon['harga_terdiskon'].'</td>';					
									echo '<td style="text-align:right">'.$val_diskon['diskon'].'</td>';					
									/*echo '<td style="text-align:center">';
										echo Phalcon\Tag::linkTo([uri('Promo/Edit?Status=&ID='.$list['id'], "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Edit"]);
										echo '&nbsp;&nbsp;';
										echo Phalcon\Tag::linkTo([uri('Promo/Delete?ID='.$list['id'], "<i class='fa fa-close fa-lg'> </i>", "title"=>"Delete"]);
									echo '</td>';*/
									echo '</tr>';
								}
							}
						}				  
					}
				echo '</tbody>';			
			echo '</table>';
			echo '</div>';
			echo '</br>';
			echo '<legend><h5><b> History </b></h5></legend>';
			echo '<div class="table-responsive" style="margin-top:30px">';
			echo '<table id="DataTable10" class="table-striped hover">';
				echo '<thead>';
					echo '<tr>';
					  echo '<th style="text-align:center"> Kode Promo </th>';
					  echo '<th style="text-align:center"> Nama Promo </th>';
					  echo '<th style="text-align:center"> Tanggal Mulai </th>';			  
					  echo '<th style="text-align:center"> Tanggal Selesai </th>';
					 // echo '<th> TMUK </th>';
					  echo '<th style="text-align:center"> Kode Barang </th>';
					  echo '<th style="text-align:center"> Barcode </th>';
					  echo '<th style="text-align:center"> Nama Barang </th>';
					  echo '<th style="text-align:center"> Harga </th>';
					  echo '<th style="text-align:center"> Harga Terdiskon </th>';
					  echo '<th style="text-align:center"> Diskon </th>';
					  /*echo '<th style="text-align:center"> Action </th>';*/
					echo '</tr>';
				echo '</thead>';
				echo '<tbody>';	
					if(count($data_diskon_history) > 0 ){
						foreach ($data_diskon_history as $key => $value) {
							$data_diskon_history = new Diskon();
							$condition = " WHERE \"promosi_id\" = '".$value['id']."' ";
							$data = $data_diskon_history::getFreeSQL($condition);
							foreach ($data as $val_diskon) {
								$produk = new Product();
								$condition = " WHERE \"stock_id\" = '".$val_diskon['kode_produk']."' ";
								$data_produk = $produk::getFreeSQL($condition);

								$price = new ProductPrice();
								$condition = " WHERE \"stock_id\" = '".$val_diskon['kode_produk']."' ";
								$cek_price = $price::getFreeSQL($condition);
								foreach ($data_produk as $key => $val_produk) {
									echo '<tr>';
									echo '<td style="text-align:center">'.$value['kode_promosi'].'</td>';
									echo '<td style="text-align:center">'.$value['nama_promosi'].'</td>';
									echo '<td style="text-align:center">'.date('d-m-Y', strtotime($value['from_'])).'</td>';					
									echo '<td style="text-align:center">'.date('d-m-Y', strtotime($value['to_'])).'</td>';					
									//echo '<td>'.$list['loc_code'].'</td>';					
									echo '<td style="text-align:center">'.$val_produk['stock_id'].'</td>';					
									echo '<td style="text-align:center">'.$val_produk['uom1_internal_barcode'].'</td>';					
									echo '<td style="text-align:center">'.$val_produk['uom1_prod_nm'].'</td>';					
									echo '<td style="text-align:right">'.$val_diskon['cost_price'].'</td>';					
									echo '<td style="text-align:right">'.$val_diskon['harga_terdiskon'].'</td>';					
									echo '<td style="text-align:right">'.$val_diskon['diskon'].'</td>';					
									/*echo '<td style="text-align:center">';
										echo Phalcon\Tag::linkTo([uri('Promo/Edit?Status=&ID='.$list['id'], "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Edit"]);
										echo '&nbsp;&nbsp;';
										echo Phalcon\Tag::linkTo([uri('Promo/Delete?ID='.$list['id'], "<i class='fa fa-close fa-lg'> </i>", "title"=>"Delete"]);
									echo '</td>';*/
									echo '</tr>';
								}
							}
						}				  
					}
				echo '</tbody>';			
			echo '</table>';
			echo '</div>';
		echo '</div>';
		echo '<div id="pr_buy" class="tab-pane fade">';
			echo '</br>';
			echo '<legend><h5><b> Active </b></h5></legend>';	
			echo '<div class="table-responsive" style="margin-top:30px">';
				echo '<table id="DataTable2" class="table-striped hover">';
					echo '<thead>';
						echo '<tr>';
						  echo '<th style="text-align:center"> Kode Promo </th>';
						  echo '<th style="text-align:center"> Nama Promo </th>';
						  echo '<th style="text-align:center"> Tanggal Mulai </th>';			  
						  echo '<th style="text-align:center"> Tanggal Selesai </th>';
						  echo '<th style="text-align:center"> Kode Barang X </th>';
						  echo '<th style="text-align:center"> Barcode Barang X </th>';
						  echo '<th style="text-align:center"> Nama Barang X </th>';
						  echo '<th style="text-align:center"> Kode Barang Y </th>';
						  echo '<th style="text-align:center"> Barcode Barang Y </th>';
						  echo '<th style="text-align:center"> Nama Barang Y </th>';
						  /*echo '<th style="text-align:center"> Action </th>';*/
							echo '</tr>';
							echo '</thead>';
							echo '<tbody>';	
								if(count($xy) > 0 ){
									foreach ($xy as $key => $value) {
										$data_xy = new XY();
										$condition = " WHERE \"promosi_id\" = '".$value['id']."' ";
										$data = $data_xy::getFreeSQL($condition);
										foreach ($data as $xy) {
											$produk_x = new Product();
											$condition = " WHERE \"stock_id\" = '".$xy['kode_produk_x']."' ";
											$data_produk_x = $produk_x::getFreeSQL($condition);

											$produk_y = new Product();
											$condition = " WHERE \"stock_id\" = '".$xy['kode_produk_y']."' ";
											$data_produk_y = $produk_y::getFreeSQL($condition);

											foreach ($data_produk_x as $key => $val_produk) {
												foreach ($data_produk_y as $key => $val_produk_y) {
													echo '<tr>';
													echo '<td style="text-align:center">'.$value['kode_promosi'].'</td>';
													echo '<td style="text-align:center">'.$value['nama_promosi'].'</td>';
													echo '<td style="text-align:center">'.date('d-m-Y', strtotime($value['from_'])).'</td>';					
													echo '<td style="text-align:center">'.date('d-m-Y', strtotime($value['to_'])).'</td>';					
													echo '<td style="text-align:center">'.$val_produk['stock_id'].'</td>';					
													echo '<td style="text-align:center">'.$val_produk['uom1_internal_barcode'].'</td>';					
													echo '<td style="text-align:center">'.$val_produk['uom1_prod_nm'].'</td>';					
													echo '<td style="text-align:center">'.$val_produk_y['stock_id'].'</td>';					
													echo '<td style="text-align:center">'.$val_produk_y['uom1_internal_barcode'].'</td>';					
													echo '<td style="text-align:center">'.$val_produk_y['uom1_prod_nm'].'</td>';					
													/*echo '<td style="text-align:center">';
													echo Phalcon\Tag::linkTo([uri('Promo/Edit?Status=&ID='.$list['id'], "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Edit"]);
													echo '&nbsp;&nbsp;';
													echo Phalcon\Tag::linkTo([uri('Promo/Delete?ID='.$list['id'], "<i class='fa fa-close fa-lg'> </i>", "title"=>"Delete"]);
													echo '</td>';*/
													echo '</tr>';
												}
											}
										}
									}
								}
							echo '</tbody>';			
				echo '</table>';
			echo '</div>';
			echo '</br>';
			echo '<legend><h5><b> History </b></h5></legend>';	
			echo '<div class="table-responsive" style="margin-top:30px">';
				echo '<table id="DataTable11" class="table-striped hover">';
					echo '<thead>';
						echo '<tr>';
						  echo '<th style="text-align:center"> Kode Promo </th>';
						  echo '<th style="text-align:center"> Nama Promo </th>';
						  echo '<th style="text-align:center"> Tanggal Mulai </th>';			  
						  echo '<th style="text-align:center"> Tanggal Selesai </th>';
						  echo '<th style="text-align:center"> Kode Barang X </th>';
						  echo '<th style="text-align:center"> Barcode Barang X </th>';
						  echo '<th style="text-align:center"> Nama Barang X </th>';
						  echo '<th style="text-align:center"> Kode Barang Y </th>';
						  echo '<th style="text-align:center"> Barcode Barang Y </th>';
						  echo '<th style="text-align:center"> Nama Barang Y </th>';
						  /*echo '<th style="text-align:center"> Action </th>';*/
							echo '</tr>';
							echo '</thead>';
							echo '<tbody>';	
								if(count($xy_history) > 0 ){
									foreach ($xy_history as $key => $value) {
										$data_xy = new XY();
										$condition = " WHERE \"promosi_id\" = '".$value['id']."' ";
										$data = $data_xy::getFreeSQL($condition);
										foreach ($data as $xy) {
											$produk_x = new Product();
											$condition = " WHERE \"stock_id\" = '".$xy['kode_produk_x']."' ";
											$data_produk_x = $produk_x::getFreeSQL($condition);

											$produk_y = new Product();
											$condition = " WHERE \"stock_id\" = '".$xy['kode_produk_y']."' ";
											$data_produk_y = $produk_y::getFreeSQL($condition);

											foreach ($data_produk_x as $key => $val_produk) {
												foreach ($data_produk_y as $key => $val_produk_y) {
													echo '<tr>';
													echo '<td style="text-align:center">'.$value['kode_promosi'].'</td>';
													echo '<td style="text-align:center">'.$value['nama_promosi'].'</td>';
													echo '<td style="text-align:center">'.date('d-m-Y', strtotime($value['from_'])).'</td>';					
													echo '<td style="text-align:center">'.date('d-m-Y', strtotime($value['to_'])).'</td>';					
													echo '<td style="text-align:center">'.$val_produk['stock_id'].'</td>';					
													echo '<td style="text-align:center">'.$val_produk['uom1_internal_barcode'].'</td>';					
													echo '<td style="text-align:center">'.$val_produk['uom1_prod_nm'].'</td>';					
													echo '<td style="text-align:center">'.$val_produk_y['stock_id'].'</td>';					
													echo '<td style="text-align:center">'.$val_produk_y['uom1_internal_barcode'].'</td>';					
													echo '<td style="text-align:center">'.$val_produk_y['uom1_prod_nm'].'</td>';					
													/*echo '<td style="text-align:center">';
													echo Phalcon\Tag::linkTo([uri('Promo/Edit?Status=&ID='.$list['id']), "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Edit"]);
													echo '&nbsp;&nbsp;';
													echo Phalcon\Tag::linkTo([uri('Promo/Delete?ID='.$list['id']), "<i class='fa fa-close fa-lg'> </i>", "title"=>"Delete"]);
													echo '</td>';*/
													echo '</tr>';
												}
											}
										}
									}
								}
							echo '</tbody>';			
				echo '</table>';
			echo '</div>';

		echo '</div>';
		echo '<div id="pr_pwp" class="tab-pane fade">';
			echo '</br>';
			echo '<legend><h5><b> Active </b></h5></legend>';
			echo '<div class="table-responsive" style="margin-top:30px">';
			echo '<table id="DataTable3" class="table-striped hover">';
				echo '<thead>';
					echo '<tr>';
					  echo '<th style="text-align:center"> Kode Promo </th>';
					  echo '<th style="text-align:center"> Nama Promosi </th>';
					  echo '<th style="text-align:center"> Tanggal Mulai </th>';
					  echo '<th style="text-align:center"> Tanggal Selesai </th>';
					  echo '<th style="text-align:center"> Beli </th>';			  
					  echo '<th style="text-align:center"> Dapat </th>';
					echo '</tr>';
				echo '</thead>';
				echo '<tbody>';	
				if(count($pwp) > 0 ){
					foreach ($pwp as $key => $val){
						$data_pwp = new Pwp();
						$condition = " WHERE \"kode_promosi\" = '".$val['id']."' ";
						$data = $data_pwp::getFreeSQL($condition);
						echo '<tr style="text-align:center">';
						echo '<td style="text-align:center">'.$val['kode_promosi'].'</td>';
						echo '<td style="text-align:center">'.$val['nama_promosi'].'</td>';
						echo '<td style="text-align:center">'.date('d-m-Y', strtotime($val['from_'])).'</td>';
						echo '<td style="text-align:center">'.date('d-m-Y', strtotime($val['to_'])).'</td>';
						foreach ($data as $pwp_data) {
							$produk_x = new Product();
							$condition = " WHERE \"stock_id\" = '".$pwp_data['stock_id']."' ";
							$data_produk_x = $produk_x::getFreeSQL($condition);

							$list = new PwpList();
							$condition = " WHERE \"pwp_id\" = '".$pwp_data['id']."' ";
							$data_list = $list::getFreeSQL($condition);
							echo'<td style="text-align:left"><i>';
							foreach ($data_list as $key => $val_produk) {
								if($val_produk['flag'] == 'true'){
									$produk_list = new Product();
									$condition = " WHERE \"stock_id\" = '".$val_produk['kode_produk']."' ";
									$data_produk_list = $produk_list::getFreeSQL($condition);
									echo ''.$data_produk_list['0']['uom1_prod_nm'].'</br>';
								}
							}
							echo'</i></td>';
							echo '<td>'.$data_produk_x['0']['uom1_prod_nm'].'</td>';
						}
					}				  
				}
				echo '</tbody>';			
			echo '</table>';
			echo '</div>';

			echo '</br>';
			echo '<legend><h5><b> History </b></h5></legend>';
			echo '<div class="table-responsive" style="margin-top:30px">';
			echo '<table id="DataTable12" class="table-striped hover">';
				echo '<thead>';
					echo '<tr>';
					  echo '<th style="text-align:center"> Kode Promo </th>';
					  echo '<th style="text-align:center"> Nama Promosi </th>';
					  echo '<th style="text-align:center"> Tanggal Mulai </th>';
					  echo '<th style="text-align:center"> Tanggal Selesai </th>';
					  echo '<th style="text-align:center"> Beli </th>';			  
					  echo '<th style="text-align:center"> Dapat </th>';
					echo '</tr>';
				echo '</thead>';
				echo '<tbody>';	
				if(count($pwp_history) > 0 ){
					foreach ($pwp_history as $key => $val){
						$data_pwp = new Pwp();
						$condition = " WHERE \"kode_promosi\" = '".$val['id']."' ";
						$data = $data_pwp::getFreeSQL($condition);
						echo '<tr style="text-align:center">';
						echo '<td style="text-align:center">'.$val['kode_promosi'].'</td>';
						echo '<td style="text-align:center">'.$val['nama_promosi'].'</td>';
						echo '<td style="text-align:center">'.date('d-m-Y', strtotime($val['from_'])).'</td>';
						echo '<td style="text-align:center">'.date('d-m-Y', strtotime($val['to_'])).'</td>';
						foreach ($data as $pwp_data) {
							$produk_x = new Product();
							$condition = " WHERE \"stock_id\" = '".$pwp_data['stock_id']."' ";
							$data_produk_x = $produk_x::getFreeSQL($condition);

							$list = new PwpList();
							$condition = " WHERE \"pwp_id\" = '".$pwp_data['id']."' ";
							$data_list = $list::getFreeSQL($condition);
							echo'<td style="text-align:left"><i>';
							foreach ($data_list as $key => $val_produk) {
								$produk_list = new Product();
								$condition = " WHERE \"stock_id\" = '".$val_produk['kode_produk']."' ";
								$data_produk_list = $produk_list::getFreeSQL($condition);
								echo ''.$data_produk_list['0']['uom1_prod_nm'].'</br>';
							}
							echo'</i></td>';
							echo '<td>'.$data_produk_x['0']['uom1_prod_nm'].'</td>';
						}
					}				  
				}
				echo '</tbody>';			
			echo '</table>';
			echo '</div>';
		echo '</div>';
		echo '<div id="pr_paket" class="tab-pane fade">';
			echo '</br>';
			echo '<legend><h5><b> Active </b></h5></legend>';
			echo '<div class="table-responsive" style="margin-top:30px">';
			echo '<table id="DataTable4" class="table-striped hover">';
				echo '<thead>';
					echo '<tr>';
					  echo '<th style="text-align:center"> Kode Promo </th>';
					  echo '<th style="text-align:center"> Nama Promosi </th>';
					  echo '<th style="text-align:center"> Tanggal Mulai </th>';
					  echo '<th style="text-align:center"> Tanggal Selesai </th>';
					  echo '<th style="text-align:center"> Beli </th>';			  
					  echo '<th style="text-align:center"> Harga </th>';			  
					  echo '<th style="text-align:center"> Harga Terdiskon </th>';			  
					  echo '<th style="text-align:center"> Total Diskon </th>';
					echo '</tr>';
				echo '</thead>';
				echo '<tbody>';
				if(count($promosi_promo) > 0 ){
					foreach ($promosi_promo as $key => $value) {
						$data_promosi = new PromosiPromo();
						$condition = " WHERE \"promosi_id\" = '".$value['id']."' ";
						$data = $data_promosi::getFreeSQL($condition);
						echo '<tr>';
						echo '<td style="text-align:center">'.$value['kode_promosi'].'</td>';
						echo '<td style="text-align:center">'.$value['nama_promosi'].'</td>';
						echo '<td style="text-align:center">'.date('d-m-Y', strtotime($value['from_'])).'</td>';
						echo '<td style="text-align:center">'.date('d-m-Y', strtotime($value['to_'])).'</td>';
						echo'<td style="text-align:left">';
						foreach ($data as $promosi) {
							if($promosi['flag'] == 'true'){
								$produk = new Product();
								$condition = " WHERE \"stock_id\" = '".$promosi['kode_produk']."' ";
								$data_produk = $produk::getFreeSQL($condition)['0'];
								echo ''.$data_produk['description'].'</br>';
							}
						}
						echo'</td>';
						echo'<td style="text-align:right">';
						foreach ($data as $promosi) {
							if($promosi['flag'] == 'true'){
								$price = new ProductPrice();
								$condition = " WHERE \"stock_id\" = '".$promosi['kode_produk']."' ";
								$cek_price = $price::getFreeSQL($condition)['0'];
								echo 'Rp.<strike>'.$cek_price['uom1_rounding_price'].'</strike></br>';
							}
						}
						echo'</td>';
						echo'<td style="text-align:right">';
						foreach ($data as $promosi) {
							if($promosi['flag'] == 'true'){
								$price = new ProductPrice();
								$condition = " WHERE \"stock_id\" = '".$promosi['kode_produk']."' ";
								$cek_price = $price::getFreeSQL($condition)['0'];
								echo 'Rp. '.($cek_price['uom1_rounding_price'] - $promosi['diskon']).'</br>';
								$total += $promosi['diskon'];
							}
						}
						echo'</td>';
						echo '<td style="text-align:right">Rp. '.$total.'</td>';
					}	
				}
				echo '</tbody>';			
			echo '</table>';
			echo '</div>';

			echo '</br>';
			echo '<legend><h5><b> History </b></h5></legend>';
			echo '<div class="table-responsive" style="margin-top:30px">';
			echo '<table id="DataTable13" class="table-striped hover">';
				echo '<thead>';
					echo '<tr>';
					  echo '<th style="text-align:center"> Kode Promo </th>';
					  echo '<th style="text-align:center"> Nama Promosi </th>';
					  echo '<th style="text-align:center"> Tanggal Mulai </th>';
					  echo '<th style="text-align:center"> Tanggal Selesai </th>';
					  echo '<th style="text-align:center"> Beli </th>';			  
					  echo '<th style="text-align:center"> Harga </th>';			  
					  echo '<th style="text-align:center"> Harga Terdiskon </th>';			  
					  echo '<th style="text-align:center"> Total Diskon </th>';
					echo '</tr>';
				echo '</thead>';
				echo '<tbody>';
				if(count($promosi_promo_history) > 0 ){
					foreach ($promosi_promo_history as $key => $value) {
						$data_promosi = new PromosiPromo();
						$condition = " WHERE \"promosi_id\" = '".$value['id']."' ";
						$data = $data_promosi::getFreeSQL($condition);
						echo '<tr>';
						echo '<td style="text-align:center">'.$value['kode_promosi'].'</td>';
						echo '<td style="text-align:center">'.$value['nama_promosi'].'</td>';
						echo '<td style="text-align:center">'.date('d-m-Y', strtotime($value['from_'])).'</td>';
						echo '<td style="text-align:center">'.date('d-m-Y', strtotime($value['to_'])).'</td>';
						echo'<td style="text-align:left">';
						foreach ($data as $promosi) {
							$produk = new Product();
							$condition = " WHERE \"stock_id\" = '".$promosi['kode_produk']."' ";
							$data_produk = $produk::getFreeSQL($condition);

							$price = new ProductPrice();
							$condition = " WHERE \"stock_id\" = '".$promosi['kode_produk']."' ";
							$cek_price = $price::getFreeSQL($condition);
							foreach ($data_produk as $key => $val_produk) {
								echo ''.$val_produk['description'].'</br>';
							}
						}
						echo'</td>';
						echo'<td style="text-align:right">';
						foreach ($data as $promosi) {
							$produk = new Product();
							$condition = " WHERE \"stock_id\" = '".$promosi['kode_produk']."' ";
							$data_produk = $produk::getFreeSQL($condition);

							$price = new ProductPrice();
							$condition = " WHERE \"stock_id\" = '".$promosi['kode_produk']."' ";
							$cek_price = $price::getFreeSQL($condition);
							foreach ($data_produk as $key => $val_produk) {
								echo 'Rp.<strike>'.$cek_price['0']['uom1_rounding_price'].'</strike></br>';
							}
						}
						echo'</td>';
						echo'<td style="text-align:right">';
						foreach ($data as $promosi) {
							$produk = new Product();
							$condition = " WHERE \"stock_id\" = '".$promosi['kode_produk']."' ";
							$data_produk = $produk::getFreeSQL($condition);

							$price = new ProductPrice();
							$condition = " WHERE \"stock_id\" = '".$promosi['kode_produk']."' ";
							$cek_price = $price::getFreeSQL($condition);
							foreach ($data_produk as $key => $val_produk) {
								echo 'Rp. '.($cek_price['0']['uom1_rounding_price'] - $promosi['diskon']).'</br>';
							}
							$total += $promosi['diskon'];
						}
						echo'</td>';
						echo '<td style="text-align:right">Rp. '.$total.'</td>';
					}	
				}
				echo '</tbody>';			
			echo '</table>';
			echo '</div>';
		echo '</div>';
	echo '</div>';	
?>

