
<style>
    #DataTableZero .markData { color: blue; font-weight: bold; }
	
	.styled_margin{
		margin-top:2px;
	}
	
	.styled_margin label{
		margin-top:10px;
	}
	
	.styled_header{
		background: #f5f5f5;
        border: 1px solid #fff;
        padding: 5px;
        text-align: left;
		min-height: 150px;		
    }
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
		var myTable;
		var count=0;
		
		$(function(){
			$("#delivery_date").datepicker({ dateFormat: 'yy-mm-dd'});
		});
		
		$(document).ready( function () {			
			myTable = $('#DataTableZero').DataTable({
				"info"			: false,
				"paging"		: false,
				"ordering"		: false,
				"searching"		: false,
				"deferRender" 	: true,
				"scrollCollapse": true,
				"scrollY"		: "200px"
			});			
			
			$('#DataTableZero tbody').on('click', 'tr', function(){
				if($(this).hasClass('selected')){
					$(this).removeClass('selected');
				}else{
					myTable.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			});
		
			$('#btn_back').click( function () {
				window.location = '<?php echo $this->url->get(uri('PR')) ?>';
				return false;
			});
			
			$('#btn_delete').click( function () {
				myTable.row('.selected').remove().draw( false );
				calcQty();
				return false;
			});
			
			$('#btn_reset').click( function () {		
				myTable.clear();
				myTable.draw();	
				calcQty();				
				return false;
			});
			
			$('#btn_save').click( function () {		
				calcQty();				
				$("#retur-form").submit();
				return false;
			});						
			
			$('#retur-form').submit(function(e) {
				var data = myTable.rows().data();			
				var data_input = myTable.$('input, select').serialize();

				data_arr1 = data_input.split("&");				
				
				var data_convert = [];
				
				for(var i=0; i< data.length; i++){
					var qty = data_arr1[i*4].split("=");
					var note = data_arr1[(i*4)+1].split("=");
					var comment = data_arr1[(i*4)+2].split("=");
					var harga = data_arr1[(i*4)+3].split("=");				
					
					if(qty[1] == ''){
						data[i][2] = 0;
					}else{
						data[i][2] = qty[1];
					}
					
					if(note[1] == ''){
						data[i][4] = '';
					}else{
						data[i][4] = note[1];
					}
					
					if(comment[1] == ''){
						data[i][5] = '';
					}else{
						data[i][5] = comment[1];
					}
					
					if(harga[1] == ''){
						data[i][6] = 0;
					}else{
						data[i][6] = harga[1];
					}

					data_convert.push([data[i][0],data[i][1],data[i][2],data[i][3],data[i][4],data[i][5],data[i][6]]);
				}
				
				var json_data = document.getElementById('json_data');
				json_data.value = JSON.stringify(data_convert);
				
				e.preventDefault();
				jQuery.ajax({
					type: 'post',
					url: '<?php echo $this->url->get(uri('ReturBarang/InsertManual')) ?>',
					data: jQuery('#retur-form').serialize(),
					dataType: "json",
					beforeSend: function() {
						$('#btn_save').attr('disabled', true);
						$('#btn_back').attr('disabled', true);
						$('#btn_reset').attr('disabled', true);
						$('.modal').show();
					},
					complete: function() {
						$('#btn_save').attr('disabled', false);
						$('#btn_back').attr('disabled', false);						
						$('#btn_reset').attr('disabled', false);						
						$('.modal').hide();
					}, 
					success: function (data) {
						console.log(data);								

						if(data.type == 'S'){
							swal({
								title: "Sukses",
								text:  data.message,
								type: "success",
								showCancelButton: false,
								closeOnConfirm: false,
								closeOnCancel: false
							},
							function(isConfirm){
								if (isConfirm) {
									window.location = '<?php echo $this->url->get(uri('ReturBarang')) ?>';								
								}
							});
						}else if(data.type == 'E'){
							swal("Gagal", data.message, "error");
						}
					}
				});
				
				return false;
			});			
			
		});		
		
		$(document).keypress(function(e) {
			var barcode_val = $("#autocomplete").val();			
			
			if(e.which == 13) {
				if(barcode_val != ''){
					addRow();					
				}
				
				calcQty();
				return false;
			}
		});
		
		function calcQty() {			

		}
		
		function addRow() {
			var result;
			var barcode_val = $("#autocomplete").val();			
			var barcode_data = barcode_val.split(' - ');
			
			if(barcode_data[0] != ''){								
				$.ajax({ url: "<?php echo $this->url->get(uri('ReturBarang/ajaxProduct')) ?>?barcode="+barcode_data[0]+"&count_index="+count+" " }).done(function(data){
					console.log(data);		
					myArray = JSON.parse(data);
					
					grand_total = 0;
					
					for(var i=0; i < myArray.length; i++){
						$('table#DataTableZero').dataTable().fnAddData( [
							myArray[i].stock_id,
							myArray[i].description,
							'<input type="number" id="qty_'+ myArray[i].count_index +'" name="qty_'+ myArray[i].count_index +'"  value="1" style="width:60px"> ',
							myArray[i].uom_order,
							'<select id="note_'+ myArray[i].count_index +'" name="note_'+ myArray[i].count_index +'">' +					
								'<option value="Barang tidak datang">Barang tidak datang</option>' +
								'<option value="Barang rusak">Barang rusak</option>' +
								'<option value="Barang tidak sesuai">Barang tidak sesuai</option>' +
							'</select>',
							'<input type="text" id="comment_'+ myArray[i].count_index +'" name="comment_'+ myArray[i].count_index +'" > ' +
							'<input type="hidden" id="harga_'+ myArray[i].count_index +'" name="harga_'+ myArray[i].count_index +'" value="'+ myArray[i].harga_order +'" > ' 
						]);
					}
					
					calcQty();
				});

				count++;
				$("#autocomplete").val("");				
			}
		}					
</script>

<?php
	
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Pembelian'), '<span> Pembelian </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('ReturBarang'), '<span> Permintaan Retur Barang </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">';		
		echo '<legend> Buat Retur Manual </legend>';
		
		echo $this->tag->form([uri("ReturBarang/InsertManual"), "id"=>"retur-form"]);
			echo '<input type="hidden" id="json_data" name="json_data">';
			echo $this->tag->hiddenField(["retur_type", "class"=>"form-control", "value"=>"Manual"]);
			
			echo '
				<div class="col-sm-6 styled_header">
					<div class="col-sm-4 styled_margin">
						<label> Tanggal Kirim </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->dateField(["delivery_date", "class"=>"form-control input-sm"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Notes </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textArea(["comments", "class"=>"form-control input-sm", "cols"=>24, "rows"=>3]).'
					</div>
				</div>				
				
				<div class="col-sm-12">
					<div class="col-sm-6 styled_button">
						<center>
							<button id="btn_save" class="btn btn-primary btn-sm"> Simpan </button>
							<button id="btn_reset" class="btn btn-warning btn-sm"> Reset </button>						
						</center>
					</div>
				</div>
			';				
		echo $this->tag->endForm();
		
		echo '				
			<div class="col-sm-12 styled_button form-inline">
				<button id="btn_delete" class="btn btn-danger btn-sm" style="margin-top:5px"> Hapus </button>	
				'.$this->tag->textField(["barcode", "id"=>"autocomplete", "class"=>"form-control input-sm", "placeholder" => "Barcode / Nama Produk", "style"=>"width:350px"]).'
			</div>				
			
			<div class="col-sm-12">
				<table id="DataTableZero">
					<thead>
					<tr>
						<th> Kode Barang </th>
						<th style="width:30%"> Nama Barang </th>					  
						<th> Qty Retur </th>
						<th> Unit Retur </th>
						<th> Note </th>	
						<th> Comment</th>							
					</tr>
					</thead>
					
					<tbody>
					</tbody>
				</table>
			</div>
		';
		
		echo '			
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '</div>';
?>	

<script>
	$(document).ready( function () {
		$('#autocomplete').autocomplete({
			lookup: function (query, done) {
				var dataProduct = [];
				var query = $("#autocomplete").val();	
				
				$.ajax({ url: "<?php echo $this->url->get(uri('ReturBarang/ajaxSearchProduct')) ?>?query="+query+" " }).done(function(data){
					myArray = JSON.parse(data);
		
					for(var key in myArray){
						dataProduct.push({ "value" : myArray[key].display, "data" : myArray[key].val });
					}
					
					var result = { suggestions: dataProduct };
					done(result);	
				});	
			}, 
			autoSelectFirst: false,
			onSelect: function (suggestion) {
				console.log('You selected: ' + suggestion.value + ', ' + suggestion.data);
				addRow();
			}
		});
		
		$(document).keypress(function(e) {
			var query = $("#autocomplete").val();

			if(query != ""){
				if(e.which == 13){
					$.ajax({ url: "<?php echo $this->url->get(uri('ReturBarang/ajaxSearchProduct')) ?>?query="+query+" " }).done(function(data){
						myArray = JSON.parse(data);
						console.log(Object.keys(myArray).length);
						
						if(Object.keys(myArray).length == 1){
							for(var key in myArray){
								document.getElementById("autocomplete").value = myArray[key].display;
								addRow();
							}
						}
					});	
					
					return false;
				}
			}
		});		
	});
</script>