<style>
    #DataTableZero .markData { color: blue; font-weight: bold; }
	
	.styled_margin{
		margin-top:2px;
	}
	
	.styled_margin label{
		margin-top:10px;
	}
	
	.styled_header{
		background: #f5f5f5;
        border: 1px solid #fff;
        padding: 5px;
        text-align: left;
		min-height: 175px;		
    }
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
		var myTable;
		var count=0;
		
		$(document).ready( function () {			
			myTable = $('#DataTableZero').DataTable({
				"info" : false,
				"paging":   false,
				"ordering": false,
				"searching": false,
				"scrollY": "300px",
				"scrollCollapse": true				
			});			
			
			$('#btn_back').click( function () {
				window.location = '<?php echo $this->url->get(uri('ReturBarang')) ?>';
				return false;
			});
			
			$('#btn_save').click( function (e) {				
				$("#retur-form").submit();
			});	
			
			$('#retur-form').submit(function(e) {
				var data = myTable.rows().data();			
				var data_input = myTable.$('input, select').serialize();

				data_arr1 = data_input.split("&");				
				
				var data_convert = [];
				
				for(var i=0; i< data.length; i++){
					data[i][4]='';
					
					for(var j=0; j<data_arr1.length; j++){						
						var qty_retur = data_arr1[j].split("=");
						var gr_flag_index = qty_retur[0].split("_");
						
						if(gr_flag_index[1] == i && gr_flag_index[0] == "qty"){
							data[i][5] = qty_retur[1];
						}else if(gr_flag_index[1] == i && gr_flag_index[0] == "unit"){
							data[i][6] = qty_retur[1];
						}else if(gr_flag_index[1] == i && gr_flag_index[0] == "unitprice"){
							data[i][7] = qty_retur[1];
						}else if(gr_flag_index[1] == i && gr_flag_index[0] == "price"){
							data[i][8] = qty_retur[1];
						}else if(gr_flag_index[1] == i && gr_flag_index[0] == "note"){
							data[i][9] = qty_retur[1];
						}else if(gr_flag_index[1] == i && gr_flag_index[0] == "comment"){
							data[i][10] = qty_retur[1];
						}				
					}
					
					if(parseInt(data[i][5]) > parseInt(data[i][3])){
						swal("Gagal", "Jumlah Retur tidak bisa melebihi jumlah PO!", "error");
						return false;
					}
					
					if(data[i][5] == ''){
						data[i][5] = 0;
						sweetAlert("Gagal", "Jumlah Barang tidak boleh kosong!", "error");
						return false; 
					}else{						
						if(parseInt(data[i][5]) <= 0) { 
							sweetAlert("Gagal", "Jumlah Barang tidak boleh lebih kecil dari 1!", "error");
							return false; 
						} 	
					}
					
					if(data[i][5] != ''){
						data_convert.push([data[i][0],data[i][1],data[i][2],data[i][3],data[i][4],data[i][5],data[i][6],data[i][7],data[i][8],data[i][9],data[i][10]]);
					}
				}
				
				if(data_convert.length > 0){
					var json_data = document.getElementById('json_data');
					json_data.value = JSON.stringify(data_convert);
				}
				
				e.preventDefault();
				jQuery.ajax({
					type: 'post',
					url: '<?php echo $this->url->get(uri('ReturBarang/Update')) ?>',
					data: jQuery('#retur-form').serialize(),
					dataType: "json",
					beforeSend: function() {
						$('#btn_save').attr('disabled', true);
						$('#btn_back').attr('disabled', true);
						$('#btn_reset').attr('disabled', true);
						$('.modal').show();
					},
					complete: function() {
						$('#btn_save').attr('disabled', false);
						$('#btn_back').attr('disabled', false);						
						$('#btn_reset').attr('disabled', false);						
						$('.modal').hide();
					}, 
					success: function (data) {
						console.log(data);								

						if(data.type == 'S'){
							swal({
								title: "Sukses",
								text:  data.message,
								type: "success",
								html: true,
								showCancelButton: false,
								closeOnConfirm: false,
								closeOnCancel: false
							},
							function(isConfirm){
								if (isConfirm) {
									window.location = '<?php echo $this->url->get(uri('ReturBarang')) ?>';								
								}
							});
						}else if(data.type == 'E'){
							swal("Gagal", data.message, "error");
						}
					}
				});
				
				return false;
			});			
			
		});				
</script>
		
<?php
	
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Pembelian'), '<span> Pembelian </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('ReturBarang'), '<span> Permintaan Retur Barang </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">';			
		echo '<legend>Edit Retur</legend>';
		
		echo $this->tag->form([uri("ReturBarang/update"), "id"=>"retur-form"]);
			echo '<input type="hidden" id="json_data" name="json_data">';
			echo $this->tag->hiddenField(["retur_no", "class"=>"form-control", "value"=>$data_retur->retur_no]);			
			echo $this->tag->hiddenField(["retur_type", "class"=>"form-control", "value"=>"Vendor"]);
			echo $this->tag->hiddenField(["reference", "class"=>"form-control", "value"=>$data_retur->reference]);
			echo $this->tag->hiddenField(["supplier_id", "class"=>"form-control", "value"=>$data_retur->supplier_id]);			
			echo $this->tag->hiddenField(["total_gr", "class"=>"form-control", "value"=>$data_retur->total_gr]);
			
			echo '
				<div class="col-sm-6 styled_header">
					<div class="col-sm-4 styled_margin">
						<label> Tanggal Kirim </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["delivery_date", "class"=>"form-control input-sm", "value"=>$data_retur->delivery_date, "readonly"=>"true"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> No GR </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["gr_no", "class"=>"form-control input-sm", "value"=>$data_retur->gr_no_immpos, "readonly"=>"true"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Notes </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textArea(["comments", "class"=>"form-control input-sm", "cols"=>24, "rows"=>3, "value"=>$data_retur->comments]).'
					</div>
				</div>
				
				<div class="col-sm-12">
					<div class="col-sm-6 styled_button">
						<center>
							<button id="btn_save" class="btn btn-primary btn-sm"> Simpan </button>
							<button id="btn_back" class="btn btn-default  btn-sm"> Kembali </button>						
						</center>
					</div>
				</div>
			';			
		echo $this->tag->endForm();
		
		echo '
			<div class="col-sm-12">
				</br>
			</div>
			
			<div class="col-sm-12">
				<table id="DataTableZero">
					<thead>
					<tr>
						<th> ID </th>
						<th> Kode Barang </th>
						<th> Nama Barang </th>
						<th> Qty Max </th>						
						<th> Status </th>
						<th> Qty Retur </th>
						<th> Note </th>
						<th> Comment </th>
					</tr>
					</thead>
					
					<tbody>
		';
					if(count($lists_retur_detail) > 0 ){
						$count = 0;						
						foreach( $lists_retur_detail as $list_retur_detail ) {							
							echo '<tr>';
								echo '<td>'.$list_retur_detail['retur_detail_item'].'</td>';
								echo '<td>'.$list_retur_detail['item_code'].'</td>';
								echo '<td>'.$list_retur_detail['description'].'</td>';
								echo '<td>'.$list_retur_detail['qty_po'].'</td>';								
								if($list_retur_detail['flag_gr_ok']){									
									echo '<center><td>'.Phalcon\Tag::checkField(["status_".$count, "checked"=>"checked", "disabled"=>"disabled"]).'</td></center>';		
								}else{
									echo '<center><td>'.Phalcon\Tag::checkField(["status_".$count, "readonly"=>"true", "disabled"=>"disabled"]).'</td></center>';		
								}
								echo '<td width="50px">';
									echo Phalcon\Tag::numericField(["qty_".$count, "value"=>$list_retur_detail['qty_retur'], "style"=>"width:60px"]);
									echo Phalcon\Tag::hiddenField(["unit_".$count, "value"=>$list_retur_detail['unit_retur']]);
									echo Phalcon\Tag::hiddenField(["unitprice_".$count, "value"=>$list_retur_detail['retur_unit_price']]);
									echo Phalcon\Tag::hiddenField(["price_".$count, "value"=>$list_retur_detail['retur_price']]);
								echo '</td>';
								echo '<td>'.Phalcon\Tag::selectStatic(["note_".$count, array("Barang tidak sesuai (ditukar)" => "Barang Tidak Sesuai (ditukar)", "Barang tidak sesuai (dikembalikan)" => "Barang Rusak (dikembalikan)"),  'value' => [$list_retur_detail['note'], $list_retur_detail['note']]]).'</td>';
								echo '<td>'.Phalcon\Tag::textField(["comment_".$count, "value"=>$list_retur_detail['comments']]).'</td>';
							echo '</tr>';
							
							$count++;
						}
					}
		echo '
					</tbody>
				</table>
			</div>
		';	
		
		echo '			
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '</div>';
?>	