<script type="text/javascript">
	$(document).ready( function () {	
		$('#btn_create').click( function () {
			window.location = '<?php echo $this->url->get(uri('ReturBarang/addManual')) ?>';
		});
		
		$('.sync').on('click', function (e) {	
			var link = $(this).attr("href");			
			
			e.preventDefault();
			jQuery.ajax({				
				url : link,				
				dataType : "json",
				beforeSend : function() {
					$('.modal').show();
				},
				complete: function() {
					$('.modal').hide();
				}, 
				success: function (data) {
					console.log(data);								

					if(data.type == 'S'){
						swal({
							title : "Sukses",
							text : data.message,
							type : "success",
							html : true,
							showCancelButton : false,
							closeOnConfirm : false,
							closeOnCancel : false
						},
						function(isConfirm){
							if(isConfirm){								
								window.location = '<?php echo $this->url->get(uri('ReturBarang')) ?>';								
							}
						});
					}else if(data.type == 'E'){
						swal({
							title : "Gagal",
							text : data.message,
							type : "error",
							html : true,
						});
					}
				}
			});
			
			//window.location = link;
			
			return false;
		});
		
		$('.confirmation').on('click', function () {	
			var link = $(this).attr("href");			
			
			swal({
				title : "Anda Yakin?",
				text : "Retur yang sudah dihapus tidak bisa dikembalikan.",
				type : "warning",
				showCancelButton : true,
				confirmButtonColor : "#DD6B55",
				confirmButtonText : "Ya, Hapus",
				cancelButtonText : "Tidak, Kembali",
				closeOnConfirm : false,
				closeOnCancel : false
			},
			function(isConfirm){
				if (isConfirm) {
					window.location = link;
					swal("Terhapus!", "Data Retur Berhasil dihapus.", "success");
				}else{
					swal("Dibatalkan", "Hapus Retur Dibatalkan.)", "error");
				}
			});
			
			return false;
		});
	});
</script>

<?php
	
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Pembelian'), '<span> Pembelian </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('ReturBarang'), '<span> Permintaan Retur Barang </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">';	
		echo '<legend>Permitaan Retur Barang</legend>';
		
		echo '<ul class="nav nav-tabs">';
		  echo '<li class="active"><a data-toggle="tab" href="#Retur_GR"> Retur </a></li>';
		  //echo '<li><a data-toggle="tab" href="#Retur_Jual"> Retur Jual </a></li>';
		  echo '<li><a data-toggle="tab" href="#Retur_Sync"> Sync IMMBO </a></li>';  
		  echo '<li><a data-toggle="tab" href="#History"> Riwayat Retur </a></li>';  
		echo '</ul>';
		
		echo '<div class="tab-content">';
			echo '<div id="Retur_GR" class="tab-pane fade in active">';	
				echo '					
					<div class="col-sm-12" style="margin:20px 0px">
						<button id="btn_create" class="btn btn-primary btn-sm"> Retur Manual </button>		
					</div>
				';
				
				echo '<div class="col-sm-12">';
				echo '<table id="DataTable" class="table-striped hover">';
					echo '<thead>';
						echo '<tr>';
							echo '<th style="text-align:center"> Nomor GR </th>';
							echo '<th style="text-align:center"> Nomor PO </th>';
							echo '<th style="text-align:center"> Nomor PR </th>';		
							echo '<th style="text-align:center"> Nomor Retur </th>';								
							echo '<th style="text-align:center"> Tanggal </th>';			 
							echo '<th style="text-align:center"> Aksi </th>';
						echo '</tr>';
					echo '</thead>';

					echo '<tbody>';			
						if(count($lists) > 0 ){
							foreach( $lists as $list ) {
								echo '<tr>';		
									echo '<td style="width:20%"><a href="#" class="modalGR" data-toggle="modal" data-pr="'.$list['pr_no_immpos'].'" data-gr="'.$list['gr_no'].'" data-target="#myModal">'.$list['gr_no'].'</a></td>';
									echo '<td style="width:10%"><a href="#" class="modalPO" data-toggle="modal" data-pr="'.$list['pr_no_immpos'].'" data-request="'.$list['pr_no_immpos'].'" data-order="'.$list['po_no_immbo'].'" data-target="#myModal">'.$list['po_no_immbo'].'</a></td>';
									echo '<td style="width:20%"><a href="#" class="modalPR" data-toggle="modal" data-pr="'.$list['pr_no_immpos'].'" data-request="'.$list['pr_no_immpos'].'" data-target="#myModal">'.$list['pr_no_immpos'].'</a></td>';								
									echo '<td style="width:20%"><a href="#" class="modalRetur" data-toggle="modal" data-gr="'.$list['gr_no'].'" data-retur="'.$list['retur_no_immpos'].'" data-target="#myModal">'.$list['retur_no_immpos'].'</a></td>';								
									echo '<td style="width:10%">'.$list['delivery_date'].'</td>';							
									echo '<td>';
										echo Phalcon\Tag::linkTo([uri('ReturBarang/Add?Retur_No='.$list['retur_no_immpos'].'&PR_NO_Immpos='.$list['pr_no_immpos'].'&PO_NO_immbo='.$list['po_no_immbo'].'&GR_NO='.$list['gr_no']),  "<i class='fa fa-clipboard fa-lg'> </i>", "title"=>"Buat Retur"]);
										echo '&nbsp;';
									echo '</td>';
								echo '</tr>';
							}		
						}
					echo '</tbody>';			
				echo '</table>';
				echo '</div>';
			echo '</div>';
			
			/*echo '<div id="Retur_Jual" class="tab-pane fade">';
				echo '
					<div class="col-sm-12">
						</br>	
					</div>
				';
				
				echo '<div class="col-sm-8">';
				echo '<table id="DataTable2">';
					echo '<thead>';
						echo '<tr>
							<th> No Struk </th>
							<th> Tanggal </th>
							<th> Kasir </th>
							<th> Total </th>					  
							<th> Action </th>
						</tr>';
					echo '</thead>';

					echo '<tbody>';			
						if(count($lists_jual) > 0 ){
							foreach( $lists_jual as $list_jual ) {
								echo '<tr>
									<td><a href="#" class="modalHold" data-toggle="modal" data-hold="'.$list_jual['id_jual'].'" data-target="#myModal">'.$list_jual['id_jual'].'</a></td>
									<td>'.$list_jual['tanggal'].'</td>					
									<td>'.$list_jual['id_kasir'].'</td>	
									<td>'.number_format($list_jual['total'],2,',','.').'</td>	
									<td>';								
										echo Phalcon\Tag::linkTo([uri('Penjualan/Sell?id_jual='.$list_jual['id_jual'], "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Start Jual"]);
										echo '&nbsp;';
									echo '</td>
								</tr>';
							}		
						}
					echo '</tbody>';			
				echo '</table>';
				echo '</div>';
			echo '</div>';*/
			
			echo '<div id="Retur_Sync" class="tab-pane fade">';
				echo '
					<div class="col-sm-12">
						</br>	
					</div>
				';
				
				echo '<div class="col-sm-12">';
				echo '<table id="DataTable3" class="table-striped hover">';
					echo '<thead>';
						echo '<tr>';
							echo '<th style="text-align:center"> Nomor Retur </th>';
							echo '<th style="text-align:center"> Nomor GR </th>';							
							echo '<th style="text-align:center"> Tanggal </th>';			 
							echo '<th style="text-align:center"> Aksi </th>';
						echo '</tr>';
					echo '</thead>';

					echo '<tbody>';			
						if(count($lists_sync) > 0 ){
							foreach( $lists_sync as $list_sync ) {
								echo '<tr>';		
									echo '<td style="width:30%"><a href="#" class="modalRetur" data-toggle="modal" data-gr="'.$list_sync['gr_no_immpos'].'" data-retur="'.$list_sync['retur_no'].'" data-target="#myModal">'.$list_sync['retur_no'].'</a></td>';								
									echo '<td style="width:30%"><a href="#" class="modalGR" data-toggle="modal" data-gr="'.$list_sync['gr_no_immpos'].'" data-target="#myModal">'.$list_sync['gr_no_immpos'].'</a></td>';									
									echo '<td style="width:20%">'.$list_sync['create_date'].'</td>';							
									echo '<td>';
										if(!$list_sync['flag_sync']){
											echo Phalcon\Tag::linkTo([uri('ReturBarang/Sync?Retur_No='.$list_sync['retur_no']), "<i class='fa fa-refresh fa-lg'> </i>", "title"=>"Synchronize Retur", "class"=>"sync"]);
											echo '&nbsp;&nbsp;';
											echo Phalcon\Tag::linkTo([uri('ReturBarang/Print?Retur_No='.$list_sync['retur_no']), "<i class='fa fa-print fa-lg'> </i>", "title"=>"Cetak Retur"]);
											echo '&nbsp;&nbsp;';
											echo Phalcon\Tag::linkTo([uri('ReturBarang/Edit?Retur_No='.$list_sync['retur_no']), "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Edit Retur"]);
											echo '&nbsp;&nbsp;';
											echo Phalcon\Tag::linkTo([uri('ReturBarang/Delete?Retur_No='.$list_sync['retur_no']), "<i class='fa fa-close fa-lg'> </i>", "title"=>"Hapus Retur", "class"=>"confirmation"]);
											echo '&nbsp;';
										}
									echo '</td>';
								echo '</tr>';
							}		
						}
					echo '</tbody>';			
				echo '</table>';
				echo '</div>';
			echo '</div>';		
			
			echo '<div id="History" class="tab-pane fade">';
				echo '
					<div class="col-sm-12">
						</br>	
					</div>
				';
				
				echo '<div class="col-sm-12">';
				echo '<table id="DataTable4" class="table-striped hover">';
					echo '<thead>';
						echo '<tr>';
							echo '<th style="text-align:center"> Nomor Retur </th>';
							echo '<th style="text-align:center"> Nomor GR </th>';							
							echo '<th style="text-align:center"> Tanggal </th>';			 
							echo '<th style="text-align:center"> Aksi </th>';
						echo '</tr>';
					echo '</thead>';

					echo '<tbody>';			
						if(count($listsHistory) > 0 ){
							foreach( $listsHistory as $list_sync ) {
								echo '<tr>';		
									echo '<td style="width:30%"><a href="#" class="modalRetur" data-toggle="modal" data-gr="'.$list_sync['gr_no_immpos'].'" data-retur="'.$list_sync['retur_no'].'" data-target="#myModal">'.$list_sync['retur_no'].'</a></td>';								
									echo '<td style="width:30%"><a href="#" class="modalGR" data-toggle="modal" data-gr="'.$list_sync['gr_no_immpos'].'" data-target="#myModal">'.$list_sync['gr_no_immpos'].'</a></td>';									
									echo '<td style="width:20%">'.$list_sync['create_date'].'</td>';							
									echo '<td>';
									echo Phalcon\Tag::linkTo([uri('ReturBarang/Print?Retur_No='.$list_sync['retur_no']), "<i class='fa fa-print fa-lg'> </i>", "title"=>"Cetak Retur"]);
									echo '</td>';
								echo '</tr>';
							}		
						}
					echo '</tbody>';			
				echo '</table>';
				echo '</div>';
			echo '</div>';		
		echo '</div>';
		
		echo '<div id="myModal" class="modal fade" role="dialog">';
		echo '<div class="modal-dialog modal-lg">';
		
			echo '<div class="modal-content">';
				echo '<div class="modal-header">';
					echo '<button type="button" class="close" data-dismiss="modal">&times;</button>';
					echo '<h4 class="modal-title"> GR/PO/PR/Retur Barang </h4>';
				echo '</div>';
				echo '<div class="modal-body" style="max-height:300px;overflow-y:auto;">';
					echo '<div class="table-responsive">';
					echo '<table class="table-bordered table-striped myTable" style="font-size:14px">';
						echo '<thead>';							
						echo '</thead>';
						  
						echo '<tbody>';							
						echo '</tbody>';			
					echo '</table>';
				echo '</div>';
				echo '</div>';
				echo '<div class="modal-footer">';
					echo '<a href="" class="btn btn-default" data-dismiss="modal">Close</a>';
				echo '</div>';
			echo '</div>';

		echo '</div>';
		echo '</div>';	

		echo '
			<div class="modal" style="display: none">
			<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
		</div>
		';
	echo '<div>';
	
?>
<script>
	$(document).on("click", ".modalPR", function(){
		var pr = $(this).data('pr');
		var request = $(this).data('request');
		var myArray = [];
		
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		$('.modal-header').empty();
		
		tr = $('<tr>');
		tr.append('<th rowspan=2>Kode Barang</th>');
		tr.append('<th rowspan=2>Nama Barang</th>');
		tr.append('<th colspan=2>Info Beli</th>');
		tr.append('<th colspan=2>Info Jual</th>');
		tr.append('<th colspan=2>Info PR</th>');																
		tr.append('<th rowspan=2>Harga Satuan</th>');
		tr.append('<th rowspan=2>Total Harga</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		tr = $('<tr>');
		tr.append("<th>Jumlah</th>");
		tr.append("<th>Satuan</th>");
		tr.append("<th>Jumlah</th>");
		tr.append("<th>Satuan</th>");
		tr.append("<th>Jumlah</th>");
		tr.append("<th>Satuan</th>");
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		
		$.ajax({ url: "<?php echo $this->url->get(uri('ReturBarang/ajaxPR')) ?>?request="+request+"" }).done(function(data){
			console.log(data);		
			myArray = JSON.parse(data);
			span = $('<span>');	
			span.append("<h4 class='modal-title'>GR/PO/PR/Retur Barang</h4>");
			span.append("<td>Nomor PR : "+ pr +"</td>");
			span.append("</span>");
			$('.modal-header').append(span);
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_order +"</td>");
				tr.append("<td>"+ myArray[i].unit_order +"</td>");
				tr.append("<td>"+ myArray[i].qty_sell +"</td>");
				tr.append("<td>"+ myArray[i].unit_sell +"</td>");
				tr.append("<td>"+ myArray[i].qty_pr +"</td>");
				tr.append("<td>"+ myArray[i].unit_pr +"</td>");
				tr.append("<td>"+ format(myArray[i].unit_order_price) +"</td>");
				tr.append("<td>"+ format(myArray[i].order_price) +"</td>");
				
				grand_total = parseInt(grand_total,10) + parseInt(myArray[i].order_price,10);
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
			$('.myTable tbody').append("<tr><th colspan='9' style='text-align:right !important'>Total</th><td>"+ format(grand_total) +"</td></tr>");
		});		
	});
	
	$(document).on("click", ".modalPO", function(){
		var pr = $(this).data('pr');
		var order = $(this).data('order');
		var request = $(this).data('request');
		var myArray = [];
		
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		$('.modal-header').empty();
		
		tr = $('<tr>');
		tr.append('<th rowspan=2>Kode Barang</th>');
		tr.append('<th rowspan=2>Nama Barang</th>');
		tr.append('<th colspan=2>Info PR</th>');		
		tr.append('<th colspan=2>Info PO</th>');																
		tr.append('<th rowspan=2>Harga Satuan</th>');
		tr.append('<th rowspan=2>Total Harga</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		tr = $('<tr>');
		tr.append("<th>Jumlah</th>");
		tr.append("<th>Satuan</th>");
		tr.append("<th>Jumlah</th>");
		tr.append("<th>Satuan</th>");	
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		
		$.ajax({ url: "<?php echo $this->url->get(uri('ReturBarang/ajaxPO')) ?>?order="+order+"&request="+request+"" }).done(function(data){
			console.log(data);		
			myArray = JSON.parse(data);
			span = $('<span>');	
			span.append("<h4 class='modal-title'>GR/PO/PR/Retur Barang</h4>");
			span.append("<td>Nomor PR : "+ pr +"</td>");
			span.append("</span>");
			$('.modal-header').append(span);
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_pr +"</td>");
				tr.append("<td>"+ myArray[i].uom_o_type +"</td>");
				tr.append("<td>"+ myArray[i].qty_po +"</td>");
				tr.append("<td>"+ myArray[i].unit_po +"</td>");
				tr.append("<td>"+ format(myArray[i].po_unit_price) +"</td>");
				tr.append("<td>"+ format(myArray[i].po_price / myArray[i].qty_po) +"</td>");
				
				grand_total = parseInt(grand_total,10) + parseInt(myArray[i].po_price / myArray[i].qty_po,10);
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
			$('.myTable tbody').append("<tr><th colspan='7' style='text-align:right !important'>Total</th><td>"+ format(grand_total) +"</td></tr>");
		});		
	});
	
	$(document).on("click", ".modalGR", function(){
		var gr = $(this).data('gr');		
		var pr = $(this).data('pr');		
		var myArray = [];
		
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		$('.modal-header').empty();
		
		tr = $('<tr>');
		tr.append('<th rowspan=2>Kode Barang</th>');
		tr.append('<th rowspan=2>Nama Barang</th>');
		tr.append('<th colspan=2>Info PR</th>');		
		tr.append('<th colspan=2>Info PO</th>');		
		tr.append('<th rowspan=2>Status</th>');		
		tr.append('<th rowspan=2>Harga Satuan</th>');
		tr.append('<th rowspan=2>Total Harga</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		tr = $('<tr>');
		tr.append("<th>Jumlah</th>");
		tr.append("<th>Satuan</th>");
		tr.append("<th>Jumlah</th>");
		tr.append("<th>Satuan</th>");	
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		$.ajax({ url: "<?php echo $this->url->get(uri('ReturBarang/ajaxGR')) ?>?gr="+gr+"" }).done(function(data){
			console.log(data);		
			myArray = JSON.parse(data);
			if(pr){
				span = $('<span>');	
				span.append("<h4 class='modal-title'>GR/PO/PR/Retur Barang</h4>");
				span.append("<td>Nomor PR : "+ pr +"</td>");
				span.append("</span>");
				$('.modal-header').append(span);
			}else{
				span = $('<span>');	
				span.append("<h4 class='modal-title'>GR/PO/PR/Retur Barang</h4>");
				span.append("<td>Nomor GR : "+ gr +"</td>");
				span.append("</span>");
				$('.modal-header').append(span);
			}
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_pr +"</td>");
				tr.append("<td>"+ myArray[i].uom_o_type +"</td>");
				tr.append("<td>"+ myArray[i].qty_po +"</td>");
				tr.append("<td>"+ myArray[i].uom_o_type +"</td>");
				if(myArray[i].flag_gr_ok){
					tr.append('<td><input type="checkbox" name="status_'+i+'" checked disabled="disabled"></td>');
				}else{
					tr.append('<td><input type="checkbox" name="status_'+i+'" disabled="disabled"></td>');
				}
				
				tr.append("<td>"+ format(myArray[i].po_unit_price) +"</td>");
				tr.append("<td>"+ format(myArray[i].po_price / myArray[i].qty_po) +"</td>");
				
				grand_total = parseInt(grand_total,10) + parseInt(myArray[i].po_price / myArray[i].qty_po,10);
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
			$('.myTable tbody').append("<tr><th colspan='8' style='text-align:right !important'>Total</th><td>"+ format(grand_total) +"</td></tr>");
		});
	});
	
	$(document).on("click", ".modalRetur", function(){
		var gr = $(this).data('gr');		
		var pr = $(this).data('pr');
		var retur = $(this).data('retur');		
		var myArray = [];
		
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		$('.modal-header').empty();
		
		tr = $('<tr>');
		tr.append('<th rowspan=2>Item Code</th>');
		tr.append('<th rowspan=2>Item Description</th>');
		tr.append('<th colspan=2>Retur Info</th>');						
		tr.append('<th rowspan=2>Unit Price</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		tr = $('<tr>');
		tr.append("<th>Qty</th>");
		tr.append("<th>UoM</th>");	
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		$.ajax({ url: "<?php echo $this->url->get(uri('ReturBarang/ajaxRetur')) ?>?retur="+retur+"" }).done(function(data){
			console.log(data);		
			myArray = JSON.parse(data);
			span = $('<span>');	
			span.append("<h4 class='modal-title'>GR/PO/PR/Retur Barang</h4>");
			span.append("<td>Nomor GR : "+ gr +"</td>");
			span.append("</span>");
			$('.modal-header').append(span);
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_retur +"</td>");
				tr.append("<td>"+ myArray[i].unit_retur +"</td>");				
				tr.append("<td>"+ format(myArray[i].retur_unit_price) +"</td>");				
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}			
		});
	});
	
	$(document).on("click", ".modalHold", function(){
		var hold = $(this).data('hold');
		var myArray = [];
		
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		
		tr = $('<tr>');
		tr.append('<th>Item Code</th>');
		tr.append('<th>Description</th>');
		tr.append('<th>Harga</th>');						
		tr.append('<th>Harga Member</th>');
		tr.append('<th>Qty</th>');
		tr.append('<th>Diskon</th>');
		tr.append('<th>Total</th>');
		tr.append('<th>Promo</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		$.ajax({ url: "<?php echo $this->url->get(uri('ReturBarang/ajaxJual')) ?>?hold="+hold+"" }).done(function(data){
			console.log(data);			
			myArray = JSON.parse(data);
			
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].harga +"</td>");
				tr.append("<td>"+ myArray[i].harga_member +"</td>");
				tr.append("<td>"+ myArray[i].qty +"</td>");
				tr.append("<td>"+ myArray[i].discount +"</td>");
				tr.append("<td>"+ myArray[i].total +"</td>");
				tr.append("<td>"+ myArray[i].promo +"</td>");
				
				grand_total = parseInt(grand_total,10) + parseInt(myArray[i].total,10);
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
			$('.myTable tbody').append("<tr><th colspan='6' style='text-align:right !important'>Total</th><td colspan='2'>"+ format(grand_total) +"</td></tr>");
		});		
	});
</script>

