<?php
	require_once (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf=new mPDF('','A4',9,'lottefont',10,10,45,2,8);	
	
	$retur_date = date_create($retur->create_date);
	
	$html_header .= '
		<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>		
		<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right;margin-right:75px">RETURN REQUEST</div>
			
		<div style="width:auto;" align="right">
			<barcode code="'.$retur->retur_no.'" type="C93" style="text-align:right;margin-right:-14px"/>
			<div style="font-family: ocrb;text-align:right;margin-right:65px"><b>'.$retur->retur_no.'</b></div>
		</div>
				
		Halaman {PAGENO}/{nbpg}<br/>
		'.date('d/m/Y H:i:s').'<br/>
		'.$this->session->get("user")["user_name"].'
	';
	
	$html .= '
		<style>			
			
			table {
				
				border: 1px solid #000;
				border-collapse: collapse;
			}
			
			.bordered {
				padding: 3px;
				border: 1px solid #000;
				vertical-align: middle;
			}
		</style>		
		
		<p style="width:360px;float:left">
			<b>Order To : </b><br/>
			'.$tmuk->lsi.' <br/>
		</p>
		
		<p style="width:auto;" align="right">
			<b>IMM/TMUK Store : </b><br/>
			'.$tmuk->name.' ('.$tmuk->tmuk.') <br/>
			'.$tmuk->address1.'<br/>
			'.$tmuk->address2.'<br/>
			'.$tmuk->address3.'<br/>
			'.$tmuk->telp.' 
		</p>
		
		<p><table style="width:100%;border:0">
			<tr>
				<td style="width:30%">Nomor Retur: '.$retur->retur_no.'</td>
				<td style="width:22%">Tanggal Retur: '.date_format($retur_date, 'd-m-Y').'</td>				
			</tr>
		</table></p>
		
		<p><table style="width:100%;">
			<thead>
				<tr>
					<th class="bordered">Kode Barang</th>				
					<th class="bordered">Nama Barang</th>
					<th class="bordered">Jumlah</th>
					<th class="bordered">Satuan</th>
					<th class="bordered">Harga Satuan</th>					
					<th class="bordered">Total Harga</th>
					<th class="bordered">Note</th>
					<th class="bordered">Alasan</th>
				</tr>
			</thead>
			
			<tbody>';
			
			if(count($retur_details) > 0 ){
				$count = 0;
				foreach( $retur_details as $retur_detail ) {
					$html .= '<tr>
						<td class="bordered">'.$retur_detail['item_code'].'</td>						
						<td class="bordered">'.$retur_detail['description'].'</td>	
						<td class="bordered" style="text-align:center">'.$retur_detail['qty_retur'].'</td>	
						<td class="bordered" style="text-align:center">'.$retur_detail['unit_retur'].'</td>
						<td class="bordered" style="text-align:right">'.number_format($retur_detail['retur_unit_price'],2,',','.').'</td>
						<td class="bordered" style="text-align:right">'.number_format($retur_detail['retur_price'],2,',','.').'</td>
						<td class="bordered">'.$retur_detail['note'].'</td>	
						<td class="bordered">'.$retur_detail['comments'].'</td>	
					</tr>';
					
					$count++;
				}		
			}
			
			$html .= '</tbody>
		</table></p>
	';
	
	$mpdf->setHTMLHeader($html_header);
	$mpdf->WriteHTML($html);
	$mpdf->Output();
	exit;
	
?>

