<?php
	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('KasBank'), '<span> Kas Bank </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('PembayaranTransaksi'), '<span> Pembayaran Transaksi </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		echo '
			<table class="table table-striped" style="width:50%">
			<tr>
				<th>Available Balance</th>
				<td>&nbsp;:&nbsp;</td>
				<td>';
				if($saldo <=0){
					echo'<h5 class="pull-right" style="color:red">Rp. '.number_format($saldo,0,",",".").'</h5>';
				}else{
					echo'<h5 class="pull-right" style="color:green">Rp. '.number_format($saldo,0,",",".").'</h5>';
				}
				echo'</td>
			</tr>
			<tr>
				<th>Tanggal Faktur</th>
				<td>&nbsp;:&nbsp;</td>
				<td><div class="add-form"><input type="date" class="input-sm" id="tanggal" name="tanggal" value="'.date("Y-m-d").'"/></div></td>
			</tr>
			<tr>
				<th>Tipe PYR</th>
				<td>&nbsp;:&nbsp;</td>
				<td><div class="add-form"><span>
				<select class="form-control input-sm" id="type">
				<option value="001">Trade Lotte</option>
				<option value="002">Trade Non Lotte</option>
				<!-- <option value="003">Non Trade Lotte</option> --!>
				<option value="004">Non Trade Non Lotte</option>
				</select>
				</span></div></td>
			</tr>
			<tr>
				<th>Nama Supplier</th>
				<td>&nbsp;:&nbsp;</td>
				<td><div class="add-form"><select class="input-sm" id="supp" name="supp">
				<select class="form-control select2" id="supp" name="supp" style="width:35%">
				</select>
			';
		
		echo '</select></div></td>
			</tr>
			<tr> 
				<th>Nomor Invoice</th>
				<td>&nbsp;:&nbsp;</td>
				<td><div class="add-form"><input type="text" class="input-sm" id="invoice_no" name="invoice_no" style="width:80%"/></div></td>
			</tr>
			<tr> 
				<th>Memo</th>
				<td>&nbsp;:&nbsp;</td>
				<td><div class="add-form"><textarea id="memo" name="memo" rows=3" style="width: 297px; height: 72px;"></textarea></div></td>
			</tr>
			<tr>
				<th>Status</th>
				<td>&nbsp;:&nbsp;</td>
				<td><div class="add-form"><select class="input-sm" id="status" name="status">
					<option>Disetujui</option>
					<option selected>Tidak Disetujui</option>
				</select></div></td>
			</tr>
			<tr>
				<th>Pembayaran dibayar ke</th>
				<td>&nbsp;:&nbsp;</td>
				<td><div class="add-form"><select class="input-sm" id="bayar" name="bayar">
					<option>Rekening Supplier</option>
					<option selected>Rekening Pemilik TMUK</option>
				</select></div></td>
			</tr>
			</table><br/>
			<p class="form-inline">
				<span>
				<select class="form-control select2" id="list" style="width:35%">
				</select>
				</span>
				<span style="float:right">
					<button id="btn_add" class="btn btn-primary btn-sm">Tambah</button> 
					<button id="btn_delete" class="btn btn-danger btn-sm">Hapus</button>
				</span>
			</p>';
		echo '
			<table id="DataTableZero" class="table table-striped">
				<thead>
					<tr>
						<th>Nama Produk</th>
						<th>Kode Produk</th>
						<th>Biaya</th>
						<th>Jumlah</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table><br/>
			<form id="myForm" action="insert" method="post">
				<input type="hidden" id="json_data" name="json_data" />
				<input type="hidden" id="inv_data" name="inv_data" />
				<div class="text-center"><button type="submit" class="btn btn-sm btn-primary">Submit</button>
			</form></div>';
	echo '<div>';
	
?>
<script>
	var myTable;
	var count = 0;
	var jsonArray = [];
	
	function getProduct(){
		var type_val = $("#type").val();
		$("#list").html("");
		$("#supp").html("");
		
		$.ajax({ url: "<?php echo $this->url->get(uri('PembayaranTransaksi/ajaxOpt')) ?>?cond="+type_val+"" }).done(function(data){		
			myArray = JSON.parse(data);
			if(myArray.variable2 === null){
				$("#supp").append('<option disabled=disabled></option>');
			}else{
				for(var j=0;j < myArray.variable2.length;j++){												
					$("#supp").append('<option value="'+ myArray.variable2[j].id +'">'+ myArray.variable2[j].name + '</option>');
				}
			}

			for(var i=0;i < myArray.variable1.length;i++){												
				$("#list").append('<option value="'+ myArray.variable1[i].val +'">'+ myArray.variable1[i].display + '</option>');
			}

		});		
	}
	
	$(document).ready(function(){	
		$(".select2").select2({
            placeholder: 'Pilih Produk',
			allowClear:true
		});
		$("#tanggal").datepicker({ dateFormat: 'yy-mm-dd' });
		
		getProduct();
		$("#type").change(function(){ getProduct();	
			myTable.clear().draw( false );
		});	
		
		myTable = $('#DataTableZero').DataTable({
			"info" 			: true,
			"paging"		: false,
			"ordering"		: false,
			"searching"		: false,
			"scrollY"		: "300px",
			"scrollCollapse": true				
		});			
		
		$('#DataTableZero tbody').on('click','tr',function(){
			if($(this).hasClass('selected')){
				$(this).removeClass('selected');
			}
			else{
				myTable.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});
	 
		$('#btn_delete').click(function(){
			myTable.row('.selected').remove().draw( false );
		});
		
		$('#btn_add').click(function(){
			var desc = $('#list option:selected').text();
			var stock_id = $("#list").val();
			var count = 0;
			$('table#DataTableZero').dataTable().fnAddData([
				desc,
				stock_id,
				'<div class="add-form"><input type="text" class="input-sm mySelect price" name="biaya_'+count+'" id="biaya_'+count+'" placeholder="Price"></div>',
				'<div class="add-form"><input type="number" class="input-sm mySelect" name="qty_'+count+'" id="qty_'+count+'" placeholder="Quantity"></div>',
				''
			]);
			count++;
			
			$('.price').maskNumber({
				integer: true,
			});

			// $('.qty').maskNumber({
			// 	integer: true,
			// });


		});	
		
		$('#DataTableZero').on('change', '.mySelect', function () {
			var data = myTable.rows().data();
			var myArray = myTable.$('input, select').serializeArray();
			
			for(var i=0; i < data.length; i++){
				var cell = myTable.cell(i,4);				
				var price = myArray[(i*2)].value;
			
				if(price != ''){
					price = parseFloat(price.replace(/,/g, ''));
				}
				
				cell.data((price * myArray[(i*2)+1].value));
			}
		});
		
		$('#myForm').submit(function() {
			if(document.getElementById("invoice_no").value == ""){
				swal('Gagal','Nomor Invoice tidak boleh kosong.','error');
				return false;
			}
				
			var data = myTable.rows().data();
			var myArray = myTable.$('input, select').serializeArray();
				
			for(var i=0; i<data.length; i++){
				if(myArray[(i*2)].value == "" || myArray[(i*2)+1].value == "" || myArray[(i*2)+1].value == 0 || myArray[(i*2)].value == 0){
					swal('Gagal','Biaya dan Quantity harus diisi.','error');
					return false;
				}

				if(myArray[(i*2)].value < 0 || myArray[(i*2)+1].value < 0){
					swal('Gagal','Biaya dan Quantity tidak boleh minus.','error');
					return false;
				}
				
				
				
				var myJson = {
					"item_code" : data[i][1],  
					"item_name" : data[i][0],  
					//"biaya" : myArray[(i*2)].value, 
					"biaya" : parseFloat(myArray[(i*2)].value.replace(/,/g, '')), 
					"quantity" : myArray[(i*2)+1].value, 
					"total" : myArray[(i*2)].value * myArray[(i*2)+1].value,
				};
				
				jsonArray.push(myJson);
			}
			
			var supp = document.getElementById("supp");
			var status = document.getElementById("status");
			var tipe = document.getElementById("type");
			var bayar = document.getElementById("bayar");

			var ArrayInvoice = [{
				"tanggal" : document.getElementById("tanggal").value,
				"supplier_code" : supp.value,
				"supplier_name" : supp.options[supp.selectedIndex].innerHTML,
				"invoice_no" : document.getElementById("invoice_no").value,
				"memo" : document.getElementById("memo").value,
				"status" : status.options[status.selectedIndex].innerHTML,
				"tipe" : document.getElementById("type").value,
				"bayar" : document.getElementById("bayar").value
			}];
				
			var json_data = document.getElementById('json_data');
			json_data.value = JSON.stringify(jsonArray);
			
			var inv_data = document.getElementById('inv_data');
			inv_data.value = JSON.stringify(ArrayInvoice);
		});
		
	});		
	
</script>

