<?php

	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('KasBank'), '<span> Kas Bank </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('PembayaranTransaksi'), '<span> Pembayaran Transaksi </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		
		foreach($listsPT as $listPT){
		echo '
			<table class="table table-striped" style="width:50%">
			<tr>
				<th>Available Balance</th>
				<td>&nbsp;:&nbsp;</td>
				<td>';
				if($saldo <=0){
					echo'<h5 class="pull-right" style="color:red">Rp. '.number_format($saldo,0,",",".").'</h5>';
				}else{
					echo'<h5 class="pull-right" style="color:green">Rp. '.number_format($saldo,0,",",".").'</h5>';
				}
				echo'</td>
			</tr>
			<tr>
				<th>Tanggal Faktur</th>
				<td>&nbsp;:&nbsp;</td>
				<td><div class="add-form"><input type="date" class="input-sm" id="tanggal" name="tanggal" value="'.$listPT['tanggal'].'"/></div></td>
			</tr>
			<tr>
				<th>Tipe PYR</th>
				<td>&nbsp;:&nbsp;</td>
				<td><div class="add-form"><span>
				<select class="form-control input-sm" id="tipe">
				<option '.($listPT['tipe'] == "001" ? "selected" : "").' value="001">Trade Lotte</option>
				<option '.($listPT['tipe'] == "002" ? "selected" : "").' value="002">Trade Non Lotte</option>
				<!-- <option '.($listPT['tipe'] == "003" ? "selected" : "").' value="003">Non Trade Lotte</option> --!>
				<option '.($listPT['tipe'] == "004" ? "selected" : "").' value="004">Non Trade Non Lotte</option>
				</select>
				</span></div></td>
			</tr>
			<tr>
				<th>Nama Supplier</th>
				<td>&nbsp;:&nbsp;</td>
				<td><div class="add-form"><select class="input-sm" id="supp" name="supp">
				<select class="form-control select2" id="supp" name="supp" style="width:35%">
				</select>
			';
			
			echo '<input type="hidden" id="payment_no" name="payment_no" value="'.$listPT['payment_no'].'"/>';
			echo '</select></div></td>
				</tr>
				<tr>
					<th>Nomor Invoice</th> 
					<td>&nbsp;:&nbsp;</td>
					<td><div class="add-form"><input type="text" class="input-sm" id="inv_no" name="inv_no" value="'.$listPT['inv_no'].'" style="background:#ebebe4;width:80%" readOnly/></div></td>
				</tr>
				<tr> 
					<th>Memo</th>
					<td>&nbsp;:&nbsp;</td>
					<td><div class="add-form"><textarea id="memo" name="memo" style="width: 297px; height: 72px;">'.$listPT['memo'].'</textarea></div></td>
				</tr>
				<tr>
					<th>Status</th>
					<td>&nbsp;:&nbsp;</td>
					<td><div class="add-form"><select class="input-sm" id="status" name="status">
						<option '.($listPT['status'] == "Disetujui" ? "selected" : "").' value="Disetujui">Disetujui</option>
						<option '.($listPT['status'] == "Tidak Disetujui" ? "selected" : "").' value="Tidak Disetujui">Tidak Disetujui</option>
					</select></div></td>
				</tr>
				<tr>
				<th>Pembayaran dibayar ke</th>
				<td>&nbsp;:&nbsp;</td>
				<td><div class="add-form"><select class="input-sm" id="bayar" name="bayar">
				<option '.($listPT['bayar'] == "Rekening Supplier" ? "selected" : "").' value="Rekening Supplier">Rekening Supplier</option>
				<option '.($listPT['bayar'] == "Rekening Pemilik TMUK" ? "selected" : "").' value="Rekening Pemilik TMUK">Rekening Pemilik TMUK</option>
				</select></div></td>
				</tr>
				</table><br/>
				<p class="form-inline">
				<select class="form-control select2" id="list" style="width:35%">
				</select>
				</span>
				<span style="float:right">
					<button id="btn_add" class="btn btn-primary btn-sm">Tambah</button> 
					<button id="btn_delete" class="btn btn-danger btn-sm">Hapus</button>
				</span>
			</p>';
		}
		
		echo '
			<table id="DataTableZero" class="table table-striped">
				<thead>
					<tr>
						<th>Nama Produk</th>
						<th>Kode Produk</th>
						<th>Biaya</th>
						<th>Jumlah</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table><br/>
			<form id="myForm" action="update" method="post">
				<input type="hidden" id="json_data" name="json_data" />
				<input type="hidden" id="inv_data" name="inv_data" />
				<div class="text-center"><button type="submit" class="btn btn-sm btn-primary">Simpan</button>
			</form></div>';
	echo '<div>';
	
?>
<script>
	var myTable;
	var count = 0;
	var jsonArray = [];
	
	function getProduct(){
		var type_val = $("#tipe").val();
		$("#list").html("");
		$("#supp").html("");
		
		$.ajax({ url: "<?php echo $this->url->get(uri('PembayaranTransaksi/ajaxOpt')) ?>?cond="+type_val+"" }).done(function(data){		
			myArray = JSON.parse(data);
			if(myArray.variable2 === null){
				$("#supp").append('<option disabled=disabled></option>');
			}else{
				for(var j=0;j < myArray.variable2.length;j++){												
					$("#supp").append('<option value="'+ myArray.variable2[j].id +'">'+ myArray.variable2[j].name + '</option>');
				}
			}

			for(var i=0;i < myArray.variable1.length;i++){												
				$("#list").append('<option value="'+ myArray.variable1[i].val +'">'+ myArray.variable1[i].display + '</option>');
			}
		});		
	}
	
	$(document).ready( function () {	
		$(".select2").select2({
            placeholder: 'Pilih Produk',
			allowClear:true
		});
		$("#tanggal").datepicker({ dateFormat: 'yy-mm-dd' });
		getProduct();
		var cek_tipe = $("#tipe").val();
		if(cek_tipe !== ''){
			$("#tipe").trigger( "click" );
		}
		$("#tipe").change(function(){ getProduct();	});	
		
		myTable = $('#DataTableZero').DataTable({
			"info" 			: true,
			"paging"		: false,
			"ordering"		: false,
			"searching"		: false,
			"scrollY"		: "300px",
			"scrollCollapse": true				
		});			
		
		$('#DataTableZero tbody').on('click','tr',function(){
			if($(this).hasClass('selected')){
				$(this).removeClass('selected');
			}
			else{
				myTable.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});
	 
		$('#btn_delete').click(function(){
			myTable.row('.selected').remove().draw( false );
		});
		
		<?php if(count($listsPTD) > 0) { 
				foreach($listsPTD as $listPTD) { ?>
				
			$('table#DataTableZero').dataTable().fnAddData([
				'<?php echo $listPTD['description']; ?>',
				'<?php echo $listPTD['stock_id']; ?>',
				'<div class="add-form"><input type="text" class="input-sm mySelect price" value="<?php echo $listPTD['price']; ?>" name="biaya_'+count+'" id="biaya_'+count+'" placeholder="Price"></div>',
				'<div class="add-form"><input type="number" class="input-sm mySelect" value="<?php echo $listPTD['qty']; ?>" name="qty_'+count+'" id="qty_'+count+'" placeholder="Quantity"></div>',
				'<?php echo $listPTD['price'] * $listPTD['qty']; ?>'
			]);

			count++;
			
			$('.price').maskNumber({
				integer: true,
			});
		<?php } } ?>	
		
		$('#btn_add').click(function(){
			var desc = $('#list option:selected').text();
			var stock_id = $("#list").val();
			
			$('table#DataTableZero').dataTable().fnAddData([
				desc,
				stock_id,
				'<div class="add-form"><input type="text" class="input-sm mySelect price" name="biaya_'+count+'" id="biaya_'+count+'" placeholder="Price"></div>',
				'<div class="add-form"><input type="number" class="input-sm mySelect" name="qty_'+count+'" id="qty_'+count+'" placeholder="Quantity"></div>',
				''
			]);
			count++;
			
			$('.price').maskNumber({
				integer: true,
			});
		});	
		
		$('#DataTableZero').on('change', '.mySelect', function() {
			var data = myTable.rows().data();
			var myArray = myTable.$('input, select').serializeArray();
			
			for(var i=0; i < data.length; i++){
				var cell = myTable.cell(i,4);				
				var price = myArray[(i*2)].value;
			
				if(price != ''){
					price = parseFloat(price.replace(/,/g, ''));
				}
				
				cell.data((price * myArray[(i*2)+1].value));
			}
		});
		
		$('#myForm').submit(function() {
				
			var data = myTable.rows().data();
			var myArray = myTable.$('input, select').serializeArray();
				
			for(var i=0; i<data.length; i++){
				if(myArray[(i*2)].value == "" || myArray[(i*2)+1].value == "" || myArray[(i*2)+1].value == 0 || myArray[(i*2)].value == 0){
					swal('Gagal','Biaya dan Quantity harus diisi.','error');
					return false;
				}

				if(myArray[(i*2)].value < 0 || myArray[(i*2)+1].value < 0){
					swal('Gagal','Biaya dan Quantity tidak boleh minus.','error');
					return false;
				}
				
				var myJson = {
					"item_code" : data[i][1],  
					"item_name" : data[i][0],  
					"biaya" : parseFloat(myArray[(i*2)].value.replace(/,/g, '')), 
					"quantity" : myArray[(i*2)+1].value, 
					"total" : myArray[(i*2)].value * myArray[(i*2)+1].value,
				};
				
				jsonArray.push(myJson);
			}
			
			var supp = document.getElementById("supp");
			var status = document.getElementById("status");
			
			var ArrayInvoice = [{
				"tanggal" : document.getElementById("tanggal").value,
				"supplier_code" : supp.value,
				"supplier_name" : supp.options[supp.selectedIndex].innerHTML,
				"payment_no" : document.getElementById("payment_no").value,
				"inv_no" : document.getElementById("inv_no").value,
				"memo" : document.getElementById("memo").value,
				"status" : status.options[status.selectedIndex].innerHTML
			}];
				
			var json_data = document.getElementById('json_data');
			json_data.value = JSON.stringify(jsonArray);
			
			var inv_data = document.getElementById('inv_data');
			inv_data.value = JSON.stringify(ArrayInvoice);
		});
	});		
	
</script>

