<script type="text/javascript">
	$(document).ready( function () {
		$('.confirmation').on('click', function () {	
			var link = $(this).attr("href");			
			
			swal({
				title: "Anda Yakin?",
				text: "Invoice yang sudah dihapus tidak bisa dikembalikan.",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Ya, Hapus",
				cancelButtonText: "Batal, Kembali",
				closeOnConfirm: false,
				closeOnCancel: false
			},
			function(isConfirm){
				if (isConfirm) {
					window.location = link;
					swal("Terhapus!", "Invoice Berhasil dihapus.", "success");
				}else{
					swal("Dibatalkan", "Hapus Invoice Dibatalkan.", "info");
				}
			});
			
			return false;
		});
	});
</script>
<?php
	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('KasBank'), '<span> Kas Bank </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('PembayaranTransaksi'), '<span> Pembayaran Transaksi </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">
		<legend> Pembayaran Transaksi </legend>
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#PyR"> PyR </a></li>
			<li><a data-toggle="tab" href="#History"> Riwayat PyR </a></li>
		</ul>
		
		<div class="tab-content">
			<div id="PyR" class="tab-pane fade in active">
	';
	
	$messages = $this->flashSession->getMessages();
	if(count($messages) > 0){
		foreach ($messages as $messageType => $messageArray) {
			foreach ($messageArray as $message) {
				$arr_msg = explode(";", $message);
				echo "<script>swal({
					title: '".$arr_msg[0]."',
					text: '".$arr_msg[1]."',
					type: '".$arr_msg[2]."',
					html: true });</script>";
				$this->flashSession->clear();
			}
		}
	}
		echo '
		<div><a href="PembayaranTransaksi/add" class="btn btn-primary btn-sm" style="margin:20px 0px"> Buat PyR </a></div>		
		<table id="DataTable" class="table-striped hover">
			<thead>
				<tr>
					<th style="text-align:center">Nomor PyR</th>
					<th style="text-align:center">Nomor Invoice</th>
					<th style="text-align:center">Supplier</th>
					<th style="text-align:center">Tanggal</th>
					<th style="text-align:center">Action</th>
				</tr>
			</thead>
			<tbody> ';
			
			if(count($lists) > 0){
				foreach($lists as $list){
					if($list['tipe'] == 001){
						$tipe = 'Trade Lotte';
					}
					if($list['tipe'] == 002){
						$tipe = 'Trade Non Lotte';
					}
					if($list['tipe'] == 003){
						$tipe = 'Non Trade Lotte';
					}
					if($list['tipe'] == 004){
						$tipe = 'Non Trade Non Lotte';
					}
					if($list['tipe'] == ''){
						$tipe = '-';
					}
					echo '<tr>
						<td style="text-align:center">'.$list['payment_no'].'</td>
						<td style="text-align:center">'.$list['inv_no'].'</td>
						<td style="text-align:center">'.$tipe.'</td>
						<td style="text-align:center">'.$list['tanggal'].'</td>
						<td style="text-align:center">';
							if($list['flag'] == "true"){
								echo '<a href="PembayaranTransaksi/print?payment_no='.$list['payment_no'].'" title="Print" target="_blank"><i class="fa fa-print fa-lg"></i></a>';
							}else if($list['flag'] == "false" AND $list['status'] == "Disetujui"){
								echo '<a href="PembayaranTransaksi/send_invoice?payment_no='.$list['payment_no'].'" title="Sync"><i class="fa fa-refresh fa-lg"></i></a>';
							}else{
								echo '<a href="PembayaranTransaksi/edit?payment_no='.$list['payment_no'].'" title="Edit"><i class="fa fa-edit fa-lg"></i></a>&nbsp;&nbsp;
									<a href="PembayaranTransaksi/delete?payment_no='.$list['payment_no'].'" title="Delete" class="confirmation"><i class="fa fa-close fa-lg"></i></a>';
							}
						echo'</td>
					</tr>';
				}
			}
		echo '</tbody>
		</table>
		
		</div>		
			<div id="History" class="tab-pane fade">
				<div class="col-sm-12" style="margin-top:30px">
				<table id="DataTable2" class="table-striped hover">
			<thead>
				<tr>
					<th style="text-align:center">Nomor PyR</th>
					<th style="text-align:center">Nomor Invoice</th>
					<th style="text-align:center">Supplier</th>
					<th style="text-align:center">Tanggal</th>
					<th style="text-align:center">Action</th>
				</tr>
			</thead>
			<tbody> ';
			
			if(count($lists_h) > 0){
				foreach($lists_h as $list){
					if($list['tipe'] == 001){
						$tipe = 'Trade Lotte';
					}
					if($list['tipe'] == 002){
						$tipe = 'Trade Non Lotte';
					}
					if($list['tipe'] == 003){
						$tipe = 'Non Trade Lotte';
					}
					if($list['tipe'] == 004){
						$tipe = 'Non Trade Non Lotte';
					}
					if($list['tipe'] == ''){
						$tipe = '-';
					}
					echo '<tr>
						<td style="text-align:center">'.$list['payment_no'].'</td>
						<td style="text-align:center">'.$list['inv_no'].'</td>
						<td style="text-align:center">'.$tipe.'</td>
						<td style="text-align:center">'.$list['tanggal'].'</td>
						<td style="text-align:center">';
							if($list['flag'] == "true"){
								echo '<a href="PembayaranTransaksi/print?payment_no='.$list['payment_no'].'" title="Print" target="_blank"><i class="fa fa-print fa-lg"></i></a>';
							}else if($list['flag'] == "false" AND $list['status'] == "Disetujui"){
								echo '<a href="PembayaranTransaksi/send_invoice?payment_no='.$list['payment_no'].'" title="Sync"><i class="fa fa-refresh fa-lg"></i></a>';
							}else{
								echo '<a href="PembayaranTransaksi/edit?payment_no='.$list['payment_no'].'" title="Edit"><i class="fa fa-edit fa-lg"></i></a>&nbsp;&nbsp;
									<a href="PembayaranTransaksi/delete?payment_no='.$list['payment_no'].'" title="Delete" class="confirmation"><i class="fa fa-close fa-lg"></i></a>';
							}
						echo'</td>
					</tr>';
				}
			}
		echo '</tbody>
		</table>
			</div>
			</div>
		</div>
	';
	
	echo '</div>';
	
?>

