
<?php	
	
	$conditionPT = " WHERE payment_no = '".$_GET['payment_no']."' ";
	$conditionPTD = " WHERE id.payment_no = '".$_GET['payment_no']."' ";
	$listPT = PembayaranTransaksi::getFreeSQL($conditionPT);
	$listPTD = PembayaranTransaksiDetail::getJoin_Header($conditionPTD);
	$lists_tmuk = TMUK::getAll();
	
	foreach($lists_tmuk as $tmuk){
		$tmuk_code = $tmuk['tmuk'];
		$tmuk_name = $tmuk['name'];
		$address1 = $tmuk['address1'];
		$address2 = $tmuk['address2'];
		$address3 = $tmuk['address3'];
		$tmuk_telp = $tmuk['telp'];
		$lsi = $tmuk['nama_lsi'];
	} 
	foreach($listPT as $list){
		if($list['tipe'] == 004){
			$tanggal_inv = $list['tanggal'];
			$supp_name = $tmuk_name;
			$supp_address = $address1;
			$supp_kec = $address2;
			$supp_kec2 = $address3;
			$supp_telp = $tmuk_telp;
			$pyr_no = $list['payment_no'];
			$inv_no = $list['inv_no'];
		}
		if($list['tipe'] == 001 || $list['tipe'] == 003){
			$tanggal_inv = $list['tanggal'];
			$supp_name = $lsi;
			$pyr_no = $list['payment_no'];
			$inv_no = $list['inv_no'];
		}
		if($list['tipe'] == 002){
			$condition = " WHERE supplier_id = '".$list['supp_id']."' ";
			$sup = Supplier::getFreeSQL($condition)[0];
			$tanggal_inv = $list['tanggal'];
			$supp_name = $sup['supp_name'];
			$supp_address = $sup['address'];
			$supp_kec = $sup['kecamatan'];
			$supp_telp = $sup['supp_telp'];
			$pyr_no = $list['payment_no'];
			$inv_no = $list['inv_no'];
		}
	}
	
	require_once (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('','A4',9,'lottefont',10,10,45,2,8);
	
	$count = 0; $total = 0;
	
	$html_header  = '
		<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>
		<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">PAYMENT REQUEST</div>
		
		<div style="width:auto" align="right">
			<barcode code="'.$pyr_no.'" type="C93" style="text-align:right;margin-right:-14px"/>
			<div style="font-family: ocrb;text-align:right"><b>'.$pyr_no.'</b></div>
		</div>
		
		Halaman {PAGENO}/{nbpg}<br/>
		'.date('d/m/Y H:i:s').'<br/>
		'.$this->session->get("user")["user_name"].'
	';
	
	$html .= '
		<style>
			table {
				
				border: 1px solid #000;
				border-collapse: collapse;
			}
			
			.bordered {
				padding: 3px;
				border: 1px solid #000;
				vertical-align: middle;
			}
		</style>
		
		<div style="width:360px;float:left">
			<b>Order To : </b><br/>
			'.$supp_name.' <br/>
			'.$supp_address.' <br/>
			'.$supp_kec.' <br/>
			'.$supp_kec2.' <br/>
			'.$supp_telp.'
		</div>
		
		<div style="width:auto;" align="right">
			<b>IMM/TMUK Store : </b><br/>
			'.$tmuk_name.' ('.$tmuk_code.') <br/>
			'.$address1.'<br/>
			'.$address2.'<br/>
			'.$address3.'<br/>
			'.$tmuk_telp.' 
		</div>
		
		<p><table style="width:100%;border:0">
			<tr>
				<td style="width:30%">Nomor Invoice: '.$inv_no.'</td>
				<td style="width:22%">Tanggal Pesan: '.date('d-m-Y', strtotime($tanggal_inv)).'</td>		
			</tr>
		</table></p>';
		
		$html .= '
		<p><table style="width:100%;border:0">
			<thead>
				<tr>
					<th class="bordered" style="width:6%">No.</th>
					<th class="bordered" style="width:26%">Nama Produk</th>
					<th class="bordered" style="width:8%">Quantity</th>
					<th class="bordered" style="width:8%">Unit</th>
					<th class="bordered" style="width:16%">Harga per Unit</th>
					<th class="bordered" style="width:16%">Jumlah</th>
				</tr>
			</thead>
			<tbody>';
			
			foreach($listPTD as $list2){
				$count++;
				$total += $list2['price'];
				$html .= '	<tr>
						<td class="bordered">'.$count.'</td>
						<td class="bordered">'.$list2['description'].'</td>
						<td class="bordered" style="text-align:center">'.$list2['qty'].'</td>
						<td class="bordered" style="text-align:center">Pcs</td>
						<td class="bordered" align="right">'.number_format($list2['price'] / $list2['qty'],0,",",".").'</td>
						<td class="bordered" align="right">'.number_format($list2['price'],0,",",".").'</td>
					</tr> ';
			}
			
			$html .= '
				<tr><td colspan="6"></td></tr>
				<tr><td colspan="6"></td></tr>
				<tr><td colspan="6"></td></tr>
				<tr><td colspan="6"></td></tr>
				<tr><td colspan="6"></td></tr>
				<tr><td colspan="6"></td></tr>
				<tr><td colspan="6"></td></tr>
				<tr><td colspan="6"></td></tr>
				<tr>
					<td colspan="5" align="right">Total Invoice</td>
					<td align="right">'.number_format($total,0,",",".").'</td>
				</tr>
			</tbody>
		</table></p><br/><br/>
		
		<p>
			<div align="center" style="width:340px;float:left">Diajukan Oleh,</div>
			<div align="center" style="width:340px">Disetujui Oleh,</div>
		</p><br/>
		
		<p>
			<div align="center" style="width:340px;float:left">(&nbsp;&nbsp;&nbsp;'.$this->session->get("user")["user_name"].'&nbsp;&nbsp;&nbsp;)</div>';
			
			$listTMUK = TMUK::getAll();
			foreach($listTMUK as $list3){
				$html .= '<div align="center" style="width:340px">(&nbsp;&nbsp;&nbsp;'.$list3['owner'].'&nbsp;&nbsp;&nbsp;)</div>';
			}
			
		$html .= '</p>
	';
	
	$mpdf->SetHTMLHeader($html_header);
	$mpdf->WriteHTML($html);
	$mpdf->Output();
	exit;
	
?>

