<style>    	
	.styled_margin{
		margin-top:5px;
	}	
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
	var myTable;
	var count=0;
	
	$(document).ready( function () {			
		var maxCheck = $('.otorisasi').length;
		var checked = $('.otorisasi:checked').length;
        var box = document.getElementById("tambah");
        var yes = document.getElementById("yes");
        var no = document.getElementById("no");
        if(maxCheck != checked){
        	$('#status').attr('checked', false);
        }else{
        	$('#status').attr('checked', true);
        }

		myTable = $('#DataTableZero').DataTable({
				"info" : true,
				"paging":   false,
				"ordering": false,
				"searching": true,
				"scrollY": "200px",
				"scrollCollapse": true				
			});			
		
		$('#btn_back').click( function () {
			window.location = '<?php echo $this->url->get(uri('RoleMenu')) ?>';
			return false;
		});

		$('#status').on('change', function () {
			checkedAll($(this).is(':checked'), '.otorisasi');
		});

		$('.otorisasi').on('change', function () {
			checkedChild($(this).is('checked'), '.otorisasi', '#status');
		});

		checkedAll = function (status, element)
		{
			$(element).each(function () {
				$(this).prop('checked', status);
			});
		}

		checkedChild = function (status, childElement, parentElement)
		{
			var length = $(childElement).length;
			var checked = 0;

			$(childElement).each(function () {
				if($(this).is(':checked'))
				{
					checked = checked + 1;
				}
			});
			if(length == checked)
			{
				$(parentElement).prop('checked', true);
			}else{
				$(parentElement).prop('checked', false);
			}
		}
		
		$('#btn_save').click( function () {							
			$("#add-form").submit();
			return false;
		});	
		
		$('#add-form').submit(function(e) {
			var data = myTable.rows().data();			
			var data_input = myTable.$('input').serialize();
			
			data_arr1 = data_input.split("&");				
			
			var data_convert = [];
			
			for(var i=0; i< data.length; i++){
				data[i][2] = 'f';
				
				for(var j=0; j<data_arr1.length; j++){						
					var gr_flag_ok = data_arr1[j].split("=");
					var gr_flag_index = gr_flag_ok[0].split("_");
					
					if(gr_flag_index[1] == i){
						if(gr_flag_ok[1] != ''){
							data[i][2] = 't';
						}				
					}						
				}
				
				data_convert.push([data[i][0],data[i][1],data[i][2]]);
			}
			
			if(data_convert.length > 0){
				var json_data = document.getElementById('json_data');
				json_data.value = JSON.stringify(data_convert);
			}
			
			e.preventDefault();
			jQuery.ajax({
				type: 'post',
				url: '<?php echo $this->url->get(uri('RoleMenu/Update')) ?>',
				data: jQuery('#add-form').serialize(),
				success: function (data) {
					console.log(data);		
					data_array = JSON.parse(data);
					if(data_array.type == 'S'){
						swal({
							title: "Sukses",
							text: data_array.message,
							type: "success",
							html: true
						},
						function(){
							window.location = '<?php echo $this->url->get(uri('RoleMenu')) ?>';
						});
					}else if(data_array.type == 'E'){
						swal({
							title: "Gagal",
							text: data_array.message,
							type: "error",
							html: true
						},
						function(){
							window.location.reload();
						});
					}
				}
			});
			return false;			
		});	
	});
</script>

<?php		
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('Setting'), '<span> Setting </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('RoleMenu'), '<span> Role Menu</span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">';
		echo '<legend> Edit Role Menu</legend>';
		
		echo $this->tag->form([uri("RoleMenu/Update"), "class"=>"add-form", "id"=>"add-form"]);
			echo '<input type="hidden" id="json_data" name="json_data">';
			
			echo '
				<div class="row">
					<div class="col-sm-6">
						<div class="col-sm-4">
							<label> ID </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["Role_ID", "class"=>"form-control input-sm", "value"=>$data->role_id, "readonly"=>"true"]).'
						</div>
						
						<div class="col-sm-4">
							<label> Role Name </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["Role_Name", "class"=>"form-control input-sm", "value"=>$data->role_name, "readonly"=>"true"]).'
						</div>		
						
						<div class="col-sm-12 styled_button">
						<center>
							<button id="btn_save" class="btn btn-primary btn-sm"> Simpan </button>
							<button id="btn_back" class="btn btn-default  btn-sm"> Kembali </button>							
						</center>
					</div>
					</div>					
				</div>
			';
		echo $this->tag->endForm();
		
		echo '
			<div class="col-sm-12">
				</br>
			</div>
			
			<div class="col-sm-6">
				<table id="DataTableZero">
					<thead>
					<tr>
						<th style="text-align:center"> ID </th>
						<th style="text-align:center"> Menu </th>
						<th style="text-align:center"> '.Phalcon\Tag::checkField(["status"]).'</th>			  						
					</tr>
					</thead>
					
					<tbody>
		';		
					if(isset($lists_menu)){
						$count = 0;
						$flag = false;
						foreach( $lists_menu as $list_menu ) {
							$flag = false;
							if(isset($lists_role_menu)){																
								foreach( $lists_role_menu as $list_role_menu ) {									
									if($list_role_menu['menu_id'] == $list_menu['menu_id']) { $flag = true; }										
								}
							}
							
							echo '<tr>';
								echo '<td style="text-align:center">'.$list_menu['menu_id'].'</td>';
								echo '<td>'.$list_menu['title'].'</td>';
								if($flag){
									echo '<center><td style="text-align:center">'.Phalcon\Tag::checkField(["status_".$count, "class"=>"otorisasi", "checked"=>"checked"]).'</td></center>';
								}else{
									echo '<center><td style="text-align:center">'.Phalcon\Tag::checkField(["status_".$count, "class"=>"otorisasi"]).'</td></center>';
								}								
							echo '</tr>';
							
							$count++;
						}
					}
		echo '
					</tbody>
				</table>
			</div>
		';
	echo '</div>';
?>	