<script type="text/javascript">
	$(document).ready( function (){
		
	});
</script>
	
<?php		
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('Setting'), '<span> Setting </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('RoleMenu'), '<span> Role Menu </span>']).'</li>	
		</ul>
	<div>';
	
	echo '<div class="content_content">		
		<legend> Setting Role Menu </legend>
		
		<div class="col-sm-12">
			</br>
		</div>			
		<div class="col-sm-12">
			</br>
		</div>	
		
		<div class="col-sm-6">
			<table id="DataTable" class="table-striped hover">
				<thead>
					<tr>
					  <th style="text-align:center"> Role </th>
					  <th style="text-align:center"> Deskripsi </th>
					  <th style="text-align:center"> Aksi </th>
					</tr>
				</thead>
				  
				<tbody>';				
					if(count($lists) > 0 ){
						foreach( $lists as $key => $list ) {
							echo '<tr>';
								echo '<td>'.$list['role_name'].'</td>';
								echo '<td>'.$list['description'].'</td>';
								echo '<td style="text-align:center">';
									echo Phalcon\Tag::linkTo([uri('RoleMenu/Edit?Role_ID='.$list['role_id']), "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Edit Role Menu"]);
									echo '&nbsp;&nbsp;';									
								echo '</td>';
							echo '</tr>';
						}		
					}
		echo '
				</tbody>			
			</table>
		</div>
	</div>';
	
	echo '
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Detail Setting Role</h4>
				</div>
				<div class="modal-body" style="max-height:300px;overflow-y:auto;">
					<div class="table-responsive">
					<table class="table-bordered table-striped myTable" style="font-size:14px">
						<thead>							
						</thead>

						<tbody>							
						</tbody>			
					</table>
				</div>
				</div>
				<div class="modal-footer">
					<a href="" class="btn btn-default" data-dismiss="modal">Close</a>
				</div>
			</div>

			</div>
		</div>
	';
?>

<script>
	$(document).on("click", ".modalData", function(){
		var id = $(this).data('id');
		var myArray = [];
		$('.myTable tbody').empty();
		
		$.ajax({ url: "<?php echo $this->url->get(uri('Role/ajaxRole')) ?>?id="+id+"" }).done(function(data){
			console.log(data);			
			myArray = JSON.parse(data);
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');				
					tr.append("<td style='width:150px'>"+ "ID" +"</td>");
					tr.append("<td style='width:300px'>"+ myArray[i].role_id +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);	
				
				tr = $('<tr>');				
					tr.append("<td style='width:150px'>"+ "Role" +"</td>");
					tr.append("<td style='width:300px'>"+ myArray[i].role_name +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);	
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Deskripsi" +"</td>");
					tr.append("<td>"+ myArray[i].description +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
		});		
	});
</script>

