
<?php
	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Currency'), '<span> Currency </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		echo $this->tag->form([uri("Currency/Update"), "class"=>"add-form"]);
		echo '<table>';
			echo '<tr>';
				echo '<td>'.'<label class="Currency"> Currency </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Currency", "value"=>$data->currency, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Curr_Abrev"> Curr Abrev </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Curr_Abrev", "value"=>$data->curr_abrev]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Curr_Symbol"> Curr Symbol </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Curr_Symbol", "value"=>$data->curr_symbol]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Country"> Country </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Country", "value"=>$data->country]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Hundreds_Name"> Hundreds Name </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Hundreds_Name", "value"=>$data->hundreds_name]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
				echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Currency'), '<span> Back </span>']).'</div></td>';
			echo '</tr>';
		echo '</table>';
    echo $this->tag->endForm();
	echo '</div>';
?>	