
<?php

	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Currency'), '<span> Currency </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">		
		<legend> Master Data Currency </legend>
		
		<div class="col-sm-12">
			</br>
		</div>
		
		<div class="col-sm-12">
			<table id="DataTable" class="hover">
				<thead>
					<tr>
					  <th style="text-align:center"> Currency </th>
					  <th style="text-align:center"> Currency Abbreviation </th>
					  <th style="text-align:center"> Currency Symbol </th>
					  <th style="text-align:center"> Country </th>
					  <th style="text-align:center"> Hundred Name </th>
					  <th style="text-align:center"> Aksi </th>
					</tr>
				</thead>
				  
				<tbody>';	
					if(count($lists) > 0 ){
						foreach( $lists as $list ) {
							echo '<tr>';
								echo '<td style="text-align:center">'.$list['currency'].'</td>';
								echo '<td style="text-align:center">'.$list['curr_abrev'].'</td>';
								echo '<td style="text-align:center">'.$list['curr_symbol'].'</td>';
								echo '<td style="text-align:center">'.$list['country'].'</td>';
								echo '<td style="text-align:center">'.$list['hundreds_name'].'</td>';
								echo '<td style="text-align:center">';
									echo Phalcon\Tag::linkTo([uri('#'), "<i class='fa fa-search fa-lg'> </i>", "class"=>"modalData", "data-toggle"=>"modal", "data-id"=>$list['currency'], "data-target"=>"#myModal"]);
									echo '&nbsp;&nbsp;';									
								echo '</td>';
							echo '</tr>';
						}		
					}
			echo '</tbody>			
			</table>
		</div>
	</div>';	
	
	echo '
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Detail Master Data Currency</h4>
				</div>
				<div class="modal-body" style="max-height:300px;overflow-y:auto;">
					<div class="table-responsive">
					<table class="table-bordered table-striped myTable" style="font-size:14px">
						<thead>							
						</thead>

						<tbody>							
						</tbody>			
					</table>
				</div>
				</div>
				<div class="modal-footer">
					<a href="" class="btn btn-default" data-dismiss="modal">Close</a>
				</div>
			</div>

			</div>
		</div>
	';
?>

<script>
	$(document).on("click", ".modalData", function(){
		var id = $(this).data('id');
		var myArray = [];
		$('.myTable tbody').empty();
		
		$.ajax({ url: "<?php echo $this->url->get(uri('Currency/ajaxCurrency')) ?>?id="+id+"" }).done(function(data){
			console.log(data);			
			myArray = JSON.parse(data);
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');				
					tr.append("<td style='width:150px'>"+ "Currency" +"</td>");
					tr.append("<td style='width:300px'>"+ myArray[i].currency +"</td>");				
				tr.append("</tr>");				
				$('.myTable tbody').append(tr);	
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Currency Abbreviation" +"</td>");
					tr.append("<td>"+ myArray[i].curr_abrev +"</td>");				
				tr.append("</tr>");				
				$('.myTable tbody').append(tr);				
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Currency Symbol" +"</td>");
					tr.append("<td>"+ myArray[i].curr_symbol +"</td>");				
				tr.append("</tr>");				
				$('.myTable tbody').append(tr);				
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Country" +"</td>");
					tr.append("<td>"+ myArray[i].country +"</td>");				
				tr.append("</tr>");				
				$('.myTable tbody').append(tr);				
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Hundred Name" +"</td>");
					tr.append("<td>"+ myArray[i].hundreds_name +"</td>");				
				tr.append("</tr>");				
				$('.myTable tbody').append(tr);				
			}
		});		
	});
</script>

