
<?php
	
	if($this->session->get("is_login") == "X"){					
	}else{
		header("location:".uri('login'));
	}
	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Home'), '<span> Home </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		// edited here
	echo '<div>';
	
?>

