<?php
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('notif'), '<span> Notifikasi </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">';
		echo '<legend> Notifikasi</legend>';
		echo '<div class="tab-content">';
			echo '<div id="Notifikasi" class="tab-pane fade in active">';	
				echo '
					<div class="col-sm-12">
						</br>
					</div>
				';
								
				echo '<div class="col-sm-8">';
				echo '<table id="DataTable" class="table-striped hover">';
					echo '<thead>';
						echo '<tr>';
							echo '<th style="text-align:center"> ID </th>';
							echo '<th style="text-align:center"> Data </th>';					  
							echo '<th style="text-align:center"> Dibuat </th>';	
							echo '<th style="text-align:center"> Dibuat Oleh </th>';						
						echo '</tr>';
					echo '</thead>';
					  
					echo '<tbody>';		
						if(count($data) > 0 ){
							foreach( $data as $list ) {
								echo '<tr>';
									echo '<td style="text-align:center">'.$list['id'].'</td>';					
									echo '<td>'.$list['data'].'</td>';		
									echo '<td style="text-align:center">'.$list['created_at'].'</td>';
									echo '<td style="text-align:center">'.$list['created_by'].'</td>';
								echo '</tr>';
							}		
						}
					echo '</tbody>';
				echo '</table>';
				echo '</div>';
			echo '</div>';
?>
