<?php
	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('LabelHarga'), '<span> Label Harga </span>']).'</li>';			
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">
		<legend> Label Harga </legend>
		<p class="form-inline">
			<input type="text" class="form-control input-sm" id="autocomplete" style="width:350px" placeholder="Barcode / Nama Produk" />
			<button id="btn_delete" class="btn btn-danger btn-sm" style="margin-top:5px">Hapus</button>
			<button id="btn_add_all" class="btn btn-primary btn-sm" style="float:right;margin:0 2px;margin-top:5px">Tambah Semua</button>
			<button id="btn_changed" class="btn btn-info btn-sm" style="float:right;margin:0 2px;margin-top:5px">Harga Berubah</button>
		</p>
	';
	
	echo '
		<table id="DataTableZero" class="table table-striped">
			<thead>
				<tr>
					<th style="text-align:center">Barcode</th>
					<th style="text-align:center">Nama Barang</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<br/>
		<div class="text-center">
		<form id="myForm" action="LabelHarga/print" method="POST">
			<input type="hidden" id="json_data" name="json_data" />
			<input type="button" class="btn btn-primary btn-sm" id="btn_submit" value="Tampilkan"/>
		</div>';
	echo '</div>';
	
	echo '			
		<div class="modal" style="display: none">
			<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
		</div>
	';
	
?>

<script>
	var myTable;
	var count = 0;
	var jsonArray = [];
	
	$('#autocomplete').focus();
	$(document).ready( function () {			
		myTable = $('#DataTableZero').DataTable({
			"info" 			: true,
			"paging"		: true,
			"orderClasses"  : true,
			"deferRender"	: true,
			"ordering"		: true,
			"searching"		: true,
			"scrollY"		: "300px",
			"scrollCollapse": true				
		});								
		
		$('#DataTableZero tbody').on('click','tr',function(){
			if($(this).hasClass('selected')){
				$(this).removeClass('selected');
			}
			else{
				myTable.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});
	 
		$('#btn_delete').click(function(){
			myTable.row('.selected').remove().draw( false );
		});
		
		$('#btn_add_all').click(function(){
			$('.modal').show();
			$('#btn_add_all').attr('disabled', true);
			$.ajax({ url: "<?php echo $this->url->get(uri('LabelHarga/ajaxSearchProduct')) ?>?query= " }).done( function(data) {
				myArray = JSON.parse(data);
					
				for(var key in myArray){
					addRow(myArray[key].display);
				}
				
				$('#btn_add_all').attr('disabled', false);
				$('.modal').hide();
			});	
			
			return false;
		});
		
		$('#btn_changed').click(function(){			
			$('.modal').show();
			$('#btn_changed').attr('disabled', true);
			$.ajax({ url: "<?php echo $this->url->get(uri('LabelHarga/ajaxChanged')) ?>"	}).done( function(data){
				myArray = JSON.parse(data);
				if(myArray == null){ swal('Info','Tidak ada perubahan harga.','info'); $('.modal').hide(); }else{
					
					for(var key in myArray){
						addRow(myArray[key].display);
					}
					
					$('#btn_changed').attr('disabled', false);
					$('.modal').hide();
				}
			});	
		});
		
		<?php if(isset($_GET['p']) AND $_GET['p'] == true){ ?>
			$('.modal').show();
			$('#btn_changed').attr('disabled', true);
			$.ajax({ url: "<?php echo $this->url->get(uri('LabelHarga/ajaxChanged')) ?>"	}).done( function(data){
				myArray = JSON.parse(data);
				if(myArray == null){ 
					swal('Info','Tidak ada perubahan harga.','info'); 
					$('.modal').hide(); 
					$('#btn_changed').attr('disabled', false);
				}else{
					
					for(var key in myArray){
						addRow(myArray[key].display);
					}
					
					$('.modal').hide();
					$('#btn_changed').attr('disabled', false);
				}
			});	
		<?php } ?>
		
		$('#autocomplete').autocomplete({
			lookup: function (query, done) {
				var dataProduct = [];
				var query = $("#autocomplete").val();	
				
				$.ajax({ url: "<?php echo $this->url->get(uri('LabelHarga/ajaxSearchProduct')) ?>?query="+query+" " }).done(function(data){
					myArray = JSON.parse(data);
		
					for(var key in myArray){
						dataProduct.push({ "value" : myArray[key].display, "data" : myArray[key].val });
					}
					
					var result = { suggestions: dataProduct };
					done(result);	
				});	
			}, 
			autoSelectFirst: false,
			onSelect: function (suggestion) {
				console.log('You selected: ' + suggestion.value + ', ' + suggestion.data);
				addRow(suggestion.value);
			}
		});
		
		$(document).keypress(function(e) {
			var query = $("#autocomplete").val();

			if(query != ""){
				if(e.which == 13){
					$.ajax({ url: "<?php echo $this->url->get(uri('LabelHarga/ajaxSearchProduct')) ?>?query="+query+" " }).done(function(data){
						myArray = JSON.parse(data);
						
						if(Object.keys(myArray).length == 1){
							for(var key in myArray){
								document.getElementById("autocomplete").value = myArray[key].display;
								addRow(myArray[key].display);
							}
						}
					});	
					
					return false;
				}
			}
		});
		
		function addRow(str){
			var flag;
			var data = myTable.rows().data();		
			var arr_data = str.split(' - ');
			
			if(data.length == 0){
				$('table#DataTableZero').dataTable().fnAddData([
					arr_data[0],
					arr_data[1],
					//'<div class="add-form"><input type="date" class="input-sm" name="tanggal_'+count+'" value="<?php echo date('Y-m-d'); ?>" id="tanggal_'+count+'"></div>',
				]);
			}else{
				for(var i=0; i<data.length; i++){
					if(data[i][0] == arr_data[0]){
						flag = true;
					}
				}
				
				if(flag != true){
					$('table#DataTableZero').dataTable().fnAddData([
						arr_data[0],
						arr_data[1],
						//'<div class="add-form"><input type="date" class="input-sm" name="tanggal_'+count+'" value="<?php echo date('Y-m-d'); ?>" id="tanggal_'+count+'"></div>',
					]);
					count++;
				}else{
					//swal('Gagal', 'Data '+arr_data[1]+' sudah ada', 'error');
				}
			}
			
			document.getElementById("autocomplete").value = "";
			$('#autocomplete').autocomplete('clear').val('');
		}
		
		$('#btn_submit').click(function(){		
			myTable.rows().every( function ( rowIdx, tableLoop, rowLoop ) {       
				var cell = myTable.cell({ row: rowIdx, column: 2 }).nodes();
				var myJson = {
					"barcode" : myTable.row(rowIdx).data()[0], 
					"item_name" : myTable.row(rowIdx).data()[1],
					"tanggal" : <?php echo date('Y-m-d'); ?>,
				};
				
				jsonArray.push(myJson);
			});
			
			document.getElementById('json_data').value = JSON.stringify(jsonArray);
			
			$("#myForm").submit();
			return false;
		});		
	});		
	
</script>


