<?php
	set_time_limit(0);
	require_once (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('','A4',9,'lottefont'); // width > 680
	
	$html = '<style>
	@page{margin:20px;}
	#parent{
		float : left;
		width : 175px;
		border : 1px solid #000;
		margin-left : 4px;
		margin-bottom : 4px;
		padding : 2px;
	}
	</style>';
	
	$json_datas = json_decode($_POST['json_data']);	
	$count = 0;
	
	foreach($json_datas as $list){		
		$object['barcode'] = $list->barcode;
		$object['count_index'] = 0;
		$listsProduct = Product::getProductSale($object);
		if(count($listsProduct) > 0){
			$count++;
				foreach($listsProduct as $listProduct){
					if(($listProduct['diskon'] != 0 && $listProduct['diskon_amount'] != 0)){
						$html .= '
							<div id="parent">	
								<br>
								<p style="text-align:center;margin-top:-5px;clear:both">
									<span style="font-size:25px"><sup>Rp</sup> '.number_format($listProduct['diskon'],0,",",".").'</span><br/>
									<span style="font-size:15px"><sup>Rp</sup> <strike>'.number_format($listProduct['harga'],0,",",".").'</strike></span><br/>
									<span style="font-size:10px"><u>'.$listProduct["uom1_prod_nm"].'</u></span><br/>
									<span style="font-size:10px">'.$listProduct["stock_id"].' | '.$listProduct["barcode"].'</span><br/>
									<span style="font-size:7px">'.$listProduct["from"].' Sampai '.$listProduct["to"].'</span>
								</p>
								<span style="font-size:10px">'.date('d-m-Y').'</span> <img style="float:right" src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="35" height="20"/>
							</div> 
						';
									
					}else{
						if($listProduct['changed'] == 0){
							$harga = $listProduct['rounding'];
						}else{
							$harga = $listProduct['changed'];
						}
						$html .= '
							<div id="parent">	
								<p style="text-align:center">
									<span style="font-size:30px"><sup>Rp</sup> '.number_format($harga,0,",",".").'</span><br/>
									<span style="font-size:10px"><u>'.$listProduct["uom1_prod_nm"].'</u></span><br/>
									<span style="font-size:10px">'.$listProduct["stock_id"].' | '.$listProduct["barcode"].'</span><br/>
								</p>
								<span style="font-size:10px">'.date('d-m-Y').'</span> <img style="float:right" src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="35" height="20"/>
							</div> 
						';
					}
					
					if($count % 32 == 0){
						$html .= '<p style="margin-top:100px"></p>';
					}
					
				}
		}else{
			$this->flashSession->success("Data Product tidak Lengkap.");
			return $this->response->redirect(uri('LabelHarga'));
		}
	}
	
	$mpdf->useSubstitutions = false;
	$mpdf->simpleTables = true;
	$mpdf->WriteHTML($html);
	$mpdf->Output();
	exit;

?>