<style>
.dataTable, th, td {
    font-size: 13px;
}
</style>
<?php
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('KasBank'), '<span> Kas Bank </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('RekeningTMUK'), '<span> Rekening TMUK </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	if(isset($_POST['from'])){
		$value_from = $_POST['from'];
	}else{
		$value_from = date('Y-m-d');
	}
	
	if(isset($_POST['to'])){
		$value_to = $_POST['to'];
	}else{
		$value_to = date('Y-m-d');
	}
	
	echo '<div class="content_content">';
		// edited here
		foreach($myList as $list){
		echo '<table class="table table-striped" style="width:50%">
			<tr>
				<td style="width:40%;font-weight:bold">Nama TMUK</td>
				<td><b>:</b> '.$list['name'].'</td>
			</tr>
			<tr>
				<td style="width:40%;font-weight:bold">No. Rek Escrow</td>
				<td><b>:</b> '.$list['escrow_account'].' - '.$list['nama_bank'].' - '.$list['nama_owner'].'</td>
			</tr>
			<tr>
				<td style="width:40%;font-weight:bold">Periode</td>
				<td><form method="POST" id="myForm" action="RekeningTMUK" class="form-inline" style="margin-bottom: 0px;"><div class="add-form" style="margin-left: 16px;">
					<input type="date" class="form-control input-sm" id="from" name="from" value="'.$value_from.'"/> <input type="date" class="form-control input-sm" id="to" name="to" value="'.$value_to.'"/>
				</div></form></td>
			</tr>';
		}
		echo '
			<tr>
				<td style="width:40%;font-weight:bold">Saldo Deposit</td>
				<td ><b>:</b> <p class="pull-right"  style="color:blue">Rp. '.number_format($saldo,0,",",".").'</p></td>
			</tr>
			<tr>
				<td style="width:40%;font-weight:bold">Saldo Escrow</td>';
				if($escrow <=0){
					echo'<td ><b>:</b> <p class="pull-right" style="color:red">Rp. '.number_format($escrow,0,",",".").'</p></td>';
				}else{
					echo'<td ><b>:</b> <p class="pull-right" style="color:blue">Rp. '.number_format($escrow,0,",",".").'</p></td>';
				}
			echo'
			</tr>
			<tr>
				<td style="width:40%;font-weight:bold">Saldo Minimal Mengendap</td>
				<td ><b>:</b> <p class="pull-right" style="color:red">- Rp. '.number_format($mengendap,0,",",".").'</p></td>
			</tr>
			<tr>
				<td style="width:40%;font-weight:bold">Locked PR</td>
				<td ><b>:</b> <p class="pull-right" style="color:orange">- Rp. '.number_format($locked,0,",",".").'</p></td>
			</tr>
			<tr>
				<td style="width:40%;font-weight:bold">Available Balance</td>';
				if($available <=0){
					echo'<td ><b>:</b> <p class="pull-right" style="color:red">Rp. '.number_format($available,0,",",".").'</p></td>';
				}else{
					echo'<td ><b>:</b> <p class="pull-right" style="color:green">Rp. '.number_format($available,0,",",".").'</p></td>';
				}
			echo'	
			</tr>
		</table><br/>

		<ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#home">Saldo Deposit</a></li>
		    <li><a data-toggle="tab" href="#menu1">Saldo Escrow</a></li>
		  </ul>

		  <div class="tab-content">
		    <div id="home" class="tab-pane fade in active">
			    <table id="DataTable6" class="table-striped">
					<thead>
						<tr>
							<th style="text-align:center">Tanggal</th>
							<th style="text-align:center">Mutasi</th>
							<th style="text-align:center">Saldo Awal</th>
							<th style="text-align:center">Saldo Akhir</th>
						</tr>
					</thead>
					<tbody>';
				
				if($mutasi == null){
					echo $mutasi;
				}else{
					$json = json_decode($mutasi, true);
					if(count($json['message']) > 0){
						foreach ($json['message'] as $mj){
						$saldo = $mj['saldo_awal'];
							echo '<tr>
								<td style="text-align:center">'.date('d/m/Y', strtotime($mj['tanggal'])).'</td>
								<td style="text-align:right">'.number_format($mj['jumlah'],0,",",".").'</td>
								<td style="text-align:right">'.number_format(($saldo),0,",",".").'</td>
								<td style="text-align:right">'.number_format(($saldo += $mj['jumlah']),0,",",".").'</td>
							</tr> ';
						}	
					}else{
						echo '<tr>
								<td style="text-align:center" colspan="4">Tidak Ada Mutasi</td>
							</tr> ';
					}
					
				}
				
				echo '
					</tbody>
				</table>
		    </div>
		    <div id="menu1" class="tab-pane fade">
			    <table id="DataTable" class="table-striped">
					<thead>
						<tr>
							<th style="text-align:center">Tanggal</th>
							<th style="text-align:center">Mutasi</th>
							<th style="text-align:center">Saldo Awal</th>
							<th style="text-align:center">Saldo Akhir</th>
						</tr>
					</thead>
					<tbody>';
				
				if($deposit == null){
					echo $deposit;
				}else{
					$json = json_decode($deposit, true);
					if(count($json['message']) > 0){
						foreach ($json['message'] as $mj){
						$saldo = $mj['saldo_awal'];
							echo '<tr>
								<td style="text-align:center">'.date('d/m/Y', strtotime($mj['tanggal'])).'</td>
								<td style="text-align:right">'.number_format($mj['jumlah'],0,",",".").'</td>
								<td style="text-align:right">'.number_format(($saldo),0,",",".").'</td>
								<td style="text-align:right">'.number_format(($saldo += $mj['jumlah']),0,",",".").'</td>
							</tr> ';
						}	
					}else{
						echo '<tr>
								<td style="text-align:center" colspan="4">Tidak Ada Mutasi</td>
							</tr> ';
					}
					
				}
				
				echo '
					</tbody>
				</table>
		    </div>
		  </div>';	
	echo '</div>';
	
?>

<script>

$(function(){
	$("#from").datepicker({ dateFormat: 'yy-mm-dd'});
	$("#to").datepicker({ dateFormat: 'yy-mm-dd'});
});

$('input[type="date"]').change(function(){
	$('#myForm').submit();
});
</script>

