<style>    	
	.styled_margin{
		margin-top:5px;
	}	
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
	$(document).ready( function () {	
		$('#btn_back').click( function () {
			window.location = '<?php echo $this->url->get(uri('Role')) ?>';
			return false;
		});
		
		$('#btn_save').click( function () {	
			var role = $("#Role_Name").val();
			var desc = $("#Description").val();
			
			if(role == ''){ 
				sweetAlert("Gagal", "Nama Role Harus diisi", "error");
				return false;
			}else if(desc == ''){ 
				sweetAlert("Gagal", "Deskripsi Harus diisi", "error");
				return false;
			}
			
			$("#add-form").submit();
			return false;
		});	
		$('#add-form').submit(function(e) {	
			e.preventDefault();
			jQuery.ajax({
				type: 'post',
				url: '<?php echo $this->url->get(uri('Role/Update')) ?>',
				data: jQuery('#add-form').serialize(),
				success: function (data) {
					console.log(data);		
					data_array = JSON.parse(data);
					if(data_array.type == 'S'){
						swal({
							title: "Sukses",
							text: data_array.message,
							type: "success",
							html: true
						},
						function(){
							window.location = '<?php echo $this->url->get(uri('Role')) ?>';
						});
					}else if(data_array.type == 'E'){
						swal({
							title: "Gagal",
							text: data_array.message,
							type: "error",
							html: true
						},
						function(){
							window.location.reload();
						});
					}
				}
			});
			return false;				
		});	
	});
</script>

<?php
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('Setting'), '<span> Setting </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Role'), '<span> Role </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">';
		echo '<legend> Edit Role </legend>';
		
		echo $this->tag->form([uri("Role/Update"), "class"=>"add-form", "id"=>"add-form"]);
			echo '
				<div class="row">
					<div class="col-sm-6">
						<div class="col-sm-4">
							<label> ID </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["Role_ID", "class"=>"form-control input-sm", "value"=>$data->role_id, "readonly"=>"true"]).'
						</div>
						
						<div class="col-sm-4">
							<label> Role Name </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["Role_Name", "class"=>"form-control input-sm", "value"=>$data->role_name]).'
						</div>
						
						<div class="col-sm-4">
							<label> Description </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textArea(["Description", "cols"=>12, "Rows"=>3, "class"=>"form-control input-sm", "value"=>$data->description]).'
						</div>
						
						<div class="col-sm-4">		
							<label> Approve PR </label>
						</div>
						<div class="col-sm-8 styled_margin form-inline">
							';
							
							if($data->pr_approve){								
								echo Phalcon\Tag::checkField(["PR_Approve", "checked"=>"checked"]);								
							}else{							
								echo Phalcon\Tag::checkField(["PR_Approve"]);
							}

						echo '
						</div>
						
						<div class="col-sm-12 styled_button">
						<center>
							<button id="btn_save" class="btn btn-primary btn-sm"> Simpan </button>
							<button id="btn_back" class="btn btn-default  btn-sm"> Kembali </button>							
						</center>
					</div>
					</div>					
				</div>
			';
		echo $this->tag->endForm();
	echo '</div>';
?>	