<script type="text/javascript">
	$(document).ready( function () {
		$('#btn_create').click( function () {
			window.location = '<?php echo $this->url->get(uri('Role/add')) ?>';
		});
		
		$('.confirmation').on('click', function () {	
			var link = $(this).attr("href");			
			
			swal({
				title: "Anda Yakin?",
				text: "Role yang sudah dihapus tidak bisa dikembalikan.",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Ya, Hapus",
				cancelButtonText: "Batal, Kembali",
				closeOnConfirm: false,
				closeOnCancel: false
			},
			function(isConfirm){
				if (isConfirm) {
					jQuery.ajax({
						type: 'GET',
						url: link,
						success: function (data) {
							console.log(data);		
							data_array = JSON.parse(data);
							if(data_array.type == 'S'){
								swal({
									title: "Sukses",
									text: data_array.message,
									type: "success",
									html: true
								},
								function(isConfirm){
									if (isConfirm) {
										location.reload();
									}
								});
							}else if(data_array.type == 'E'){
								swal({
									title: "Gagal",
									text: data_array.message,
									type: "error",
									html: true
								},
								function(isConfirm){
									if (isConfirm) {
										location.reload();
									}
								});
							}
						}
					});
				}else{
					swal("Dibatalkan", "Hapus Role Dibatalkan.", "info");
				}
			});
			return false;
		});
	});
</script>
	
<?php
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('Setting'), '<span> Setting </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Role'), '<span> Role </span>']).'</li>	
		</ul>
	<div>';
	
	echo '<div class="content_content">		
		<legend> Setting Role </legend>
		
		<div class="col-sm-12">
			</br>
		</div>		
		<div class="col-sm-12">
			<button id="btn_create" class="btn btn-primary btn-sm"> Buat Role </button>		
		</div>
		
		<div class="col-sm-12">
			</br>
		</div>	
		
		<div class="col-sm-6">
			<table id="DataTable" class="table-striped hover">
				<thead>
					<tr>
					  <th style="text-align:center"> Role </th>
					  <th style="text-align:center"> Deskripsi </th>
					  <th style="text-align:center"> Approve PR </th>
					  <th style="text-align:center"> Aksi </th>
					</tr>
				</thead>
				  
				<tbody>';				
					if(count($lists) > 0 ){
						$count = 0;
						foreach( $lists as $key => $list ) {
							echo '<tr>';
								echo '<td>'.$list['role_name'].'</td>';
								echo '<td>'.$list['description'].'</td>';
								if($list['pr_approve']){
									echo '<td style="text-align:center">'.Phalcon\Tag::checkField(["pr_approve_".$count, "checked"=>"checked", "disabled"=>"disabled"]).'</td>';		
								}else{
									echo '<td style="text-align:center">'.Phalcon\Tag::checkField(["pr_approve_".$count, "disabled"=>"disabled"]).'</td>';		
								}
								echo '<td style="text-align:center">';
									echo Phalcon\Tag::linkTo([uri('#'), "<i class='fa fa-search fa-lg'> </i>", "class"=>"modalData", "data-toggle"=>"modal", "data-id"=>$list['role_id'], "data-target"=>"#myModal"]);
									echo '&nbsp;&nbsp;';
									echo Phalcon\Tag::linkTo([uri('Role/Edit?Role_ID='.$list['role_id']), "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Edit Role"]);
									echo '&nbsp;&nbsp;';
									echo Phalcon\Tag::linkTo([uri('Role/Delete?Role_ID='.$list['role_id']), "<i class='fa fa-close fa-lg'> </i>", "title"=>"Delete Role", "class"=>"confirmation"]);																		
								echo '</td>';
							echo '</tr>';
							
							$count++;
						}		
					}
		echo '
				</tbody>			
			</table>
		</div>
	</div>';
	
	echo '
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Detail Setting Role</h4>
				</div>
				<div class="modal-body" style="max-height:300px;overflow-y:auto;">
					<div class="table-responsive">
					<table class="table-bordered table-striped myTable" style="font-size:14px">
						<thead>							
						</thead>

						<tbody>							
						</tbody>			
					</table>
				</div>
				</div>
				<div class="modal-footer">
					<a href="" class="btn btn-default" data-dismiss="modal">Close</a>
				</div>
			</div>

			</div>
		</div>
	';
?>

<script>
	$(document).on("click", ".modalData", function(){
		var id = $(this).data('id');
		var myArray = [];
		$('.myTable tbody').empty();
		
		$.ajax({ url: "<?php echo $this->url->get(uri('Role/ajaxRole')) ?>?id="+id+"" }).done(function(data){
			console.log(data);			
			myArray = JSON.parse(data);
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');				
					tr.append("<td style='width:150px'>"+ "ID" +"</td>");
					tr.append("<td style='width:300px'>"+ myArray[i].role_id +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);	
				
				tr = $('<tr>');				
					tr.append("<td style='width:150px'>"+ "Role" +"</td>");
					tr.append("<td style='width:300px'>"+ myArray[i].role_name +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);	
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Deskripsi" +"</td>");
					tr.append("<td>"+ myArray[i].description +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
		});		
	});
</script>

