
<?php	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Setting'), '<span> Setting </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Role'), '<span> Role </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
	echo $this->tag->form([uri("Role/Update"), "class"=>"add-form"]);
		echo '<table>';
			echo '<tr>';
				echo '<td>'.'<label class="Role_ID"> Role ID </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Role_ID", "value"=>$data->role_id, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Role_Name"> Role Name </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Role_Name", "value"=>$data->role_name, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Description"> Description </label>'.'</td>';
				echo '<td>'.$this->tag->textArea(["Description", "cols"=>12, "Rows"=>3, "value"=>$data->description, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';				
				echo '<td colspan="2"><div class="add-link">'.Phalcon\Tag::linkTo([uri('Role'), '<span> Back </span>']).'</div></td>';
			echo '</tr>';
		echo '</table>';		
    echo $this->tag->endForm();
	echo '</div>';
?>	