
<?php
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';			
			echo '<li>'.Phalcon\Tag::linkTo([uri('Setting'), '<span> Setting </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		echo '<div class="metro-surface">';
			echo '							
				<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('Role'), '<span><i class="fa fa-tags fa-2x"></i><div class="judul"><div class="judul"> Role </div></div></span>']).'
				</div>			
				
				<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('User'), '<span><i class="fa fa-user-o fa-2x"></i><div class="judul"><div class="judul"> User </div></div></span>']).'
				</div>	
				
				<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('RoleMenu'), '<span><i class="fa fa-key fa-2x"></i><div class="judul"><div class="judul"> RoleMenu </div></div></span>']).'
				</div>	
				
				<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('Shift'), '<span><i class="fa fa-calendar fa-2x"></i><div class="judul"><div class="judul"> Shift </div></div></span>']).'
				</div>	
				
				<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('Kassa'), '<span><i class="fa fa-shopping-cart fa-2x"></i><div class="judul"><div class="judul"> Pos </div></div></span>']).'
				</div>
				
				<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('TMUK'), '<span><i class="fa fa-address-card fa-2x"></i><div class="judul"><div class="judul"> TMUK </div></div></span>']).'
				</div>
				
				<div class="col-sm-2 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('NumberRange'), '<span><i class="fa fa-sort-numeric-asc fa-2x"></i><div class="judul"><div class="judul"> Number Range </div></div></span>']).'
				</div>
			';
		echo '</div>';
	echo '<div>';
	
?>

