
<?php

	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Product'), '<span> Product </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		echo $this->tag->form([uri("Product/Insert"), "class"=>"add-form"]);
		echo '<table>';
			echo '<tr>';
			echo '<td>';
				echo '<table>';
					echo '<tr>';
						echo '<td>'.'<label class="Stock_ID"> Product ID </label>'.'</td>';
						echo '<td>'.$this->tag->textField(["Stock_ID"]).'</td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td>'.'<label class="Category_ID"> Category ID </label>'.'</td>';
						echo '<td>'.$this->tag->textField(["Category_ID"]).'</td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td>'.'<label class="Tax_Type_ID"> Tax ID </label>'.'</td>';
						echo '<td>'.$this->tag->textField(["Tax_Type_ID"]).'</td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td>'.'<label class="Description"> Description </label>'.'</td>';
						echo '<td>'.$this->tag->textArea(["Description", "cols"=>24, "rows"=>2]).'</td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td>'.'<label class="Long_Description"> Long Description </label>'.'</td>';
						echo '<td>'.$this->tag->textArea(["Long_Description", "cols"=>24, "rows"=>2]).'</td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td>'.'<label class="Units"> Unit </label>'.'</td>';
						if ($unit != null){
							echo '<td>'.$this->tag->select(["Units", $unit]).'</td>';
						}else{
							echo '<td>'.$this->tag->textField(["Units"]).'</td>';
						}						
					echo '</tr>';
					
					echo '<tr>';
						echo '<td colspan="2"></br></td>';
					echo '</tr>';
					
					echo '<tr>';
						echo '<td>'.'<label class="Actual_Cost"> Actual Cost </label>'.'</td>';
						echo '<td>'.$this->tag->textField(["Actual_Cost"]).'</td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td>'.'<label class="Last_Cost"> Last Cost </label>'.'</td>';
						echo '<td>'.$this->tag->textField(["Last_Cost"]).'</td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td>'.'<label class="Material_Cost"> Material Cost </label>'.'</td>';
						echo '<td>'.$this->tag->textField(["Material_Cost"]).'</td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td>'.'<label class="Labour_Cost"> Labour Cost </label>'.'</td>';
						echo '<td>'.$this->tag->textField(["Labour_Cost"]).'</td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td>'.'<label class="Overhead_Cost"> Overhead Cost </label>'.'</td>';
						echo '<td>'.$this->tag->textField(["Overhead_Cost"]).'</td>';
					echo '</tr>';
				echo '</table>';
			echo '</td>';
			
			echo '<td>';
				echo '<table>';
					echo '<tr>';
						echo '<td>'.'<label class="Kode_1"> Kode 1 </label>'.'</td>';
						echo '<td>'.$this->tag->textField(["Kode_1"]).'</td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td>'.'<label class="Kode_2"> Kode 2 </label>'.'</td>';
						echo '<td>'.$this->tag->textField(["Kode_2"]).'</td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td>'.'<label class="Kode_3"> Kode 3 </label>'.'</td>';
						echo '<td>'.$this->tag->textField(["Kode_3"]).'</td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td>'.'<label class="Discount"> Discount </label>'.'</td>';
						echo '<td>'.$this->tag->textField(["Discount"]).'</td>';
					echo '</tr>';
					echo '<tr>';
						echo '<td>'.'<label class="Supplied_By"> Supply By </label>'.'</td>';
						echo '<td>'.$this->tag->textField(["Supplied_By"]).'</td>';
					echo '</tr>';
				echo '</table>';
			echo '</td>';
			echo '</tr>';

			echo '<tr><td colspan="2">';
				echo '<table><tr>';					
					echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
					echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Product'), '<span> Back </span>']).'</div></td>';
				echo '</tr></table>';
			echo '</td></tr>';			
		echo '</table>';
    echo $this->tag->endForm();
	echo '</div>';
?>	