<script>
	$(document).ready(function(){
		$(".nav-tabs a").click(function(){
			$(this).tab('show');
		});
	});
</script>
<?php
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Product'), '<span> Product </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		//echo '<div class="add-link">'.Phalcon\Tag::linkTo([uri'Product/Add', '<span> Add </span>']).'</div>';		
		echo '<legend>Master Data Product</legend>';
		
		if(count($lists) > 0 ){
			echo '<div class="table-responsive">';
			echo '<table id="DataTable" class="table-striped hover">';
				echo '<thead>';
					echo '<tr>';
						echo '<th style="text-align:center"> Kode Barang </th>';
						echo '<th style="text-align:center"> Barcode </th>';
						echo '<th style="text-align:center"> Nama Barang </th>';	
						echo '<th style="text-align:center"> Status </th>';	
						echo '<th style="text-align:center"> Tipe </th>';	
						echo '<th style="text-align:center"> Supplied By </th>';	
						echo '<th style="text-align:center"> Pulsa </th>';	
						echo '<th style="text-align:center"> Pajak </th>';	
						echo '<th style="text-align:center"> Aksi </th>';
					echo '</tr>';
				echo '</thead>';
				  
				echo '<tbody>';					  
					foreach( $lists as $list ) {
						if($list['tax_type_id'] == 1){ $tax_text = "Ya"; } else { $tax_text = "Tidak"; }
						if($list['ppob'] == 1){ $ppob = "Ya"; } else { $ppob = "Tidak"; }
						if($list['mb_flag'] == 'B'){ $item_type = "Trade"; } else { $item_type = "Non Trade"; }

						if($list['tipe'] == 001){
							$tipe = 'Trade Lotte';
						}
						if($list['tipe'] == 002){
							$tipe = 'Trade Non Lotte';
						}
						if($list['tipe'] == 003){
							$tipe = 'Non Trade Lotte';
						}
						if($list['tipe'] == 004){
							$tipe = 'Non Trade Non Lotte';
						}
						
						echo '<tr>';
							echo '<td style="text-align:center">'.$list['stock_id'].'</td>';					
							echo '<td style="text-align:center">'.$list['uom1_internal_barcode'].'</td>';				
							echo '<td style="text-align:center">'.$list['description'].'</td>';	
							echo '<td style="text-align:center">'.$list['status'].'</td>';	
							echo '<td style="text-align:center">'.$item_type.'</td>';	
							echo '<td style="text-align:center">'.$tipe.'</td>';	
							echo '<td style="text-align:center">'.$ppob.'</td>';	
							echo '<td style="text-align:center">'.$tax_text.'</td>';	
							echo '<td style="text-align:center">';
								echo Phalcon\Tag::linkTo([uri('Product/View?Stock_ID='.$list['stock_id']), '<i class="fa fa-search fa-lg"></i>']);
								echo '&nbsp;&nbsp;';
								/*echo Phalcon\Tag::linkTo([uri('Product/Edit?Stock_ID='.$list['stock_id']), '<i class="fa fa-edit fa-lg"></i>']);
								echo '&nbsp;&nbsp;';
								echo Phalcon\Tag::linkTo([uri('Product/Delete?Stock_ID='.$list['stock_id']), '<i class="fa fa-close fa-lg"></i>']);*/
							echo '</td>';
						echo '</tr>';
					}		
				echo '</tbody>';			
			echo '</table>';
			echo '</div>';
		}		
	echo '<div>';
	
?>

