<script>
	$(document).ready(function(){
		$(".nav-tabs a").click(function(){
			$(this).tab('show');
		});
	});
</script>
<style>
	.table > tbody > tr > td { border-top:0 }
	input[type=text], textarea{
		background:#f0f0f0;
		border:1px solid #ddd;
		padding:3px
	}
</style>
<?php

	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Product'), '<span> Product </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		
	echo '<ul class="nav nav-tabs">';
	  echo '<li class="active"><a data-toggle="tab" href="#product"> Product </a></li>';
	 /* echo '<li><a data-toggle="tab" href="#product_uom1"> UoM 1</a></li>';
	  echo '<li><a data-toggle="tab" href="#product_uom2"> UoM 2</a></li>';
	  echo '<li><a data-toggle="tab" href="#product_uom3"> UoM 3</a></li>';
	  echo '<li><a data-toggle="tab" href="#product_uom4"> UoM 4</a></li>'; */
	  echo '<li><a data-toggle="tab" href="#product_price"> Price </a></li>';	  
	echo '</ul>';
	
	echo $this->tag->form([uri("Product")]);
	echo '<div class="tab-content">';
		echo '<div id="product" class="tab-pane fade in active">';		
			echo '<table class="table">';
				echo '<tr>';
				echo '<td>';
					echo '<table class="table">';
						echo '<tr>';
							echo '<td>'.'<label class="Stock_ID"> Product ID </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Stock_ID", "value"=>$data->stock_id, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Category_ID"> Category ID </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Category_ID", "value"=>$data->category_id, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Tax_Type_ID"> Tax ID </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Tax_Type_ID", "value"=>$data->tax_type_id, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Description"> Description </label>'.'</td>';
							echo '<td>'.$this->tag->textArea(["Description", "cols"=>24, "rows"=>2, "value"=>$data->description, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Long_Description"> Long Description </label>'.'</td>';
							echo '<td>'.$this->tag->textArea(["Long_Description", "cols"=>24, "rows"=>2, "value"=>$data->long_description, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Units"> Unit </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Units", "value"=>$data->units, "readonly"=>"true"]).'</td>';
						echo '</tr>';
					echo '</table>';
				echo '</td>';
				
				echo '<td>';
					echo '<table class="table">';
						echo '<tr>';
							echo '<td>'.'<label class="Actual_Cost"> Actual Cost </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Actual_Cost", "value"=>$data->actual_cost, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Last_Cost"> Last Cost </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Last_Cost", "value"=>$data->last_cost, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Material_Cost"> Material Cost </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Material_Cost", "value"=>$data->material_cost, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Labour_Cost"> Labour Cost </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Labour_Cost", "value"=>$data->labour_cost, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Overhead_Cost"> Overhead Cost </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Overhead_Cost", "value"=>$data->overhead_cost, "readonly"=>"true"]).'</td>';
						echo '</tr>';						
						echo '<tr>';
							echo '<td>'.'<label class="Discount"> Discount </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Discount", "value"=>$data->discount, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Supplied_By"> Supply By </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Supplied_By", "value"=>$data->supplied_by, "readonly"=>"true"]).'</td>';
						echo '</tr>';
					echo '</table>';
				echo '</td>';
				echo '</tr>';

			echo '</table>';		
		echo '</div>';
		
		echo '<div id="product_uom1" class="tab-pane fade">';		
			echo '<table class="table">';
				echo '<tr>';
				echo '<td>';
					echo '<table class="table">';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_NM"> UoM </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_NM", "value"=>$data->uom1_nm, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_Htype_1"> UoM Type 1 </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_Htype_1", "value"=>$data->uom1_htype_1, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_Htype_2"> UoM Type 2 </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_Htype_2", "value"=>$data->uom1_htype_2, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_Htype_3"> UoM Type 3 </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_Htype_3", "value"=>$data->uom1_htype_3, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_Htype_4"> UoM Type 4 </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_Htype_4", "value"=>$data->uom1_htype_4, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_Htype_5"> UoM Type 5 </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_Htype_5", "value"=>$data->uom1_htype_5, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_Rack_Type"> Rack Type </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_Rack_Type", "value"=>$data->uom1_rack_type, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_Shelfing_Rack_Type"> Shelfing Rack Type </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_Shelfing_Rack_Type", "value"=>$data->uom1_shelfing_rack_type, "readonly"=>"true"]).'</td>';
						echo '</tr>';
					echo '</table>';
				echo '</td>';	

				echo '<td>';
					echo '<table class="table">';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_Internal_Barcode"> Internal Barcode </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_Internal_Barcode", "value"=>$data->uom1_internal_barcode, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_Width"> Width </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_Width", "value"=>$data->uom1_width, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_Length"> Length </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_Length", "value"=>$data->uom1_length, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_Height"> Height </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_Height", "value"=>$data->uom1_height, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_Weight"> Weight </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_Weight", "value"=>$data->uom1_weight, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_Margin"> Margin </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_Margin", "value"=>$data->uom1_margin, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_Box_Type"> Box Type </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_Box_Type", "value"=>$data->uom1_box_type, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom1_Harga"> Harga </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom1_Harga", "value"=>$data->uom1_harga, "readonly"=>"true"]).'</td>';
						echo '</tr>';
					echo '</table>';
				echo '</td>';	
				echo '</tr>';
			echo '</table>';		
		echo '</div>';
		
		echo '<div id="product_uom2" class="tab-pane fade">';		
			echo '<table class="table">';
				echo '<tr>';
				echo '<td>';
					echo '<table class="table">';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_NM"> UoM </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_NM", "value"=>$data->uom2_nm, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_Htype_1"> UoM Type 1 </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_Htype_1", "value"=>$data->uom2_htype_1, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_Htype_2"> UoM Type 2 </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_Htype_2", "value"=>$data->uom2_htype_2, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_Htype_3"> UoM Type 3 </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_Htype_3", "value"=>$data->uom2_htype_3, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_Htype_4"> UoM Type 4 </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_Htype_4", "value"=>$data->uom2_htype_4, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_Htype_5"> UoM Type 5 </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_Htype_5", "value"=>$data->uom2_htype_5, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_Rack_Type"> Rack Type </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_Rack_Type", "value"=>$data->uom2_rack_type, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_Shelfing_Rack_Type"> Shelfing Rack Type </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_Shelfing_Rack_Type", "value"=>$data->uom2_shelfing_rack_type, "readonly"=>"true"]).'</td>';
						echo '</tr>';
					echo '</table>';
				echo '</td>';	

				echo '<td>';
					echo '<table class="table">';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_Internal_Barcode"> Internal Barcode </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_Internal_Barcode", "value"=>$data->uom2_internal_barcode, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_Width"> Width </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_Width", "value"=>$data->uom2_width, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_Length"> Length </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_Length", "value"=>$data->uom2_length, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_Height"> Height </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_Height", "value"=>$data->uom2_height, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_Weight"> Weight </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_Weight", "value"=>$data->uom2_weight, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_Margin"> Margin </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_Margin", "value"=>$data->uom2_margin, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_Box_Type"> Box Type </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_Box_Type", "value"=>$data->uom2_box_type, "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label class="Uom2_Harga"> Harga </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["Uom2_Harga", "value"=>$data->uom2_harga, "readonly"=>"true"]).'</td>';
						echo '</tr>';
					echo '</table>';
				echo '</td>';	
				echo '</tr>';
			echo '</table>';		
		echo '</div>';
		foreach ($price as $key => $value) {
			echo '<div id="product_price" class="tab-pane fade">';
				echo '<table class="table">';								
					echo '<tr>';
					echo '<td>';
						echo '<table class="table">';
							echo '<tr>';
								echo '<td>'.'<label class="Uom1_Suggested_Price"> UoM1 Suggest Price </label>'.'</td>';
								echo '<td>'.$this->tag->textField(["Uom1_Suggested_Price", "value"=>$value['uom1_suggested_price'], "readonly"=>"true"]).'</td>';
							echo '</tr>';
							echo '<tr>';
								echo '<td>'.'<label class="Uom1_Rounding_Price"> UoM1 Round Price </label>'.'</td>';
								echo '<td>'.$this->tag->textField(["Uom1_Rounding_Price", "value"=>$value['uom1_rounding_price'], "readonly"=>"true"]).'</td>';
							echo '</tr>';
							echo '<tr>';
								echo '<td>'.'<label class="Uom1_Changed_Price"> Uom1 Changed Price </label>'.'</td>';
								echo '<td>'.$this->tag->textField(["Uom1_Changed_Price", "value"=>$value['uom1_changed_price'], "readonly"=>"true"]).'</td>';
							echo '</tr>';
							echo '<tr>';
								echo '<td>'.'<label class="Uom1_Margin_Amount"> Uom1 Margin Amount </label>'.'</td>';
								echo '<td>'.$this->tag->textField(["Uom1_Margin_Amount", "value"=>$value['uom1_margin_amount'], "readonly"=>"true"]).'</td>';
							echo '</tr>';
							echo '<tr>';
								echo '<td>'.'<label class="Uom1_Cost_Price"> Uom1 Cost Price </label>'.'</td>';
								echo '<td>'.$this->tag->textField(["Uom1_Cost_Price", "value"=>$value['price'], "readonly"=>"true"]).'</td>';
							echo '</tr>';
						echo '</table>';
					echo '</td>';
					
					echo '<td>';
						echo '<table class="table">';
							echo '<tr>';
								echo '<td>'.'<label class="Uom2_Suggested_Price"> UoM2 Suggest Price </label>'.'</td>';
								echo '<td>'.$this->tag->textField(["Uom2_Suggested_Price", "value"=>$value['uom2_suggested_price'], "readonly"=>"true"]).'</td>';
							echo '</tr>';
							echo '<tr>';
								echo '<td>'.'<label class="Uom2_Rounding_Price"> UoM2 Round Price </label>'.'</td>';
								echo '<td>'.$this->tag->textField(["Uom2_Rounding_Price", "value"=>$value['uom2_rounding_price'], "readonly"=>"true"]).'</td>';
							echo '</tr>';
							echo '<tr>';
								echo '<td>'.'<label class="Uom2_Changed_Price"> Uom2 Changed Price </label>'.'</td>';
								echo '<td>'.$this->tag->textField(["Uom2_Changed_Price", "value"=>$value['uom2_changed_price'], "readonly"=>"true"]).'</td>';
							echo '</tr>';
							echo '<tr>';
								echo '<td>'.'<label class="Uom2_Margin_Amount"> Uom2 Margin Amount </label>'.'</td>';
								echo '<td>'.$this->tag->textField(["Uom2_Margin_Amount", "value"=>$value['uom2_margin_amount'], "readonly"=>"true"]).'</td>';
							echo '</tr>';
							echo '<tr>';
								echo '<td>'.'<label class="Uom2_Cost_Price"> Uom2 Cost Price </label>'.'</td>';
								echo '<td>'.$this->tag->textField(["Uom2_Cost_Price", "value"=>$value['uom2_cost_price'], "readonly"=>"true"]).'</td>';
							echo '</tr>';
						echo '</table>';
					echo '</td>';
					echo '</tr>';
					
					echo '<tr><td></br></td></tr>';
				echo '</table>';
			echo '</div>';
		}
		
		echo '<table><tr>';					
			echo '<td colspan="2"><div class="btn btn-default btn-sm">'.Phalcon\Tag::linkTo([uri('Product'), '<span> Back </span>']).'</div></td>';
		echo '</tr></table>';

		echo '</div>';
		echo $this->tag->endForm();
	echo '</div>';
?>	