<style>    	
	.styled_margin{
		margin-top:5px;
	}	
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
	$(document).ready( function () {			
		$('#btn_save').click( function () {							
			$("#add-form").submit();
			swal("Sukses","Data TMUK berhasil di update.","success");
			return false;
		});	
		
		$('#initialize').click( function () {	
			var tmuk = $("#dta").val();
			console.log(tmuk)
			jQuery.ajax({
				url			: "<?php echo $this->url->get(uri('Sync/initialize')) ?>?tmuk_id="+tmuk+"",
				beforeSend	: function() { $('.modal').show(); },
				complete	: function() { $('.modal').hide(); }
			}).done( function(data){				
				var myArray = JSON.parse(data);
				if(myArray.type == 'S'){
					swal({
						title: "Sukses",
						text:  myArray.message,
						type: "success",
						html: true,
						showCancelButton: false,
						closeOnConfirm: false,
						closeOnCancel: false
					},
					function(isConfirm){
						if (isConfirm) {								
							window.location = '<?php echo $this->url->get(uri('TMUK')) ?>';								
						}
					});
				}else if(myArray.type == 'E'){
					swal({
						title : "Gagal", 
						text : myArray.message, 
						type : "error",
						html : true
					},
					function(isConfirm){
						if (isConfirm) {								
							window.location = '<?php echo $this->url->get(uri('TMUK')) ?>';								
						}
					});
				}else if(myArray.type == 'W'){
					swal({
						title : "Peringatan", 
						text : myArray.message, 
						type : "warning",
						html : true
					},
					function(isConfirm){
						if (isConfirm) {								
							window.location = '<?php echo $this->url->get(uri('TMUK')) ?>';								
						}
					});
				}
			});
		});	
		
		$('#btn_save_izone').click( function () {							
			$("#add-form-izone").submit();
			swal("Sukses","Data iZone berhasil di update.","success");
			return false;
		});	
		
		$('#btn_activate').click(function() {
			var activation_id = $("#activation_id").val();
			var terminal_id = $("#terminal_id").val();
			
			jQuery.ajax({
				url			: "<?php echo $this->url->get(uri('TMUK/aktivasi')) ?>?activation_id="+activation_id+"&terminal_id="+terminal_id+"",
				beforeSend	: function() { $('.modal').show(); },
				complete	: function() { $('.modal').hide(); }
			}).done( function(data){				
				var myArray = JSON.parse(data);
				var arr_msg = myArray.split(";");	
				
				swal({
					title : arr_msg[0],
					text : arr_msg[1],
					type : arr_msg[2],
					html : true
				});
			});
					
			return false;
		});	
	});
</script>

<?php	
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('Setting'), '<span> Setting </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('TMUK'), '<span> TMUK </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">';
		echo '<legend> Setting TMUK </legend>';
		
		echo '<ul class="nav nav-tabs">';
			echo '<li class="active"><a data-toggle="tab" href="#tmuk">TMUK</a></li>';
			echo '<li><a data-toggle="tab" href="#izone">iZone</a></li>';
		echo '</ul>';
		
		echo '<div class="tab-content">';
		echo '<div id="tmuk" class="tab-pane fade in active">';
		
		echo $this->tag->form([uri("TMUK/Update"), "class"=>"add-form", "id"=>"add-form"]);
			echo '
				<div class="row">
					<div class="col-sm-6">
						<div class="col-sm-4">
							<label> ID </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["tmuk_id", "class"=>"form-control input-sm", "value"=>$data->tmuk_id ,"readonly"=>"true"]).'
						</div>
						
						<div class="col-sm-4">
							<label> TMUK </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["tmuk", "id"=>"dta", "class"=>"form-control input-sm", "value"=>$data->tmuk]).'
						</div>
						
						<div class="col-sm-4">
							<label> Nama </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["name", "class"=>"form-control input-sm", "value"=>$data->name,"readonly"=>"true"]).'
						</div>
						
						<div class="col-sm-4">
							<label> Supplier ID </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["nama_lsi", "class"=>"form-control input-sm", "value"=>$data->nama_lsi,"readonly"=>"true"]).'
						</div>
						
						<div class="col-sm-4">
							<label> Esscrow Account </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["escrow_account", "class"=>"form-control input-sm", "value"=>$data->escrow_account,"readonly"=>"true"]).'
						</div>
						
						<div class="col-sm-4">
							<label> Saldo </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["saldo", "class"=>"form-control input-sm", "value"=>number_format($data->saldo,2,',','.'), "readonly"=>"true"]).'
						</div>
					</div>
					
					<div class="col-sm-6">
						<div class="col-sm-4">
							<label> Telepon </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["telp", "class"=>"form-control input-sm", "value"=>$data->telp,"readonly"=>"true"]).'
						</div>
						
						<div class="col-sm-4">
							<label> Pemilik </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["owner", "class"=>"form-control input-sm", "value"=>$data->owner,"readonly"=>"true"]).'
						</div>

						<div class="col-sm-4">
							<label> Address 1 </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textArea(["address1", "cols"=>24, "Rows"=>3, "class"=>"form-control input-sm", "value"=>$data->address1,"readonly"=>"true"]).'
						</div>
						
						<div class="col-sm-4">
							<label> Lebar Struk </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["length_struk", "class"=>"form-control input-sm", "value"=>$data->length_struk,"readonly"=>"true"]).'
						</div>
					</div>
					
					<div class="col-sm-12 styled_button">
						<center>
						<!--<button id="btn_save" class="btn btn-primary btn-sm"> Simpan </button>--!>
							<button id="initialize" type="button" class="btn btn-info btn-sm"> Aktivasi </button>
						</center>
					</div>					
				</div>
			';
		echo $this->tag->endForm();
		
		echo '</div>';
		echo '<div id="izone" class="tab-pane fade">';
			echo $this->tag->form([uri("TMUK/update_izone"), "class"=>"add-form", "id"=>"add-form-izone"]);
				echo '
					<div class="row">
						<div class="col-sm-6">						
							<div class="col-sm-4">
								<label> Terminal ID </label>
							</div>
							<div class="col-sm-8 styled_margin">
								'.$this->tag->textField(["terminal_id", "class"=>"form-control input-sm", "value"=>$data_izone->terminal_id]).'
							</div>
							
							<div class="col-sm-4">
								<label> Activation Key </label>
							</div>
							<div class="col-sm-8 styled_margin">
								'.$this->tag->textField(["activation_id", "class"=>"form-control input-sm", "value"=>$data_izone->activation_id]).'
							</div>
							
							<div class="col-sm-12 styled_button">
								<center>
									<button id="btn_save_izone" class="btn btn-primary btn-sm"> Simpan </button>
									<button id="btn_activate" class="btn btn-info btn-sm"> Aktivasi </button>
								</center>
							</div>		
						</div>					
					</div>
				';
			echo $this->tag->endForm();
		echo '</div>';
	echo '</div>';
	
	echo '			
		<div class="modal" style="display: none">
			<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
		</div>
	';
?>	