<style>    	
	.styled_margin{
		margin-top:5px;
	}	
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
	$(document).ready( function () {	
		$('#btn_back').click( function () {
			window.location = '<?php echo $this->url->get(uri('User')) ?>';
			return false;
		});
		
		$('#btn_save').click( function () {	
			var username = $("#User_Name").val();
			var role_id = $("#Role_ID").val();
			var real_name = $("#Real_Name").val();
			var password = $("#User_Password").val();
			var images = $("#fieldImageFile").val();
			
			if(username == ''){ 
				sweetAlert("Gagal", "Username Harus diisi", "error");
				return false;
			}else if(role_id == ''){ 
				sweetAlert("Gagal", "Role ID Harus diisi", "error");
				return false;
			}else if(real_name == ''){ 
				sweetAlert("Gagal", "Real Name Harus diisi", "error");
				return false;
			}else if(password == ''){ 
				sweetAlert("Gagal", "Password Harus diisi", "error");
				return false;
			}else if(images == ''){ 
				sweetAlert("Gagal", "Foto Harus diisi", "error");
				return false;
			}
			
			$("#add-form").submit();
			return false;
		});
		$('#add-form').submit(function(e) {	
			e.preventDefault();
			var data = new FormData(this);

			jQuery.ajax({
				type: 'post',
				url: '<?php echo $this->url->get(uri('User/Update')) ?>',
				data: data,
				cache: false,
	            contentType: false,
	            processData: false,
				success: function (data) {
					console.log(data);		
					data_array = JSON.parse(data);
					if(data_array.type == 'S'){
						swal({
							title: "Sukses",
							text: data_array.message,
							type: "success",
							html: true
						},
						function(){
							window.location = '<?php echo $this->url->get(uri('User')) ?>';
						});
					}else if(data_array.type == 'E'){
						swal({
							title: "Gagal",
							text: data_array.message,
							type: "error",
							html: true
						},
						function(){
							window.location.reload();
						});
					}
				}
			});
			return false;				
		});	
	});
</script>

<?php
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('Setting'), '<span> Setting </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('User'), '<span> User </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">';
		echo '<legend> Buat User </legend>';
		
		echo $this->tag->form([uri("User/Update"), "class"=>"add-form", "id"=>"add-form", "enctype" => "multipart/form-data"]);
			echo '
				<div class="row">
					<div class="col-sm-6">
						<div class="col-sm-4">
							<label> User ID </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["User_ID", "class"=>"form-control input-sm", "value"=>$data->user_id, "readonly"=>"true"]).'
						</div>
						
						<div class="col-sm-4">
							<label> User Name </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["User_Name", "class"=>"form-control input-sm", "value"=>$data->user_name]).'
						</div>
						
						<div class="col-sm-4">
							<label> Role ID </label>
						</div>
						<div class="col-sm-8 styled_margin">							
							'.$this->tag->select(["Role_ID", $role , "class"=>"form-control input-sm", "id"=>"Role_ID", "value" => [$data->role_id, $data->role_id]]).'
						</div>
						
						<div class="col-sm-4">
							<label>  Real Name </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->textField(["Real_Name", "class"=>"form-control input-sm", "value"=>$data->real_name]).'
						</div>
						
						<div class="col-sm-4">
							<label> Password </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->passwordField(["User_Password", "class"=>"form-control input-sm", "value"=>base64_decode($data->user_password)]).'
						</div>
						
						<div class="col-sm-4">
							<label> Upload Gambar </label>
						</div>
						<div class="col-sm-8 styled_margin">
							'.$this->tag->fileField(["images", "size" => 30, "class" => "form-control", "id" => "fieldImageFile"]).'
						</div>

						<div class="col-sm-12 styled_button">
						<center>
							<button id="btn_save" class="btn btn-primary btn-sm"> Simpan </button>
							<button id="btn_back" class="btn btn-default  btn-sm"> Kembali </button>							
						</center>
					</div>
					</div>					
				</div>
			';
		echo $this->tag->endForm();	
	echo '</div>';	
?>	