<script type="text/javascript">
	$(document).ready( function () {
		$('#btn_create').click( function () {
			window.location = '<?php echo $this->url->get(uri('User/add')) ?>';
		});
		
		$('.confirmation').on('click', function () {	
			var link = $(this).attr("href");			
			
			swal({
				title: "Anda Yakin?",
				text: "User yang sudah dihapus tidak bisa dikembalikan.",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Ya, Hapus",
				cancelButtonText: "Batal, Kembali",
				closeOnConfirm: false,
				closeOnCancel: false
			},
			function(isConfirm){
				if (isConfirm) {
					jQuery.ajax({
						type: 'GET',
						url: link,
						success: function (data) {
							console.log(data);		
							data_array = JSON.parse(data);
							if(data_array.type == 'S'){
								swal({
									title: "Sukses",
									text: data_array.message,
									type: "success",
									html: true
								},
								function(isConfirm){
									if (isConfirm) {								
										window.location = '<?php echo $this->url->get(uri('User')) ?>';								
									}
								});
							}else if(data_array.type == 'E'){
								swal({
									title: "Gagal",
									text: data_array.message,
									type: "error",
									html: true
								},
								function(isConfirm){
									if (isConfirm) {								
										window.location = '<?php echo $this->url->get(uri('TMUK')) ?>';								
									}
								});
							}
						}
					});
				}else{
					swal("Dibatalkan", "Hapus User Dibatalkan.", "info");
				}
			});
			
			return false;
		});

		
	});
</script>

<?php	
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('Setting'), '<span> Setting </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('User'), '<span> User </span>']).'</li>	
		</ul>
	<div>';
	
	echo '<div class="content_content">		
		<legend> Setting User </legend>
		
		<div class="col-sm-12">
			</br>
		</div>
		<div class="col-sm-12">
			<button id="btn_create" class="btn btn-primary btn-sm"> Buat User </button>		
		</div>
		
		<div class="col-sm-12">
			</br>
		</div>	

		<div class="col-sm-10">
			<table id="DataTable" class="table-striped hover">
				<thead>
					<tr>
					  <th style="text-align:center"> User Name </th>
					  <th style="text-align:center"> Role ID </th>
					  <th style="text-align:center"> Real Name </th>
					  <th style="text-align:center"> Password </th>			  
					  <th style="text-align:center"> Action </th>
					</tr>
				</thead>
				  
				<tbody>';
				
				if(count($lists) > 0 ){
					foreach( $lists as $key => $list ) {
						echo '<tr>';
							echo '<td>'.$list['user_name'].'</td>';
							echo '<td style="text-align:center">'.$list['role_id'].'</td>';
							echo '<td>'.$list['real_name'].'</td>';
							echo '<td>'.$list['user_password'].'</td>';											
							echo '<td style="text-align:center">';
								echo Phalcon\Tag::linkTo([uri('#'), "<i class='fa fa-search fa-lg'> </i>", "class"=>"modalData", "data-toggle"=>"modal", "data-id"=>$list['user_id'], "data-target"=>"#myModal"]);
								echo '&nbsp;&nbsp;';
								echo Phalcon\Tag::linkTo([uri('User/Edit?User_ID='.$list['user_id']), "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Edit User"]);
								echo '&nbsp;&nbsp;';
								echo Phalcon\Tag::linkTo([uri('User/Delete?User_ID='.$list['user_id']), "<i class='fa fa-close fa-lg'> </i>", "title"=>"Delete User", "class"=>"confirmation"]);
							echo '</td>';
						echo '</tr>';
					}
				}
	echo '
				</tbody>			
			</table>
		</div>
	</div>	
	';
	
	echo '
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Detail Setting User</h4>
				</div>
				<div class="modal-body" style="max-height:300px;overflow-y:auto;">
					<div class="table-responsive">
					<table class="table-bordered table-striped myTable" style="font-size:14px">
						<thead>							
						</thead>

						<tbody>							
						</tbody>			
					</table>
				</div>
				</div>
				<div class="modal-footer">
					<a href="" class="btn btn-default" data-dismiss="modal">Close</a>
				</div>
			</div>

			</div>
		</div>
	';
?>

<script>
	$(document).on("click", ".modalData", function(){
		var id = $(this).data('id');
		var myArray = [];
		$('.myTable tbody').empty();
		
		$.ajax({ url: "<?php echo $this->url->get(uri('User/ajaxUser')) ?>?id="+id+"" }).done(function(data){
			console.log(data);
			myArray = JSON.parse(data);
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');				
					tr.append("<td style='width:150px'>"+ "ID" +"</td>");
					tr.append("<td style='width:300px'>"+ myArray[i].user_id +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);	
				
				tr = $('<tr>');				
					tr.append("<td style='width:150px'>"+ "Username" +"</td>");
					tr.append("<td style='width:300px'>"+ myArray[i].user_name +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);	
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Role ID" +"</td>");
					tr.append("<td>"+ myArray[i].role_id +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Real Name" +"</td>");
					tr.append("<td>"+ myArray[i].real_name +"</td>");				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}			
		});		
	});
</script>
