
<?php	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Setting'), '<span> Setting </span>']).'</li>';			
			echo '<li>'.Phalcon\Tag::linkTo([uri('User'), '<span> User </span>']).'</li>';		
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
	echo $this->tag->form([uri("User"), "class"=>"add-form"]);
		echo '<table>';
			echo '<tr>';
				echo '<td>'.'<label class="User_ID"> User ID </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["User_ID", "value"=>$data->user_id, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="User_Name"> User Name </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["User_Name", "value"=>$data->user_name, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Role_ID"> Role ID </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Role_ID", "value"=>$data->role_id, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Real_Name"> Real Name </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Real_Name", "value"=>$data->real_name, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="User_Password"> Password </label>'.'</td>';
				echo '<td>'.$this->tag->passwordField(["User_Password", "value"=>$data->user_password, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="images"> Upload Gambar </label>'.'</td>';
				echo '<td>'.$this->tag->fileField(["images", "value"=>$data->images, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';				
				echo '<td colspan="2"><div class="add-link">'.Phalcon\Tag::linkTo([uri('User'), '<span> Back </span>']).'</div></td>';
			echo '</tr>';
		echo '</table>';		
    echo $this->tag->endForm();
	echo '</div>';
?>	