
<?php
	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Location'), '<span> Location </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		echo $this->tag->form([uri("Location/Insert"), "class"=>"add-form"]);
		echo '<table>';
			echo '<tr>';
				echo '<td>'.'<label class="Unit"> Unit </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["loc_code"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Name"> Name </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["location_name"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Name"> Delivery Address </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["delivery_address"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Phone </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["phone"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Phone 2 </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["phone2"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Fax </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["fax"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Email </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["email"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Contact </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["contact"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
				echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Location'), '<span> Back </span>']).'</div></td>';
			echo '</tr>';
		echo '</table>';		
		echo $this->tag->endForm();	
	echo '</div>';
?>	