
<?php

	
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Location'), '<span> Location </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">		
		<legend> Master Data Lokasi </legend>
		
		<div class="col-sm-12">
			</br>
		</div>
		
		<div class="col-sm-10">
			<table id="DataTable" class="hover">
				<thead>
					<tr>
					  <th> Kode Lokasi </th>
					  <th> Nama Lokasi </th>
					  <th> Alamat </th>
					  <th> Telepon 1 </th>
					  <th> Telepon 2 </th>
					  <th> Fax </th>
					  <th> Email </th>
					  <th> Kontak </th>
					  <th> Aksi </th>
					</tr>
				</thead>
				  
				<tbody>';	
					if(count($lists) > 0 ){
						foreach( $lists as $list ) {
							echo '<tr>';
								echo '<td>'.$list['loc_code'].'</td>';
								echo '<td>'.$list['location_name'].'</td>';
								echo '<td>'.$list['delivery_address'].'</td>';
								echo '<td>'.$list['phone'].'</td>';
								echo '<td>'.$list['phone2'].'</td>';
								echo '<td>'.$list['fax'].'</td>';
								echo '<td>'.$list['email'].'</td>';
								echo '<td>'.$list['contact'].'</td>';
								echo '<td>';
									echo Phalcon\Tag::linkTo([uri('#'), "<i class='fa fa-search fa-lg'> </i>", "class"=>"modalData", "data-toggle"=>"modal", "data-id"=>$list['loc_code'], "data-target"=>"#myModal"]);
									echo '&nbsp;&nbsp;';									
								echo '</td>';
							echo '</tr>';
						}		
					}
			echo '</tbody>			
			</table>
		</div>
	</div>';	
	
	echo '
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Detail Master Data Lokasi</h4>
				</div>
				<div class="modal-body" style="max-height:300px;overflow-y:auto;">
					<div class="table-responsive">
					<table class="table-bordered table-striped myTable" style="font-size:14px">
						<thead>							
						</thead>

						<tbody>							
						</tbody>			
					</table>
				</div>
				</div>
				<div class="modal-footer">
					<a href="" class="btn btn-default" data-dismiss="modal">Close</a>
				</div>
			</div>

			</div>
		</div>
	';
?>

<script>
	$(document).on("click", ".modalData", function(){
		var id = $(this).data('id');
		var myArray = [];
		$('.myTable tbody').empty();
		
		$.ajax({ url: "<?php echo $this->url->get(uri('Location/ajaxLocation')) ?>?id="+id+"" }).done(function(data){
			console.log(data);			
			myArray = JSON.parse(data);
			
			for(var i=0; i < myArray.length; i++){								
				tr = $('<tr>');				
					tr.append("<td style='width:150px'>"+ "Kode Lokasi" +"</td>");
					tr.append("<td style='width:300px'>"+ myArray[i].loc_code +"</td>");				
				tr.append("</tr>");				
				$('.myTable tbody').append(tr);			

				tr = $('<tr>');				
					tr.append("<td>"+ "Nama Lokasi" +"</td>");
					tr.append("<td>"+ myArray[i].location_name +"</td>");				
				tr.append("</tr>");				
				$('.myTable tbody').append(tr);	
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Alamat" +"</td>");
					tr.append("<td>"+ myArray[i].delivery_address +"</td>");				
				tr.append("</tr>");				
				$('.myTable tbody').append(tr);	
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Telepon 1" +"</td>");
					tr.append("<td>"+ myArray[i].phone +"</td>");				
				tr.append("</tr>");				
				$('.myTable tbody').append(tr);	
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Telepon 2" +"</td>");
					tr.append("<td>"+ myArray[i].phone2 +"</td>");				
				tr.append("</tr>");				
				$('.myTable tbody').append(tr);	
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Fax" +"</td>");
					tr.append("<td>"+ myArray[i].fax +"</td>");				
				tr.append("</tr>");				
				$('.myTable tbody').append(tr);	
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Email" +"</td>");
					tr.append("<td>"+ myArray[i].email +"</td>");				
				tr.append("</tr>");				
				$('.myTable tbody').append(tr);	
				
				tr = $('<tr>');				
					tr.append("<td>"+ "Kontak" +"</td>");
					tr.append("<td>"+ myArray[i].contact +"</td>");				
				tr.append("</tr>");				
				$('.myTable tbody').append(tr);	
			}
		});		
	});
</script>

