<?php
	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Location'), '<span> Location </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		echo $this->tag->form([uri("Location/Update"), "class"=>"add-form"]);
		echo '<table>';
			echo '<tr>';
				echo '<td>'.'<label class="Unit"> Location Code </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["loc_code", "value"=>$data->loc_code, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Name"> Location Name </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["location_name", "value"=>$data->location_name, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Name"> Delivery Address </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["delivery_address", "value"=>$data->delivery_address, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Phone </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["phone", "value"=>$data->phone, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Phone 2 </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["phone2", "value"=>$data->phone2, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Fax </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["fax", "value"=>$data->fax, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Email </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["email", "value"=>$data->email, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Decimals"> Contact </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["contact", "value"=>$data->contact, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';				
				echo '<td colspan="2"><div class="add-link">'.Phalcon\Tag::linkTo([uri('Location'), '<span> Back </span>']).'</div></td>';
			echo '</tr>';
		echo '</table>';
		echo $this->tag->endForm();
	echo '</div>';
?>	