
<?php	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('KasBank'), '<span> Kas Bank </span>']).'</li>';
		echo '</ul>';
	echo '<div>';	
	
	echo '<div class="content_content">';
		echo '<div class="metro-surface">';
			echo '							
				<div class="col-sm-3 boot-metro-tile boot-metro-tile-large metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('PembayaranTransaksi'), '<span><i class="fa fa-money fa-2x"></i><div class="judul"> Pembayaran Transaksi </div></span>']).'
				</div>
				
				<div class="col-sm-3 boot-metro-tile boot-metro-tile-large metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('RekeningTMUK'), '<span><i class="fa fa-credit-card fa-2x"></i><div class="judul">Rekening TMUK </div></span>']).'
				</div>

				<div class="col-sm-3 boot-metro-tile boot-metro-tile-large metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('TopUp'), '<span><i class="fa fa-exchange fa-2x"></i><div class="judul">Top Up Escrow </div></span>']).'
				</div>
			';
		echo '</div>';
	echo '<div>';
	
?>

