<?php

	echo '<div class="content_header">';		
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Pembelian'), '<span> Pembelian </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('RiwayatPembelian'), '<span> Riwayat Pembelian </span>']).'</li>';
		echo '</ul>';		
	echo '<div>';
	
	echo '<div class="content_content">';
		// edited here

		echo '<ul class="nav nav-tabs">';
			echo '<li class="active"><a data-toggle="tab" href="#PR">Riwayat PR</a></li>';
			echo '<li><a data-toggle="tab" href="#PO">Riwayat PO</a></li>';
			echo '<li><a data-toggle="tab" href="#GR">Riwayat GR</a></li>';
			echo '<li><a data-toggle="tab" href="#Retur">Riwayat Retur</a></li>';
		echo '</ul>';
		
		echo '<div class="tab-content">';
			
			echo '<div id="PR" class="tab-pane fade in active">';	
				echo '<div class="table_container" style="margin-top:30px">';
				echo '<table id="DataTable" class="table table-striped">';
					echo '<thead>';
						echo '<tr>';
						  echo '<th style="text-align:center"> Nomor PR </th>';
						  echo '<th style="text-align:center"> Point of Use </th>';
						  echo '<th style="text-align:center"> Referensi </th>';
						  echo '<th style="text-align:center"> Tanggal Kirim </th>';
						  echo '<th style="text-align:center"> Dibuat Oleh </th>';		
						  echo '<th style="text-align:center"> Total Permintaan </th>';		
						echo '</tr>';
					echo '</thead>';
					  
					echo '<tbody>';	
					if(count($listsPR) > 0 ){
						foreach( $listsPR as $listPR ) {
							echo '<tr>
								<td style="text-align:center"><a href="#" class="modalPR" data-toggle="modal" data-request="'.$listPR['request_no'].'" data-target="#myModalPR">'.$listPR['request_no'].'</a></td>
								<td style="text-align:center">'.$listPR['point_used'].'</td>					
								<td style="text-align:center">'.$listPR['reference'].'</td>	
								<td style="text-align:center">'.$listPR['delivery_date'].'</td>	
								<td style="text-align:center">'.$listPR['created_by'].'</td>		
								<td>'.number_format($listPR['total'],2,',','.').'</td>';	
						}		
					}
				echo '</tbody>';			
				echo '</table>';
				echo '</div>';
				
				echo '
					<div id="myModalPR" class="modal fade" role="dialog">
						<div class="modal-dialog modal-lg">

						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Permintaan Barang (PR)</h4>
							</div>
							<div class="modal-body" style="max-height:300px;overflow-y:auto;">
								<div class="table-responsive">
								<table class="table-bordered table-striped myTable" style="font-size:14px">
									<thead>
										<tr>
											<th rowspan="2">Item Code</th>
											<th rowspan="2">Item Description</th>
											<th colspan="2">Order Info</th>
											<th colspan="2">Selling Info</th>
											<th colspan="2">PR Info</th>																
											<th rowspan="2">Unit Price</th>
											<th rowspan="2">Total Price</th>
										</tr>
										<tr>
											<th>Qty</th>
											<th>UoM</th>
											<th>Qty</th>
											<th>UoM</th>	
											<th>Qty</th>
											<th>UoM</th>								
										</tr>
									</thead>
									  
									<tbody>							
									</tbody>			
								</table>
							</div>
							</div>
							<div class="modal-footer">
								<a href="" class="btn btn-default" data-dismiss="modal">Close</a>
							</div>
						</div>

						</div>
					</div>
				';
					
			echo '</div>';
			
// ==========================================================================================================			
			
			echo '<div id="PO" class="tab-pane fade in active">';	
				echo '<div class="table_container" style="margin-top:30px">';
				echo '<table id="DataTable2" class="table table-striped">';
					echo '<thead>';
						echo '<tr>';
						  echo '<th> Nomor PR </th>';
						  echo '<th> Nomor PO immbo</th>';
						  echo '<th> Tanggal </th>';		
						echo '</tr>';
					echo '</thead>';
					  
					echo '<tbody>';					  
					if(count($listsPO) > 0 ){
						foreach( $listsPO as $listPO ) {
							echo '<tr>		
								<td>'.$listPO['pr_no_immpos'].'</td>
								<td><a href="#" class="modalPO" data-toggle="modal" title="Detail PO" data-order="'.$listPO['po_no_immbo'].'" data-target="#myModalPO">'.$listPO['po_no_immbo'].'</a></td>
								<td>'.$listPO['order_date'].'</td>							
							</tr>';
						}		
					}
					echo '</tbody>';			
				echo '</table>';
				echo '</div>';
				
				echo '<div id="myModalPO" class="modal fade" role="dialog">';
				echo '<div class="modal-dialog modal-lg">';

				echo '<div class="modal-content">';
					echo '<div class="modal-header">';
						echo '<button type="button" class="close" data-dismiss="modal">&times;</button>';
						echo '<h4 class="modal-title">Purchase Request</h4>';
					echo '</div>';
					echo '<div class="modal-body" style="max-height:300px;overflow-y:auto;">';
						echo '<div class="table-responsive">';
						echo '<table class="table-bordered table-striped myTable">';
							echo '<thead>';
								echo '<tr>';
									echo '<th rowspan="2">Item Code</th>';
									echo '<th rowspan="2">Item Description</th>';
									echo '<th colspan="3">Order Unit Info</th>';
									echo '<th colspan="3">Selling Unit Info</th>';
									echo '<th rowspan="2" colspan="2" >PR Quantity</th>';
									echo '<th rowspan="2" colspan="2" >PO Quantity</th>';
									echo '<th rowspan="2">Estimation Price</th>';
									echo '<th rowspan="2">Actual Price</th>';
								echo '</tr>';
								echo '<tr>';
									echo '<th>Qty/UoM</th>';
									echo '<th>UoM</th>';
									echo '<th>Barcode</th>';
									echo '<th>Qty/UoM</th>';
									echo '<th>UoM</th>';
									echo '<th>Barcode</th>';
								echo '</tr>';
							echo '</thead>';
							  
							echo '<tbody>';							
							echo '</tbody>';			
						echo '</table>';
					echo '</div>';
					echo '</div>';
					echo '<div class="modal-footer">';
						echo '<a href="" class="btn btn-default" data-dismiss="modal">Close</a>';
					echo '</div>';
				echo '</div>';

				echo '</div>';
				echo '</div>';
				
			echo '</div>';
			
// ==========================================================================================================						
			
			echo '<div id="GR" class="tab-pane fade in active">';	
				echo '<div class="table_container" style="margin-top:30px">';
				echo '<table id="DataTable3" class="table table-striped">';
					echo '<thead>';
						echo '<tr>';
						  echo '<th> Nomor GR </th>';
						  echo '<th> Nomor PO </th>';
						  echo '<th> Nomor PR </th>';		
						  echo '<th> Nomor Retur </th>';		
						  echo '<th> Tanggal </th>';		
						echo '</tr>';
					echo '</thead>';
					  
					echo '<tbody>';		
					if(count($listsGR) > 0 ){
						foreach( $listsGR as $listGR ) {
							echo '<tr>';
								echo '<td><a href="#" class="modalGR" data-toggle="modal" data-gr="'.$listGR['gr_no'].'" data-target="#myModalGR">'.$listGR['gr_no'].'</a></td>';
								echo '<td><a href="#" class="modalGPO" data-toggle="modal" data-request="'.$listGR['pr_no_immpos'].'" data-order="'.$listGR['po_no_immbo'].'" data-target="#myModalGR">'.$listGR['po_no_immbo'].'</a></td>';
								echo '<td><a href="#" class="modalGPR" data-toggle="modal" data-request="'.$listGR['pr_no_immpos'].'" data-target="#myModalGR">'.$listGR['pr_no_immpos'].'</a></td>';								
								echo '<td><a href="#" class="modalGRetur" data-toggle="modal" data-retur="'.$listGR['retur_no_immpos'].'" data-target="#myModalGR">'.$listGR['retur_no_immpos'].'</a></td>';								
								echo '<td>'.$listGR['delivery_date'].'</td>';	
							echo '</tr>';
						}
					}
					echo '</tbody>';			
				echo '</table>';
				echo '</div>';
				
				echo '<div id="myModalGR" class="modal fade" role="dialog">';
					echo '<div class="modal-dialog modal-lg">';

					echo '<div class="modal-content">';
						echo '<div class="modal-header">';
							echo '<button type="button" class="close" data-dismiss="modal">&times;</button>';
							echo '<h4 class="modal-title"> Penerimaan Barang (GR) </h4>';
						echo '</div>';
						echo '<div class="modal-body" style="max-height:300px;overflow-y:auto;">';
							echo '<div class="table-responsive">';
							echo '<table class="table-bordered table-striped myTable" style="font-size:14px">';
								echo '<thead>';							
								echo '</thead>';

								echo '<tbody>';							
								echo '</tbody>';			
							echo '</table>';
						echo '</div>';
						echo '</div>';
						echo '<div class="modal-footer">';
							echo '<a href="" class="btn btn-default" data-dismiss="modal">Close</a>';
						echo '</div>';
					echo '</div>';

					echo '</div>';
				echo '</div>';
				
			echo '</div>';
			
// ==========================================================================================================
			
			echo '<div id="Retur" class="tab-pane fade in active">';	
				echo '<div class="table_container" style="margin-top:30px">';
				echo '<table id="DataTable4" class="table table-striped">';
					echo '<thead>';
						echo '<tr>';
							echo '<th> Nomor Retur </th>';
							echo '<th> Nomor GR </th>';							
							echo '<th> Tanggal </th>';		
						echo '</tr>';
					echo '</thead>';
					  
					echo '<tbody>';					  
					if(count($listsRetur) > 0 ){
						foreach( $listsRetur as $listRetur ) {
							echo '<tr>';
								echo '<td><a href="#" class="modalRetur" data-toggle="modal" data-retur="'.$listRetur['retur_no'].'" data-target="#myModal">'.$listRetur['retur_no'].'</a></td>';								
								echo '<td><a href="#" class="modalRGR" data-toggle="modal" data-gr="'.$listRetur['gr_no_immpos'].'" data-target="#myModal">'.$listRetur['gr_no_immpos'].'</a></td>';									
								echo '<td>'.$listRetur['create_date'].'</td>';
							echo '</tr>';
						}
					}
					echo '</tbody>';			
				echo '</table>';
				echo '</div>';
				
				echo '<div id="myModal" class="modal fade" role="dialog">';
				echo '<div class="modal-dialog modal-lg">';
				
					echo '<div class="modal-content">';
						echo '<div class="modal-header">';
							echo '<button type="button" class="close" data-dismiss="modal">&times;</button>';
							echo '<h4 class="modal-title"> GR/PO/PR/Retur Barang </h4>';
						echo '</div>';
						echo '<div class="modal-body" style="max-height:300px;overflow-y:auto;">';
							echo '<div class="table-responsive">';
							echo '<table class="table-bordered table-striped myTable" style="font-size:14px">';
								echo '<thead>';							
								echo '</thead>';
								  
								echo '<tbody>';							
								echo '</tbody>';			
							echo '</table>';
						echo '</div>';
						echo '</div>';
						echo '<div class="modal-footer">';
							echo '<a href="" class="btn btn-default" data-dismiss="modal">Close</a>';
						echo '</div>';
					echo '</div>';

				echo '</div>';
				echo '</div>';	
				
			echo '</div>';
			
		echo '</div>';
		
	echo '</div>';
?>

<script>
	$(document).on("click", ".modalPR", function(){
		var request = $(this).data('request');
		var myArray = [];
		$('.myTable tbody').empty();
		
		$.ajax({ url: "<?php echo $this->url->get(uri('PR/ajaxPR')) ?>?request="+request+"" }).done(function(data){
			console.log(data);			
			myArray = JSON.parse(data);
			
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_order +"</td>");
				tr.append("<td>"+ myArray[i].unit_order +"</td>");
				tr.append("<td>"+ myArray[i].qty_sell +"</td>");
				tr.append("<td>"+ myArray[i].unit_sell +"</td>");
				tr.append("<td>"+ myArray[i].qty_pr +"</td>");
				tr.append("<td>"+ myArray[i].unit_pr +"</td>");
				tr.append("<td>"+ format(myArray[i].unit_order_price) +"</td>");
				tr.append("<td>"+ format(myArray[i].order_price) +"</td>");
				
				grand_total = parseInt(grand_total,10) + parseInt(myArray[i].order_price,10);
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
			$('.myTable tbody').append("<tr><th colspan='9' style='text-align:right !important'>Total</th><td>"+ format(grand_total) +"</td></tr>");
		});		
	});
</script>

<script>
	$(document).on("click", ".modalPO", function(){
		var myArray = [];
		var est_total = 0;
		var act_total = 0;
		var order = $(this).data('order');
		var uom = ["Bal","Botol","Box","Bungkus","Carton","Dus",,,"Inner","Kaleng","Karung","Pcs","Pouch","Sachet","Voucher"];
		
		$.ajax({ url: "<?php echo $this->url->get(uri('PO/ajaxPO')) ?>?order="+order+"" }).done(function(data){
			console.log(data);
			$('.myTable tbody').empty();
			myArray = JSON.parse(data);
			
			for(var i=0;i<myArray.length;i++){
				tr = $('<tr>');
				
				if(myArray[i].uom_o_type == "" || myArray[i].uom_o_type == null){
					myArray[i].uom_o_type = "";
				}
				if(myArray[i].uom_o_barcode == "" || myArray[i].uom_o_barcode == null){
					myArray[i].uom_o_barcode = "";
				}
				if(myArray[i].uom_o_conversion == "" || myArray[i].uom_o_conversion == null){
					myArray[i].uom_o_conversion = "";
				}
				if(myArray[i].uom_s_type == "" || myArray[i].uom_s_type == null){
					myArray[i].uom_s_type = "";
				}
				if(myArray[i].uom_s_barcode == "" || myArray[i].uom_s_barcode == null){
					myArray[i].uom_s_barcode = "";
				}
				if(myArray[i].uom_s_conversion == "" || myArray[i].uom_s_conversion == null){
					myArray[i].uom_s_conversion = "";
				}
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].uom_s_conversion +"</td>");
				tr.append("<td>"+ myArray[i].uom_o_type +"</td>");
				tr.append("<td>"+ myArray[i].uom_o_barcode +"</td>");
				tr.append("<td>"+ myArray[i].uom_o_conversion +"</td>");
				tr.append("<td>"+ myArray[i].uom_s_type +"</td>");
				tr.append("<td>"+ myArray[i].uom_s_barcode +"</td>");
				tr.append("<td>"+ myArray[i].qty_order +"</td>");	
				tr.append("<td>"+ myArray[i].uom_o_type +"</td>");
				tr.append("<td>"+ myArray[i].qty_po +"</td>");
				tr.append("<td>"+ myArray[i].uom_o_type +"</td>");
				tr.append("<td>"+ format(myArray[i].qty_po * myArray[i].po_unit_price) +"</td>");
				tr.append("<td>"+ format(myArray[i].qty_po * myArray[i].po_unit_price) +"</td></tr>");
				
				est_total += parseInt((myArray[i].qty_po * myArray[i].po_unit_price));
				act_total += parseInt((myArray[i].qty_po * myArray[i].po_unit_price));
				
				$('.myTable tbody').append(tr);
			}
			$('.myTable tbody').append("<tr><th colspan='12' style='text-align:right !important'>Total</th><td>"+ format(est_total) +"</td><td>"+ format(act_total) +"</td></tr>");
		});
		
	});		
</script>

<script>
	$(document).on("click", ".modalGPR", function(){
		var request = $(this).data('request');
		var myArray = [];
		
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		
		tr = $('<tr>');
		tr.append('<th rowspan=2>Item Code</th>');
		tr.append('<th rowspan=2>Item Description</th>');
		tr.append('<th colspan=2>Order Info</th>');
		tr.append('<th colspan=2>Selling Info</th>');
		tr.append('<th colspan=2>PR Info</th>');																
		tr.append('<th rowspan=2>Unit Price</th>');
		tr.append('<th rowspan=2>Total Price</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		tr = $('<tr>');
		tr.append("<th>Qty</th>");
		tr.append("<th>UoM</th>");
		tr.append("<th>Qty</th>");
		tr.append("<th>UoM</th>");	
		tr.append("<th>Qty</th>");
		tr.append("<th>UoM</th>");								
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		
		$.ajax({ url: "<?php echo $this->url->get(uri('GR/ajaxPR')) ?>?request="+request+"" }).done(function(data){
			console.log(data);		
			myArray = JSON.parse(data);
			
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_order +"</td>");
				tr.append("<td>"+ myArray[i].unit_order +"</td>");
				tr.append("<td>"+ myArray[i].qty_sell +"</td>");
				tr.append("<td>"+ myArray[i].unit_sell +"</td>");
				tr.append("<td>"+ myArray[i].qty_pr +"</td>");
				tr.append("<td>"+ myArray[i].unit_pr +"</td>");
				tr.append("<td>"+ format(myArray[i].unit_order_price) +"</td>");
				tr.append("<td>"+ format(myArray[i].order_price) +"</td>");
				
				grand_total = parseInt(grand_total,10) + parseInt(myArray[i].order_price,10);
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
			$('.myTable tbody').append("<tr><th colspan='9' style='text-align:right !important'>Total</th><td>"+ format(grand_total) +"</td></tr>");
		});		
	});
	
	$(document).on("click", ".modalGPO", function(){
		var order = $(this).data('order');
		var request = $(this).data('request');
		var myArray = [];
		
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		
		tr = $('<tr>');
		tr.append('<th rowspan=2>Item Code</th>');
		tr.append('<th rowspan=2>Item Description</th>');
		tr.append('<th colspan=2>PR Info</th>');		
		tr.append('<th colspan=2>PO Info</th>');																
		tr.append('<th rowspan=2>Unit Price</th>');
		tr.append('<th rowspan=2>Total Price</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		tr = $('<tr>');
		tr.append("<th>Qty</th>");
		tr.append("<th>UoM</th>");
		tr.append("<th>Qty</th>");
		tr.append("<th>UoM</th>");	
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		
		$.ajax({ url: "<?php echo $this->url->get(uri('GR/ajaxPO')) ?>?order="+order+"&request="+request+"" }).done(function(data){
			console.log(data);		
			myArray = JSON.parse(data);
			
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_pr +"</td>");
				tr.append("<td>"+ myArray[i].unit_pr +"</td>");
				tr.append("<td>"+ myArray[i].qty_po +"</td>");
				tr.append("<td>"+ myArray[i].unit_po +"</td>");
				tr.append("<td>"+ format(myArray[i].po_unit_price) +"</td>");
				tr.append("<td>"+ format(myArray[i].po_price) +"</td>");
				
				grand_total = parseInt(grand_total,10) + parseInt(myArray[i].po_price,10);
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
			$('.myTable tbody').append("<tr><th colspan='7' style='text-align:right !important'>Total</th><td>"+ format(grand_total) +"</td></tr>");
		});		
	});
	
	$(document).on("click", ".modalGRetur", function(){
		var retur = $(this).data('retur');		
		var myArray = [];
		
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		
		tr = $('<tr>');
		tr.append('<th rowspan=2>Item Code</th>');
		tr.append('<th rowspan=2>Item Description</th>');
		tr.append('<th colspan=2>Retur Info</th>');						
		tr.append('<th rowspan=2>Unit Price</th>');
		tr.append('<th rowspan=2>Value</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		tr = $('<tr>');
		tr.append("<th>Qty</th>");
		tr.append("<th>UoM</th>");	
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		$.ajax({ url: "<?php echo $this->url->get(uri('GR/ajaxRetur')) ?>?retur="+retur+"" }).done(function(data){
			console.log(data);		
			myArray = JSON.parse(data);
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_retur +"</td>");
				tr.append("<td>"+ myArray[i].unit_retur +"</td>");				
				tr.append("<td>"+ format(myArray[i].retur_unit_price) +"</td>");				
				tr.append("<td>"+ format(myArray[i].retur_unit_price * myArray[i].qty_retur) +"</td>");				
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}			
		});
	});
	
	$(document).on("click", ".modalGR", function(){
		var gr = $(this).data('gr');		
		var myArray = [];
		
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		
		tr = $('<tr>');
		tr.append('<th rowspan=2>Item Code</th>');
		tr.append('<th rowspan=2>Item Description</th>');
		tr.append('<th colspan=2>PR Info</th>');		
		tr.append('<th colspan=2>PO Info</th>');		
		tr.append('<th colspan=2>Retur Info</th>');
		tr.append('<th rowspan=2>Status</th>');		
		tr.append('<th rowspan=2>Unit Price</th>');
		tr.append('<th rowspan=2>Total Price</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		tr = $('<tr>');
		tr.append("<th>Qty</th>");
		tr.append("<th>UoM</th>");
		tr.append("<th>Qty</th>");
		tr.append("<th>UoM</th>");	
		tr.append("<th>Qty</th>");
		tr.append("<th>UoM</th>");	
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		$.ajax({ url: "<?php echo $this->url->get(uri('GR/ajaxGR')) ?>?gr="+gr+"" }).done(function(data){
			console.log(data);		
			myArray = JSON.parse(data);
			
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_pr +"</td>");
				tr.append("<td>"+ myArray[i].unit_pr +"</td>");
				tr.append("<td>"+ myArray[i].qty_po +"</td>");
				tr.append("<td>"+ myArray[i].unit_po +"</td>");
				tr.append("<td>"+ myArray[i].qty_retur +"</td>");
				tr.append("<td>"+ myArray[i].unit_retur +"</td>");
				if(myArray[i].flag_gr_ok){
					tr.append('<td><input type="checkbox" name="status_'+i+'" checked disabled="disabled"></td>');
				}else{
					tr.append('<td><input type="checkbox" name="status_'+i+'" disabled="disabled"></td>');
				}
				
				tr.append("<td>"+ format(myArray[i].po_unit_price) +"</td>");
				tr.append("<td>"+ format(myArray[i].po_price) +"</td>");
				
				grand_total = parseInt(grand_total,10) + parseInt(myArray[i].po_price,10);
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
			$('.myTable tbody').append("<tr><th colspan='10' style='text-align:right !important'>Total</th><td>"+ format(grand_total) +"</td></tr>");
		});
	});
</script>

<script>	
	$(document).on("click", ".modalRGR", function(){
		var gr = $(this).data('gr');		
		var myArray = [];
		
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		
		tr = $('<tr>');
		tr.append('<th rowspan=2>Item Code</th>');
		tr.append('<th rowspan=2>Item Description</th>');
		tr.append('<th colspan=2>PR Info</th>');		
		tr.append('<th colspan=2>PO Info</th>');		
		tr.append('<th colspan=2>Retur Info</th>');
		tr.append('<th rowspan=2>Status</th>');		
		tr.append('<th rowspan=2>Unit Price</th>');
		tr.append('<th rowspan=2>Total Price</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		tr = $('<tr>');
		tr.append("<th>Qty</th>");
		tr.append("<th>UoM</th>");
		tr.append("<th>Qty</th>");
		tr.append("<th>UoM</th>");	
		tr.append("<th>Qty</th>");
		tr.append("<th>UoM</th>");
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		$.ajax({ url: "<?php echo $this->url->get(uri('ReturBarang/ajaxGR')) ?>?gr="+gr+"" }).done(function(data){
			console.log(data);		
			myArray = JSON.parse(data);
			
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_pr +"</td>");
				tr.append("<td>"+ myArray[i].unit_pr +"</td>");
				tr.append("<td>"+ myArray[i].qty_po +"</td>");
				tr.append("<td>"+ myArray[i].unit_po +"</td>");
				tr.append("<td>"+ myArray[i].qty_retur +"</td>");
				tr.append("<td>"+ myArray[i].unit_retur +"</td>");
				if(myArray[i].flag_gr_ok){
					tr.append('<td><input type="checkbox" name="status_'+i+'" checked disabled="disabled"></td>');
				}else{
					tr.append('<td><input type="checkbox" name="status_'+i+'" disabled="disabled"></td>');
				}
				
				tr.append("<td>"+ format(myArray[i].po_unit_price) +"</td>");
				tr.append("<td>"+ format(myArray[i].po_price) +"</td>");
				
				grand_total = parseInt(grand_total,10) + parseInt(myArray[i].po_price,10);
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
			$('.myTable tbody').append("<tr><th colspan='10' style='text-align:right !important'>Total</th><td>"+ format(grand_total) +"</td></tr>");
		});
	});
	
	$(document).on("click", ".modalRetur", function(){
		var retur = $(this).data('retur');		
		var myArray = [];
		
		$('.myTable thead').empty();
		$('.myTable tbody').empty();
		
		tr = $('<tr>');
		tr.append('<th rowspan=2>Item Code</th>');
		tr.append('<th rowspan=2>Item Description</th>');
		tr.append('<th colspan=2>Retur Info</th>');						
		tr.append('<th rowspan=2>Unit Price</th>');
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		tr = $('<tr>');
		tr.append("<th>Qty</th>");
		tr.append("<th>UoM</th>");	
		tr.append("</tr>");
		$('.myTable thead').append(tr);
		
		$.ajax({ url: "<?php echo $this->url->get(uri('ReturBarang/ajaxRetur')) ?>?retur="+retur+"" }).done(function(data){
			console.log(data);		
			myArray = JSON.parse(data);
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty_retur +"</td>");
				tr.append("<td>"+ myArray[i].unit_retur +"</td>");				
				tr.append("<td>"+ format(myArray[i].retur_unit_price) +"</td>");				
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}			
		});
	});
</script>

