<style>
    #DataTableZero .markData { color: blue; font-weight: bold; }
	
	.styled_margin{
		margin-top:2px;
	}
	
	.styled_margin label{
		margin-top:10px;
	}
	
	.styled_header{
		background: #f5f5f5;
        border: 1px solid #fff;
        padding: 5px;
        text-align: left;
		min-height: 125px;		
    }
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
		var myTable;
		var count = <?php echo count($adj_details); ?>;
		
		$(document).ready( function () {			
			myTable = $('#DataTableZero').DataTable({
				"info" 			: false,
				"paging"		: false,
				"ordering"		: false,
				"searching"		: false,
				"scrollY"		: "200px",
				"scrollCollapse": true
			});			
			
			$('#DataTableZero tbody').on( 'click', 'tr', function () {
				if ( $(this).hasClass('selected') ) {
					$(this).removeClass('selected');
				}
				else {
					myTable.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			});
		
			$('#btn_back').click( function () {
				window.location = '<?php echo $this->url->get(uri('Penyesuaian')) ?>';
				return false;
			});
			
			$('#btn_add').click( function () {
				addRow();
				return false;
			});
			
			$('#btn_delete').click( function () {
				myTable.row('.selected').remove().draw( false );
				return false;
			});
			
			$('#btn_reset').click( function () {		
				myTable.clear();
				myTable.draw();
				return false;
			});
			
			$('#btn_save').click( function () {	
				// calcQty();
				$("#add-form").submit();
			});						
			
			$("#adj_type").change(function() {
				var detail = $(this).val();
				var detail_val;
				
				$("#adj_detail").html("");
				
				if(detail == "Positif"){
					detail_val = "Bonus";					
					$("#adj_detail").append('<option value="'+ detail_val +'">'+ detail_val + '</option>');
					detail_val = "Store TMUK Usage";					
					$("#adj_detail").append('<option value="'+ detail_val +'">'+ detail_val + '</option>');
				}else if(detail == "Negatif"){
					detail_val = "Expired";					
					$("#adj_detail").append('<option value="'+ detail_val +'">'+ detail_val + '</option>');
					detail_val = "Broken";					
					$("#adj_detail").append('<option value="'+ detail_val +'">'+ detail_val + '</option>');
				} 
			});
			
			$('#add-form').submit(function(e) {
				var data = myTable.rows().data();	
				if(data.length > 0){
					var data_input = myTable.$('input, select').serialize();
					var data_arr1 = data_input.split("&");	
					
					var data_convert = [];
					
					for(var i=0; i< data.length; i++){
						
						var qty = data_arr1[i*2].split("=");
						var harga = data_arr1[(i*2)+1].split("=");
						
						if(qty[1] == ''){
							data[i][3] = 0;
						}else{
							data[i][3] = qty[1];
						}
						
						if(harga[1] == ''){
							data[i][6] = 0;
						}else{
							data[i][6] = harga[1];
						}
						
						data_convert.push([data[i][0],data[i][1],data[i][2],data[i][3],data[i][4],data[i][5],data[i][6]]);
					}
					
					var json_data = document.getElementById('json_data');
					json_data.value = JSON.stringify(data_convert);
					
					e.preventDefault();
					jQuery.ajax({
						type: 'post',
						url: '<?php echo $this->url->get(uri('Penyesuaian/Update')) ?>',
						data: jQuery('#add-form').serialize(),
						dataType: "json",
						beforeSend: function() {
							$('#btn_save').attr('disabled', true);
							$('#btn_back').attr('disabled', true);
							$('#btn_reset').attr('disabled', true);
							$('.modal').show();
						},
						complete: function() {
							$('#btn_save').attr('disabled', false);
							$('#btn_back').attr('disabled', false);						
							$('#btn_reset').attr('disabled', false);						
							$('.modal').hide();
						}, 
						success: function (data) {
							console.log(data);								

							if(data.type == 'S'){
								swal({
									title: "Sukses",
									text:  data.message,
									type: "success",
									html: true,
									showCancelButton: false,
									closeOnConfirm: false,
									closeOnCancel: false
								},
								function(isConfirm){
									if (isConfirm) {
										window.location = '<?php echo $this->url->get(uri('Penyesuaian')) ?>';								
									}
								});
							}else if(data.type == 'E'){
								swal("Gagal", data.message, "error");
							}
						}
					});
					
					return false;
				}else{
					sweetAlert("Peringatan", "Mohon Masukkan Produk yang Akan Disesuaikan ", "warning");
					return false;
				}
			});		
			
		});		
		
		$(document).keypress(function(e) {
			var barcode_val = $("#autocomplete").val();			
			
			if(e.which == 13) {
				if(barcode_val != ''){
					addRow();					
				}
				
				// calcQty();
				return false;
			}
		});
		
		// function calcQty() {			
		// 	var total_calc = 0;
		// 	var data = myTable.rows().data();
		// 	var data_input = myTable.$('input, select').serialize();
		// 	data_arr1 = data_input.split("&");
		// 	for(var i=0; i< data.length; i++){
		// 	console.log(data_arr1[(i*2)+1].split("="))
		// 	// 	var qty = data_arr1[i*2].split("=");
		// 	// 	var harga = data_arr1[(i*2)+1].split("=");
				
				
		// 	// 	if(qty[1] != ''){
		// 	// 		var cell; 
					
		// 	// 		// harga
		// 	// 		cell = myTable.cell(i,5);
		// 	// 		cell.data(Math.ceil(qty[1] * harga[1]));
		// 	// 		total_calc = total_calc + Math.ceil(qty[1]*harga[1]);
		// 	// 	}
		// 	}		
		// }		

		function addRow() {
			var result;
			var barcode_val = $("#autocomplete").val();			
			var barcode_data = barcode_val.split(' - ');
			
			if(barcode_data[0] != ''){								
				$.ajax({ url: "<?php echo $this->url->get(uri('Penyesuaian/ajaxProduct')) ?>?r_product="+barcode_data[0]+"&count_index="+count+" " }).done(function(data){
					console.log(data);		
					myArray = JSON.parse(data);
					
					for(var i=0; i < myArray.length; i++){
						if(myArray[i].barcode != 'f'){
							if(myArray[i].unit_price != 0){
								$('table#DataTableZero').dataTable().fnAddData( [
									myArray[i].stock_id,
									myArray[i].barcode,
									myArray[i].description,						  
									'<input type="number" id="qty_'+ myArray[i].count_index +'" name="qty_'+ myArray[i].count_index +'" style="width:60px" value="1"> ' +						 
									'<input type="hidden" id="harga_'+ myArray[i].count_index +'" name="harga_'+ myArray[i].count_index +'" value=' + myArray[i].unit_price + ' > ' +						  
									'<input type="hidden"  id="item_'+ myArray[i].count_index +'" name="item_'+ myArray[i].count_index +'" value="" > ',
									myArray[i].unit					  
									]);
							}else{
								sweetAlert("Peringatan", " Produk Belum Pernah Melewati Tahap Pembelian " + myArray[i].description, "error");
								return false; 
							}
						}else{
							sweetAlert("Peringatan", "Data Produk Tidak Lengkap ", "error");
							return false;
						}
					}
					
					$("#autocomplete").val('');
				});

				count++;				
			}
		}
</script>

<?php
	
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('StockOpname'), '<span> Stock Opname </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Penyesuaian'), '<span> Penyesuaian </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">';	
		echo '<legend> Edit Penyesuaian </legend>';

		echo $this->tag->form([uri("Penyesuaian/Update"), "id"=>"add-form"]);
			echo '<input type="hidden" id="json_data" name="json_data">';
			echo $this->tag->hiddenField(["adj_id", "value"=>$adj->adj_id]);
			echo $this->tag->hiddenField(["create_by", "value"=>$adj->create_by]);
			
			echo '
				<div class="col-sm-6 styled_header">
					<div class="col-sm-4 styled_margin">
						<label> Tanggal  </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->dateField(["create_date", "class"=>"form-control input-sm", "value"=>$adj->create_date , "readonly"=>"true"]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Tipe </label>
					</div>
					<div class="col-sm-8 styled_margin">							
						'.$this->tag->select(["adj_type", $tipe , "class"=>"form-control input-sm", "id"=>"adj_type", 'value' => [$adj->adj_type, $adj->adj_type]]).'
					</div>
					
					<div class="col-sm-4 styled_margin">
						<label> Detail </label>
					</div>
					<div class="col-sm-8 styled_margin">							
						'.$this->tag->select(["adj_detail", $detail , "class"=>"form-control input-sm", "id"=>"adj_detail", 'value' => [$adj->adj_detail, $adj->adj_detail]]).'
					</div>
				</div>
				
				<div class="col-sm-12 styled_button">
					<div class="col-sm-6 styled_button">
						<center>
							<button id="btn_save" type="button" class="btn btn-primary btn-sm"> Simpan </button>
							<button id="btn_reset" class="btn btn-warning btn-sm"> Reset </button>	
						</center>
					</div>
				</div>
			';			
		echo $this->tag->endForm();
		
		echo '			
			<div class="col-sm-12 styled_button form-inline">
				<button id="btn_delete" class="btn btn-danger btn-sm" style="margin-top:5px"> Hapus </button>	
				'.$this->tag->textField(["barcode", "id"=>"autocomplete", "class"=>"form-control input-sm", "placeholder" => "Barcode / Nama Produk", "style"=>"width:350px"]).'					
			</div>				
			
			<div class="col-sm-8">
				<table id="DataTableZero">
					<thead>
					<tr>
						<th style="width:10%"> Kode Barang </th>
						<th style="width:10%"> Barcode </th>
						<th style="width:30%"> Nama Barang </th>					  
						<th> Jumlah </th>	
						<th> Satuan </th>	
					</tr>
					</thead>
					
					<tbody>
		';
			if(count($adj_details) > 0 ){
				$count = 0;
				foreach( $adj_details as $adj_detail ) {
					echo '<tr>';
						echo '<td>'.$adj_detail['item_code'].'</td>';
						echo '<td>'.$adj_detail['barcode_code'].'</td>';
						echo '<td>'.$adj_detail['description'].'</td>';	
						echo '<td>';
						echo '<input type="number" id="qty_'. $count .'" name="qty_'. $count .'" value="'. $adj_detail['qty'] .'" style="width:60px"/> ';
						echo '<input type="hidden" id="harga_'. $count .'" name="harga_'. $count .'" value="'. $adj_detail['unit_price'] .'" /> ';
						echo '<input type="hidden" id="item_'. $count .'" name="item_'. $count .'" value="'. $adj_detail['adj_detail_item'] .'" > ';
						echo '</td>';
						echo '<td>'.$adj_detail['unit'].'</td>';	
					echo '</tr>';
					
					$count++;
				}	
			}
		echo '
					</tbody>
				</table>
			</div>
		';		
		
		echo '			
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '</div>';
?>	

<script>
	$(document).ready( function () {
		$('#autocomplete').autocomplete({
			lookup: function (query, done) {
				var dataProduct = [];
				var query = $("#autocomplete").val();	
				
				$.ajax({ url: "<?php echo $this->url->get(uri('Penyesuaian/ajaxSearchProduct')) ?>?query="+query+" " }).done(function(data){					
					console.log(data);
					myArray = JSON.parse(data);
		
					for(var key in myArray){
						dataProduct.push({ "value" : myArray[key].display, "data" : myArray[key].val });
					}
					
					var result = { suggestions: dataProduct };
					done(result);	
				});	
			}, 
			autoSelectFirst: false,
			onSelect: function (suggestion) {
				console.log('You selected: ' + suggestion.value + ', ' + suggestion.data);
				addRow();
			}
		});
		
		$(document).keypress(function(e) {
			var query = $("#autocomplete").val();

			if(query != ""){
				if(e.which == 13){
					$.ajax({ url: "<?php echo $this->url->get(uri('Penyesuaian/ajaxSearchProduct')) ?>?query="+query+" " }).done(function(data){
						myArray = JSON.parse(data);
						console.log(Object.keys(myArray).length);
						
						if(Object.keys(myArray).length == 1){
							for(var key in myArray){
								document.getElementById("autocomplete").value = myArray[key].display;
								addRow();
							}
						}
					});	
					
					return false;
				}
			}
		});		
	});
</script>