<script type="text/javascript">
	$(document).ready( function () {
		$('#btn_create').click( function () {
			window.location = '<?php echo $this->url->get(uri('Penyesuaian/add')) ?>';
		});
		
		$('.sync').on('click', function (e) {	
			var link = $(this).attr("href");			
			
			e.preventDefault();
			jQuery.ajax({				
				url: link,				
				dataType: "json",
				beforeSend: function() {
					$('.modal').show();
				},
				complete: function() {
					$('.modal').hide();
				}, 
				success: function (data) {
					console.log(data);								

					if(data.type == 'S'){
						swal({
							title: "Sukses",
							text:  data.message,
							type: "success",
							html: true,
							showCancelButton: false,
							closeOnConfirm: false,
							closeOnCancel: false
						},
						function(isConfirm){
							if (isConfirm) {								
								window.location = '<?php echo $this->url->get(uri('Penyesuaian')) ?>';								
							}
						});
					}else if(data.type == 'E'){
						swal({
							title : "Gagal", 
							text : data.message, 
							type : "error",
							html : true
						},
						function(isConfirm){
							if (isConfirm) {
								location.reload();
							}
						});
					}
				}
			});
			
			return false;
		});
		
		$('.confirmation').on('click', function () {	
			var link = $(this).attr("href");			
			
			swal({
				title: "Yakin ingin hapus Penyesuaian?",
				text: "Data Penyesuaian yang di delete tidak bisa di kembalikan!",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Ya, hapus!",
				cancelButtonText: "Tidak, hapus!",
				closeOnConfirm: false,
				closeOnCancel: false
			},
			function(isConfirm){
				if (isConfirm) {
					window.location = link;
					swal("Terhapus!", "Data Penyesuaian Berhasil di hapus.", "success");
				}else{
					swal("Dibatalkan", "Batal hapus data Penyesuaian :)", "error");
				}
			});
			
			return false;
		});
	});
</script>

<?php
	
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('StockOpname'), '<span> Stock Opname </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Penyesuaian'), '<span> Penyesuaian </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">		
		<legend> Penyesuaian </legend>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#AD"> Penyesuaian </a></li>
			<li><a data-toggle="tab" href="#History"> Riwayat Penyesuaian </a></li>
		</ul>
		
		<div class="tab-content">
			<div id="AD" class="tab-pane fade in active">
			
				<div class="col-sm-12">
					</br>
				</div>				
				
				<button id="btn_create" class="btn btn-primary btn-sm"> Buat Penyesuaian </button>		
		
				<div class="table_container">
				<table id="DataTable" class="table-striped hover">
					<thead>
						<tr>
							<th style="text-align:center"> ID </th>
							<th style="text-align:center"> Tanggal </th>					
							<th style="text-align:center"> Tipe </th>	
							<th style="text-align:center"> Detail </th>	
							<th style="text-align:center"> Aksi </th>
						</tr>
					</thead>
					  
					<tbody>';	
						if(count($lists) > 0 ){
							foreach( $lists as $list ) {
								echo '<tr>
									<td style="text-align:center"><a href="#" class="modalAD" data-toggle="modal" data-adj="'.$list['adj_id'].'" data-target="#myModal">'.$list['adj_id'].'</a></td>
									<td style="text-align:center">'.$list['create_date'].'</td>					
									<td style="text-align:center">'.$list['adj_type'].'</td>								
									<td style="text-align:center">'.$list['adj_detail'].'</td>
									<td style="text-align:center">';
										if(!$list['flag_post']){
											echo Phalcon\Tag::linkTo([uri('Penyesuaian/Post?adj_id='.$list['adj_id']), "<i class='fa fa-send fa-lg'> </i>", "title"=>"Post Penyesuaian", "class"=>"sync"]);
											echo '&nbsp;&nbsp;';
											echo Phalcon\Tag::linkTo([uri('Penyesuaian/Edit?adj_id='.$list['adj_id']), "<i class='fa fa-edit fa-lg'> </i>", "title"=>"Edit Penyesuaian"]);
											echo '&nbsp;&nbsp;';
										}
										echo Phalcon\Tag::linkTo([uri('Penyesuaian/Print?adj_id='.$list['adj_id']), "<i class='fa fa-print fa-lg'> </i>", "title"=>"Print Penyesuaian"]);
										echo '&nbsp;&nbsp;';								
										echo Phalcon\Tag::linkTo([uri('Penyesuaian/Delete?adj_id='.$list['adj_id']), "<i class='fa fa-close fa-lg'> </i>", "title"=>"Hapus Penyesuaian", "class"=>"confirmation"]);
										echo '&nbsp;&nbsp;';
									echo '</td>
								</tr>';
							}		
						}
					echo '</tbody>
				</table>
				</div>
			</div>
		
			<div class="tab-pane" id="History">
				<div class="col-sm-12" style="margin-top:30px">
					<table id="DataTable4" class="table-striped hover">
						<thead>
						<tr>
							<th> ID </th>
							<th> Tanggal </th>					
							<th> Tipe </th>	
							<th> Detail </th>	
							<th> Aksi </th>
						</tr>
					</thead>
					  
					<tbody>';	
						if(count($lists_history) > 0 ){
							foreach( $lists_history as $list_history ) {
								echo '<tr>
									<td><a href="#" class="modalAD" data-toggle="modal" data-adj="'.$list_history['adj_id'].'" data-target="#myModal">'.$list_history['adj_id'].'</a></td>
									<td>'.$list_history['create_date'].'</td>					
									<td>'.$list_history['adj_type'].'</td>								
									<td>'.$list_history['adj_detail'].'</td>
									<td>';										
										echo Phalcon\Tag::linkTo([uri('Penyesuaian/Print?adj_id='.$list_history['adj_id']), "<i class='fa fa-print fa-lg'> </i>", "title"=>"Print Penyesuaian"]);
										echo '&nbsp;&nbsp;';																		
									echo '</td>
								</tr>';
							}		
						}
					echo '</tbody>
					</table>
				</div>
			</div>
			';
		echo '</div>';

		echo '
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Penyesuaian</h4>
				</div>
				<div class="modal-body" style="max-height:300px;overflow-y:auto;">
					<div class="table-responsive">
					<table class="table-bordered table-striped myTable" style="font-size:14px">
						<thead>
							<tr>
								<th>Kode Barang</th>
								<th>Barcode</th>
								<th>Nama Barang</th>
								<th>Jumlah</th>
								<th>Satuan</th>
							</tr>
						</thead>
						  
						<tbody>							
						</tbody>			
					</table>
				</div>
				</div>
				<div class="modal-footer">
					<a href="" class="btn btn-default" data-dismiss="modal">Close</a>
				</div>
			</div>

			</div>
		</div>
		
		<div class="modal" style="display: none">
			<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
		</div>
		
	<div>';
	
?>

<script>
	$(document).on("click", ".modalAD", function(){
		var adj = $(this).data('adj');
		var myArray = [];
		$('.myTable tbody').empty();
		
		$.ajax({ url: "<?php echo $this->url->get(uri('Penyesuaian/ajaxAjustment')) ?>?adj="+adj+"" }).done(function(data){
			console.log(data);			
			myArray = JSON.parse(data);
			
			grand_total = 0;
			
			for(var i=0; i < myArray.length; i++){
				tr = $('<tr>');
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].barcode_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].qty +"</td>");
				tr.append("<td>"+ myArray[i].unit +"</td>");
				
				tr.append("</tr>");
				
				$('.myTable tbody').append(tr);				
			}
		});		
	});
</script>

