
<?php	
	require_once (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf=new mPDF('','A4',9,'lottefont',10,10,45,2,8);	
	
	$ad_date = date_create($ad['create_date']);
	
	$html_header .= '
		<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>	
		<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">ADJUSTMENT</div>
			
		<div style="width:auto;" align="right">
			<barcode code="'.$ad['adj_id'].'" type="EAN128A" style="text-align:right"/>
			<div style="font-family: ocrb;text-align:right"><b>'.$ad['adj_id'].'</b></div>
		</div>
				
		Halaman {PAGENO}/{nbpg}<br/>
		'.date('d/m/Y H:i:s').'<br/>
		'.$this->session->get("user")["user_name"].'
	';
	
	$html .= '
		<style>
			
			table {
				
				border: 1px solid #000;
				border-collapse: collapse;
			}
			
			.bordered {
				padding: 3px;
				border: 1px solid #000;
				vertical-align: middle;
			}
		</style>
		
		<p style="width:360px;" align="left">
			<b>IMM/TMUK Store : </b><br/>
			'.$tmuk->name.' ('.$tmuk->tmuk.') <br/>
			'.$tmuk->address1.'<br/>
			'.$tmuk->address2.'<br/>
			'.$tmuk->address3.'<br/>
			'.$tmuk->telp.' 
		</p>
		
		<p><table style="width:100%;border:0">
			<tr>
				<td style="width:40%">Nomor Penyesuaian: '.$ad['adj_id'].'</td>
				<td style="width:40%">Tanggal Penyesuaian: '.date_format($ad_date, 'd-m-Y').'</td>			
			</tr>			
		</table></p>
		
		<p><table style="width:100%">
			<thead>
				<tr>
					<th class="bordered" rowspan="2">Kategori</th>
					<th class="bordered" rowspan="2">Kode Barang</th>
					<th class="bordered" rowspan="2">Nama Barang</th>
					<th class="bordered" colspan="3">Inventory Unit</th>
					<th class="bordered" rowspan="2">Jumlah Penyesuaian</th>				
				</tr>
				<tr>
					<th class="bordered">Jumlah</th>
					<th class="bordered">Satuan</th>
					<th class="bordered">Barcode</th>
				</tr>
			</thead>
			<tbody>';
			foreach($ad_details as $ad_detail){
				$html .= '<tr>
					<td class="bordered">'.$ad_detail['l1_nm'].'</td>
					<td class="bordered">'.$ad_detail['item_code'].'</td>
					<td class="bordered">'.$ad_detail['description'].'</td>
					<td class="bordered">'.$ad_detail['qty_system'].'</td>
					<td class="bordered">'.$ad_detail['unit'].'</td>
					<td class="bordered">'.$ad_detail['barcode_code'].'</td>
					<td class="bordered" style="text-align:center">'.$ad_detail['qty'].'</td>
				</tr>';
			}
			$html .= '</tbody>
		</table></p><br/><br/><br/><br/>
		
		<div style="width:165px;float:left">
			Request by<br/>
			<div style="width:165px;height:65px;border:1px solid #000"></div>
		</div>
		<div style="width:165px;float:left;margin-left:40px">
			Adjust by<br/>
			<div style="width:165px;height:65px;border:1px solid #000"></div>
		</div>
		<div style="width:135px;float:left;margin-left:40px">
			Approved by<br/>
			<div style="width:145px;height:65px;border:1px solid #000"></div>
		</div>
	';
	
	$mpdf->setHTMLHeader($html_header);
	$mpdf->WriteHTML($html);
	$mpdf->Output();
	exit;
	
?>

