<?php
if($this->session->get("is_login") == "X"){			
	header("location:".uri('Dashboard'));
}	
?>

<style type="text/css">
	body:before{
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.8)
	}
</style>
<body style="background-image:url(img/bg-tmuk.png); background-size: cover; background-repeat: no-repeat;">
<div class="col-md-7">
	
</div>
<div class="col-md-5" style="padding-right: 30px; ">
		<div style="/*margin-right: -1150px;*/ margin-top: 300px;">
			<center><?php echo $this->tag->image([assets('img/bg/LVC.png'), "style" => "width:350px;height:100px; margin-top:10px;"]); ?></center>
			<center><?php echo $this->tag->image([assets('img/bg/LG.png'), "style" => "width:350px;height:60px;"]); ?></center>
		</div>

		<div class="login-form" style="/*margin-right: 120px;*/ margin-top: 40px; padding-top: 20px;">
			<!-- <h2>Silahkan Login</h2>		 -->
			<div class="col-sm-3">
				<center><?php echo $this->tag->image([assets('img/bg/TMUK.png'), "style" => "width:100px;height:90px;"]); ?></center>
			</div>
			<div class="col-sm-9">
				<?php echo $this->tag->form([uri('login/login')]); ?>
				<?php echo $this->tag->textField(["Username", "id" => "username", "placeholder" => "User Id", "required" => "true"]) ?>
				<?php echo $this->tag->passwordField(["Password", "placeholder" => "Password", "required" => "true"]) ?>
			</div>
			<?php echo $this->tag->submitButton(["Login"]) ?>	
			<?php echo $this->tag->endForm(); ?>
		</div>
		<!-- <center style="color: white;">New BIZ, IT 및 Pragma 에 의해 권한을 부여 받은</center> -->
		<center><?php echo $this->tag->image([assets('img/fk.png'), "style" => "width:300px;height:15px;"]); ?></center>
	</div>
</body>

<script>
	document.getElementById("username").focus();
</script>



