<script type="text/javascript">
	$(document).ready( function (e){
		$('#data-form').submit(function(e){						
			e.preventDefault();
			
			var debtor_no = $("#Debtor_No").val();
			var name = $("#Name").val();
			var nomor_member = $("#Nomor_Member").val();
			var credit_limit = $("#Credit_Limit").val();
			var address = $("#Address").val();
			
			if(debtor_no == ''){
				sweetAlert("Gagal", "Member harus pilih terlebih dahulu!", "error");
				return false;
			}
			if(name == ''){
				sweetAlert("Gagal", "Nama Member harus diisi terlebih dahulu!", "error");
				return false;
			}
			if(nomor_member == ''){
				sweetAlert("Gagal", "Nomor Member harus diisi terlebih dahulu!", "error");
				return false;
			}			
			if(address <= 0){
				sweetAlert("Gagal", "Alamat harus diisi terlebih dahulu!", "error");
				return false;
			}
			if(credit_limit <= 0){
				sweetAlert("Gagal", "Credit Limit tidak boleh kurang dari nol!", "error");
				return false;
			}
				
			jQuery.ajax({
				type: 'post',
				dataType: "json",
				url: '<?php echo $this->url->get(uri('Member/insert_member')) ?>',
				data: jQuery('#data-form').serialize(),
				beforeSend: function() {
					$('#btn_submit').attr('disabled', true);										
				},
				complete: function() {					
					$('#btn_submit').attr('disabled', false);							
				}, 
				success: function (data) {
					if(data.type == 'S'){
						swal("Sukses", data.message, "success");
						window.location = '<?php echo $this->url->get(uri('Member')) ?>';
					}else if(data.type == 'E'){
						swal("Gagal", data.message, "error");						
					}
				}
			});
			
			return false;
		});
	});
</script>

<?php
	$global_ui = new GlobalUI();

	echo $this->tag->form([uri("Member/insert_member"), "id"=>"data-form"]);
		$global_ui::ui_open_panel(12);
		$global_ui::ui_open_panel_body();
			echo '<div class="row">';
			echo '<div class="col-lg-6 col-md-6">';
				echo '
					<div class="col-lg-4 col-md-5"><label class="label_form-xs">TMUK <font color="red">*</font></label></div>
					<div class="col-lg-8 col-md-7"><input type="text" id="Debtor_No" name="Debtor_No" value="'.$tmuk.'" class="form-control input-xs" readOnly></div>
				';
				
				//$global_ui::ui_select('Debtor_No', 'TMUK <font color="red">*</font>', 'DEFAULT', '', true, false, false);
				$global_ui::ui_text('Nomor_Member', 'Nomor Member <font color="red">*</font>', 'DEFAULT', '', true, false, false);	
				//$global_ui::ui_text('Branch_Code', 'Member ID', 'DEFAULT', '', true, true, false); //readonly
				$global_ui::ui_text('Name', 'Nama Member <font color="red">*</font>', 'DEFAULT', '', true, false, false);	
				// $global_ui::ui_text('Branch_Ref', 'Jenis Kustomer', 'DEFAULT', '', true, false, false);
				echo '
					<div class="col-lg-4 col-md-5"><label class="label_form-xs">Jenis Member</label></div>
					<div class="col-lg-8 col-md-7"><input type="text" id="Branch_Ref" name="Branch_Ref" value="Member" class="form-control input-xs" readonly></div>
				';				
				$global_ui::ui_text('Telepon', 'Telepon <font color="red">*</font>', 'DEFAULT', '', true, false, false);	
				$global_ui::ui_text('Email', 'Email <font color="red">*</font>', 'DEFAULT', '', true, false, false);	
			echo '</div>';
			
			echo '<div class="col-lg-6 col-md-6">';	
				$global_ui::ui_text_area('Address', 'Alamat <font color="red">*</font>', 'DEFAULT', '', true, false, false);
				//$global_ui::ui_text_area('Post_Address', 'Post Address', 'DEFAULT', '', true, false, false);
				$global_ui::ui_text_area('Notes', 'Notes', 'DEFAULT', '', true, false, false);						
				$global_ui::ui_numeric_rate('Credit_Limit', 'Limit Kredit  <font color="red">*</font>', 'DEFAULT', '', true, false, false);
			echo '</div>';
			echo '</div>';
			
			echo '		
				<div class="col-lg-12 col-md-12"><br/></div>
				<div class="col-lg-12 col-md-12">
					<center>
						<input type="submit" id="btn_submit" name="btn_submit" class="btn btn-primary" value="'.(isset($this->session->get('lang')['SAVE'])?$this->session->get('lang')['SAVE']:'Submit').'">
					</center>
				</div>
			';
		$global_ui::ui_close_panel_body();
		$global_ui::ui_close_panel();
	echo $this->tag->endForm();	
	
	
?>	