<script type="text/javascript">
	$(document).ready( function (e){
		$('#DataTablePay').DataTable({
			"info" 			: false,
			"deferRender" 	: true
		});
		
		$('#data-form').submit(function(e){						
			e.preventDefault();
			jQuery.ajax({
				type: 'post',
				dataType: "json",
				url: '<?php echo $this->url->get(uri('Member/insert_member_pay')) ?>',
				data: jQuery('#data-form').serialize(),
				beforeSend: function() {
					$('#btn_pay_submit').attr('disabled', true);										
				},
				complete: function() {					
					$('#btn_pay_submit').attr('disabled', false);							
				}, 
				success: function (data) {
					if(data.type == 'S'){
						swal("Sukses", data.message, "success");
						window.location = '<?php echo $this->url->get(uri('Member')) ?>';
					}else if(data.type == 'E'){
						swal("Gagal", data.message, "error");						
					}
				}
			});
			
			return false;
		});
	});
</script>

<?php
	$global_ui = new GlobalUI();
	
	echo '<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#add"> Add Payment </a></li>
		<li><a data-toggle="tab" href="#history"> History Payment </a></li>
	</ul>';
	
	echo '<div class="tab-content">';
	echo '<div id="add" class="tab-pane fade in active"> <br/>';
		echo $this->tag->form([uri("Member/insert_member_pay"), "id"=>"data-form"]);
			$global_ui::ui_open_panel(12);
			$global_ui::ui_open_panel_body();
				echo '<div class="col-lg-6 col-md-6">';
					echo '
						<div class="col-lg-4 col-md-5"><label class="label_form-xs">Total Kredit </label></div>
						<div class="col-lg-8 col-md-7"><input type="text" id="Limit" name="Limit" value="'.$data->total_credit.'" class="form-control input-xs" readOnly></div>
					';
					$global_ui::ui_select('Debtor_No', 'Customer', 'DEFAULT', $data->debtor_no, true, true, false);
					$global_ui::ui_text('Branch_Code', 'Kustomer ID', 'DEFAULT', $data->branch_code, true, true, false);
					$global_ui::ui_text('Nomor_Member', 'Nomor Kustomer', 'DEFAULT', $data->nomor_member, true, true, false);									
					$global_ui::ui_numeric_rate('Amount', 'Amount', 'DEFAULT', '', true, false, false);	
				echo '</div>';
				
				echo '
					<div class="col-lg-12 col-md-12"> <br/> </div>
					<div class="col-lg-12 col-md-12">
						<center>
							<input type="submit" id="btn_pay_submit" name="btn_pay_submit" class="btn btn-primary" value="'.(isset($this->session->get('lang')['SAVE'])?$this->session->get('lang')['SAVE']:'Submit').'">
						</center>
					</div>
				';
			$global_ui::ui_close_panel_body();
			$global_ui::ui_close_panel();
		echo $this->tag->endForm();	
	echo '</div>';
	
	echo '<div id="history" class="tab-pane fade"> <br/>';
		echo '<table id="DataTablePay" class="table table-striped hover">';
			echo '<thead>';
				echo '<tr>';
					echo '<th style="width:15%"> Amount </th>';
					echo '<th style="width:15%"> Date </th>';				  
					echo '<th style="width:10%"> Action </th>';
				echo '</tr>';
			echo '</thead>';

			echo '<tbody>';	
				if(count($lists_pay) > 0 ){
					foreach( $lists_pay as $list_pay ) {
						echo '<tr>';
							echo '<td>'.number_format($list_pay['amount'],2,',','.').'</td>';
							echo '<td>'.$list_pay['create_date'].'</td>';
							echo '<td>';
								echo Phalcon\Tag::linkTo([uri('#'), "<i class='fa fa-search fa-lg'> </i>", "class"=>"detailModal", "data-src"=>$this->url->get(uri('Member/View_Member_Pay?ID='.$list_pay['id'])), "data-toggle"=>"modal", "data-target"=>"#detailModal", "title"=>"View Kustomer Pay"]);									
								echo '&nbsp;&nbsp;';
								echo Phalcon\Tag::linkTo([uri('#'), "<i class='fa fa-edit fa-lg'> </i>", "class"=>"detailModal", "data-src"=>$this->url->get(uri('Member/Edit_Member_Pay?ID='.$list_pay['id'])), "data-toggle"=>"modal", "data-target"=>"#detailModal", "title"=>"Edit Kustomer Pay"]);									
								echo '&nbsp;&nbsp;';								
							echo '</td>';
						echo '</tr>';
					}	
				}					
			echo '</tbody>';			
		echo '</table>';
	echo '</div>';
	echo '</div>';
?>	