
<?php

	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Member'), '<span> Kustomer </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		echo $this->tag->form([uri("Member/CustUpdate"), "class"=>"add-form"]);
		echo '<table>';
			echo '<tr>';
				echo '<td>'.'<label class="Debtor_No"> Cust ID </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Debtor_No", "value"=>$data->debtor_no, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Name"> Name </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Name", "value"=>$data->name]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Debtor_Ref"> Cust Reference </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Debtor_Ref", "value"=>$data->debtor_ref]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Tax_Id"> Tax Id </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Tax_Id", "value"=>$data->tax_id]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Curr_Code"> Currency </label>'.'</td>';
				if ($currency != null){
					echo '<td>'.$this->tag->select(["Curr_Code", $currency,  'value' => [$data->curr_code, $data->curr_code]]).'</td>';
				}else{
					echo '<td>'.$this->tag->textField(["Curr_Code",  'value' => $data->curr_code]).'</td>';
				}
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Discount"> Discount </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Discount", "value"=>$data->discount]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Pymt_Discount"> Payment Discount </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Pymt_Discount", "value"=>$data->pymt_discount]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Credit_Limit"> Credit Limit </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Credit_Limit", "value"=>$data->credit_limit]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Notes"> Notes </label>'.'</td>';
				echo '<td>'.$this->tag->textArea(["Notes", "value"=>$data->notes, "cols"=>24, "rows"=>3]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
				echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Member'), '<span> Back </span>']).'</div></td>';
			echo '</tr>';
		echo '</table>';		
    echo $this->tag->endForm();
	echo '</div>';
?>	