<script type="text/javascript">
	$(document).ready( function (e){
		$('#data-form').submit(function(e){						
			e.preventDefault();
			jQuery.ajax({
				type: 'post',
				dataType: "json",
				url: '<?php echo $this->url->get(uri('Member/update_member')) ?>',
				data: jQuery('#data-form').serialize(),
				beforeSend: function() {
					$('#btn_submit').attr('disabled', true);										
				},
				complete: function() {					
					$('#btn_submit').attr('disabled', false);							
				}, 
				success: function (data) {
					if(data.type == 'S'){
						swal("Success", data.message, "success");
						window.location = '<?php echo $this->url->get(uri('Member')) ?>';
					}else if(data.type == 'E'){
						swal("Failed", data.message, "error");						
					}
				}
			});
			
			return false;
		});
	});
</script>

<?php
	$global_ui = new GlobalUI();

	echo $this->tag->form([uri("Member/update_member"), "id"=>"data-form"]);
		$global_ui::ui_open_panel(12);
		$global_ui::ui_open_panel_body();
			echo '<div class="col-lg-6 col-md-6">';
				$global_ui::ui_select('Debtor_No', 'Customer', 'DEFAULT', $data->debtor_no, true, true, false);
				$global_ui::ui_text('Branch_Code', 'ID', 'DEFAULT', $data->branch_code, true, true, false);
				$global_ui::ui_text('Name', 'Nama Kustomer', 'DEFAULT', $data->br_name, true, false, false);	
				$global_ui::ui_text('Nomor_Member', 'Nomor Kustomer', 'DEFAULT', $data->nomor_member, true, false, false);	
				$global_ui::ui_select('Branch_Ref', 'Jenis Kustomer', 'DEFAULT', $data->branch_ref, true, true, false);	
			echo '</div>';
			
			echo '<div class="col-lg-6 col-md-6">';				
				$global_ui::ui_text_area('Address', 'Alamat', 'DEFAULT', $data->br_address, true, false, false);
				$global_ui::ui_numeric_rate('Telepon', 'Telepon', 'DEFAULT', $data->telepon, true, false, false);
				$global_ui::ui_text('Email', 'Email', 'DEFAULT', $data->email, true, false, false);			
				//$global_ui::ui_text_area('Post_Address', 'Post Address', 'DEFAULT', $data->br_post_address, true, false, false);
				$global_ui::ui_text_area('Notes', 'Notes', 'DEFAULT', $data->notes, true, false, false);						
				$global_ui::ui_numeric_rate('Credit_Limit', 'Limit Kredit', 'DEFAULT', $data->credit_limit, true, false, false);
			echo '</div>';
			
			echo '		
				<div class="col-lg-12 col-md-12"> <br/> </div>
				<div class="col-lg-12 col-md-12">
					<center>
						<input type="submit" id="btn_submit" name="btn_submit" class="btn btn-primary" value="'.(isset($this->session->get('lang')['SAVE'])?$this->session->get('lang')['SAVE']:'Simpan').'">
					</center>
				</div>
			';
		$global_ui::ui_close_panel_body();
		$global_ui::ui_close_panel();
	echo $this->tag->endForm();	
	
	
?>	