<script type="text/javascript">
	$(document).ready( function (e){
		$('#pay-data-form').submit(function(e){						
			e.preventDefault();
			jQuery.ajax({
				type: 'post',
				dataType: "json",
				url: '<?php echo $this->url->get(uri('Member/update_member_pay')) ?>',
				data: jQuery('#pay-data-form').serialize(),
				beforeSend: function() {
					$('#btn_submit').attr('disabled', true);										
				},
				complete: function() {					
					$('#btn_submit').attr('disabled', false);							
				}, 
				success: function (data) {
					if(data.type == 'S'){
						swal("Success", data.message, "success");
						window.location = '<?php echo $this->url->get(uri('Member')) ?>';
					}else if(data.type == 'E'){
						swal("Failed", data.message, "error");						
					}
				}
			});
			
			return false;
		});
	});
</script>

<?php
	$global_ui = new GlobalUI();

	echo $this->tag->form([uri("Member/update_member_pay"), "id"=>"pay-data-form"]);
		$global_ui::ui_open_panel(12);
		$global_ui::ui_open_panel_body();
			echo '<div class="col-lg-6 col-md-6">';
				$global_ui::ui_text('ID', 'ID', 'DEFAULT', $data->id, false, true, false);
				$global_ui::ui_select('Debtor_No', 'Customer', 'DEFAULT', $data->debtor_no, true, true, false);
				$global_ui::ui_text('Branch_Code', 'Kustomer ID', 'DEFAULT', $data->branch_code, true, true, false);
				$global_ui::ui_text('ID_Member', 'Nomor Kustomer', 'DEFAULT', $data->id_member, true, true, false);									
				$global_ui::ui_numeric_rate('Amount', 'Amount', 'DEFAULT', $data->amount, true, false, false);	
			echo '</div>';
			
			echo '
				<div class="col-lg-12 col-md-12"> <br/> </div>
				<div class="col-lg-12 col-md-12">
					<center>
						<input type="submit" id="btn_submit" name="btn_submit" class="btn btn-primary" value="'.(isset($this->session->get('lang')['SAVE'])?$this->session->get('lang')['SAVE']:'Save').'">
					</center>
				</div>
			';
		$global_ui::ui_close_panel_body();
		$global_ui::ui_close_panel();
	echo $this->tag->endForm();	
	
	
?>	