<script>
	$(document).ready(function(){
		$("#btn-member").click(function(e){
			e.preventDefault();
			$('.modal').show();
			// $('#importMember').hide();
			$('#importMember').modal('toggle');


			$('#data-form-member').ajaxSubmit({				
				dataType: 'json',
				success: function (data) {
					$('.modal').hide();

					if(data.type == 'S'){
						// swal("Success", data.message, "success");
						swal({
							title: "Success!",
							text: data.message,
							type: "success",
							showCancelButton: false,
							closeOnConfirm: false,
							html:true,
						},
						function(isConfirm){
							if (isConfirm) {
								window.location.reload();
							}
						});
						
					}else if(data.type == 'E'){
						// swal("Failed", data.message, "error");	
						swal({
							title: "Gagal!",
							text: data.message,
							type: "error",
							showCancelButton: false,
							closeOnConfirm: false,
						},
						function(isConfirm){
							if (isConfirm) {
								window.location.reload();
							}
						});					
					}
				}
			});
		})
		$("#btn-payment").click(function(e){
			e.preventDefault();
			$('.modal').show();
			// $('#importMember').hide();
			$('#importPayment').modal('toggle');


			$('#data-form-payment').ajaxSubmit({				
				dataType: 'json',
				success: function (data) {
					$('.modal').hide();

					if(data.type == 'S'){
						// swal("Success", data.message, "success");
						swal({
							title: "Success!",
							text: data.message,
							type: "success",
							showCancelButton: false,
							closeOnConfirm: false,
							html:true,
						},
						function(isConfirm){
							if (isConfirm) {
								window.location.reload();
							}
						});
						
					}else if(data.type == 'E'){
						// swal("Failed", data.message, "error");	
						swal({
							title: "Gagal!",
							text: data.message,
							type: "error",
							showCancelButton: false,
							closeOnConfirm: false,
						},
						function(isConfirm){
							if (isConfirm) {
								window.location.reload();
							}
						});					
					}
				}
			});
		})
		$("#btn-kustomer").click(function(e){
			e.preventDefault();
			$('.modal').show();
			// $('#importKustomer').hide();
			$('#importKustomer').modal('toggle');


			$('#data-form-kustomer').ajaxSubmit({				
				dataType: 'json',
				success: function (data) {
					$('.modal').hide();

					if(data.type == 'S'){
						// swal("Success", data.message, "success");
						swal({
							title: "Success!",
							text: data.message,
							type: "success",
							showCancelButton: false,
							closeOnConfirm: false,
							html:true,
						},
						function(isConfirm){
							if (isConfirm) {
								window.location.reload();
							}
						});
						
					}else if(data.type == 'E'){
						// swal("Failed", data.message, "error");	
						swal({
							title: "Gagal!",
							text: data.message,
							type: "error",
							showCancelButton: false,
							closeOnConfirm: false,
						},
						function(isConfirm){
							if (isConfirm) {
								window.location.reload();
							}
						});					
					}
				}
			});
		})
		$(".nav-tabs a").click(function(){
			$(this).tab('show');
		});
		
		$('#DataTable2').on('click', '.confirmation', function (e) {	
			var link = $(this).attr("href");			
			
			swal({
				title: "Anda Yakin?",
				text: "Data Kustomer akan dihapus.",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Ya, Hapus",
				cancelButtonText: "Batal, Kembali",
				closeOnConfirm: false,
				closeOnCancel: false
			},
			function(isConfirm){
				if (isConfirm) {
					e.preventDefault();
					jQuery.ajax({
						type: 'post',
						dataType: "json",
						url: link,						
						beforeSend: function() {},
						complete: function() {}, 
						success: function (data) {
							if(data.type == 'S'){
								swal("Success", data.message, "success");
								window.location = '<?php echo $this->url->get(uri('member')) ?>';
							}else if(data.type == 'E'){
								swal("Gagal", data.message, "error");
							}
						}
					});
				}else{
					swal("Dibatalkan", "Hapus Kustomer dibatalkan.", "info");
				}
			});
			
			return false;
		});
	});
</script>

<?php
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Member'), '<span> Kustomer </span>']).'</li>
		</ul>
	<div>';
	
	$global_ui = new GlobalUI();	
	
	echo '<div class="content_content">';
		echo '<legend> Master Data Kustomer </legend>';
		
		echo '<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#cust"> KK </a></li>
			<li><a data-toggle="tab" href="#member"> Member </a></li>
		</ul>';
		
		echo '<div class="tab-content">';
			echo '<div id="cust" class="tab-pane fade in active"> <br/>';
			// echo '<button type="button" class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#importKustomer">Import Data</button><br>';
			echo '<div style"content: "";clear: both;display: table;"></div><br>';
			echo '<div class="table-responsive">';
			echo '<table id="DataTable" class="table table-striped hover" style="width:100%">';
				echo '<thead>';
					echo '<tr>';
					  echo '<th style="text-align:center;width:100px"> Nama Pemilik </th>';
					  echo '<th style="text-align:center;width:100px"> Nomor Customer </th>';
					  echo '<th style="text-align:center;width:100px"> TMUK</th>';
					  echo '<th style="text-align:center"> Alamat </th>';
					  // echo '<th style="text-align:center"> Kode </th>';	
					  echo '<th style="text-align:center;width:100px"> Credit Limit </th>';				  
					  echo '<th style="text-align:center;width:50px"> Total Order </th>';
					  echo '<th style="text-align:center;width:100px"> Total Purchase </th>';
					  echo '<th style="text-align:center;width:100px"> Last Visit </th>';
					  echo '<th style="text-align:center;width:100px"> Average Purchase </th>';
					  echo '<th style="text-align:center;width:50px"> Action </th>';
					echo '</tr>';
				echo '</thead>';

				echo '<tbody>';	
					if(count($lists) > 0 ){
						foreach( $lists as $list ) {
							echo '<tr>';
								echo '<td style="text-align:center">'.$list['name'].'</td>';
								echo '<td style="text-align:center">'.$list['nomor_member'].'</td>';
								echo '<td style="text-align:center">'.$list['debtor_ref'].'</td>';
								echo '<td style="text-align:center">'.$list['address'].'</td>';							
								// echo '<td style="text-align:center">'.$list['curr_code'].'</td>';						
								echo '<td style="text-align:center">'.$list['credit_limit'].'</td>';
								echo '<td style="text-align:center">'.$list['total_order'].'</td>';
								echo '<td style="text-align:center">'.number_format($list['total_purchase'],2,',','.').'</td>';
								echo '<td style="text-align:center">'.$list['last_visit'].'</td>';
								echo '<td style="text-align:center">'.number_format($list['average_purchase'],2,',','.').'</td>';
								echo '<td style="text-align:center">';
									echo Phalcon\Tag::linkTo([uri('#'), "<i class='fa fa-search fa-lg'> </i>", "class"=>"dataModal", "data-src"=>$this->url->get(uri('Member/View?Debtor_No='.$list['debtor_no'])), "data-toggle"=>"modal", "data-target"=>"#dataModal", "title"=>"View Customer"]);									
								echo '</td>';
							echo '</tr>';
						}	
					}					
				echo '</tbody>';			
			echo '</table>';
			echo '</div>';		
			echo '</div>';
			
			echo '<div id="member" class="tab-pane fade"> <br/>';
			echo '<div class="pull-right">';
			echo Phalcon\Tag::linkTo([uri('#'), "Tambah Member", "class"=>"dataModal btn btn-primary btn-sm", "data-src"=>$this->url->get(uri('Member/Add_Member')), "data-toggle"=>"modal", "data-target"=>"#dataModal", "title"=>"Add Kustomer"]);
			echo '<a href="http://'.$_SERVER['HTTP_HOST'].$di['url']->getBaseUri().'file/member.xlsx" class="btn btn-sm btn-success" role="button" style="margin-left:10px"><span class="fa fa-cloud-download"></span> Download Template Member</a>';
			echo '<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#importMember" style="margin-left:10px"><span class="fa fa-cloud-upload"></span> Upload Data Member</button> &nbsp;';
			echo '<button id="export_payment" type="button" class="btn btn-sm btn-success"><span class="fa fa-cloud-download"></span> Download Template Payment Member</a></button>&nbsp;&nbsp;';
			echo '<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#importPayment"><span class="fa fa-cloud-upload"></span> Upload Payment Member</a></button>';
			// <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
			echo '</div><br>';
			echo '<div style"content: "";clear: both;display: table;"></div><br>';
			echo '<div class="table-responsive">';				
			echo '<table id="DataTable2" class="table table-striped hover">';
				echo '<thead>';
					echo '<tr>';
					  //echo '<th> Customer ID </th>';
					  //echo '<th> Member ID </th>';
					  echo '<th style="width:100px;text-align:center"> Nomor Kustomer </th>';
					  echo '<th style="width:100px;text-align:center"> Nama Kustomer </th>';
					  echo '<th style="width:50px;text-align:center"> Jenis Kustomer </th>';
					  echo '<th style="width:200px;text-align:center"> Alamat </th>';
					  echo '<th style="width:50px;text-align:center"> Total Struk </th>';
					  echo '<th style="width:50px;text-align:center"> Total Pembelian </th>';
					  echo '<th style="width:100px;text-align:center"> Kunjungan Terakhir </th>';
					  echo '<th style="width:100px;text-align:center"> Rata-Rata Pembelian </th>';
					  // echo '<th style="width:50px;text-align:center"> Point </th>';
					  echo '<th style="width:100px;text-align:center"> Action </th>';
					echo '</tr>';
				echo '</thead>';

				echo '<tbody>';	
					if(count($lists_member) > 0 ){
						foreach( $lists_member as $list_member ) {
							echo '<tr>';
								//echo '<td>'.$list_member['debtor_no'].'</td>';
								//echo '<td>'.$list_member['branch_code'].'</td>';
								echo '<td style="text-align:center">'.$list_member['nomor_member'].'</td>';
								echo '<td style="text-align:center">'.$list_member['br_name'].'</td>';
								// echo '<td>'.jeniskustomer($list_member['branch_ref']).'</td>';
								echo '<td style="text-align:center">'.$list_member['branch_ref'].'</td>';
								echo '<td style="text-align:center">'.$list_member['br_address'].'</td>';
								echo '<td style="text-align:center">'.$list_member['total_order'].'</td>';
								echo '<td style="text-align:center">'.number_format($list_member['total_purchase'],2,',','.').'</td>';
								echo '<td style="text-align:center">'.$list_member['last_visit'].'</td>';
								echo '<td style="text-align:center">'.number_format($list_member['average_purchase'],2,',','.').'</td>';
								// $poin=0;
								// foreach( $lists_poin as $list_poin ) {
								// 	if($list_poin['id_member'] == $list_member['nomor_member']){
								// 		$poin = $list_poin['point'];
								// 	}
								// }

								// echo '<td style="text-align:center">'.$poin.'</td>';
								echo '<td style="text-align:center">';
									echo Phalcon\Tag::linkTo([uri('#'), "<i class='fa fa-search fa-lg'> </i>", "class"=>"dataModal", "data-src"=>$this->url->get(uri('Member/View_Member?Debtor_No='.$list_member['debtor_no'].'&Branch_Code='.$list_member['branch_code'].'&Nomor_Member='.$list_member['nomor_member'])), "data-toggle"=>"modal", "data-target"=>"#dataModal", "title"=>"View Kustomer"]);									
									echo '&nbsp;&nbsp;';
									echo Phalcon\Tag::linkTo([uri('#'), "<i class='fa fa-edit fa-lg'> </i>", "class"=>"dataModal", "data-src"=>$this->url->get(uri('Member/Edit_Member?Debtor_No='.$list_member['debtor_no'].'&Branch_Code='.$list_member['branch_code'])), "data-toggle"=>"modal", "data-target"=>"#dataModal", "title"=>"Edit Kustomer"]);									
									echo '&nbsp;&nbsp;';
									echo Phalcon\Tag::linkTo([uri('#'), "<i class='fa fa-money fa-lg'> </i>", "class"=>"dataModal", "data-src"=>$this->url->get(uri('Member/Add_Member_Pay?Debtor_No='.$list_member['debtor_no'].'&Branch_Code='.$list_member['branch_code'])), "data-toggle"=>"modal", "data-target"=>"#dataModal", "title"=>"Payment Kustomer"]);																		
									echo '&nbsp;&nbsp;';
									// echo Phalcon\Tag::linkTo([uri('#'), "<i class='fa fa-user circle icon fa-lg'> </i>", "class"=>"dataModal", "data-src"=>$this->url->get(uri('Member/view_member_point?Debtor_No='.$list_member['debtor_no'].'&Branch_Code='.$list_member['branch_code'])), "data-toggle"=>"modal", "data-target"=>"#dataModal", "title"=>"Riwayat Point"]);
									// echo '&nbsp;&nbsp;';
									echo Phalcon\Tag::linkTo([uri('Member/delete_member?Debtor_No='.$list_member['debtor_no'].'&Branch_Code='.$list_member['branch_code']), "<i class='fa fa-close fa-lg'> </i>", "title"=>"Delete Kustomer", "class"=>"confirmation"]);																		
								echo '</td>';
							echo '</tr>';
						}	
					}					
				echo '</tbody>';			
			echo '</table>';
			echo '</div>';
			echo '</div>';						
		echo '</div>';
	echo '</div>';
	
	echo '
		<div id="dataModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Kustomer TMUK</h4>
					</div>
					
					<div class="modal-body body-modal" style="max-height:450px;overflow-y:auto;">													
					</div>
					
					<div class="modal-footer">						
						<a href="" class="btn btn-default" data-dismiss="modal"> Close </a>					
					</div>
				</div>
			</div>
		</div>
	';
	
	echo '
		<div id="detailModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"> Kustomer Payment </h4>
					</div>
					
					<div class="modal-body detail-modal-body body-modal" style="max-height:450px;overflow-y:auto;">													
					</div>
					
					<div class="modal-footer">						
						<a href="" class="btn btn-default" data-dismiss="modal"> Close </a>					
					</div>
				</div>
			</div>
		</div>
	';

	echo '
	<div id="importKustomer" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">';
		    // <form action="" method="POST" enctype="multipart/form-data">
		echo $this->tag->form([uri("Member/import_kustomer"), "id"=>"data-form-kustomer", "type"=>"post","enctype"=>"multipart/form-data"]);
	    echo '
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Import Data KK</h4>
		      </div>
		      <div class="modal-body">
		        <div class="form-group">
				  <label for="file">File Excel:</label>
				  <input type="file" class="form-control" name="excelkustomer" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" id="btn-kustomer" class="btn btn-primary">Import</button>
		      </div>';
		    // </form>
				echo $this->tag->endForm();

		      echo '
	    </div>

	  </div>
	</div>
	';

	echo '
	<div id="importMember" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">';
		    // <form action="" method="POST" enctype="multipart/form-data">
		echo $this->tag->form([uri("Member/import_member"), "id"=>"data-form-member", "type"=>"post","enctype"=>"multipart/form-data"]);
	    echo '
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Import Data Kustomer</h4>
		      </div>
		      <div class="modal-body">
		        <div class="form-group">
				  <label for="file">File Excel:</label>
				  <input type="file" class="form-control" name="excelmember" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" id="btn-member" class="btn btn-primary">Import</button>
		      </div>';
		    // </form>
				echo $this->tag->endForm();

		      echo '
	    </div>

	  </div>
	</div>
	';

	echo '
	<div id="importPayment" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">';
		    // <form action="" method="POST" enctype="multipart/form-data">
		echo $this->tag->form([uri("Member/upload"), "id"=>"data-form-payment", "type"=>"post","enctype"=>"multipart/form-data"]);
	    echo '
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Upload Payment Member</h4>
		      </div>
		      <div class="modal-body">
		        <div class="form-group">
				  <label for="file">File Excel:</label>
				  <input type="file" class="form-control" name="excelpayment" id="file_payment" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" id="btn-payment" class="btn btn-primary">Import</button>
		      </div>';
		    // </form>
				echo $this->tag->endForm();

		      echo '
	    </div>

	  </div>
	</div>
	';

	echo '			
	<div class="modal" style="display: none">
	<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
	</div>
	';
?>

<script>
	$(document).on("click", ".dataModal", function(){		
		var link = $(this).data('src');
		$('.body-modal').load(link,function(){});
	});	
	
	$(document).on("click", ".detailModal", function(){		
		var link = $(this).data('src');
		$('.detail-modal-body').load(link,function(){});
	});
	$('#export_payment').click( function () {
		document.location.href = '<?php echo $this->url->get(uri('Member/exportexcel')) ?>';
		return false;
	});
	$('#import_payment').click( function () {
		document.location.href = '<?php echo $this->url->get(uri('Member/importexcel')) ?>';
		return false;
	});
</script>