
<?php

	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Member'), '<span> Kustomer </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		echo $this->tag->form([uri("Member/MemberInsert"), "class"=>"add-form"]);
		echo $this->tag->hiddenField(["Debtor_No", "value"=>$debtor_no]);
		
		echo '<table>';			
			echo '<tr>';
				echo '<td>'.'<label class="Br_Name"> Name </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Br_Name"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Branch_Ref"> Jenis Kustomer </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Branch_Ref"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Br_Address"> Address </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Br_Address"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Contact_Name"> Contact Name </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Contact_Name"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Default_Location"> Location </label>'.'</td>';
				if ($location != null){
					echo '<td>'.$this->tag->select(["Default_Location",$location]).'</td>';
				}else{
					echo '<td>'.$this->tag->textField(["Default_Location"]).'</td>';
				}				
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Tax_Group_Id"> Tax ID </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Tax_Group_Id"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Br_Post_Address"> Post Address </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Br_Post_Address"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Nomor_Member"> Kustomer ID </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Nomor_Member"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Notes"> Notes </label>'.'</td>';
				echo '<td>'.$this->tag->textArea(["Notes", "cols" => 24, "rows" => 3]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.$this->tag->submitButton(["Save"]).'</td>';
				echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Member/MemberIndex?Debtor_No='.$debtor_no), '<span> Back </span>']).'</div></td>';
			echo '</tr>';
		echo '</table>';		
    echo $this->tag->endForm();
	echo '</div>';
?>	