
<?php
		
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Member'), '<span> Kustomer </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		echo $this->tag->form([uri("Member/MemberUpdate"), "class"=>"add-form"]);		
		
		echo '<table>';	
			echo '<tr>';
				echo '<td>'.'<label class="Branch_Code"> Kustomer Code </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Branch_Code", "value"=>$data->branch_code, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Debtor_No"> Cust ID </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Debtor_No", "value"=>$data->debtor_no, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Br_Name"> Name </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Br_Name", "value"=>$data->br_name, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Branch_Ref"> Jenis Kustomer </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Branch_Ref", "value"=>$data->branch_ref, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Br_Address"> Address </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Br_Address", "value"=>$data->br_address, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Contact_Name"> Contact Name </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Contact_Name", "value"=>$data->contact_name, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Default_Location"> Location </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Default_Location", "value"=>$data->default_location, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Tax_Group_Id"> Tax ID </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Tax_Group_Id", "value"=>$data->tax_group_id, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Br_Post_Address"> Post Address </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Br_Post_Address", "value"=>$data->br_post_address, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Nomor_Member"> Kustomer ID </label>'.'</td>';
				echo '<td>'.$this->tag->textField(["Nomor_Member", "value"=>$data->nomor_member, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td>'.'<label class="Notes"> Notes </label>'.'</td>';
				echo '<td>'.$this->tag->textArea(["Notes", "cols" => 24, "rows" => 3, "value"=>$data->notes, "readonly"=>"true"]).'</td>';
			echo '</tr>';
			echo '<tr>';
				echo '<td colspan=2><div class="add-link">'.Phalcon\Tag::linkTo([uri('Member/MemberIndex?Debtor_No='.$debtor_no), '<span> Back </span>']).'</div></td>';
			echo '</tr>';
		echo '</table>';		
    echo $this->tag->endForm();
	echo '</div>';
?>	