
<?php

	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span> Data Master </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Member'), '<span> Kustomer </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		echo '<table>';
		echo '<tr>';
			echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Member/MemberAdd?Debtor_No='.$debtor_no), '<span> Add </span>']).'</div></td>';		
			echo '<td><div class="add-link">'.Phalcon\Tag::linkTo([uri('Member'), '<span> Back </span>']).'</div></td>';
		echo '</tr>';	
		echo '</table>';
		
		if(count($lists) > 0 ){
			echo '<div class="table_container_large">';
			echo '<table id="DataTable">';
				echo '<thead>';
					echo '<tr>';					  
					  echo '<th> Cust ID </th>';
					  echo '<th> Kustomer </th>';
					  echo '<th> Jenis Kustomer </th>';
					  echo '<th> Contact Name </th>';				  
					  echo '<th> Location </th>';
					  echo '<th> Tax ID </th>';
					  echo '<th> Post Address </th>';
					  echo '<th> Notes </th>';
					  echo '<th> Kustomer ID </th>';
					  echo '<th> Action </th>';
					echo '</tr>';
				echo '</thead>';			

				echo '<tbody>';					  
					foreach( $lists as $list ) {
						echo '<tr>';
							echo '<td>'.$list['debtor_no'].'</td>';
							echo '<td>'.$list['br_name'].'</td>';
							echo '<td>'.$list['branch_ref'].'</td>';
							echo '<td>'.$list['contact_name'].'</td>';
							echo '<td>'.$list['default_location'].'</td>';						
							echo '<td>'.$list['tax_group_id'].'</td>';
							echo '<td>'.$list['br_post_address'].'</td>';
							echo '<td>'.$list['notes'].'</td>';
							echo '<td>'.$list['nomor_member'].'</td>';							
							echo '<td>';
								echo Phalcon\Tag::linkTo([uri('Member/MemberView?Branch_Code='.$list['branch_code'].'&Debtor_No='.$list['debtor_no']), $this->tag->image(["img/icon/View.png", "style" => "width:20px;height:20px;"])]);
								echo '&nbsp;';
								echo Phalcon\Tag::linkTo([uri('Member/MemberEdit?Branch_Code='.$list['branch_code'].'&Debtor_No='.$list['debtor_no']), $this->tag->image(["img/icon/Edit.png", "style" => "width:20px;height:20px;"])]);
								echo '&nbsp;';
								echo Phalcon\Tag::linkTo([uri('Member/MemberDelete?Branch_Code='.$list['branch_code'].'&Debtor_No='.$list['debtor_no']), $this->tag->image(["img/icon/Delete.png", "style" => "width:20px;height:20px;"])]);
							echo '</td>';
						echo '</tr>';
					}		
				echo '</tbody>';			
			echo '</table>';
			echo '</div>';
		}
	echo '<div>';
	
?>

