<script type="text/javascript">
	$(document).ready( function (e){		
		$('#DataTablePay').DataTable({
			"info" 			: false,
			"deferRender" 	: true
		});
	});
</script>
<style>
.modal-body nav.navbar{ display:none }
.modal-body main.main { margin:0 }
</style>
<?php
	$global_ui = new GlobalUI();
	// print_r($data);
	// die;
	echo '<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#General"> General Data </a></li>
		<li><a data-toggle="tab" href="#Manage"> Management Data </a></li>			
		<li><a data-toggle="tab" href="#Payment"> Payment Data </a></li>				
	</ul>';
	
	echo '<div class="tab-content">';
		echo '<div id="General" class="tab-pane fade in active"> <br/>';
			$global_ui::ui_open_panel(12);
			$global_ui::ui_open_panel_body();
				echo '<div class="row">';
				echo '<div class="col-lg-6 col-md-6">';
					//$global_ui::ui_text('Debtor_No', 'Customer ID', 'DEFAULT', $data->debtor_no, true, true, false);
					$global_ui::ui_text('Branch_Code', 'ID', 'DEFAULT', $data->branch_code, true, true, false);
					$global_ui::ui_text('Name', 'Nama Kustomer', 'DEFAULT', $data->br_name, true, true, false);	
					$global_ui::ui_text('Nomor_Member', 'Nomor Kustomer', 'DEFAULT', $data->nomor_member, true, true, false);					
					$global_ui::ui_text_area('Address', 'Alamat', 'DEFAULT', $data->br_address, true, true, false);			
					//$global_ui::ui_text('Default_Location', 'Location', 'DEFAULT', $data->default_location, true, true, false);	
				echo '</div>';
				
				echo '<div class="col-lg-6 col-md-6">';
					$global_ui::ui_text('Branch_Ref', 'Jenis Kustomer', 'DEFAULT', $data->branch_ref, true, true, false);	
					//$global_ui::ui_text('Tax_Group', 'Tax Group', 'DEFAULT', $data->tax_group_id, true, true, false);
					//$global_ui::ui_text_area('Post_Address', 'Post Address', 'DEFAULT', $data->br_post_address, true, true, false);
					$global_ui::ui_text_area('Notes', 'Notes', 'DEFAULT', $data->notes, true, true, false);						
				echo '</div>';
				echo '</div>';
			$global_ui::ui_close_panel_body();
			$global_ui::ui_close_panel();
		echo '</div>';
	
		echo '<div id="Manage" class="tab-pane fade"> <br/>';
			$global_ui::ui_open_panel(8);
			$global_ui::ui_open_panel_body();
				echo '<div class="row">';
				echo '<div class="col-lg-12 col-md-12">';
					$global_ui::ui_numeric('Total_Order', 'Total Struk', 'DEFAULT', $datatrans->total_order, true, true, false);
					$global_ui::ui_text('Total_Purchase', 'Total Pembelian', 'DEFAULT', number_format($datatrans->total_purchase,2,',','.'), true, true, false);					
					$global_ui::ui_date('Last_Visit', 'Kunjungan Terakhir', 'DEFAULT', $datatrans->last_visit, true, true, false);										
					$global_ui::ui_text('Average_Purchase', 'Rata-Rata Pembelian', 'DEFAULT', number_format($datatrans->average_purchase,2,',','.'), true, true, false);	
					$global_ui::ui_numeric('Average_Visit_Mon', 'Rata-Rata Kunjungan Bulanan', 'DEFAULT', $datatrans->average_visit_mon, true, true, false);
					$global_ui::ui_numeric('Average_Visit_Year', 'Rata-Rata Kunjungan Tahunan', 'DEFAULT', $datatrans->average_visit_year, true, true, false);
					$global_ui::ui_numeric('Point', 'Point', 'DEFAULT', $datatrans->point, true, true, false);
				echo '</div>';
				echo '</div>';
			$global_ui::ui_close_panel_body();
			$global_ui::ui_close_panel();
		echo '</div>';
		
		echo '<div id="Payment" class="tab-pane fade"> <br/>';
			$global_ui::ui_open_panel(6);
			$global_ui::ui_open_panel_body();
				echo '<div class="row">';
				echo '<div class="col-lg-12 col-md-12">';
					$global_ui::ui_text('Credit_Limit', 'Limit Kredit', 'DEFAULT', number_format($data->credit_limit,2,',','.'), true, true, false);						
					$global_ui::ui_text('Total_Credit', 'Total Kredit', 'DEFAULT', number_format($data->total_credit,2,',','.'), true, true, false);
					$global_ui::ui_text('Available_Credit', 'Kredit Tersedia', 'DEFAULT', number_format(($data->credit_limit - $data->total_credit),2,',','.'), true, true, false);
				echo '</div>';
				echo '</div>';
			$global_ui::ui_close_panel_body();
			$global_ui::ui_close_panel();
			
			$global_ui::ui_open_panel(12);
			$global_ui::ui_open_panel_body();					
				echo '<table id="DataTablePay" class="table table-striped hover">';
				echo '<thead>';
					echo '<tr>';
						echo '<th style="width:15%"> Amount </th>';
						echo '<th style="width:15%"> Date </th>';				  							
					echo '</tr>';
				echo '</thead>';

				echo '<tbody>';	
					if(count($lists_pay) > 0 ){
						foreach( $lists_pay as $list_pay ) {
							echo '<tr>';
								echo '<td>'.number_format($list_pay['amount'],2,',','.').'</td>';
								echo '<td>'.$list_pay['create_date'].'</td>';									
							echo '</tr>';
						}	
					}					
				echo '</tbody>';			
			echo '</table>';
			$global_ui::ui_close_panel_body();
			$global_ui::ui_close_panel();				
		echo '</div>';
	echo '</div>';
?>	