<style>
.modal-body nav.navbar{ display:none }
.modal-body main.main { margin:0 }
</style>
<?php
	$global_ui = new GlobalUI();	

	echo $this->tag->form([uri("Member"), "class"=>"add-form"]);
		echo '<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#General"> General Data </a></li>
			<li><a data-toggle="tab" href="#Manage"> Customer Management </a></li>			
		</ul>';
		
		echo '<div class="tab-content">';
			echo '<div id="General" class="tab-pane fade in active"> <br/>';
				$global_ui::ui_open_panel(12);
				$global_ui::ui_open_panel_body();
					echo '<div class="col-lg-6 col-md-6">';
						$global_ui::ui_text('Debtor_No', 'Customer ID', 'DEFAULT', $data->debtor_no, true, true, false);
						// $global_ui::ui_text('Nomor_Member', 'Nomor Customer', 'DEFAULT', $data->nomor_member, true, true, false);				
						$global_ui::ui_text('Name', 'Name', 'DEFAULT', $data->name, true, true, false);
						$global_ui::ui_text('Curr_Code', 'Kode', 'DEFAULT', $data->curr_code, true, true, false);
						$global_ui::ui_text('Debtor_Ref', 'TMUK', 'DEFAULT', $data->debtor_ref, true, true, false);								
						$global_ui::ui_text_area('Address', 'Address', 'DEFAULT', $data->address, true, true, false);
											
					echo '</div>';
					
					echo '<div class="col-lg-6 col-md-6">';
						$global_ui::ui_numeric_rate('Discount', 'Discount', 'DEFAULT', $data->discount, true, true, false);
						$global_ui::ui_numeric_rate('Pymt_Discount', 'Payment Discount', 'DEFAULT', $data->pymt_discount, true, true, false);
						$global_ui::ui_numeric_rate('Credit_Limit', 'Credit Limit', 'DEFAULT', $data->credit_limit, true, true, false);	
						$global_ui::ui_text_area('Notes', 'Notes', 'DEFAULT', $data->notes, true, true, false);						
					echo '</div>';
				$global_ui::ui_close_panel_body();
				$global_ui::ui_close_panel();
			echo '</div>';
		
			echo '<div id="Manage" class="tab-pane fade"> <br/>';
				$global_ui::ui_open_panel(6);
				$global_ui::ui_open_panel_body();
					echo '<div class="col-lg-12 col-md-12">';
						$global_ui::ui_numeric('Total_Order', 'Total Order', 'DEFAULT', $data->total_order, true, true, false);
						$global_ui::ui_text('Total_Purchase', 'Total Purchase', 'DEFAULT', number_format($data->total_purchase,2,',','.'), true, true, false);					
						$global_ui::ui_date('Last_Visit', 'Last Visit', 'DEFAULT', $data->last_visit, true, true, false);										
						$global_ui::ui_text('Average_Purchase', 'Average Purchase', 'DEFAULT', number_format($data->average_purchase,2,',','.'), true, true, false);			
						$global_ui::ui_numeric('Average_Visit_Mon', 'Average Visit Month', 'DEFAULT', $data->average_visit_mon, true, true, false);
						$global_ui::ui_numeric('Average_Visit_Year', 'Average Visit Year', 'DEFAULT', $data->average_visit_year, true, true, false);
						$global_ui::ui_numeric('Point', 'Point', 'DEFAULT', $data->point, true, true, false);						
					echo '</div>';
				$global_ui::ui_close_panel_body();
				$global_ui::ui_close_panel();
			echo '</div>';
		echo '</div>';
		
	echo $this->tag->endForm();	
?>	