<script type="text/javascript">
	
	$(document).ready( function () {
		$('#btn_end').click( function () {
			// $.post( "<?php echo $this->url->get(uri('EndDay/cetak_EOD')) ?>" ).done(function(){
				jQuery.ajax({
					url: '<?php echo $this->url->get(uri('Sync/endDay')) ?>',
					dataType: "json",
					beforeSend: function() {
						$('#btn_end').attr('disabled', true);
						$('.modal').show();
					},
					complete: function() {
						$('#btn_end').attr('disabled', false);
						$('.modal').hide();
					}, 
					success: function (data) {
						console.log(data);		
						
						if(data.type == 'S'){
							$.post( "<?php echo $this->url->get(uri('EndDay/cetak_EOD')) ?>" );		
							swal({
								title: "End of Day",
								text: data.message,
								type: data.alert,
								html: true
							},
							function(isConfirm){
								if (isConfirm) {		
									// $.post( "<?php echo $this->url->get(uri('EndDay/cetak_EOD')) ?>" ).done(function(){
										location.reload();
									// });
								}
							});	
						}else if(data.type == 'E'){
							swal({
								title: "End of Day",
								text: data.message,
								type: data.alert,
								html: true
							},
							function(isConfirm){
								if (isConfirm) {
									location.reload();
								}
							});
						}
					}
				});
			// });
			
			//window.location = '<?php echo $this->url->get(uri('Sync/endDay')) ?>';
			
			return false;
		});			
	});
</script>

<?php

echo '<div class="content_header">
<ul class="red-breadcrumb">
<li>'.Phalcon\Tag::linkTo([uri('Immpos'), '<span> IMMPOS </span>']).'</li>
<li>'.Phalcon\Tag::linkTo([uri('EndDay'), '<span> End of Day </span>']).'</li>
</ul>
<div>';

echo '<div class="content_content">';
echo '<legend>End of Day</legend>';
echo '
<div class="col-sm-12">
<button id="btn_end" class="btn btn-primary btn-sm">End of Day</button>
</div>

<div class="col-sm-12">
</br>
</div>

<div class="col-sm-8">
<table id="DataTable" class="table-striped">
<thead>
<tr>
<th style="text-align:center"> Syncron </th>											
<th style="text-align:center"> Tanggal </th>	
<th style="text-align:center"> Jam </th>
</tr>
</thead>

<tbody>
';
if(count($lists) > 0 ){
	foreach( $lists as $list ) {
		echo '<input type="hidden" value="'.$list['id'].'" id="id" name="id"/>'; 
		echo '<tr>					
		<td style="text-align:center">'.$list['tipe'].'</td>								
		<td style="text-align:center">'.$list['sync_date'].'</td>																
		<td style="text-align:center">'.$list['sync_time'].'</td>																
		</tr>';
	}		
}
echo '
</tbody></table>
</div>
';

echo '			
<div class="modal" style="display: none">
<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
</div>
';

echo '</div>';

?>

