
<?php
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Laporan'), '<span> Laporan </span>']).'</li>';			
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
	
	$messages = $this->flashSession->getMessages();
	if(count($messages) > 0){
		foreach ($messages as $messageType => $messageArray) {
			foreach ($messageArray as $message) {
				$arr_msg = explode(";", $message);
				echo "<script>swal({
					title: '".$arr_msg[0]."',
					text: '".$arr_msg[1]."',
					type: '".$arr_msg[2]."',
					html: true });</script>";
				$this->flashSession->clear();
			}
		}
	}
		// edited here
		
	echo '
		<div class="col-md-6">
		<legend> Laporan </legend>
		<form action="Laporan/show" method="POST">
			<table class="table-condensed">
				<tr>
					<th>Pilih Report</th>
					<td>
						<select class="form-control input-sm" id="select2" name="report" required>
							<option>Pembelian Barang (PO)</option>				
							<option>Penerimaan Barang (GR)</option>				
							<option>Penyesuaian</option>			
							<!--<option>Arus Kas</option>--!>				
							<!--<option>Rangkuman Penjualan</option>--!>				
							<option>Retur Barang</option>				
							<option>Stock</option>
							<option>Stock Kosong</option>
							<option>Penjualan</option>
							<!--<option>Retur Penjualan</option>--!>
							<option>A/R Control</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>Tanggal Mulai</th>
					<td><input type="date" class="form-control input-sm" value="'.date('Y-m-d').'" id="tgl_mulai" name="tgl_mulai" required/></td>
				</tr>
				<tr>
					<th>Tanggal Akhir</th>
					<td><input type="date" class="form-control input-sm" value="'.date('Y-m-d').'" id="tgl_akhir" name="tgl_akhir" required/></td>
				</tr>
				<tr>
					<th>Format Export</th>
					<td>
						<select class="form-control input-sm" id="format" name="export" required>
							<option>Excel</option>
							<option>PDF</option>
						</select>
					</td>
				</tr>
			</table>
			<input style="margin-top:20px;margin-left:120px" class="btn btn-primary btn-sm" type="submit" value="Tampilkan">
		</form>
		</div>
		<div class="col-md-6">
		<legend> Re Print </legend>
			<form method="POST" action="Laporan/reprint">
			<table class="table-condensed">
				<tr>
				<th>Pilih</th>
				<td>
					<select class="form-control input-sm select2" id="opt_reprint" name="option" required>
						<option>EOS</option>
						<option>EOD</option>
					</select>
				</td>
				</tr>
				<tr>
				<th>Tanggal</th>
				<td><input type="date" class="form-control input-sm" value="'.date('Y-m-d').'" id="tgl_reprint" name="tanggal" required></td>
				</tr>
			</table>
			<input style="margin-top:20px;margin-left:120px" class="btn btn-primary btn-sm" type="submit" id="btn_reprint" value="Re Print">
			</form>
		</div>
		';
	echo '</div>';
	
?>

<script>
	// $('#btn_reprint').click(function(){
	// 	var option = $('#opt_reprint').val();
	// 	var tanggal = $('#tgl_reprint').val();
	// 	console.log(option);
	// 	$.post("<?php echo $this->url->get(uri('Laporan/reprint')) ?>?option="+option+"&tanggal="+tanggal+"");
	// });	
		
	$(function(){
		$('input[type="date"]').datepicker({ dateFormat: 'yy-mm-dd'});
	});
	$(document).ready(function(){
		$(".select2").select2({
            placeholder: 'Pilih Re Print',
			allowClear:true
		});

		$("#format").select2({
            placeholder: 'Pilih Format Report',
			allowClear:true
		});

		$("#select2").select2({
            placeholder: 'Pilih Report',
			allowClear:true
		});
	});
</script>

