<?php
	$data = new Jual();
	$condition = " WHERE flag_delete = true AND status_flag != '2' AND tanggal >= '".$_GET['from']."' AND tanggal <= '".$_GET['to']."' ";
	$lists = $data::getJoin_JualDetail($condition);
	$lists_tmuk = TMUK::getAll();
	
	if(count($lists) < 1){
			$this->flashSession->success("Gagal;Tidak ada data.;error");
			return $this->response->redirect(uri('Laporan'));
	}
	
	foreach($lists_tmuk as $tmuk){
		$tmuk_code = $tmuk['tmuk'];
		$tmuk_name = $tmuk['name'];
		$address1 = $tmuk['address1'];
		$tmuk_telp = $tmuk['telp'];
	} 
	
	require (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('','A4-L',9,'lottefont',10,10,42,2,8);
	
	if(count($lists) > 0){
		
		// $html = '
		// 	<htmlpageheader name="firstpage" style="display:none">
		// 		<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/Logo_Lotte.png" width="120" height="60"/></div>		
		// 		<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">RETUR SALES REPORT</div>
				
		// 		<br/><br/>
		// 		<p style="width:300px;float:left">
		// 			Halaman {PAGENO}/{nbpg}<br/>
		// 			'.date('d/m/Y H:i:s').'<br/>
		// 			User : '.$this->session->get("user")["user_name"].'
		// 		</p>
				
		// 		<p style="width:auto;" align="right">
		// 			<b>IMM/TMUK Store : </b><br/>
		// 			'.$tmuk_name.' ('.$tmuk_code.') <br/>
		// 			'.$address1.'<br/>
		// 			'.$tmuk_telp.' 
		// 		</p>
		// 	</htmlpageheader>

		// 	<htmlpageheader name="otherpages" style="display:none">
		// 		<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/Logo_Lotte.png" width="120" height="60"/></div>			
		// 		<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">RETUR SALES REPORT</div>
				
		// 		<br/><br/>
		// 		<p style="width:360px;float:left">
		// 			Halaman {PAGENO}/{nbpg}<br/>
		// 			'.date('d/m/Y H:i:s').'<br/>
		// 			User : '.$this->session->get("user")["user_name"].'
		// 		</p>
		// 	</htmlpageheader>
			
		// 	<sethtmlpageheader name="firstpage" value="on" show-this-page="1" />
		// 	<sethtmlpageheader name="otherpages" value="on" />
		// ';
		
		$html  = '
		<page orientation="landscape" format="A4" backtop="60mm" backbottom="5mm" backleft="10mm" backright="10mm" style="font-size: 12pt">
				<page_header>
		        <table class="page_header" border="0" width="" align="center">
		            <tr>
		                <td style="width: 650px;">
		                    <img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/>
		                </td>
		                <td style="width: 200px;">
		                    <p class="title" style="font-size: 25px;">RETUR SALES REPORT</p>
		                </td>
		            </tr>
		            <tr>
		                <td>Halaman [[page_cu]] dari [[page_nb]]</td>
		                <td style="font-size: 12px;"><b>IMM/TMUK Store : </b><br/>
			                    '.$tmuk_name.' ('.$tmuk_code.') <br/>
			                    '.$address1.'<br/>
			                    '.$tmuk_telp.'</td>
		            </tr>
		            <tr>
		                <td>User : '.$this->session->get("user")["user_name"].'</td>
		                <td></td>
		            </tr>
		        </table>
		    </page_header>
		    <br>
		';
		
		$html .= '
			<style>
				table {
					
					border: 1px solid #000;
					border-collapse: collapse;
				}
				
				.bordered {
					padding: 3px;
					border: 1px solid #000;
					vertical-align: middle;
					font-size: 10px;
				}
				
				.bordered-outer {
					padding: 3px;
					border-top: 1px solid #000;
					border-bottom: 1px solid #000;
					vertical-align: middle;
				}
			</style>
			
			<p align="center" style="font-size:70%;">Dari : <b>'.date('d-m-Y', strtotime($_GET['from'])).'</b>&nbsp;&nbsp;&nbsp;&nbsp; Sampai : <b>'.date('d-m-Y', strtotime($_GET['to'])).'</b> </p>
			<table style="width:100%;margin-top:5px;border:0" repeat_header="1">
				<thead><tr>
					<th class="bordered" style="width:10%;text-align:center;"><b>Tanggal</b></th>
					<th class="bordered" style="width:18%;text-align:center;"><b>No Struk</b></th>
					<th class="bordered" style="width:12%;text-align:center;"><b>Kode Barang</b></th>
					<th class="bordered" style="width:12%;text-align:center;"><b>Barcode</b></th>
					<th class="bordered" style="width:28%;text-align:center;"><b>Nama Barang</b></th>
					<th class="bordered" style="width:6%;text-align:center;"><b>Qty Retur</b></th>
					<th class="bordered" style="width:6%;text-align:center;"><b>Satuan</b></th>
					<th class="bordered" style="width:8%;text-align:center;"><b>Harga</b></th>
				</tr></thead><tbody>';
				
				foreach($lists as $list){
					if($list['selisih'] > 0){
						$html .= '<tr>
							<td class="bordered" style="text-align:center">'.date('d-m-Y', strtotime($list['tanggal'])).'</td>
							<td class="bordered" style="text-align:center">'.$list['id_jual'].'</td>
							<td class="bordered">'.$list['item_code'].'</td>
							<td class="bordered">'.$list['barcode'].'</td>
							<td class="bordered">'.$list['description'].'</td>
							<td class="bordered" style="text-align:right">'.number_format($list['selisih'],0,",",".").'</td>
							<td class="bordered" style="text-align:right">'.$list['satuan'].'</td>
							<td class="bordered" style="text-align:right">'.number_format($list['harga'],0,",",".").'</td>
						</tr>';
					}
				}
				
				$html .= '
				</tbody>
			</table>
			</page>
		';
	}else{
		$html .= '';
	}

	$html2pdf = new Html2Pdf();
	$html2pdf->writeHTML($html);
	$html2pdf->output();
	
	// $mpdf->WriteHTML($html);
	// $mpdf->Output("ReturSalesReport(".date('d-m-Y', strtotime($_GET['from']))." - ".date('d-m-Y', strtotime($_GET['to'])).").pdf", "D");
	exit;
	
?>

