<?php
	ini_set('memory_limit','-1');
	set_time_limit(0);
	$data = new EOS();
	$cond = " WHERE tanggal >= '".$_GET['from']."' AND tanggal <= '".$_GET['to']."' ";
	$lists = $data::getFreeSQL($cond);
	$lists_tmuk = TMUK::getAll();
	
	foreach($lists_tmuk as $tmuk){
		$tmuk_code = $tmuk['tmuk'];
		$tmuk_name = $tmuk['name'];
		$address1 = $tmuk['address1'];
		$tmuk_telp = $tmuk['telp'];
	} 
	
	require (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('','A4-L',9,'arial',10,10,42,2,8);
	
	if(count($lists) > 0){
		
		$html  = '
			<htmlpageheader name="firstpage" style="display:none">
				<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="140" height="50"/></div>	
				<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">EOS REPORT</div>
				
				<br/><br/>
				<p style="width:360px;float:left">
					Halaman {PAGENO}/{nbpg}<br/>
					'.date('d/m/Y H:i:s').'<br/>
					User : '.$this->session->get("user")["user_name"].'
				</p>
				
				<p style="width:auto;" align="right">
					<b>IMM/TMUK Store : </b><br/>
					'.$tmuk_name.' ('.$tmuk_code.') <br/>
					'.$address1.'<br/>
					'.$tmuk_telp.' 
				</p>
			</htmlpageheader>

			<htmlpageheader name="otherpages" style="display:none">
				<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="140" height="50"/></div>	
				<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">EOS REPORT</div>
				
				<br/><br/>
				<p style="width:360px;float:left">
					Halaman {PAGENO}/{nbpg}<br/>
					'.date('d/m/Y H:i:s').'<br/>
					User : '.$this->session->get("user")["user_name"].'
				</p>
			</htmlpageheader>
			
			<sethtmlpageheader name="firstpage" value="on" show-this-page="1" />
			<sethtmlpageheader name="otherpages" value="on" />
		';
		
		$html .= '
			<style>					
				table {
					font-family: sans-serif;
					border: 1px solid #000;
					border-collapse: collapse;
				}
				
				.bordered {
					padding: 3px;
					border: 1px solid #000;
					vertical-align: middle;
				}
			</style>	
			
			<p align="center">Dari : <b>'.date('d-m-Y', strtotime($_GET['from'])).'</b>&nbsp;&nbsp;&nbsp;&nbsp; Sampai : <b>'.date('d-m-Y', strtotime($_GET['to'])).'</b> </p>
			<table style="width:100%;margin-top:5px;border:0" repeat_header="1" align="center">
				<thead><tr>
					<th class="bordered" style="width:7%">Tanggal</th>
					<th class="bordered" style="width:7%">Kode TMUK</th>
					<th class="bordered" style="width:7%">Shift</th>
					<th class="bordered" style="width:7%">Kassa</th>
					<th class="bordered" style="width:7%">Initial</th>
					<th class="bordered" style="width:7%">Cash Income</th>
					<th class="bordered" style="width:7%">Net Sales</th>
					<th class="bordered" style="width:7%">Donasi</th>
					<th class="bordered" style="width:7%">Kredit</th>
					<th class="bordered" style="width:7%">Debit</th>
					<th class="bordered" style="width:7%">Voucher</th>
					<th class="bordered" style="width:7%">Total Actual</th>
					<th class="bordered" style="width:7%">Variance</th>
					<th class="bordered" style="width:7%">Rec Count</th>
				</tr></thead>';
				
				//$count = 0;
				foreach($lists as $list){
					//$count++;
					$html .= '<tbody><tr>
						<td class="bordered" style="text-align:center">'.date('d-m-Y', strtotime($list['tanggal'])).'</td>
						<td class="bordered" style="text-align:center">'.$list['tmuk'].'</td>
						<td class="bordered" style="text-align:center">'.$list['shift'].'</td>
						<td class="bordered" style="text-align:center">'.$list['kassa'].'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['initial'],0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['cash_income'],0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['net_sales'],0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['donasi'],0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['kredit'],0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['debit'],0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['voucher'],0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['total_actual'],0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['variance'],0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['rec_count'],0,",",".").'</td>
					</tr></tbody>';
				}
				
				$html .= '
			</table>
		';
	}else{
		$html .= '';
	}

	$mpdf->WriteHTML($html);
	$mpdf->Output("EOS_Report(".$_GET['from']." - ".$_GET['to'].").pdf", "D");
	exit;
	
?>

