<?php
	ini_set('memory_limit','-1');
	set_time_limit(0);
	$total = 0;
	
	$from = $_GET['from'];
	$to = $_GET['to'];
	
	$data = new ProductMove();
	$lists = $data::Join_JualDetail4($from, $to);
	$lists_tmuk = TMUK::getAll();
	
	if(count($lists) < 1){
			$this->flashSession->success("Gagal;Tidak ada data.;error");
			return $this->response->redirect(uri('Laporan'));
		}
	
	foreach($lists_tmuk as $tmuk){
		$tmuk_code = $tmuk['tmuk'];
		$tmuk_name = $tmuk['name'];
		$address1 = $tmuk['address1'];
		$tmuk_telp = $tmuk['telp'];
	} 
	
	require (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('','A4-L',9,'lottefont',10,10,42,2,8);
	
	if(count($lists) > 0){
		
		$html  = '
		<page orientation="landscape" format="A4" backtop="40mm" backbottom="5mm" backleft="5mm" backright="3mm" style="font-size: 12pt">
				<page_header>
		        <table class="page_header" border="0" width="" align="center">
		            <tr>
		                <td style="width: 650px;">
		                    <img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/>
		                </td>
		                <td style="width: 200px;">
		                    <p class="title" style="font-size: 25px;">SALES PPOB REPORT</p>
		                </td>
		            </tr>
		            <tr>
		                <td>Halaman [[page_cu]] dari [[page_nb]]</td>
		                <td style="font-size: 12px;"><b>IMM/TMUK Store : </b><br/>
			                    '.$tmuk_name.' ('.$tmuk_code.') <br/>
			                    '.$address1.'<br/>
			                    '.$tmuk_telp.'</td>
		            </tr>
		            <tr>
		                <td>User : '.$this->session->get("user")["user_name"].'</td>
		                <td></td>
		            </tr>
		        </table>
		    </page_header>
		    <br>
		';
		
		$html .= '
			<style>
				table {
					
					border: 1px solid #000;
					border-collapse: collapse;
				}
				
				.bordered {
					padding: 3px;
					border: 1px solid #000;
					vertical-align: middle;
					font-size: 9px;
				}
				
				.bordered-outer {
					padding: 3px;
					border-top: 1px solid #000;
					border-bottom: 1px solid #000;
					vertical-align: middle;
				}
			</style>
			
			<p align="center" style="font-size:70%;">Dari : <b>'.date('d-m-Y', strtotime($_GET['from'])).'</b>&nbsp;&nbsp;&nbsp;&nbsp; Sampai : <b>'.date('d-m-Y', strtotime($_GET['to'])).'</b> </p>
			<table style="width:100%;margin-top:5px;border:0" repeat_header="1">
				<thead><tr>
					<th class="bordered" style="width:2%;text-align:center;">No</th>
					<th class="bordered" style="width:5%;text-align:center;">Tanggal</th>
					<th class="bordered" style="width:7%;text-align:center;">Kode Barang</th>
					<th class="bordered" style="width:8%;text-align:center;">Barcode</th>
					<th class="bordered" style="text-align:center;word-break: break-all;">Nama Barang</th>
					<th class="bordered" style="width:6%;text-align:center;">Harga Jual</th>
					<th class="bordered" style="width:6%;text-align:center;">HPP</th>
					<th class="bordered" style="width:3%;text-align:center;">Qty</th>
					<th class="bordered" style="width:6%;text-align:center;">Margin (Rp)</th>
					<th class="bordered" style="width:6%;text-align:center;">Margin (%)</th>
					<th class="bordered" style="width:7%;text-align:center;">Sales Before PPN</th>
					<th class="bordered" style="width:5%;text-align:center;">PPN</th>
					<th class="bordered" style="width:7%;text-align:center;">Sales After PPN</th>
					<th class="bordered" style="width:6%;text-align:center;">Laba / Rugi</th>
				</tr></thead><tbody>';
				$i = 1;
				$totalSAT =0;
				foreach($lists as $list){
					$jual_detail = new JualDetail();
					$condition = " WHERE \"item_code\" = '".$list['item_code']."' AND \"id_jual\" = '".$list['reference']."' LIMIT 1";
					$aa = $jual_detail::getFreeSQL2($condition);

					$mpp = new ProductPrice();
					$condition = " WHERE \"stock_id\" = '".$list['item_code']."' ";
					$price = $mpp::getFreeSQL($condition);

					if($aa){
						$harga_hpp = $aa['0']['harga_hpp3'];
						$harga_jual = $aa['0']['harga'];
						$discount = $aa['0']['discount'];
						$harga_total = $aa['0']['total'];
					}else{
						$harga_hpp = $price['0']['average_cost'];
						if($price['0']['uom1_changed_price'] > 0){
							$harga_jual = $price['0']['uom1_changed_price'];
						}else{
							$harga_jual = $price['0']['uom1_rounding_price'];
						}
						$discount = 0;
						$harga_total =0;
					}

					if($discount > 0){
						$diskon = ($discount);
						$harga = ($harga_total / $list['qty']);
					}else{
						$diskon = 0;
						$harga = $harga_jual;
					}

					$hpp = $harga_hpp;
					$LR = ($harga_total) - ($hpp * $list['qty']);
					
					$slsbt = ($harga_total / 1.1);
					$slsat = ($harga_total);
					$tax = ($slsat - $slsbt);	
					$marginhp = ($harga - $hpp);
					$marginpersen = ($marginhp / $hpp * 100);
					
					$total += $LR;
					$totalSBT += $slsbt;
					$totalSAT += $slsat;
					$totalTax += $tax;
					$totalMarginh += $marginhp;
					$totalMarginp += $marginpersen;
					
					$html .= '<tr>
						<td class="bordered" style="text-align:center">'.$i.'</td>
						<td class="bordered" style="text-align:center">'.date('d-m-Y', strtotime($list['tanggal'])).'</td>
						<td class="bordered">'.$list['item_code'].'</td>
						<td class="bordered">'.$list['barcode'].'</td>
						<td class="bordered">'.$list['description'].'</td>
						<td class="bordered" style="text-align:right">'.number_format($harga,0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($hpp,0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['qty'],0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($marginhp,0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($marginpersen,0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($slsbt,0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($tax,0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($slsat,0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($LR,0,",",".").'</td>
					</tr>';
					$i++;
				}
				
				$html .= '
				<tr>
					<td class="bordered" colspan="8" align="right"><b>Total</b></td>
					<td class="bordered" style="text-align:right">'.number_format($totalMarginh,0,",",".").'</td>
					<td class="bordered" style="text-align:right">'.number_format($totalMarginp,0,",",".").'</td>
					<td class="bordered" style="text-align:right">'.number_format($totalSBT,0,",",".").'</td>
					<td class="bordered" style="text-align:right">'.number_format($totalTax,0,",",".").'</td>
					<td class="bordered" style="text-align:right">'.number_format($totalSAT,0,",",".").'</td>
					<td class="bordered" style="text-align:right">'.number_format($total,0,",",".").'</td>
				</tr>
				</tbody>
			</table>
			</page>
		';
	}else{
		$html .= '';
	}

	$html2pdf = new Html2Pdf('L', 'A4', 'en', true, 'UTF-8', array(1, 6, 5, 5));
	$html2pdf->writeHTML($html);
	$html2pdf->output();
	
	// $mpdf->WriteHTML($html);
	// $mpdf->useSubstitutions = false;
	// $mpdf->simpleTables = true;
	// $mpdf->Output("SalesReport(".date('d-m-Y', strtotime($_GET['from']))." - ".date('d-m-Y', strtotime($_GET['to'])).").pdf", "D");
	exit;
	
?>

