<?php
	ini_set('memory_limit','-1');
	set_time_limit(0);
	$total = 0;
	$piutang_member = 0;
	
	$from = $_GET['from'];
	$to = $_GET['to'];
	
	$data = new ProductMove();
	$t_jual = new Jual();
	$jual_detail = new JualDetail();
	$join = $t_jual::Join_JualDetail($from, $to);
	$lists = $data::Join_JualDetail2($from, $to);
	$lists_tmuk = TMUK::getAll();

	$piutang_member     = $t_jual->getTotalPembayaranCetak(['PIUTANG'], $from, $to);
	$point_member       = $t_jual->getTotalPembayaranCetak(['POINT'], $from, $to);
	$potongan_voucher	= $t_jual->getTotalPembayaranCetak(['VOUCHER'], $from, $to);
	$potongan_diskon 	= $jual_detail->getTotalDiskonCetak($from, $to);
	$potongan_member 	= $jual_detail->getTotalMemberCetak($from, $to);

	$potongan_penjualan = $potongan_voucher + $potongan_diskon + $potongan_member;

	
	if(count($lists) < 1){
			$this->flashSession->success("Gagal;Tidak ada data.;error");
			return $this->response->redirect(uri('Laporan'));
		}
	
	foreach($lists_tmuk as $tmuk){
		$tmuk_code = $tmuk['tmuk'];
		$tmuk_name = $tmuk['name'];
		$address1 = $tmuk['address1'];
		$tmuk_telp = $tmuk['telp'];
	} 
	
	require (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('','A4-L',9,'lottefont',10,10,42,2,8);
	
	if(count($lists) > 0){
		
		$html  = '
		<page orientation="landscape" format="A4" backtop="40mm" backbottom="5mm" backleft="5mm" backright="3mm" style="font-size: 12pt">
				<page_header>
		        <table class="page_header" border="0" width="" align="center">
		            <tr>
		                <td style="width: 650px;">
		                    <img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/>
		                </td>
		                <td style="width: 200px;">
		                    <p class="title" style="font-size: 25px;">SALES REPORT</p>
		                </td>
		            </tr>
		            <tr>
		                <td>Halaman [[page_cu]] dari [[page_nb]]</td>
		                <td style="font-size: 12px;"><b>IMM/TMUK Store : </b><br/>
			                    '.$tmuk_name.' ('.$tmuk_code.') <br/>
			                    '.$address1.'<br/>
			                    '.$tmuk_telp.'</td>
		            </tr>
		            <tr>
		                <td>User : '.$this->session->get("user")["user_name"].'</td>
		                <td></td>
		            </tr>
		        </table>
		    </page_header>
		    <br>
		';
		
		$html .= '
			<style>
				table {
					
					border: 1px solid #000;
					border-collapse: collapse;
				}
				
				.bordered {
					padding: 3px;
					border: 1px solid #000;
					vertical-align: middle;
					font-size: 9px;
				}
				
				.bordered-outer {
					padding: 3px;
					border-top: 1px solid #000;
					border-bottom: 1px solid #000;
					vertical-align: middle;
				}
			</style>
			
			<p align="center" style="font-size:70%;">Dari : <b>'.date('d-m-Y', strtotime($_GET['from'])).'</b>&nbsp;&nbsp;&nbsp;&nbsp; Sampai : <b>'.date('d-m-Y', strtotime($_GET['to'])).'</b> </p>
			<table style="width:100%;margin-top:5px;border:0" repeat_header="1" align="center">
				<thead><tr>
					<th class="bordered" style="text-align:center;">No</th>
					<th class="bordered" style="text-align:center;">Tanggal</th>
					<th class="bordered" style="text-align:center;">Kode Barang</th>
					<th class="bordered" style="text-align:center;">Barcode</th>
					<th class="bordered" style="text-align:center;">Nama Barang</th>
					<th class="bordered" style="text-align:center;">Harga Jual</th>
					<th class="bordered" style="text-align:center;">Diskon</th>
					<th class="bordered" style="text-align:center;">HPP</th>
					<th class="bordered" style="text-align:center;">Qty</th>
					<th class="bordered" style="text-align:center;">Margin (Rp)</th>
					<th class="bordered" style="text-align:center;">Margin (%)</th>
					<th class="bordered" style="text-align:center;">Sales Before PPN</th>
					<th class="bordered" style="text-align:center;">PPN</th>
					<th class="bordered" style="text-align:center;">Sales After PPN</th>
					<th class="bordered" style="text-align:center;">Laba / Rugi</th>
				</tr></thead><tbody>';
				$i = 1;
				$totalSAT =0;
				foreach ($join as $key => $val) {
					$jd = new JualDetail();
					$cek = $jd::getJoin_Product100($val['id_jual']);
					foreach ($cek as $key => $data) {
						if(count($data) > 0){
							// $jual_detail = new JualDetail();
							// $condition = " WHERE \"item_code\" = '".$data['item_code']."' AND \"id_jual\" = '".$val['id_jual']."' LIMIT 1";
							// $aa = $jual_detail::getFreeSQL2($condition);

							$mpp = new ProductPrice();
							$condition = " WHERE \"stock_id\" = '".$data['item_code']."' ";
							$price = $mpp::getFreeSQL($condition);

							if($data){
								$aharga_hpp = $data['harga_hpp3'];
								$aharga_jual = $data['harga'];
								$adiscount = $data['discount'];
								$aharga_total = $data['total'];
							}else{
								$aharga_hpp = $price['0']['average_cost'];
								if($price['0']['uom1_changed_price'] > 0){
									$aharga_jual = $price['0']['uom1_changed_price'];
								}else{
									$aharga_jual = $price['0']['uom1_rounding_price'];
								}
								$adiscount = 0;
								$aharga_total = 0;
							}

							if($adiscount > 0){
								$adiskon = ($adiscount / $data['qty']);
								$aharga = ($aharga_total / $data['qty']);
							}else{
								$adiskon = 0;
								$aharga = $aharga_jual;
							}

							$ahpp = $aharga_hpp;
							$aLR = ($aharga_total) - ($ahpp * $data['qty']);

							$aslsbt = ($aharga_total / 1.1);
							$aslsat = ($aharga_total);
							$atax = ($aslsat - $aslsbt);	
							$amarginhp = ($aharga - $ahpp);
							$amarginpersen = ($amarginhp / $ahpp * 100);

							$atotal += $aLR;
							$atotalSBT += $aslsbt;
							$atotalSAT += $aslsat;
							$atotalTax += $atax;
							$atotalMarginh += $amarginhp;
							$atotalMarginp += $amarginpersen;
							$total_hpp += ($ahpp * $data['qty']);

							$html .= '<tr>
							<td class="bordered" style="text-align:center">'.$i.'</td>
							<td class="bordered" style="text-align:center">'.date('d-m-Y', strtotime($val['tanggal'])).'</td>
							<td class="bordered">'.$data['item_code'].'</td>
							<td class="bordered">'.$data['barcode'].'</td>
							<td class="bordered">'.$data['description'].'</td>
							<td class="bordered" style="text-align:right">'.number_format($aharga,0,",",".").'</td>
							<td class="bordered" style="text-align:right">'.number_format($adiskon,0,",",".").'</td>
							<td class="bordered" style="text-align:right">'.number_format($ahpp,0,",",".").'</td>
							<td class="bordered" style="text-align:right">'.number_format($data['qty'],0,",",".").'</td>
							<td class="bordered" style="text-align:right">'.number_format($amarginhp,0,",",".").'</td>
							<td class="bordered" style="text-align:right">'.number_format($amarginpersen,0,",",".").'</td>
							<td class="bordered" style="text-align:right">'.number_format($aslsbt,0,",",".").'</td>
							<td class="bordered" style="text-align:right">'.number_format($atax,0,",",".").'</td>
							<td class="bordered" style="text-align:right">'.number_format($aslsat,0,",",".").'</td>
							<td class="bordered" style="text-align:right">'.number_format($aLR,0,",",".").'</td>
							</tr>';
							$i++;
						}
					}
				}
				// $html .= '
				// 			<tr>
				// 				<td class="bordered" colspan="9" align="right"><b>Total</b></td>
				// 				<td class="bordered" style="text-align:right">'.number_format(($atotalMarginh),0,",",".").'</td>
				// 				<td class="bordered" style="text-align:right">'.number_format(($atotalMarginp),0,",",".").'</td>
				// 				<td class="bordered" style="text-align:right">'.number_format(($atotalSBT),0,",",".").'</td>
				// 				<td class="bordered" style="text-align:right">'.number_format(($atotalTax),0,",",".").'</td>
				// 				<td class="bordered" style="text-align:right">'.number_format(($atotalSAT),0,",",".").'</td>
				// 				<td class="bordered" style="text-align:right">'.number_format(($atotal),0,",",".").'</td>
				// 			</tr>
				// 		</tbody>
				// 	</table>
				// </page>
				// ';
		$total = $atotalSAT + $potongan_penjualan + $piutang_member + $point_member;
		$marginRp = $total - $total_hpp;
		$marginPersen = ($marginRp / $total) * 100;
		$html .= '
				<tr>
					<td class="bordered" colspan="13" align="right" style="border-bottom:none;border-left:none;"></td>
					<td class="bordered" align="left"><b>Total Penjualan</b></td>
					<td class="bordered" style="text-align:right">'.number_format(($total),0,",",".").'</td>
				</tr>
				<tr>
					<td class="bordered" colspan="13" align="right" style="border-bottom:none;border-left:none;"></td>
					<td class="bordered" align="left"><b>Total Penjualan Tunai</b></td>
					<td class="bordered" style="text-align:right">'.number_format(($atotalSAT),0,",",".").'</td>
				</tr>
				<tr>
					<td class="bordered" colspan="13" align="right" style="border-bottom:none;border-left:none;"></td>
					<td class="bordered" align="left"><b>Total Hpp Penjualan</b></td>
					<td class="bordered" style="text-align:right">'.number_format(($total_hpp),0,",",".").'</td>
				</tr>
				<tr>
					<td class="bordered" colspan="13" align="right" style="border-bottom:none;border-left:none;"></td>
					<td class="bordered" align="left"><b>Profit</b></td>
					<td class="bordered" style="text-align:right">'.number_format(($marginRp),0,",",".").'</td>
				</tr>
				<tr>
					<td class="bordered" colspan="13" align="right" style="border-bottom:none;border-left:none;"></td>
					<td class="bordered" align="left"><b>Margin %</b></td>
					<td class="bordered" style="text-align:right">'.number_format(($marginPersen),0,",",".").' % </td>
				</tr>
				</tbody>
			</table>
			</page>
		';
	}else{
		$html .= '';
	}

	$html2pdf = new Html2Pdf('L', 'A4', 'en', true, 'UTF-8', array(1, 6, 5, 5));
	$html2pdf->writeHTML($html);
	$html2pdf->output();
	
	// $mpdf->WriteHTML($html);
	// $mpdf->useSubstitutions = false;
	// $mpdf->simpleTables = true;
	// $mpdf->Output("SalesReport(".date('d-m-Y', strtotime($_GET['from']))." - ".date('d-m-Y', strtotime($_GET['to'])).").pdf", "D");
	exit;
	
?>