<?php
	ini_set('memory_limit','-1');
	set_time_limit(0);
	$data = new Product();
	$cond1 = " WHERE tran_date <= '".$_GET['to']."' AND status_flag !='2' ";
	$cond2 = " HAVING SUM(qty) <= 0 ";
	$lists = $data::getJoin_ProductMove3($cond1, $cond2);
	$lists_tmuk = TMUK::getAll();
	
	if(count($lists) < 1){
			$this->flashSession->success("Gagal;Tidak ada data.;error");
			return $this->response->redirect(uri('Laporan'));
		}

	
	foreach($lists_tmuk as $tmuk){
		$tmuk_code = $tmuk['tmuk'];
		$tmuk_name = $tmuk['name'];
		$address1 = $tmuk['address1'];
		$tmuk_telp = $tmuk['telp'];
	} 
	
	require (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('','A4-L',9,'lottefont',10,10,42,2,8);
	
	if(count($lists) > 0){
		
		// $html  = '
		// 	<htmlpageheader name="firstpage" style="display:none">
		// 		<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/Logo_Lotte.png" width="120" height="60"/></div>		
		// 		<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">STOCK REPORT</div>
				
		// 		<br/><br/>
		// 		<p style="width:360px;float:left">
		// 			Halaman {PAGENO}/{nbpg}<br/>
		// 			'.date('d/m/Y H:i:s').'<br/>
		// 			User : '.$this->session->get("user")["user_name"].'
		// 		</p>
				
		// 		<p style="width:auto;" align="right">
		// 			<b>IMM/TMUK Store : </b><br/>
		// 			'.$tmuk_name.' ('.$tmuk_code.') <br/>
		// 			'.$address1.'<br/>
		// 			'.$tmuk_telp.' 
		// 		</p>
		// 	</htmlpageheader>

		// 	<htmlpageheader name="otherpages" style="display:none">
		// 		<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/Logo_Lotte.png" width="120" height="60"/></div>		
		// 		<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">STOCK REPORT</div>
				
		// 		<br/><br/>
		// 		<p style="width:360px;float:left">
		// 			Halaman {PAGENO}/{nbpg}<br/>
		// 			'.date('d/m/Y H:i:s').'<br/>
		// 			User : '.$this->session->get("user")["user_name"].'
		// 		</p>
		// 	</htmlpageheader>
			
		// 	<sethtmlpageheader name="firstpage" value="on" show-this-page="1" />
		// 	<sethtmlpageheader name="otherpages" value="on" />
		// ';
		
		$html  = '
		<page orientation="landscape" format="A4" backtop="60mm" backbottom="5mm" backleft="10mm" backright="10mm" style="font-size: 12pt">
				<page_header>
		        <table class="page_header" border="0" width="" align="center">
		            <tr>
		                <td style="width: 650px;">
		                    <img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/>
		                </td>
		                <td style="width: 200px;">
		                    <p class="title" style="font-size: 25px;">STOCK KOSONG REPORT</p>
		                </td>
		            </tr>
		            <tr>
		                <td>Halaman [[page_cu]] dari [[page_nb]]</td>
		                <td style="font-size: 12px;"><b>IMM/TMUK Store : </b><br/>
			                    '.$tmuk_name.' ('.$tmuk_code.') <br/>
			                    '.$address1.'<br/>
			                    '.$tmuk_telp.'</td>
		            </tr>
		            <tr>
		                <td>User : '.$this->session->get("user")["user_name"].'</td>
		                <td></td>
		            </tr>
		        </table>
		    </page_header>
		    <br>
		';
		
		$html .= '
			<style>					
				table {
					
					border: 1px solid #000;
					border-collapse: collapse;
				}
				
				.bordered {
					padding: 3px;
					border: 1px solid #000;
					vertical-align: middle;
					font-size: 9px;
				}
			</style>	
			
			<p align="center" style="font-size:70%;">Dari : <b>'.date('d-m-Y', strtotime($_GET['from'])).'</b>&nbsp;&nbsp;&nbsp;&nbsp; Sampai : <b>'.date('d-m-Y', strtotime($_GET['to'])).'</b> </p>
			<table style="width:100%;margin-top:5px;border:0" repeat_header="1">
				<thead><tr>
					<td class="bordered" style="width:4%;text-align:center;"><b>No.</b></td>
					<td class="bordered" style="width:10%;text-align:center;"><b>Departemen</b></td>
					<td class="bordered" style="width:10%;text-align:center;"><b>Kategori</b></td>
					<td class="bordered" style="width:8%;text-align:center;"><b>Lotte / Non Lotte</b></td>
					<td class="bordered" style="width:12%;text-align:center;"><b>Kode Barang</b></td>
					<td class="bordered" style="width:12%;text-align:center;"><b>Barcode</b></td>
					<td class="bordered" style="width:24%;text-align:center;"><b>Nama Barang</b></td>
					<td class="bordered" style="width:7%;text-align:center;"><b>MAP</b></td>
					<td class="bordered" style="width:6%;text-align:center;"><b>Kuantitas</b></td>
					<td class="bordered" style="width:9%;text-align:center;"><b>Nilai</b></td>
				</tr></thead>';
				
				$count = 0;
				foreach($lists as $list){
					if($list['supplied_by'] == 001){
						$supplied = 'Trade Lotte';
					}
					if($list['supplied_by'] == 002){
						$supplied = 'Trade Non Lotte';
					}
					if($list['supplied_by'] == 003){
						$supplied = 'Non Trade Lotte';
					}
					if($list['supplied_by'] == 004){
						$supplied = 'Non Trade Non Lotte';
					}

					if($list['supplied_by'] == ''){
						$supplied = '';
					}
					
					$totalMap += $list['uom1_harga'];
					$persediaan += $list['nilai_persediaan'];
					$harga += ($list['uom1_harga'] * $list['nilai_persediaan']);
					$count++;
					$html .= '<tbody><tr>
						<td class="bordered" style="text-align:center">'.$count.'.</td>
						<td class="bordered">'.$list['bumun_nm'].'</td>
						<td class="bordered">'.$list['l1_nm'].'</td>
						<td class="bordered">'.$supplied.'</td>
						<td class="bordered">'.$list['stock_id'].'</td>
						<td class="bordered">'.$list['uom_ib'].'</td>
						<td class="bordered">'.$list['description'].'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['uom1_harga'],0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.$list['nilai_persediaan'].'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['uom1_harga'] * $list['nilai_persediaan'],0,",",".").'</td>
					</tr></tbody>';
				}
				
				$html .= '
				<tr>
					<td class="bordered" colspan="7" align="right"><b>Total</b></td>
					<td class="bordered" style="text-align:right">'.number_format($totalMap,0,",",".").'</td>
					<td class="bordered" style="text-align:right">'.number_format($persediaan,0,",",".").'</td>
					<td class="bordered" style="text-align:right">'.number_format($harga,0,",",".").'</td>
				</tr>
			</table>
			</page>
		';
	}else{
		$html .= '';
	}

	$html2pdf = new Html2Pdf('L', 'A4', 'en', true, 'UTF-8', array(1, 6, 5, 5));
	$html2pdf->writeHTML($html);
	$html2pdf->output();

	// $mpdf->WriteHTML($html);
	// $mpdf->useSubstitutions = false;
	// $mpdf->simpleTables = true;
	// $mpdf->Output("Stock0_Report(".date('d-m-Y', strtotime($_GET['from']))." - ".date('d-m-Y', strtotime($_GET['to'])).").pdf", "D");
	exit;
	
?>

