<?php

	$data = new JualSum();
	$condition = " WHERE tanggal >= '".$_GET['from']."' AND tanggal <= '".$_GET['to']."' GROUP BY tanggal, id_kasir, kassa_id, shift_id ORDER BY tanggal ";
	$lists = $data::Summarize($condition);
	$lists_tmuk = TMUK::getAll();
	if(count($lists) < 1){
			$this->flashSession->success("Gagal;Tidak ada data.;error");
			return $this->response->redirect(uri('Laporan'));
		}
	
	require (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('','A4',9,'lottefont',10,10,42,2,8);
	
	foreach($lists_tmuk as $tmuk){
		$tmuk_code = $tmuk['tmuk'];
		$tmuk_name = $tmuk['name'];
		$address1 = $tmuk['address1'];
		$tmuk_telp = $tmuk['telp'];
	} 
	
	if(count($lists) > 0){
		$html  = '
			<htmlpageheader name="firstpage" style="display:none">
				<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>		
				<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">SALES REPORT</div>
				
				<br/>
				<p style="width:360px;float:left">
					Halaman {PAGENO}/{nbpg}<br/>
					'.date('d/m/Y H:i:s').'<br/>
					User : '.$this->session->get("user")["user_name"].'
				</p>
				
				<p style="width:auto;" align="right">
					<b>IMM/TMUK Store : </b><br/>
					'.$tmuk_name.' ('.$tmuk_code.') <br/>
					'.$address1.'<br/>
					'.$tmuk_telp.' 
				</p>
			</htmlpageheader>

			<htmlpageheader name="otherpages" style="display:none">
				<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>	
				<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">SALES REPORT</div>
				
				<br/>
				<p style="width:360px;float:left">
					Halaman {PAGENO}/{nbpg}<br/>
					'.date('d/m/Y H:i:s').'<br/>
					User : '.$this->session->get("user")["user_name"].'
				</p>
			</htmlpageheader>
			
			<sethtmlpageheader name="firstpage" value="on" show-this-page="1" />
			<sethtmlpageheader name="otherpages" value="on" />
		';
		
		$html .= '
			<style>
				table {
					
					border: 1px solid #000;
					border-collapse: collapse;
				}
				
				.bordered {
					padding: 10px 3px;
					border-top: 1px solid #000;
					border-bottom: 1px solid #000;
				}
				
				.bordered_row {
					padding-top: 6px;
				}
			</style>
			
			<p align="center">Dari : <b>'.date('d-m-Y', strtotime($_GET['from'])).'</b>&nbsp;&nbsp;&nbsp;&nbsp; Sampai : <b>'.date('d-m-Y', strtotime($_GET['to'])).'</b> </p>
			<table style="width:100%;margin-top:5px;border:0" align="center"><thead>
				<tr>
					<th class="bordered">Tanggal</th>
					<th class="bordered">Sub Total</th>
					<th class="bordered">Tax</th>
					<th class="bordered">Diskon</th>
					<th class="bordered">Total</th>
					<th class="bordered">Kembalian</th>
				</tr></thead><tbody>';
				
				foreach($lists as $list){
					$html .= '<tr>
						<td class="bordered_row" style="text-align:center">'.date('d-m-Y', strtotime($list['tanggal'])).'</td>
						<td class="bordered_row" style="text-align:right">'.number_format($list['sum_s'],0,",",".").'</td>
						<td class="bordered_row" style="text-align:right">'.number_format($list['sum_tx'],0,",",".").'</td>
						<td class="bordered_row" style="text-align:right">'.number_format($list['sum_d'],0,",",".").'</td>
						<td class="bordered_row" style="text-align:right">'.number_format($list['sum_t'],0,",",".").'</td>
						<td class="bordered_row" style="text-align:right">'.number_format($list['sum_k'],0,",",".").'</td>
					</tr>';
				}
				
				$html .= '</tbody>
			</table>
		';
	}else{
		$html .= '';
	}
	
	$mpdf->WriteHTML($html);
	$mpdf->Output("SalesSummaryReport(".date('d-m-Y', strtotime($_GET['from']))." - ".date('d-m-Y', strtotime($_GET['to'])).").pdf", "D");
	exit;
	
?>

