<?php
	$total = 0;
	$data = new PO();
	$condition = " WHERE order_date >= '".$_GET['from']."' AND order_date <= '".$_GET['to']."' ";
	$lists = $data::getJoin($condition);
	$lists_tmuk = TMUK::getAll();

	if(count($lists) < 1){
			$this->flashSession->success("Gagal;Tidak ada data.;error");
			return $this->response->redirect(uri('Laporan'));
	}
	
	foreach($lists_tmuk as $tmuk){
		$tmuk_code = $tmuk['tmuk'];
		$tmuk_name = $tmuk['name'];
		$address1 = $tmuk['address1'];
		$tmuk_telp = $tmuk['telp'];
	} 
	
		$html  = '
		<page orientation="landscape" format="A4" backtop="40mm" backbottom="0mm" backleft="0mm" backright="0mm">
				<page_header>
		        <table class="page_header" border="0" width="" align="center">
		            <tr>
		                <td style="width: 650px;">
		                    <img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/>
		                </td>
		                <td style="width: 200px;">
		                    <p class="title" style="font-size: 25px;">PO REPORT</p>
		                </td>
		            </tr>
		            <tr>
		                <td>Halaman [[page_cu]] dari [[page_nb]]</td>
		                <td style="font-size: 12px;"><b>IMM/TMUK Store : </b><br/>
			                    '.$tmuk_name.' ('.$tmuk_code.') <br/>
			                    '.$address1.'<br/>
			                    '.$tmuk_telp.'</td>
		            </tr>
		            <tr>
		                <td>User : '.$this->session->get("user")["user_name"].'</td>
		                <td></td>
		            </tr>
		        </table>
		    </page_header>
		    <br>
		';
		
		$html .= '
			<style type="text/css">
				table {
					
					border: 1px solid #000;
					border-collapse: collapse;
					max-width: 2480px;
				    width:100%;
				}

				.c {
					word-break: break-all;
				}
				
				.bordered {
					padding: 2.5px;
					border: 1px solid #000;
					vertical-align: middle;
					font-size: 9px;
				}
			</style>
			
			<p align="center" style="font-size:70%;">Dari : <b>'.date('d-m-Y', strtotime($_GET['from'])).'</b>&nbsp;&nbsp;&nbsp;&nbsp; Sampai : <b>'.date('d-m-Y', strtotime($_GET['to'])).'</b> </p>
			<table style="width:100%;margin-top:5px;border:0" repeat_header="1" align="center">
				<thead><tr>
					<td class="bordered" style="text-align:center;width:2%;" rowspan="2"><b>No</b></td>
					<td class="bordered" style="text-align:center;width:12%;" rowspan="2"><b>Nomor PO</b></td>
					<td class="bordered" style="text-align:center;width:6%;" rowspan="2"><b>Tanggal Pesan</b></td>
					<td class="bordered" style="text-align:center;width:7%;" rowspan="2"><b>Kode Barang</b></td>
					<td class="bordered" style="text-align:center;width:22%;" rowspan="2"><b>Nama Barang</b></td>
					<td class="bordered" style="text-align:center;width:15%;" colspan="3"><b>Info Beli</b></td>
					<td class="bordered" style="text-align:center;width:15%;" colspan="3"><b>Info Jual</b></td>
					<td class="bordered" style="text-align:center;width:7%;" rowspan="2" colspan="2"><b>Jumlah PO</b></td>
					<td class="bordered" style="text-align:center;width:6%;" rowspan="2"><b>Harga Satuan</b></td>
					<td class="bordered" style="text-align:center;width:7%;" rowspan="2"><b>Total Harga</b></td>
				</tr>
				<tr>
					<td class="bordered"><b>Jumlah</b></td>
					<td class="bordered"><b>Satuan</b></td>
					<td class="bordered"><b>Barcode</b></td>
					<td class="bordered"><b>Jumlah</b></td>
					<td class="bordered"><b>Satuan</b></td>
					<td class="bordered"><b>Barcode</b></td>
				</tr></thead>
			<tbody>';
				$i=1;
				foreach($lists as $list){
					$total += $list['po_price'];
					$html .= '<tr>
						<td class="bordered" style="text-align:center;">'.$i.'</td>
						<td class="bordered" style="text-align:center;">'.$list['po_no_ref'].'</td>
						<td class="bordered" style="text-align:center;">'.date('d-m-Y', strtotime($list['order_date'])).'</td>
						<td class="bordered" style="text-align:center;">'.$list['item_code'].'</td>
						<td class="bordered">'.$list['description'].'</td>
						<td class="bordered" style="text-align:center">'.$list['uom_o_conversion'].'</td>
						<td class="bordered">'.$list['uom_o_type'].'</td>
						<td class="bordered">'.$list['uom_o_barcode'].'</td>
						<td class="bordered" style="text-align:center">'.$list['uom_s_conversion'].'</td>
						<td class="bordered">'.$list['uom_s_type'].'</td>
						<td class="bordered">'.$list['uom_s_barcode'].'</td>
						<td class="bordered" style="text-align:center">'.$list['qty_po'].'</td>
						<td class="bordered">'.$list['unit_po'].'</td>
						<td class="bordered" style="text-align:right;">'.number_format($list['po_unit_price'],0,",",".").'</td>
						<td class="bordered" style="text-align:right;">'.number_format($list['po_price'],0,",",".").'</td>
					</tr>';
					$i++;
				}
				
				$html .= '
				<tr>
					<td class="bordered" colspan="14" align="right"><b>Total</b></td>
					<td class="bordered" style="text-align:right">'.number_format($total,0,",",".").'</td>
				</tr>
			</tbody>
			</table>
		</page>
		';

	$html2pdf = new Html2Pdf('L', 'A4', 'en', true, 'UTF-8', array(5, 5, 5, 5));
    $html2pdf->writeHTML($html, false);
	$html2pdf->output();
	exit;
?>

