<?php
	$lists_tmuk = TMUK::getAll();
	
	foreach($lists_tmuk as $tmuk){
		$tmuk_code = $tmuk['tmuk'];
		$tmuk_name = $tmuk['name'];
		$tmuk_telp = $tmuk['telp'];
		$address1 = $tmuk['address1'];
	}
	
	require (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('','A4-L',9,'lottefont',10,10,42,2,8);
	
	$mac = $this->di['api']['mac'];
	$mac = md5($mac);
	$b =  $this->di['api']['link']."mutasi.php?mac=".$mac."&from=".$_GET['from']."&to=".$_GET['to']."&tmuk=".$tmuk_code;

	$curlHandle = curl_init(); 
	curl_setopt($curlHandle, CURLOPT_URL, $b); 
	curl_setopt($curlHandle, CURLOPT_HEADER, 0);
	curl_setopt($curlHandle, CURLOPT_RETURNTRANSFER, 1);
	curl_setopt($curlHandle, CURLOPT_TIMEOUT, 30);
	curl_setopt($curlHandle, CURLOPT_POST, 0);
	$c = curl_exec($curlHandle);
	if(!$c){
		//echo 'CURL Error:'.curl_error($curlHandle);
	}else{
		//echo $c; 
	}
	
	$json = json_decode($c, true);
	$saldo = $json['saldo_awal'];
	
	$count = 0;
	if(count($json['posts']) > 0){
		
		$html  = '
			<htmlpageheader name="firstpage" style="display:none">
				<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>			
				<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">ARUS KAS REPORT</div>
				
				<br/><br/>
				<p style="width:360px;float:left">
					Halaman {PAGENO}/{nbpg}<br/>
					'.date('d/m/Y H:i:s').'<br/>
					User : '.$this->session->get("user")["user_name"].'
				</p>
				
				<p style="width:auto;" align="right">
					<b>IMM/TMUK Store : </b><br/>
					'.$tmuk_name.' ('.$tmuk_code.') <br/>
					'.$address1.'<br/>
					'.$tmuk_telp.' 
				</p>
			</htmlpageheader>

			<htmlpageheader name="otherpages" style="display:none">
				<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>			
				<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">ARUS KAS REPORT</div>
				
				<br/><br/>
				<p style="width:360px;float:left">
					Halaman {PAGENO}/{nbpg}<br/>
					'.date('d/m/Y H:i:s').'<br/>
					User : '.$this->session->get("user")["user_name"].'
				</p>
			</htmlpageheader>
			
			<sethtmlpageheader name="firstpage" value="on" show-this-page="1" />
			<sethtmlpageheader name="otherpages" value="on" />
		';
		
		$html .= '
			<style>			
				table {
					
					border: 1px solid #000;
					border-collapse: collapse;
				}
				
				.bordered {
					padding: 10px 3px;
					border-top: 1px solid #000;
					border-bottom: 1px solid #000;
				}
				
				.bordered_row {
					padding-top: 6px;
				}
			</style>
			
			<p align="center">Dari : <b>'.date('d-m-Y', strtotime($_GET['from'])).'</b>&nbsp;&nbsp;&nbsp;&nbsp; Sampai : <b>'.date('d-m-Y', strtotime($_GET['to'])).'</b> </p>
			<table style="width:100%;margin-top:5px;border:0;" repeat_header="1" align="center">
				<thead>
					<tr>
						<th class="bordered" style="text-align:center;width:16%">No. Transaksi</th>
						<th class="bordered" style="text-align:center;width:16%">Tanggal</th>
						<th class="bordered" style="text-align:center;width:16%">Keterangan</th>
						<th class="bordered" style="text-align:center;width:16%">Mutasi</th>
						<th class="bordered" style="text-align:center;width:16%"></th>
						<th class="bordered" style="text-align:center;width:16%">Saldo</th>
					</tr>
				</thead>';
				
				foreach($json['posts'] as $mj){
					$count++;
					
					$html .= '<tbody><tr>
						<td class="bordered_row">'.$count.'.</td>
						<td class="bordered_row" style="text-align:center">'.date('d/m/Y', strtotime($mj['post']['tran_date'])).'</td>
						<td class="bordered_row" style="text-align:center">'.$mj['post']['notes'].'</td>
						<td class="bordered_row" style="text-align:right">'.number_format($mj['post']['amount'],0,",",".").'</td>
						<td class="bordered_row" style="text-align:right">'.($mj['post']['amount'] > 0 ? 'Debet' : 'Kredit').'</td>
						<td class="bordered_row" style="text-align:right">'.number_format(($saldo += $mj['post']['amount']),0,",",".").'</td>
					</tr></tbody>';
				}
				
				$html .= '
			</table>
		';
	}else{
		$html .= '';
	}
	
	$mpdf->WriteHTML($html);
	$mpdf->Output("ArusKasReport(".date('d-m-Y', strtotime($_GET['from']))." - ".date('d-m-Y', strtotime($_GET['to'])).").pdf", "D");
	exit;
	
?>

