<?php
	$total = 0;
	$data = new Product();
	$condition = " WHERE tanggal >= '".$_GET['from']."' AND tanggal <= '".$_GET['to']."' ";
	$lists = $data::getJoin_JualDetail($condition);
	$lists_tmuk = TMUK::getAll();

	if(count($lists) <= 0){
		$this->flashSession->success("Gagal;Tidak ada data.;error");
		return $this->response->redirect(uri('Laporan'));
	}
	
	foreach($lists_tmuk as $tmuk){
		$tmuk_code = $tmuk['tmuk'];
		$tmuk_name = $tmuk['name'];
		$address1 = $tmuk['address1'];
		$tmuk_telp = $tmuk['telp'];
	} 
	
	/*print_r($lists); echo "<br/>";
	print_r($lists_tmuk);*/
	
	require (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('','A4-L',9,'lottefont',10,10,42,2,8);
	
	if(count($lists) > 0){
		
		$html = '
			<htmlpageheader name="firstpage" style="display:none">
				<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>			
				<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">LABA/RUGI REPORT</div>
				
				<br/><br/>
				<p style="width:360px;float:left">
					Halaman {PAGENO}/{nbpg}<br/>
					'.date('d/m/Y H:i:s').'<br/>
					User : '.$this->session->get("user")["user_name"].'
				</p>
				
				<p style="width:auto;" align="right">
					<b>IMM/TMUK Store : </b><br/>
					'.$tmuk_name.' ('.$tmuk_code.') <br/>
					'.$address1.'<br/>
					'.$tmuk_telp.' 
				</p>
			</htmlpageheader>

			<htmlpageheader name="otherpages" style="display:none">
				<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>			
				<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">LABA/RUGI REPORT</div>
				
				<br/><br/>
				<p style="width:360px;float:left">
					Halaman {PAGENO}/{nbpg}<br/>
					'.date('d/m/Y H:i:s').'<br/>
					User : '.$this->session->get("user")["user_name"].'
				</p>
			</htmlpageheader>
			
			<sethtmlpageheader name="firstpage" value="on" show-this-page="1" />
			<sethtmlpageheader name="otherpages" value="on" />
		';
		
		$html .= '
			<style>
				table {
					
					border: 1px solid #000;
					border-collapse: collapse;
				}
				
				.bordered {
					padding: 3px;
					border: 1px solid #000;
					vertical-align: middle;
				}
			</style>
			
			<p align="center">Dari : <b>'.date('d-m-Y', strtotime($_GET['from'])).'</b>&nbsp;&nbsp;&nbsp;&nbsp; Sampai : <b>'.date('d-m-Y', strtotime($_GET['to'])).'</b> </p>
			<table style="width:100%;margin-top:5px;border:0" repeat_header="1" align="center">
				<tr>
					<th class="bordered">Tanggal</th>
					<th class="bordered">Kode Barang</th>
					<th class="bordered">Barcode</th>
					<th class="bordered">Nama Barang</th>
					<th class="bordered">Harga Jual</th>
					<th class="bordered">HPP</th>
					<th class="bordered">Qty</th>
					<th class="bordered">Sales Before Tax</th>
					<th class="bordered">Tax</th>
					<th class="bordered">Sales After Tax</th>
					<th class="bordered">Laba / Rugi</th>
					<th class="bordered">Margin (Rp)</th>
					<th class="bordered">Margin (%)</th>
				</tr>';
				
				foreach($lists as $list){
					if($list['id_member'] != ""){
						$harga_jual = $list['harga_member'];
						$LR = ($harga_jual * $list['qty']) - ($list['uom1_harga'] * $list['qty']);
					}else{
						$harga_jual = $list['harga'];
						$LR = ($harga_jual * $list['qty']) - ($list['uom1_harga'] * $list['qty']);
					}
					
					$total += $LR;
					$slsbt = ($harga_jual * $list['qty'] / 1.1);
					$slsat = ($harga_jual * $list['qty']);
					$tax = ($slsat - $slsbt);
					$marginhp = ($harga_jual - $list['uom1_harga']);
					$marginpersen = ($marginhp / $list['uom1_harga'] * 100);
					
					$html .= '<tr>
						<td class="bordered" style="text-align:center">'.date('d-m-Y', strtotime($list['tanggal'])).'</td>
						<td class="bordered">'.$list['item_code'].'</td>
						<td class="bordered">'.$list['barcode'].'</td>
						<td class="bordered">'.$list['description'].'</td>
						<td class="bordered" style="text-align:right">'.number_format($harga_jual,0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['uom1_harga'],0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['qty'],0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($slsbt,0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($tax,0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($slsat,0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($LR,0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($marginhp,0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format($marginpersen,0,",",".").'</td>
					</tr>';
				}
				
				$html .= '
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr>
					<td colspan="7" align="right"><b>Total</b></td>
					<td colspan="1" style="text-align:right">'.number_format($total,0,",",".").'</td>
				</tr>
			</table>
		';
	}else{
		$html .= '';
	}
	
	$mpdf->WriteHTML($html);
	$mpdf->Output();
	exit;
	
?>

