<?php

	$total = 0;
	$data = new Retur();
	$condition = " WHERE create_date >= '".$_GET['from']."' AND create_date <= '".$_GET['to']."' ";
	$lists = $data::getJoin_Detail_Product($condition);
	$lists_tmuk = TMUK::getAll();

	if(count($lists) <= 0){
		$this->flashSession->success("Gagal;Tidak ada data.;error");
		return $this->response->redirect(uri('Laporan'));
	}
	
	foreach($lists_tmuk as $tmuk){
		$tmuk_code = $tmuk['tmuk'];
		$tmuk_name = $tmuk['name'];
		$address1 = $tmuk['address1'];
		$tmuk_telp = $tmuk['telp'];
	} 
	
	// require (__DIR__ . '/../../library/MPDF/mpdf.php');
	// $mpdf = new mPDF('','A4-L',9,'lottefont',10,10,42,2,8);
	
	if(count($lists) > 0){
		
		// $html  = '
		// 	<page_header name="firstpage" style="display:none">
		// 		<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/Logo_Lotte.png" width="120" height="60"/></div>			
		// 		<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">RETUR REPORT</div>
				
		// 		<br/><br/>
		// 		<p style="width:360px;float:left">
		// 			Halaman {PAGENO}/{nbpg}<br/>
		// 			'.date('d/m/Y H:i:s').'<br/>
		// 			User : '.$this->session->get("user")["user_name"].'
		// 		</p>
				
		// 		<p style="width:auto;" align="right">
		// 			<b>IMM/TMUK Store : </b><br/>
		// 			'.$tmuk_name.' ('.$tmuk_code.') <br/>
		// 			'.$address1.'<br/>
		// 			'.$tmuk_telp.' 
		// 		</p>
		// 	</page_header>

		// 	<page_header name="otherpages" style="display:none">
		// 		<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/Logo_Lotte.png" width="120" height="60"/></div>				
		// 		<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">RETUR REPORT</div>
				
		// 		<br/>
		// 		<p style="width:360px;float:left">
		// 			Halaman {PAGENO}/{nbpg}<br/>
		// 			'.date('d/m/Y H:i:s').'<br/>
		// 			User : '.$this->session->get("user")["user_name"].'
		// 		</p>
		// 	</page_header>
			
		// 	<setpage_header name="firstpage" value="on" show-this-page="1" />
		// 	<setpage_header name="otherpages" value="on" />
		// ';
		$html  = '
		<page orientation="landscape" format="A4" backtop="40mm" backbottom="5mm" backleft="9mm" backright="0mm" style="font-size: 12pt">
				<page_header>
		        <table class="page_header" border="0" width="" align="center">
		            <tr>
		                <td style="width: 650px;">
		                    <img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/>
		                </td>
		                <td style="width: 200px;">
		                    <p class="title" style="font-size: 25px;">RETUR BARANG REPORT</p>
		                </td>
		            </tr>
		            <tr>
		                <td>Halaman [[page_cu]] dari [[page_nb]]</td>
		                <td style="font-size: 12px;"><b>IMM/TMUK Store : </b><br/>
			                    '.$tmuk_name.' ('.$tmuk_code.') <br/>
			                    '.$address1.'<br/>
			                    '.$tmuk_telp.'</td>
		            </tr>
		            <tr>
		                <td>User : '.$this->session->get("user")["user_name"].'</td>
		                <td></td>
		            </tr>
		        </table>
		    </page_header>
		    <br>
		';
		
		$html .= '
			<style>
				table {
					
					border: 1px solid #000;
					border-collapse: collapse;
				}
				
				.bordered {
					padding: 3px;
					border: 1px solid #000;
					vertical-align: middle;
					font-size: 10px;
				}
			</style>
			
			<p align="center" style="font-size:70%;">Dari : <b>'.date('d-m-Y', strtotime($_GET['from'])).'</b>&nbsp;&nbsp;&nbsp;&nbsp; Sampai : <b>'.date('d-m-Y', strtotime($_GET['to'])).'</b> </p>
			<table style="width:10%;margin-top:5px;border:0">
				<thead><tr>
					<th class="bordered" rowspan="2" style="text-align:center">No</th>
					<th class="bordered" rowspan="2" style="text-align:center">Nomor Retur</th>
					<th class="bordered" rowspan="2" style="text-align:center">Kode Barang</th>
					<th class="bordered" rowspan="2" style="text-align:center;width:22%;">Nama Barang</th>
					<th class="bordered" colspan="3" style="text-align:center">Info Retur</th>
					<th class="bordered" colspan="3" style="text-align:center">Info Jual</th>
					<th class="bordered" rowspan="2" colspan="2" style="text-align:center">Jumlah Retur</th>
					<th class="bordered" rowspan="2" style="text-align:center">Harga Satuan</th>
					<th class="bordered" rowspan="2" style="text-align:center">Total</th>
				</tr>
				<tr>
					<th class="bordered" style="text-align:center">Jumlah</th>
					<th class="bordered" style="text-align:center">Satuan</th>
					<th class="bordered" style="text-align:center">Barcode</th>
					<th class="bordered" style="text-align:center">Jumlah</th>
					<th class="bordered" style="text-align:center">Satuan</th>
					<th class="bordered" style="text-align:center">Barcode</th>
				</tr></thead><tbody>';
				$i=1;
				foreach($lists as $list){
					$total += $list['qty_retur'] * $list['retur_unit_price'];
					$html .= '<tr>
						<td class="bordered" style="text-align:center">'.$i.'</td>
						<td class="bordered">'.$list['retur_no'].'</td>
						<td class="bordered">'.$list['item_code'].'</td>
						<td class="bordered">'.$list['description'].'</td>
						<td class="bordered" style="text-align:center">'.$list['uom_r_conversion'].'</td>
						<td class="bordered" style="text-align:center">'.$list['uom_r_type'].'</td>
						<td class="bordered">'.$list['uom_r_barcode'].'</td>
						<td class="bordered" style="text-align:center">'.$list['uom_s_conversion'].'</td>
						<td class="bordered" style="text-align:center">'.$list['uom_s_type'].'</td>
						<td class="bordered">'.$list['uom_s_barcode'].'</td>
						<td class="bordered" style="text-align:center">'.$list['qty_retur'].'</td>
						<td class="bordered" style="text-align:center">'.$list['unit_retur'].'</td>
						<td class="bordered" style="text-align:right">'.number_format($list['retur_unit_price'],0,",",".").'</td>
						<td class="bordered" style="text-align:right">'.number_format(($list['qty_retur'] * $list['retur_unit_price']),0,",",".").'</td>
					</tr>';
					$i++;
				}
				
				$html .= '
				<tr>
					<td class="bordered" colspan="13" align="right"><b>Total</b></td>
					<td class="bordered" style="text-align:right">'.number_format($total,0,",",".").'</td>
				</tr>
				</tbody>
			</table>
			</page>
		';
	}else{
		$html .= '';
	}
	
	$html2pdf = new Html2Pdf('L', 'A4', 'en', true, 'UTF-8', array(1, 6, 5, 5));
	$html2pdf->writeHTML($html);
	$html2pdf->output();
	exit;
	
?>

