<?php	
	ini_set('memory_limit','-1');
	set_time_limit(0);
	$data = new GR();
	$condition = " WHERE create_date >= '".$_GET['from']."' AND create_date <= '".$_GET['to']."' ";
	$lists = $data::getJoin_PR_PO($condition);
	$lists_tmuk = TMUK::getAll();

	if(count($lists) <= 0){
		$this->flashSession->success("Gagal;Tidak ada data.;error");
		return $this->response->redirect(uri('Laporan'));
	}
	
	foreach($lists_tmuk as $tmuk){
		$tmuk_code = $tmuk['tmuk'];
		$tmuk_name = $tmuk['name'];
		$address1 = $tmuk['address1'];
		$tmuk_telp = $tmuk['telp'];
	} 
	
	foreach($lists as $list){
		$gr_no = $list['gr_no'];
	}
	
	require (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('','A4-L',9,'lottefont',10,10,42,2,8);
	
	//print_r($lists);
	
	$html = '';
	
	if(count($lists) > 0){
		
		// $html  = '
		// 	<htmlpageheader name="firstpage" style="display:none">
		// 		<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/Logo_Lotte.png" width="120" height="60"/></div>				
		// 		<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">GR REPORT</div>
				
		// 		<br/><br/>
		// 		<p style="width:360px;float:left">
		// 			Halaman {PAGENO}/{nbpg}<br/>
		// 			'.date('d/m/Y H:i:s').'<br/>
		// 			User : '.$this->session->get("user")["user_name"].'
		// 		</p>
				
		// 		<p style="width:auto;" align="right">
		// 			<b>IMM/TMUK Store : </b><br/>
		// 			'.$tmuk_name.' ('.$tmuk_code.') <br/>
		// 			'.$address1.'<br/>
		// 			'.$tmuk_telp.' 
		// 		</p>
		// 	</htmlpageheader>

		// 	<htmlpageheader name="otherpages" style="display:none">
		// 		<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/Logo_Lotte.png" width="120" height="60"/></div>				
		// 		<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">GR REPORT</div>
				
		// 		<br/><br/>
		// 		<p style="width:360px;float:left">
		// 			Halaman {PAGENO}/{nbpg}<br/>
		// 			'.date('d/m/Y H:i:s').'<br/>
		// 			User : '.$this->session->get("user")["user_name"].'
		// 		</p>
		// 	</htmlpageheader>
			
		// 	<sethtmlpageheader name="firstpage" value="on" show-this-page="1" />
		// 	<sethtmlpageheader name="otherpages" value="on" />
		// ';
		$html  = '
		<page orientation="landscape" format="A4" backtop="40mm" backbottom="5mm" backleft="5mm" backright="5mm" style="font-size: 12pt">
				<page_header>
		        <table class="page_header" border="0" width="" align="center">
		            <tr>
		                <td style="width: 650px;">
		                    <img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/>
		                </td>
		                <td style="width: 200px;">
		                    <p class="title" style="font-size: 25px;">GR REPORT</p>
		                </td>
		            </tr>
		            <tr>
		                <td>Halaman [[page_cu]] dari [[page_nb]]</td>
		                <td style="font-size: 12px;"><b>IMM/TMUK Store : </b><br/>
			                    '.$tmuk_name.' ('.$tmuk_code.') <br/>
			                    '.$address1.'<br/>
			                    '.$tmuk_telp.'</td>
		            </tr>
		            <tr>
		                <td>User : '.$this->session->get("user")["user_name"].'</td>
		                <td></td>
		            </tr>
		        </table>
		    </page_header>
		    <br>
		';
		
		$html .= '
			<style>			
				table {
					
					border: 1px solid #000;
					border-collapse: collapse;
				}
				
				.bordered {
					padding: 3px;
					border: 1px solid #000;
					vertical-align: middle;
					font-size: 10px;
				}
			</style>
			
			<p align="center" style="font-size:70%;">Dari : <b>'.date('d-m-Y', strtotime($_GET['from'])).'</b>&nbsp;&nbsp;&nbsp;&nbsp; Sampai : <b>'.date('d-m-Y', strtotime($_GET['to'])).'</b> </p>
			<table style="width:100%;margin-top:5px">
				<thead><tr>
					<th class="bordered" rowspan="2" style="text-align:center;width:3%;"><b>No</b></th>
					<th class="bordered" rowspan="2" style="text-align:center;width:11%;"><b>Nomor GR</b></th>
					<th class="bordered" rowspan="2" style="text-align:center;width:4%;"><b>Tanggal Buat</b></th>
					<th class="bordered" rowspan="2" style="text-align:center;width:5%;"><b>Kode Barang</b></th>
					<th class="bordered" rowspan="2" style="text-align:center;width:20%;"><b>Nama Barang</b></th>
					<th class="bordered" colspan="3" style="text-align:center;width:16%;"><b>Info Beli</b></th>
					<th class="bordered" colspan="3" style="text-align:center;width:16%;"><b>Info Receive</b></th>
					<th class="bordered" rowspan="2" colspan="2" style="text-align:center;width:6%;"><b>Jumlah PR</b></th>
					<th class="bordered" rowspan="2" colspan="2" style="text-align:center;width:6%;"><b>Jumlah PO</b></th>
					<th class="bordered" rowspan="2" style="text-align:center;width:4%;"><b>Status</b></th>
				</tr>
				<tr>
					<th class="bordered" style="text-align:center"><b>Jumlah</b></th>
					<th class="bordered" style="text-align:center"><b>Satuan</b></th>
					<th class="bordered" style="text-align:center"><b>Barcode</b></th>
					<th class="bordered" style="text-align:center"><b>Jumlah</b></th>
					<th class="bordered" style="text-align:center"><b>Satuan</b></th>
					<th class="bordered" style="text-align:center"><b>Barcode</b></th>
				</tr></thead><tbody>
				';
				$i=1;
				foreach($lists as $list){
					
					$html .= '<tr>
						<td class="bordered" style="text-align:center">'.$i.'</td>
						<td class="bordered">'.$list['gr_no'].'</td>
						<td class="bordered" style="text-align:center">'.date('d-m-Y', strtotime($list['create_date'])).'</td>
						<td class="bordered">'.$list['item_code'].'</td>
						<td class="bordered">'.$list['description'].'</td>
						<td class="bordered" style="text-align:center">'.$list['uom_o_conversion'].'</td>
						<td class="bordered">'.$list['uom_o_type'].'</td>
						<td class="bordered">'.$list['uom_o_barcode'].'</td>
						<td class="bordered" style="text-align:center">'.$list['uom_r_conversion'].'</td>
						<td class="bordered">'.$list['uom_r_type'].'</td>
						<td class="bordered">'.$list['uom_r_barcode'].'</td>
						<td class="bordered" style="text-align:center">'.$list['qty_pr'].'</td>
						<td class="bordered">'.$list['unit_pr'].'</td>
						<td class="bordered" style="text-align:center">'.$list['qty_order'].'</td>
						<td class="bordered">'.$list['unit_order'].'</td>
						<!--<td class="bordered">'.($list['qty_order'] / ($list['qty_pr'] * $list['con_pr'] / $list['con_order']) * 100).' %</td>-->
						<td class="bordered" style="text-align:center">'.($list['qty_po'] / ($list['qty_order']) * 100).' %</td>
					</tr>';
					$i++;
					
				}
				
				$html .= '
				</tbody>
			</table>
			</page>
		';
	}else{
		$html .= '';
	}

	$html2pdf = new Html2Pdf('L', 'A4', 'en', true, 'UTF-8', array(1, 6, 5, 5));
	$html2pdf->writeHTML($html);
	$html2pdf->output();
	
	// $mpdf->WriteHTML($html);
	// $mpdf->Output("GRReport(".date('d-m-Y', strtotime($_GET['from']))." - ".date('d-m-Y', strtotime($_GET['to'])).").pdf", "D");
	exit;
	
?>

