<?php
	ini_set('memory_limit','-1');
	set_time_limit(0);
	
	$lists = Member::reportAR();
	$lists_tmuk = TMUK::getAll();
	
	if(count($lists) < 1){
			$this->flashSession->success("Gagal;Tidak ada data.;error");
			return $this->response->redirect(uri('Laporan'));
	}
	
	foreach($lists_tmuk as $tmuk){
		$tmuk_code = $tmuk['tmuk'];
		$tmuk_name = $tmuk['name'];
		$address1 = $tmuk['address1'];
		$tmuk_telp = $tmuk['telp'];
	} 
	
	require (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('','A4-L',9,'lottefont',10,10,42,2,8);
	
	if(count($lists) > 0){
		
		$html = '
			<htmlpageheader name="firstpage" style="display:none">
				<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>			
				<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">MEMBER REPORT</div>
				
				<br/><br/>
				<p style="width:360px;float:left">
					Halaman {PAGENO}/{nbpg}<br/>
					'.date('d/m/Y H:i:s').'<br/>
					User : '.$this->session->get("user")["user_name"].'
				</p>
				
				<p style="width:auto;" align="right">
					<b>IMM/TMUK Store : </b><br/>
					'.$tmuk_name.' ('.$tmuk_code.') <br/>
					'.$address1.'<br/>
					'.$tmuk_telp.' 
				</p>
			</htmlpageheader>

			<htmlpageheader name="otherpages" style="display:none">
				<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>			
				<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right">MEMBER REPORT</div>
				
				<br/><br/>
				<p style="width:360px;float:left">
					Halaman {PAGENO}/{nbpg}<br/>
					'.date('d/m/Y H:i:s').'<br/>
					User : '.$this->session->get("user")["user_name"].'
				</p>
			</htmlpageheader>
			
			<sethtmlpageheader name="firstpage" value="on" show-this-page="1" />
			<sethtmlpageheader name="otherpages" value="on" />
		';
		
		$html .= '
			<style>
				table {
					
					border: 1px solid #000;
					border-collapse: collapse;
				}
				
				.bordered-outer {
					padding: 3px;
					border-top: 1px solid #000;
					border-bottom: 1px solid #000;
					vertical-align: middle;
				}
				
				.bordered-bottom {
					border-bottom: 1px solid #000;
					vertical-align: middle;
				}
				
				.distance {
					padding: 3px;
				}
			</style>
			
			<table style="width:100%;margin-top:35px;border:0" repeat_header="1" align="center">
				<thead><tr>
					<th class="bordered-outer" style="width:6%">ID Member</th>
					<th class="bordered-outer" style="width:12%">Nama Member</th>
					<th class="bordered-outer" style="width:14%">Alamat</th>
					<th class="bordered-outer" style="width:8%">Limit Kredit</th>
					<th class="bordered-outer" style="width:12%">Jumlah Transaksi</th>
					<th class="bordered-outer" style="width:10%">Jenis Pembelian</th>
					<th class="bordered-outer" style="width:14%">Total Nilai Pembelian (Rp)</th>
				</tr></thead><tbody>';
				
				$id_member = "";
				$grand_total = 0; $grand_piutang = 0; $piutang = 0;
				$sisa_limit = 0;
				$total_credit = 0;
				$sisa = 0;
				
				foreach($lists as $list){
					if($id_member != $list['nomor_member'] && $id_member != ""){											
						$html .= '<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align:right;font-weight:bold">TOTAL PEMBAYARAN</td>
							<td style="text-align:right;font-weight:bold">Rp '.number_format($grand_total,0,",",".").'</td>
						</tr>';
						
						$html .= '<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align:left">PIUTANG DIBAYAR</td>
							<td style="text-align:right">'.number_format($grand_piutang,0,",",".").'</td>
						</tr>';
						
						$html .= '<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align:right;font-weight:bold">TOTAL PIUTANG</td>
							<td style="text-align:right;font-weight:bold">Rp '.number_format($piutang - $grand_piutang,0,",",".").'</td>
						</tr>';

						$html .= '<tr>
							<td class="bordered-bottom"></td>
							<td class="bordered-bottom"></td>
							<td class="bordered-bottom"></td>
							<td class="bordered-bottom"></td>
							<td class="bordered-bottom"></td>
							<td class="bordered-bottom" style="text-align:left;font-weight:bold">SISA LIMIT</td>
							<td class="bordered-bottom" style="text-align:right;font-weight:bold">Rp '.number_format($sisa,0,",",".").'</td>
						</tr>';
						
						$grand_total = 0;
						$grand_piutang = 0;
					}
					
					if($id_member != $list['nomor_member']){
						$member = new Member();
						$condition = " WHERE nomor_member = '".$list['nomor_member']."' ";
						$list_member = $member::getFreeSQL($condition);
						$member->branch_code = $list_member['0']['branch_code'];
						$member->debtor_no = $list_member['0']['debtor_no'];
						$lists = $member::getFirstMemberManagement($member);
						$sisa_limit = $list['credit_limit'];
						$total_credit = ($lists['0']['total_credit'] - $lists['0']['payment']) > 0 ? ($lists['0']['total_credit'] - $lists['0']['payment']) : 0;
						$sisa = $sisa_limit - $total_credit;
						$cond = " WHERE id_member = '".$list['nomor_member']."'";
						$total_order = Jual::getCount($cond);
						
						$html .= '<tr>
							<td style="padding-top:5px;text-align:center">'.$list['nomor_member'].'</td>
							<td style="padding-top:5px;text-align:center">'.$list['br_name'].'</td>
							<td style="padding-top:5px;text-align:center">'.$list['br_address'].'</td>
							<td style="padding-top:5px;text-align:right">'.number_format($list['credit_limit'],0,",",".").'</td>
							<td style="padding-top:5px;text-align:center">'.$total_order.'</td>
							<td style="padding-top:5px;text-align:right">'.$list['tipe'].'</td>
							<td style="padding-top:5px;text-align:right">'.number_format($list['total_purchase'] - $list['kembalian'],0,",",".").'</td>
						</tr>';
					}else{
						$html .= '<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align:left">'.$list['tipe'].'</td>
							<td style="text-align:right">'.number_format($list['total_purchase'],0,",",".").'</td>
						</tr>';
					}
					
					if($list['tipe'] == 'PIUTANG')					
						$piutang = $list['total_purchase'];
					
					if($list['tipe'] == 'TUNAI')					
						$grand_total += $list['total_purchase'] - $list['kembalian'];
					else
						$grand_total += $list['total_purchase'];
					
					$grand_piutang = $list['piutang_payment'];
					$id_member = $list['nomor_member'];
				}
				
				$html .= '<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td style="text-align:right;font-weight:bold">TOTAL PEMBAYARAN</td>
					<td style="text-align:right;font-weight:bold">Rp '.number_format($grand_total,0,",",".").'</td>
				</tr>';
				
				$html .= '<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td style="text-align:left">PIUTANG DIBAYAR</td>
					<td style="text-align:right">'.number_format($grand_piutang,0,",",".").'</td>
				</tr>';
				
				$html .= '<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td style="text-align:right;font-weight:bold">TOTAL PIUTANG</td>
					<td style="text-align:right;font-weight:bold">Rp '.number_format($piutang - $grand_piutang,0,",",".").'</td>
				</tr>';

				$html .= '<tr>
					<td class="bordered-bottom"></td>
					<td class="bordered-bottom"></td>
					<td class="bordered-bottom"></td>
					<td class="bordered-bottom"></td>
					<td class="bordered-bottom"></td>
					<td class="bordered-bottom" style="text-align:left;font-weight:bold">SISA LIMIT</td>
					<td class="bordered-bottom" style="text-align:right;font-weight:bold">Rp '.number_format($sisa,0,",",".").'</td>
				</tr>';
				
				$html .= '</tbody>
			</table>
		';
	}else{
		$html .= '';
	}
	
	$mpdf->WriteHTML($html);
	$mpdf->Output();
	exit;
	
?>

