<script type="text/javascript">
	$(function(){
		$("#start_date").datepicker({ dateFormat: 'yy-mm-dd'});
		$("#end_date").datepicker({ dateFormat: 'yy-mm-dd'});
	});
	
	$(document).ready( function (e){	
		$('#data-form').submit(function(e){						
			e.preventDefault();
			jQuery.ajax({				
				type: 'post',
				dataType: "json",
				url: '<?php echo $this->url->get(uri('Point/Update')) ?>',
				data: jQuery('#data-form').serialize(),
				beforeSend: function() {					
					$('#btn_submit').attr('disabled', true);										
				},
				complete: function() {					
					$('#btn_submit').attr('disabled', false);							
				}, 
				success: function (data) {
					console.log(data);								

					if(data.type == 'S'){
						swal("Success", data.message, "success");
						window.location = '<?php echo $this->url->get(uri('Point')) ?>';
					}else if(data.type == 'E'){
						swal("Failed", data.message, "error");						
					}
				}
			});
			
			return false;
		});
	});
</script>

<?php		
	$global_ui = new GlobalUI();	
	
	echo $this->tag->form([uri("Point/Update"), "id"=>"data-form"]);
		$global_ui::ui_open_panel(6);
		$global_ui::ui_open_panel_body();

		$global_ui::ui_text('id', 'ID', 'DEFAULT', $data['id'], true, true, false);				
		$global_ui::ui_numeric_rate('point_get', 'Point Get', 'DEFAULT', $data['point_get'], true, false, false);						
		$global_ui::ui_numeric_rate('point_use', 'Point Use', 'DEFAULT', $data['point_use'], true, false, false);						
		$global_ui::ui_date('start_date', 'Start Date', 'DEFAULT', $data['start_date'], true, false, false);						
		$global_ui::ui_date('end_date', 'End Date', 'DEFAULT', $data['end_date'], true, false, false);

		echo '
			<div class="col-lg-12 col-md-12"> <br/> </div>
			<div class="col-lg-12 col-md-12">
				<center>
					<input type="submit" id="btn_submit" name="btn_submit" class="btn btn-primary" value="Update">
				</center>
			</div>
		';
		
		
		$global_ui::ui_close_panel_body();
		$global_ui::ui_close_panel();			
	echo $this->tag->endForm();	
?>	