<script type="text/javascript">
	$(document).ready( function () {
		$('#DataTableZero').dataTable({
			"info" : false,
			"paging": false,
			"ordering": false,
			"searching": false,
		});	
		
		$('#btn_create').click( function () {
	
		});
		
		$('.confirmation').on('click', function () {
			var link = $(this).attr("href");	
			
			swal({
				title: "Yakin ingin delete?",
				text: "Data yang di delete tidak bisa di recovery kembali!",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Ya, delete!",
				cancelButtonText: "Tidak, delete!",
				closeOnConfirm: false,
				closeOnCancel: false
			},
			function(isConfirm){
				if (isConfirm) {
					window.location = link;
					swal("Deleted!", "Data Berhasil di delete.", "success");
				}else{
					swal("Cancelled", "Batal delete :)", "error");
				}
			});
			
			return false;
		});
	});
</script>

<?php		
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('Setting'), '<span> Setting </span>']).'</li>			
			<li>'.Phalcon\Tag::linkTo([uri('Point'), '<span> Point </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">		
		<legend> Setting Point </legend>
		
		<div class="col-sm-12">
			</br>
		</div>
		<div class="col-sm-12">';
			echo Phalcon\Tag::linkTo([uri('#'), "Buat Point", "class"=>"dataModal btn btn-primary btn-sm", "data-src"=>$this->url->get(uri('Point/Add'), "data-toggle"=>"modal", "data-target"=>"#dataModal", "title"=>"Add point"]);
	echo '</div>
		
		<div class="col-sm-12">
			</br>
		</div>	
		
		<div class="col-sm-6">
			<table id="DataTableZero" class="hover">
				<thead>
					<tr>
					  <th style="text-align:center"> ID </th>
					  <th style="text-align:center"> Point Get </th>
					  <th style="text-align:center"> Point Use </th>
					  <th style="text-align:center"> Start Date </th>
					  <th style="text-align:center"> End Date </th>
					  <th style="text-align:center"> Aksi </th>
					</tr>
				</thead>
				  
				<tbody>';	
					if(count($lists) > 0 ){
						foreach( $lists as $key => $list ) {
							echo '<tr>';
								echo '<td style="text-align:center">'.$list['id'].'</td>';
								echo '<td style="text-align:center">'.$list['point_get'].'</td>';
								echo '<td style="text-align:center">'.$list['point_use'].'</td>';
								echo '<td style="text-align:center">'.$list['start_date'].'</td>';
								echo '<td style="text-align:center">'.$list['end_date'].'</td>';
								echo '<td style="text-align:center">';									
									echo Phalcon\Tag::linkTo([uri('#'), "<i class='fa fa-search fa-lg'> </i>", "class"=>"dataModal", "data-src"=>$this->url->get(uri('Point/View?ID='.$list['id']), "data-toggle"=>"modal", "data-target"=>"#dataModal", "title"=>"View Point"]);
									echo '&nbsp;&nbsp;';
									echo Phalcon\Tag::linkTo([uri('#'), "<i class='fa fa-edit fa-lg'> </i>", "class"=>"dataModal", "data-src"=>$this->url->get(uri('Point/Edit?ID='.$list['id']), "data-toggle"=>"modal", "data-target"=>"#dataModal", "title"=>"View Point"]);
									echo '&nbsp;&nbsp;';									
									echo Phalcon\Tag::linkTo([uri('Point/Delete?ID='.$list['id']), "<i class='fa fa-close fa-lg'> </i>", "title"=>"Delete Point", "class"=>"confirmation"]);									
								echo '</td>';
							echo '</tr>';
						}		
					}
			echo '</tbody>			
			</table>
		</div>
	</div>';	
	
	echo '
		<div id="dataModal" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"> Detail Setting Point </h4>
					</div>
					
					<div class="modal-body" style="max-height:450px;overflow-y:auto;">													
					</div>
					
					<div class="modal-footer">						
						<a href="" class="btn btn-default" data-dismiss="modal"> Close </a>					
					</div>
				</div>
			</div>
		</div>
	';
?>

<script>
	$(document).on("click", ".dataModal", function(){		
		var link = $(this).data('src');
		$('.modal-body').load(link,function(){});
	});	
</script>

