<title>TMUK SYSTEM</title>
<?php
	date_default_timezone_set('Asia/Jakarta');
	
	$flag = true;
	$konek = is_connected();
	if($konek === true){
		$cek_konek = 1;
	}else{
		$cek_konek = 0;
	}

	$tmuk = new TMUK();
	$lists = $tmuk->getAll();

	if(isset($lists)){
		foreach($lists as $list){
			$tmuk->tmuk_id = $list['tmuk_id'];
			$tmuk->tmuk = $list['tmuk'];
		}
	}

	if($this->router->getRewriteUri() == '/Member/View') { $flag = false; }
	else if($this->router->getRewriteUri() == '/Member/View_Member') { $flag = false; }
	else if($this->router->getRewriteUri() == '/Member/Add_Member') { $flag = false; }
	else if($this->router->getRewriteUri() == '/Member/Edit_Member') { $flag = false; }
	else if($this->router->getRewriteUri() == '/Member/Add_Member_Pay') { $flag = false; }
	else if($this->router->getRewriteUri() == '/Member/Edit_Member_Pay') { $flag = false; }
	else if($this->router->getRewriteUri() == '/Member/View_Member_Pay') { $flag = false; }
	else if($this->router->getRewriteUri() == '/Planogram/View') { $flag = false; }
	else if($this->router->getRewriteUri() == '/Point/View') { $flag = false; }
	else if($this->router->getRewriteUri() == '/Point/Add') { $flag = false; }
	else if($this->router->getRewriteUri() == '/Point/Edit') { $flag = false; }	
	
	echo '<head>';	
		if($flag){
			echo '<link rel="icon" type="image/ico" href="'.assets('img/bg/fav_logo1.png').'" />';
			echo '<link rel="stylesheet" href="'.assets('css/bootstrap.css').'">';
			echo '<link rel="stylesheet" href="'.assets('css/bootstrap-responsive.css').'">';
			echo '<link rel="stylesheet" href="'.assets('css/font-awesome.min.css').'">';
			echo '<link rel="stylesheet" href="'.assets('css/jquery.dataTables.css').'">';	
			echo '<link rel="stylesheet" href="'.assets('css/sweetalert.css').'">';
			echo '<link rel="stylesheet" href="'.assets('css/jquery-ui.css').'">';			
			echo '<link rel="stylesheet" href="'.assets('css/style.css').'">';		
			echo '<link rel="stylesheet" href="'.assets('css/select2.css').'">';		
			echo '<link rel="stylesheet" href="'.assets('css/select2-bootstrap.css').'">';		
			
			echo '<script type="text/javascript" language="javascript" src="'.assets('js/jquery-3.1.1.min.js').'"></script>';
			echo '<script type="text/javascript" language="javascript" src="'.assets('js/jquery.dataTables.js').'"></script>';			
			echo '<script type="text/javascript" language="javascript" src="'.assets('js/bootstrap.min.js').'"></script>';
			echo '<script type="text/javascript" language="javascript" src="'.assets('js/form.js').'"></script>';
			echo '<script type="text/javascript" language="javascript" src="'.assets('js/sweetalert.min.js').'"></script>';
			echo '<script type="text/javascript" language="javascript" src="'.assets('js/jquery-ui.js').'"></script>';
			echo '<script type="text/javascript" language="javascript" src="'.assets('js/jquery.autocomplete.js').'"></script>';
			echo '<script type="text/javascript" language="javascript" src="'.assets('js/chart.js').'"></script>';	
			echo '<script type="text/javascript" language="javascript" src="'.assets('js/jquery.masknumber.js').'"></script>';	
			echo '<script type="text/javascript" language="javascript" src="'.assets('js/jquery.form.min.js').'"></script>';
			echo '<script type="text/javascript" language="javascript" src="'.assets('js/select2.min.js').'"></script>';
			echo '<script type="text/javascript" language="javascript" src="'.assets('js/numeral.min.js').'"></script>';
			echo '<script type="text/javascript" language="javascript" src="'.assets('js/fnFindCellRowIndexes.js').'"></script>';
		}	
	echo '</head>'; 
?>
<?php
	if($this->session->get("is_login") == "X"){
		if($flag){
			$lists = TMUK::getAll();			
			echo '<body class="application">';		
			// echo 'is_connected()' . (is_connected() === true ? 'konak' : 'impoten');					
				echo '<nav class="navbar" role="navigation">';
					echo '<div class="navbar_top text-right">';
						echo $this->tag->image([assets('img/Logo_TMUK.png'), "style" => "width:206px;height:103px;"]);					
					echo '</div>';
					
						echo '<input type ="hidden" name="konek" id="konek" value="'.$cek_konek.'">';
						echo '<input type ="hidden" name="tmuk" id="tmuk" value="'.$tmuk->tmuk.'">';
					if(isset($lists)){
					foreach($lists as $list){
						echo '<p style="margin:0;margin-top:20px;margin-bottom:-30px;text-align:center;color:#fff;">'.$list['tmuk'].'-'.$list['name'].'</p>';
					}}
					
					echo '<header class="navbar_center">';	
						// print_r($this->session->get('user')); 				
						// echo $this->tag->image(["img/cashier/tmuk.jpg", "style" => "width:100px;height:100px;"]);
						echo $this->tag->image([uri($this->session->get('user')['images']), "style" => "width:100px;height:100px;"]);
						// echo '<p style="width:100px;height:100px;">'.$this->session->get('user')['pict'].'</p>';	
						echo '<p style="font-size:16px">'.$this->session->get('user')['real_name'].'</p>';
						echo '<div class="col-md-12 form-inline">';
							echo '<div style="float:center; padding:10px;" class="cek">';
								echo '<a class="btn btn-success"><span class="fa fa-check-circle"></span> Online</a>'; 
							echo '</div>';
							echo '<div style="float:center; padding:10px;" class="cek2">';
								echo '<a class="btn btn-danger"><span class="fa fa-close"></span> Offline</a>';
							echo '</div>';
						echo '</div>';

					echo '</header>';

					echo '<div class="navbar_footer">';	
						echo '<table>';
						echo '<tr>';
							echo '<td>'; echo Phalcon\Tag::linkTo([uri('Notifikasi'), '<i id="notif" class="fa fa-bell-o fa-2x""><span class="badge badge-notify">'.Notifikasi::getCount('where read_at is NULL').'</span></i>']); echo '</td>';
							echo '<td>'; echo Phalcon\Tag::linkTo([uri('Profile'), '<i class="fa fa-user fa-2x"></i>']); echo '</td>';
							echo '<td>'; echo Phalcon\Tag::linkTo([uri('ChangePassword'), '<i class="fa fa-key fa-2x"></i>']); echo '</td>';
							echo '<td>'; echo Phalcon\Tag::linkTo([uri('Logout'), '<i class="fa fa-power-off fa-2x"></i>']); echo '</td>';
							// echo '<td>'; echo Phalcon\Tag::linkTo(['SyncronMaster',  '<i class="fa fa-bell-o fa-2x"></i><span class="label label-info pull-right">2</span>']); echo '</td>';
						echo '</tr>';
						echo '</table>';
					echo '</div>';				
					
					// get list menu (Parent Menu)
					$menu = new Menu();
					$condition = " WHERE \"parent_id\" = '0' ORDER BY \"sort_id\" ";
					$lists = $menu::getFreeSQL($condition);

					echo '<ul>';
						if(count($lists) > 0 ){
							foreach($lists as $list){					
								echo '<li>'; 
									echo '<table><tr><td>';								
									echo Phalcon\Tag::linkTo([uri($list['view']), '<i class="'.$list['image_path'].' fa-2x"></i>'.'<span style="font-size:16px;margin-left:15px">'.$list['title'].'</span>']); 
									echo '</td></tr></table>';
								echo '</li>'; 							
							}			
						}					
					echo '</ul><br><br>';

					// echo '<ul>';
					// 	if(count($lists) > 0 ){
					// 		foreach($lists as $list){						
					// 			echo '<li>'; 
					// 				echo '<table><tr><td>';

					// 				echo '</td></tr></table>';
					// 			echo '</li>'; 							
					// 		}			
					// 	}					
					// echo '</ul>';
				echo'<h4 style="text-align:center;color:white">Versi 2.1</h4>';
				echo '</nav>';
				echo '<main class="main">';					
					echo '<div class="main_center">';
						echo $this->getContent();
					echo '</div>';	
				echo '</main>';
		
			echo '</body>';	
		}else{
			echo '
				<html>
					<head></head>					
					<body>
						<div id="wrapper">						
							'.$this->getContent().'						
						</div>
					</body>
				</html>
			';
		}
	}else{		
		echo '<body class="login">';
			echo $this->getContent();
		echo '</body>';
	}
?>

<script type="text/javascript">
	$(document).ready(function() {
		var x = document.getElementById("konek").value; 
		var y = document.getElementById("tmuk").value; 
		var dsd = "<?php echo ''.$this->di['api']['link'].'/api/ping/cek-ping'; ?>/";
		setInterval(function(){
			$.ajax({
			 	url: '<?php echo $this->di['api']['link'].'/api/ping/cek-ping'; ?>',
			 	type: 'POST',
			 	data:{
			 		tmuk: y
			 	}
			 })
			 .done(function() {
			 	console.log("success");
			 })
			 .fail(function() {
			 	console.log("error");
			 })
			  
		}, 30000);
		
		if(x==1){
			$('.cek2').hide();
		}else{
			$('.cek').hide();
		}
		
		setInterval(function(){ 
			$.ajax({
				url: "<?php echo url('ajax/checkonline'); ?>",
				type: 'GET',
				dataType: 'json',
			})
			.done(function(response) {
				if (response.status == 'online') {
					console.log('online');
					$('.cek').show();
					$('.cek2').hide();
				} else {
					console.log('offline');
					$('.cek').hide();
					$('.cek2').show();
				}
			})
			.fail(function() {
				console.log("error");
			});
		}, 15000);

		setInterval(function(){ 
			$.ajax({
				url: "<?php echo url('ajax/sendonline'); ?>",
				type: 'GET',
				dataType: 'json',
			})
			.done(function(response) {
				console.log('update online');
			})
			.fail(function() {
				console.log("error");
			});
		}, 30000);


		function sleep(ms)
		{
		    return(new Promise(function(resolve, reject) {        
		        setTimeout(function() { resolve(); }, ms);        
		    }));    
		}

		syncPenjualan = function(){
			sleep(60000).then(function() { 
			    // check koneksi
				$.ajax({
					url: "<?php echo url('ajax/checkonline'); ?>",
					type: 'GET',
					dataType: 'json',
				})
				.done(function(response) {
					if (response.status == 'online') {
						console.log('online');
						// sync penjualan
						console.log('sedang syncron')
						$.ajax({
							url: "<?php echo url('ajax/syncpenjualan'); ?>",
							type: 'GET',
							dataType: 'json',
							success: function (response) {
								// console.log("success");
							},
							error: function (response) {
								console.log("error");
							}
						});
					}
					syncPenjualan()
				})
				.error(function(response) {
					console.log("error");
					syncPenjualan()
				});
			});
		}

		syncPersediaanPenjualan = function(){
			sleep(120000).then(function() { 
			    // check koneksi
				$.ajax({
					url: "<?php echo url('ajax/checkonline'); ?>",
					type: 'GET',
					dataType: 'json',
				})
				.done(function(response) {
					if (response.status == 'online') {
						console.log('online');
						// sync penjualan
						console.log('sedang syncron persediaan penjualan')
						$.ajax({
							url: "<?php echo url('ajax/syncpersediaanjual'); ?>",
							type: 'GET',
							dataType: 'json',
							success: function (response) {
								// console.log("success");
							},
							error: function (response) {
								console.log("error");
							}
						});
					}
					syncPersediaanPenjualan()
				})
				.error(function(response) {
					console.log("error");
					syncPersediaanPenjualan()
				});
			});
		}


		syncPersediaanGR = function(){
			sleep(180000).then(function() { 
			    // check koneksi
				$.ajax({
					url: "<?php echo url('ajax/checkonline'); ?>",
					type: 'GET',
					dataType: 'json',
				})
				.done(function(response) {
					if (response.status == 'online') {
						console.log('online');
						// sync penjualan
						console.log('sedang syncron gr')
						$.ajax({
							url: "<?php echo url('ajax/syncpersediaanGR'); ?>",
							type: 'GET',
							dataType: 'json',
							success: function (response) {
								// console.log("success");
							},
							error: function (response) {
								console.log("error");
							}
						});
					}
					syncPersediaanGR()
				})
				.error(function(response) {
					console.log("error");
					syncPersediaanGR()
				});
			});
		}

		syncPersediaanAD = function(){
			sleep(240000).then(function() { 
			    // check koneksi
				$.ajax({
					url: "<?php echo url('ajax/checkonline'); ?>",
					type: 'GET',
					dataType: 'json',
				})
				.done(function(response) {
					if (response.status == 'online') {
						console.log('online');
						// sync penjualan
						console.log('sedang syncron adjustment')
						$.ajax({
							url: "<?php echo url('ajax/syncpersediaanAD'); ?>",
							type: 'GET',
							dataType: 'json',
							success: function (response) {
								// console.log("success");
							},
							error: function (response) {
								console.log("error");
							}
						});
					}
					syncPersediaanAD()
				})
				.error(function(response) {
					console.log("error");
					syncPersediaanAD()
				});
			});
		}

		syncPersediaanPYR = function(){
			sleep(300000).then(function() { 
			    // check koneksi
				$.ajax({
					url: "<?php echo url('ajax/checkonline'); ?>",
					type: 'GET',
					dataType: 'json',
				})
				.done(function(response) {
					if (response.status == 'online') {
						console.log('online');
						// sync penjualan
						console.log('sedang syncron PYR')
						$.ajax({
							url: "<?php echo url('ajax/syncpersediaanPYR'); ?>",
							type: 'GET',
							dataType: 'json',
							success: function (response) {
								// console.log("success");
							},
							error: function (response) {
								console.log("error");
							}
						});
					}
					syncPersediaanPYR()
				})
				.error(function(response) {
					console.log("error");
					syncPersediaanPYR()
				});
			});
		}

		syncPersediaanRR = function(){
			sleep(360000).then(function() { 
			    // check koneksi
				$.ajax({
					url: "<?php echo url('ajax/checkonline'); ?>",
					type: 'GET',
					dataType: 'json',
				})
				.done(function(response) {
					if (response.status == 'online') {
						console.log('online');
						// sync penjualan
						console.log('sedang syncron RR')
						$.ajax({
							url: "<?php echo url('ajax/syncpersediaanRR'); ?>",
							type: 'GET',
							dataType: 'json',
							success: function (response) {
								// console.log("success");
							},
							error: function (response) {
								console.log("error");
							}
						});
					}
					syncPersediaanRR()
				})
				.error(function(response) {
					console.log("error");
					syncPersediaanRR()
				});
			});
		}

		syncPersediaanSO = function(){
			sleep(420000).then(function() { 
			    // check koneksi
				$.ajax({
					url: "<?php echo url('ajax/checkonline'); ?>",
					type: 'GET',
					dataType: 'json',
				})
				.done(function(response) {
					if (response.status == 'online') {
						console.log('online');
						// sync penjualan
						console.log('sedang syncron SO')
						$.ajax({
							url: "<?php echo url('ajax/syncpersediaanSO'); ?>",
							type: 'GET',
							dataType: 'json',
							success: function (response) {
								// console.log("success");
							},
							error: function (response) {
								console.log("error");
							}
						});
					}
					syncPersediaanSO()
				})
				.error(function(response) {
					console.log("error");
					syncPersediaanSO()
				});
			});
		}

		syncNilaiPersediaan = function(){
			sleep(480000).then(function() { 
			    // check koneksi
				$.ajax({
					url: "<?php echo url('ajax/checkonline'); ?>",
					type: 'GET',
					dataType: 'json',
				})
				.done(function(response) {
					if (response.status == 'online') {
						console.log('online');
						// sync penjualan
						console.log('sedang syncron SO')
						$.ajax({
							url: "<?php echo url('ajax/syncNilaiPersediaan'); ?>",
							type: 'GET',
							dataType: 'json',
							success: function (response) {
								// console.log("success");
							},
							error: function (response) {
								console.log("error");
							}
						});
					}
					syncNilaiPersediaan()
				})
				.error(function(response) {
					console.log("error");
					syncNilaiPersediaan()
				});
			});
		}

		// execute
		// syncPenjualan()
		// syncPersediaanPenjualan()
		// syncPersediaanGR()
		// syncPersediaanAD()
		// syncPersediaanPYR()
		// syncPersediaanRR()
		// syncPersediaanSO()
		// syncNilaiPersediaan()
	});
</script>

<?php if($flag){ ?>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#DataTable').DataTable({ "info" : true, "deferRender" : true ,  "order": [[ 3, "desc" ]] });
			$('#DataTable10').DataTable({ "info" : true, "deferRender" : true ,  "order": [[ 3, "desc" ]] });
			$('#DataTable11').DataTable({ "info" : true, "deferRender" : true ,  "order": [[ 3, "desc" ]] });
			$('#DataTable12').DataTable({ "info" : true, "deferRender" : true ,  "order": [[ 3, "desc" ]] });
			$('#DataTable13').DataTable({ "info" : true, "deferRender" : true ,  "order": [[ 3, "desc" ]] });
			$('#DataTable6').DataTable({ "info" : true, "deferRender" : true ,  "order": [[ 3, "desc" ]] });
			$('#DataTable2').DataTable({ "info" : true, "orderClasses" : false, "deferRender" : true });
			$('#DataTable3').DataTable({ "info" : true, "orderClasses" : false, "deferRender" : true });
			$('#DataTable4').DataTable({ "info" : true, "orderClasses" : false, "deferRender" : true });
			$('#DataTable5').DataTable({ "info" : true, "orderClasses" : false, "deferRender" : true });	
		});
	</script>
<?php } ?>