
<?php

	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Pembelian'), '<span> Pembelian </span>']).'</li>';
			echo '<li>'.Phalcon\Tag::linkTo([uri('PO'), '<span> Pembelian Barang (PO) </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">
		<legend> Pembelian Barang (PO) </legend>
	';
	$messages = $this->flashSession->getMessages();
	if(count($messages) > 0){
		foreach ($messages as $messageType => $messageArray) {
			foreach ($messageArray as $message) {
				$arr_msg = explode(";", $message);
				echo "<script>swal({
					title: '".$arr_msg[0]."',
					text: '".$arr_msg[1]."',
					type: '".$arr_msg[2]."',
					html: true });</script>";
				$this->flashSession->clear();
			}
		}
	}
				
			echo '<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#PO"> PO </a></li>
				<li><a data-toggle="tab" href="#Pyr"> PYR </a></li>
				<li><a data-toggle="tab" href="#History"> Riwayat PO </a></li>
				<li><a data-toggle="tab" href="#HistoryPyr"> Riwayat PYR </a></li>
			</ul>
			
			<div class="tab-content">
				<div id="Pyr" class="tab-pane fade">
					<div class="col-md-6">
					<label>PYR</label>
					<form action="PO/getPYR" method="POST" class="form-inline">
					<select class="form-control input-sm" name="payment_no">
					<option>Pilih No PYR</option>';
					foreach($listsPyr as $listPyr){
						$cek = preg_replace('/[^a-zA-Z\s]/', '', html_entity_decode($listPyr['nomor_pyr'], ENT_QUOTES));
						if($cek == 'PYR'){
							$data = new ProductMove();
							$condition = " WHERE trans_no = '".$listPyr['nomor_pyr']."' ";
							$cek_no = $data::getFreeSql($condition);	
							if($cek_no){
							}else{
								echo '<option>'.$listPyr['nomor_pyr'].'</option>';
							}
						}
					}

					echo '</select>
					<input class="btn btn-primary btn-sm get-pyr" type="submit" value="Get PYR" style="margin-top:5px">
					</form>
					</div>
					<div class="col-md-6">
						<label>PYR IMMBO</label>
						<form action="PO/getPOOpening" method="POST" class="form-inline">
							<input type="text" class="form-control input-sm" name="po_opening" value="'.$listsOpening.'" required/>
							<input class="btn btn-primary btn-sm get-pyr" type="submit" value="Get PO" style="margin-top:5px"> 
						</form>
					</div>
				</div>
				<div id="PO" class="tab-pane fade in active">
				
					<div class="col-md-6">
						<label>PO dari PR</label>
						<form action="PO/getPO" method="POST" class="form-inline">
							<select class="form-control input-sm" name="pr_no">
								<option>Pilih No PR</option>';
								
								foreach($listsPR as $listPR){
									echo '<option>'.$listPR['request_no'].'</option>';
								}
							
							echo '</select>
							<input class="btn btn-primary btn-sm get-po" type="submit" value="Get PO" style="margin-top:5px">
						</form>
					</div>
					
					<div class="col-md-6">
						<label>PO OPENING</label>
						<form action="PO/getPOOpening" method="POST" class="form-inline">
							<input type="text" class="form-control input-sm" name="po_opening" value="'.$listsOpening.'" required/>
							<input class="btn btn-primary btn-sm get-opening" type="submit" value="Get PO" style="margin-top:5px"> 
						</form>
					</div>
			';
			
				echo '<div class="table_container">
					<table id="DataTable2" class="table-striped hover">
						<thead>
						<tr>
							<th style="text-align:center"> Nomor PR </th>
							<th style="text-align:center"> Nomor PO </th>
							<th style="text-align:center"> Tanggal Pesan </th>		 
							<th style="text-align:center"> Tanggal Pengiriman </th>		 
							<th style="text-align:center"> Aksi </th>
						</tr>
					</thead>
					<tbody>
				';
				
				foreach($listsPO as $listPO) {
					echo '
					<tr>	
						<td style="text-align:center">'.$listPO['pr_no_immpos'].'</td>
						<td style="text-align:center"><a href="#" class="modalPO" data-toggle="modal" title="Detail PO" data-pr="'.$listPO['pr_no_immpos'].'" data-order="'.$listPO['po_no_immbo'].'" data-target="#myModal">'.$listPO['po_no_immbo'].'</a></td>
						<td style="text-align:center">'.date('d-m-Y', strtotime($listPO['order_date'])).'</td>							
						<td style="text-align:center">'.date('d-m-Y', strtotime($listPO['delivery_date'])).'</td>		
						<td style="text-align:center"><a href="PO/print?Order='.$listPO['po_no_immbo'].'"><i class="fa fa-print fa-lg"></i></a></td>
					</tr>';
				}
				
				echo '</tbody>			
					</table>
				</div>';
			
				echo '</div>
				<div id="History" class="tab-pane">';
						echo '<div class="table_container">
							<table id="DataTable4" class="table-striped hover">
								<thead>
								<tr>
									<th style="text-align:center"> Nomor PR </th>
									<th style="text-align:center"> Nomor PO </th>
									<th style="text-align:center"> Tanggal Pesan </th>		 
									<th style="text-align:center"> Tanggal Pengiriman </th>		 
									<th style="text-align:center"> Aksi </th>
								</tr>
							</thead>
							<tbody>
						';
						foreach($listsHistory as $listPOHistory) {
							echo '
							<tr>	
								<td style="text-align:center">'.$listPOHistory['pr_no_immpos'].'</td>
								<td style="text-align:center"><a href="#" class="modalPO" data-toggle="modal" title="Detail PO" data-pr="'.$listPOHistory['pr_no_immpos'].'" data-order="'.$listPOHistory['po_no_immbo'].'" data-target="#myModal">'.$listPOHistory['po_no_immbo'].'</a></td>
								<td style="text-align:center">'.date('d-m-Y', strtotime($listPOHistory['order_date'])).'</td>							
								<td style="text-align:center">'.date('d-m-Y', strtotime($listPOHistory['delivery_date'])).'</td>							
								<td style="text-align:center"><a href="PO/print?Order='.$listPOHistory['po_no_immbo'].'"><i class="fa fa-print fa-lg"></i></a></td>
							</tr>';
						}
						
						echo '</tbody>			
							</table>
						</div>';
					
				echo '</div>
				<div id="HistoryPyr" class="tab-pane">';
						echo '<div class="table_container">
							<table id="DataTable3" class="table-striped hover">
								<thead>
								<tr>
									<th style="text-align:center">Nomor PyR</th>
									<th style="text-align:center">Nomor Invoice</th>
									<th style="text-align:center">Tanggal</th>
								</tr>
							</thead>
							<tbody>
						';
						foreach($listsHistoryPyr as $listPOHistoryPyr) {
							echo '
							<tr>	
							<td style="text-align:center">'.$listPOHistoryPyr['payment_no'].'</td>
							<td style="text-align:center">'.$listPOHistoryPyr['inv_no'].'</td>
							<td style="text-align:center">'.$listPOHistoryPyr['tanggal'].'</td>
							</tr>';
						}
						
						echo '</tbody>			
							</table>
						</div>';
				echo '</div>
			</div>';
			
			echo '<div id="myModal" class="modal fade" role="dialog">';
			echo '<div class="modal-dialog modal-lg">';

			echo '<div class="modal-content">';
				echo '<div class="modal-header">';
					echo '<button type="button" class="close" data-dismiss="modal">&times;</button>';
					echo '<h4 class="modal-title">Pembelian Barang (PO)</h4>';
				echo '</div>';
				echo '<div class="modal-body" style="max-height:300px;overflow-y:auto;">';
					echo '<div class="table-responsive">';
					echo '<table class="table-bordered table-striped myTable">';
						echo '<thead>';
							echo '<tr>';
								echo '<th rowspan="2">Kode Barang</th>';
								echo '<th rowspan="2">Nama Barang</th>';
								echo '<th colspan="3">Info Beli</th>';
								echo '<th colspan="3">Info Jual</th>';
								echo '<th rowspan="2" colspan="2" >Jumlah PR</th>';
								echo '<th rowspan="2" colspan="2" >Jumlah PO</th>';
								echo '<th rowspan="2">Estimasi Harga</th>';
								echo '<th rowspan="2">Actual Price</th>';
							echo '</tr>';
							echo '<tr>';
								echo '<th>Jumlah</th>';
								echo '<th>Satuan</th>';
								echo '<th>Barcode</th>';
								echo '<th>Jumlah</th>';
								echo '<th>Satuan</th>';
								echo '<th>Barcode</th>';
							echo '</tr>';
						echo '</thead>';
						  
						echo '<tbody>';							
						echo '</tbody>';			
					echo '</table>';
				echo '</div>';
				echo '</div>';
				echo '<div class="modal-footer">';
					echo '<a href="" class="btn btn-default" data-dismiss="modal">Close</a>';
				echo '</div>';
			echo '</div>';
			echo '</div>';
			echo '</div>';
			echo '			
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '<div>';
	
?>
<script>
	$(document).on("click", ".get-opening", function(){
		$('.modal').show();
	});
	$(document).on("click", ".get-po", function(){
		$('.modal').show();
	});
	$(document).on("click", ".get-pyr", function(){
		$('.modal').show();
	});

	$(document).on("click", ".modalPO", function(){
		var myArray = [];
		var est_total = 0;
		var act_total = 0;
		var pr = $(this).data('pr');
		var order = $(this).data('order');
		$('.modal-header').empty();
		var uom = ["Bal","Botol","Box","Bungkus","Carton","Dus",,,"Inner","Kaleng","Karung","Pcs","Pouch","Sachet","Voucher"];
		// $('.modal-header').empty();
		$.ajax({ url: "<?php echo $this->url->get(uri('PO/ajaxPO')) ?>?order="+order+"" }).done(function(data){
			console.log(data);
			$('.myTable tbody').empty();
			myArray = JSON.parse(data);
			span = $('<span>');	
			span.append("<h4 class='modal-title'>Pembelian Barang (PO)</h4>");
			span.append("<td>Nomor PR : "+ pr +"</td>");
			span.append("</span>");
			$('.modal-header').append(span);

			for(var i=0;i<myArray.length;i++){
				tr = $('<tr>');
				
				if(myArray[i].uom_o_type == "" || myArray[i].uom_o_type == null){
					myArray[i].uom_o_type = "";
				}
				if(myArray[i].uom_o_barcode == "" || myArray[i].uom_o_barcode == null){
					myArray[i].uom_o_barcode = "";
				}
				if(myArray[i].uom_o_conversion == "" || myArray[i].uom_o_conversion == null){
					myArray[i].uom_o_conversion = "";
				}
				if(myArray[i].uom_s_type == "" || myArray[i].uom_s_type == null){
					myArray[i].uom_s_type = "";
				}
				if(myArray[i].uom_s_barcode == "" || myArray[i].uom_s_barcode == null){
					myArray[i].uom_s_barcode = "";
				}
				if(myArray[i].uom_s_conversion == "" || myArray[i].uom_s_conversion == null){
					myArray[i].uom_s_conversion = "";
				}
				
				tr.append("<td>"+ myArray[i].item_code +"</td>");
				tr.append("<td>"+ myArray[i].description +"</td>");
				tr.append("<td>"+ myArray[i].uom_s_conversion +"</td>");
				tr.append("<td>"+ myArray[i].uom_o_type +"</td>");
				tr.append("<td>"+ myArray[i].uom_o_barcode +"</td>");
				tr.append("<td>"+ myArray[i].uom_s_conversion +"</td>");
				tr.append("<td>"+ myArray[i].uom_o_type +"</td>");
				tr.append("<td>"+ myArray[i].uom_s_barcode +"</td>");
				tr.append("<td>"+ myArray[i].qty_pr +"</td>");	
				tr.append("<td>"+ myArray[i].uom_o_type +"</td>");
				tr.append("<td>"+ myArray[i].qty_po +"</td>");
				tr.append("<td>"+ myArray[i].uom_o_type +"</td>");
				tr.append("<td>"+ format(myArray[i].qty_po * myArray[i].po_unit_price) +"</td>");
				tr.append("<td>"+ format(myArray[i].qty_po * myArray[i].po_unit_price) +"</td></tr>");
				
				est_total += parseInt((myArray[i].qty_po * myArray[i].po_unit_price));
				act_total += parseInt((myArray[i].qty_po * myArray[i].po_unit_price));
				
				$('.myTable tbody').append(tr);
			}
			$('.myTable tbody').append("<tr><th colspan='12' style='text-align:right !important'>Total</th><td>"+ format(est_total) +"</td><td>"+ format(act_total) +"</td></tr>");
		});
	});		
</script>

