<?php
	$data = new PO();
	$condition = " WHERE po.po_no_immbo = ".$_GET['Order']." ";
	$lists = $data::getJoin($condition);
	$lists_tmuk = TMUK::getAll();
	
	require (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('','A4-L',9,'lottefont',10,10,45,2,8);
	
	$total_po = 0;
	foreach($lists_tmuk as $tmuk){
		$tmuk_code = $tmuk['tmuk'];
		$tmuk_name = $tmuk['name'];
		$address1 = $tmuk['address1'];
		$tmuk_telp = $tmuk['telp'];
		$nama_lsi = $tmuk['nama_lsi'];
	} 
	
	foreach($lists as $list) {
		$order_date = $list['order_date'];
		$delivery_date = $list['delivery_date'];
		$po_num = $list['po_no_ref'];	
	}
	
	if(count($lists) > 0){
		
		$html_header  = '
			<div style="width:360px;float:left"><img src="'.__DIR__ . '/../../../public/img/logo_print.jpeg" width="120" height="60"/></div>	
			<div style="font-size:22px;font-weight:bold;color:#000000;width:auto;text-align:right;margin-right:60px">PURCHASE ORDER</div>
			
			<div style="width:auto" align="right">
				<barcode code="'.$po_num.'" type="C93" style="text-align:right;margin-right:-14px" size="1" height="1" />
				<div style="font-family: ocrb;text-align:right;margin-right:65px"><b>'.$po_num.'</b></div>
			</div>
			
			Halaman {PAGENO}/{nbpg}<br/>
			'.date('d/m/Y H:i:s').'<br/>
			'.$this->session->get("user")["user_name"].'
		';
		
		$html .= '
			<style>
				table {					
					border: 1px solid #000;
					border-collapse: collapse;
				}
				
				.bordered {
					padding: 10px 3px;
					border-top: 1px solid #000;
					border-bottom: 1px solid #000;
				}
				
				.bordered_row {
					padding-top: 6px;
				}
			</style>
			
			<div style="width:360px;float:left">
				<b>Order To : </b><br/>
				'.$nama_lsi.' <br/>
			</div>
			
			<div style="width:auto;" align="right">
				<b>IMM/TMUK Store : </b><br/>
				'.$tmuk_name.' ('.$tmuk_code.') <br/>
				'.$address1.'<br/>
				'.$address2.'<br/>
				'.$address3.'<br/>
				'.$tmuk_telp.' 
			</div>
			
			<p><table style="width:100%;border:0">
				<tr>
					<td style="width:30%">Nomor PO: '.$po_num.'</td>
					<td style="width:22%">Tanggal Pesan: '.date('d-m-Y', strtotime($order_date)).'</td>				
					<td style="width:22%">Tanggal Pengiriman: '.date('d-m-Y', strtotime($delivery_date)).'</td>				
					<td align="right" style="width:26%">Tipe PO: Lotte</td>
				</tr>
			</table></p><br/>
			
			<table style="width:100%;border:0">
				<thead>
					<tr>
						<th class="bordered" style="width:11%">Kode Barang</th>
						<th class="bordered" style="width:11%">Barcode</th>
						<th class="bordered" style="width:30%">Nama Barang</th>
						<th class="bordered" style="width:6%">Qty/UoM</th>
						<th class="bordered" style="width:10%">UoM</th>
						<th class="bordered" style="width:8%">Order Qty</th>
						<th class="bordered" style="width:12%">Harga Satuan</th>
						<th class="bordered" style="width:12%">Total Harga</th>
					</tr>
				</thead>
				
				<tbody>
			';				
				foreach($lists as $list){
					$total_po += $list['qty_po'] * $list['po_unit_price'];
					$html .= '<tr>
						<td class="bordered_row">'.$list['item_code'].'</td>
						<td class="bordered_row">'.$list['uom_o_barcode'].'</td>
						<td class="bordered_row">'.$list['description'].'</td>
						<td class="bordered_row" style="text-align:right">'.number_format($list['uom_s_conversion'],2,".",",").'</td>
						<td class="bordered_row" style="text-align:right">'.$list['uom_o_type'].'</td>
						<td class="bordered_row" style="text-align:right">'.number_format($list['qty_po'],2,".",",").'</td>
						<td class="bordered_row" style="text-align:right">'.number_format($list['po_unit_price'],2,".",",").'</td>
						<td class="bordered_row" style="text-align:right">'.number_format($list['po_price'] / $list['qty_po'] ,2,".",",").'</td>
					</tr>';
				}
				
				$html .= '
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr><td colspan="8"></td></tr>
				<tr>
					<td colspan="7" align="right">Sub-Total</b></td>
					<td style="text-align:right">'.number_format($total_po,2,".",",").'</td>
				</tr>
				<tr>
					<td colspan="7" align="right"><b>Total PO</b></td>
					<td style="text-align:right">'.number_format($total_po,2,".",",").'</td>
				</tr>
				</tbody>
			</table>
		';
	}else{
		$html .= '';
	}
	
	$mpdf->SetHTMLHeader($html_header);
	$mpdf->WriteHTML($html);
	$mpdf->Output();
	exit;
	
?>


