
<?php
	
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Pembelian'), '<span> Pembelian </span>']).'</li>
		</ul>
	<div>';	
	
	echo '<div class="content_content">';
		echo '<div class="metro-surface">';
			echo '			
				<div class="col-sm-4 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('PR'), '<span><i class="fa fa-shopping-bag fa-2x"></i><div class="judul"> Permintaan Barang (PR) </div></span>']).'
				</div>

				<div class="col-sm-4 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('PO'), '<span><i class="fa fa-file-text-o fa-2x"></i><div class="judul"> Pembelian Barang (PO) </div></span>']).'
				</div>
				
				<div class="col-sm-4 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('GR'), '<span><i class="fa fa-truck fa-2x"></i><div class="judul"> Penerimaan Barang (GR) </div></span>']).'
				</div>

				<div class="col-sm-4 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('ReturBarang'), '<span><i class="fa fa-retweet fa-2x"></i><div class="judul"> Permintaan Retur Barang </div></span>']).'
				</div>	
				
				<!--<div class="col-sm-4 boot-metro-tile metro-tile-purple">
					'.Phalcon\Tag::linkTo([uri('RiwayatPembelian'), '<span><i class="fa fa-history fa-2x"></i><div class="judul"> Riwayat Pembelian </div></span>']).'
				</div>	-->
			';
		
		echo '</div>';
	echo '<div>';
	
?>

