<script type="text/javascript">	
	$(document).ready(function() {	
		$('#cash_cashier').focus();
		$('#cash_cashier').maskNumber({
			integer: true,
		});
		
		$('#btn_save').click(function() {
			var kas_akhir = $('#cash_cashier').val();
			
			if(kas_akhir == '' || kas_akhir == 0){
				sweetAlert("Gagal", "Kas akhir tidak valid.", "error");
				return false;
			}else{
				swal({
					title: "Anda Yakin?",
					text: "Data yang sudah di inputkan tidak dapat dikembalikan!",
					type: "warning",
					showCancelButton: true,
					confirmButtonClass: "btn-danger",
					confirmButtonText: "Ya, Simpan",
					cancelButtonText: "Tidak, Kembali",
					closeOnConfirm: false,
					closeOnCancel: false
				},
				function(isConfirm){
					if (isConfirm) {
						$("#end-form").submit();			
						return false;
					}else{
						swal("Dibatalkan", "End Of Shift Dibatalkan.", "info");
					}
				});
				return false;
			}
		});	
		
		$('#end-form').submit(function(e) {	
			e.preventDefault();
			jQuery.ajax({
				type: 'post',
				url: '<?php echo $this->url->get(uri('Penjualan/EndJual')) ?>',
				data: jQuery('#end-form').serialize(),
				beforeSend: function() {
					$('#btn_save').attr('disabled', true);	
					$('.modal').show();
				},
				complete: function() {
					$('#btn_save').attr('disabled', false);	
					$('.modal').hide();
				}, 
				success: function (data) {	
					data_array = JSON.parse(data);
					
					if(data_array.type == 'S'){
						swal({
							title: "Sukses",
							text: data_array.message,
							type: "success",
							html: true
						});	
						$.post( "<?php echo $this->url->get(uri('Penjualan/cetak_EOS')) ?>?id="+$('#id').val()+"" ).done(function(data){
							window.location = '<?php echo $this->url->get(uri('EndDay')) ?>';
						});
					}else if(data_array.type == 'E'){
						swal({
							title: "Gagal",
							text: data_array.message,
							type: "error",
							html: true
						});
					}
				}
			});
				
			return false;
		});						
	});		
</script>

<?php
	if(count($lists_eShift) <= 0){
		echo "<script>setTimeout(function() {
							swal({
								title : 'Gagal',
								text : 'Anda belum melakukan Start of Shift',
								type: 'warning',
								html : true,
							}, function() {
								window.location.replace(('Start'));
							});
						}, 100);
		</script>";
	}else{		
		
		echo '<div class="content_header">
			<ul class="red-breadcrumb">
				<li>'.Phalcon\Tag::linkTo([uri('Immpos'), '<span> IMMPOS </span>']).'</li>
				<li>'.Phalcon\Tag::linkTo([uri('Penjualan'), '<span> Penjualan </span>']).'</li>
			</ul>
		<div>';
		
		echo '<div class="content_content">';	
			echo '<legend> Tutup Shift </legend><br/>';
			echo $this->tag->form(["id"=>"end-form"]);
				echo '<table class="myTable table-striped table-condensed">';
					foreach($lists_eShift as $list){
						echo '<input type="hidden" value="'.$list['id'].'" id="id" name="id"/>';
						echo '<input type="hidden" value="'.$list['kassa_id'].'" name="kassa_id"/>';
						echo '<input type="hidden" value="'.$list['shift_id'].'" name="shift_id"/>';
						echo '<tr>';
							echo '<td>'.'<label> ID Kasir </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["kasir_id", "class"=>"form-control", "value"=>$this->session->get("user")['user_name'], "readonly"=>"true"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label> No POS </label>'.'</td>';
							echo '<td><input type="text" class="form-control" value="'.$list['kassa_desc'].'" name="kassa_desc" readOnly></td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label> Shift </label>'.'</td>';
							echo '<td><input type="text" class="form-control" value="'.$list['shift_desc'].'" name="shift_desc" readOnly></td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label> Setoran Awal </label>'.'</td>';
							echo '<td><input type="text" class="form-control" value="'.number_format($list['setoran']).'" readOnly></td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td>'.'<label> Kas Akhir </label>'.'</td>';
							echo '<td>'.$this->tag->textField(["cash_cashier", "class"=>"form-control"]).'</td>';
						echo '</tr>';
						echo '<tr>';
							echo '<td class="pull-right"></td>';
							echo '<td class="center" style="text-align:center;">* Input seluruh uang hasil penjualan</td>';
						echo '</tr>';									
						echo '<tr>';
							echo '<td colspan="2" class="center" style="text-align:center;"><br/>
								<button id="btn_save" class="btn btn-primary"> Tutup Penjualan </button>						
							</td>';
						echo '</tr>';
					}
				echo '</table>';	
			echo $this->tag->endForm();
			
			echo '			
				<div class="modal" style="display: none">
					<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
				</div>
			';
			
		echo '</div>';
	}

?>