<script type="text/javascript">
	$(document).ready( function () {
		$('#btn_create').click( function () {
			window.location = '<?php echo $this->url->get(uri('PR/add')) ?>';
		});
	});
</script>

<?php
	
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('Immpos'), '<span> IMMPOS </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Penjualan'), '<span> Penjualan </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">		
		'.$this->flashSession->output().'				
	<div>';
	
?>

