
<?php
	
	$listTMUK = TMUK::getAll();
	$condition = "WHERE id = ".$_GET["id"].""; 
	$lists = StartEndShift::getFreeSQL($condition);
	
	$st_code = "";
	$st_name = "";
	$owner = "";
	
	$ppn = 0; $net_sales = 0; $total_act = 0;
	$cash_income = 0; $setoran = 0; $cash = 0;
	
	if(count($lists) > 0){
		foreach($lists as $list){
			$shift_desc = $list['shift_desc'];
			$kassa_desc = $list['kassa_desc'];
			$tanggal = $list['tanggal'];
			
			$setoran = $list['setoran'];
			$cash = $list['cash_cashier'];
			
			$condition1 = "WHERE j.id_kasir = '".$list['user_id']."' AND DATE(j.tanggal) = '".$list['tanggal']."' AND j.kassa_id = ".$list['kassa_id']." AND j.shift_id = ".$list['shift_id']." group by j.id_kasir,j.kassa_id,j.shift_id,date(j.tanggal) ";

			$condition2 = "WHERE j.id_kasir = '".$list['user_id']."' AND DATE(j.tanggal) = '".$list['tanggal']."' AND j.kassa_id = ".$list['kassa_id']." AND j.shift_id = ".$list['shift_id']." group by b.tipe ";

			$listJual = Jual::getTotJualShift($condition1);
			$listJualBayar = Jual::getTotJualBayarShift($condition2);
		}
	}
	
	if(count($listTMUK) > 0){
		foreach($listTMUK as $list2){
			$st_code = $list2['tmuk'];
			$st_name = $list2['name'];
			$owner = $list2['owner'];
		}
	}	
	
	$html .= '
	<style>
		@page {
			margin: 10px;
		}
	</style>

		<p align="center">	
			END SHIFT
		</p>
		
		<table> ';
			
		$html .= '
		<tr>
			<td>Shift</td>
			<td>:</td>
			<td>'.$shift_desc.'</td>
		</tr>
		<tr>
			<td>Kasir</td>
			<td>:</td>
			<td>'.$kassa_desc.'</td>
		</tr>
		<tr>
			<td>Store Code</td>
			<td>:</td>
			<td>'.$st_code.'</td>
		</tr>
		<tr>
			<td>Store Name</td>
			<td>:</td>
			<td>'.$st_name.'</td>
		</tr>
		<tr>
			<td>Date</td>
			<td>:</td>
			<td>'.$tanggal.'</td>
		</tr>';
	
		$html .= '
		</table><br/>
		
		<div style="padding-bottom:5px;border-bottom:1px dotted #000">SALES</div>
		<div align="center" style="padding:5px 0px;border-bottom:1px dotted #000">
			<table style="width:100%">';
			
			foreach($listJual as $listj){
				$ppn = $listj['tax'];
				$cash_income = $listj['total'] + $ppn;
				$net_sales = $listj['total'];
			}
			
			$html .='
				<tr>
					<td style="width:70%" align="right">Setoran Awal</td>
					<td align="right">'.number_format($setoran,0,",",".").'</td>
				</tr>
				<tr>
					<td style="width:70%" align="right">Kas Akhir</td>
					<td align="right">'.number_format($cash,0,",",".").'</td>
				</tr>
				<tr>
					<td style="width:70%" align="right">Penjualan</td>
					<td align="right">'.number_format($net_sales,0,",",".").'</td>
				</tr>
				<tr>
					<td style="width:70%" align="right">Net Return</td>
					<td align="right">0</td>
				</tr>
				<tr>
					<td style="width:70%" align="right">PPN</td>
					<td align="right">'.number_format($ppn,0,",",".").'</td>
				</tr>';
			
			$html .='</table>
		</div>
		
		<div align="center" style="padding:5px 0px;border-bottom:4px double #000">
			<table style="width:100%;">
				<tr>
					<td style="width:70%" align="right">Total Sales</td>
					<td align="right">'.number_format($cash_income,0,",",".").'</td>
				</tr>
			</table>
		</div><br/>
		
		<div style="padding-bottom:5px;border-bottom:1px dotted #000">ACTUAL</div>
		<div align="center" style="padding:5px 0px;border-bottom:1px dotted #000">
			<table style="width:100%">';
			
			$tunai = 0; $donasi = 0; $debet = 0;
			$credit = 0; $voucher = 0;
			
			foreach($listJualBayar as $listjb){
				
				if($listjb['tipe'] == 'TUNAI'){ $tunai = $listjb['total']; } 
				if($listjb['tipe'] == 'DONASI'){ $donasi = $listjb['total']; } 
				if($listjb['tipe'] == 'CREDIT'){ $credit = $listjb['total']; } 
				if($listjb['tipe'] == 'DEBET'){ $debet = $listjb['total']; } 
				if($listjb['tipe'] == 'VOUCHER'){ $voucher = $listjb['total']; } 
				
				$total_act += $listjb['total'];
			}

			$html .= '<tr>
					<td style="width:70%" align="right">TUNAI</td>
					<td align="right">'.number_format($tunai,0,",",".").'</td>
				</tr>
				<tr>
					<td style="width:70%" align="right">DONASI</td>
					<td align="right">'.number_format($donasi,0,",",".").'</td>
				</tr>
				<tr>
					<td style="width:70%" align="right">CREDIT</td>
					<td align="right">'.number_format($credit,0,",",".").'</td>
				</tr>
				<tr>
					<td style="width:70%" align="right">DEBET</td>
					<td align="right">'.number_format($debet,0,",",".").'</td>
				</tr>
				<tr>
					<td style="width:70%" align="right">VOUCHER</td>
					<td align="right">'.number_format($voucher,0,",",".").'</td>
				</tr>';
			
			$html .= '</table>
		</div>
		
		<div align="center" style="padding:5px 0px;border-bottom:4px double #000">
			<table style="width:100%;">
				<tr>
					<td style="width:70%" align="right">Total Actual</td>
					<td align="right">'.number_format($total_act,0,",",".").'</td>
				</tr>
			</table>
		</div>

		<div align="center" style="padding-top:5px;border-bottom:1px dotted #000">
			Mengetahui Store Leader<br/><br/><br/>
			(&nbsp;&nbsp;&nbsp;'.$owner.'&nbsp;&nbsp;&nbsp;)<br/><br/>
		</div>
		<div align="center" style="padding-top:5px;">
			Print Date : '.date('d-m-Y H:i:s').'
		</div>
	';
	
	require_once (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('0', array(75,200), 9, 'arial');
	$mpdf->WriteHTML($html);
	$mpdf->Output();
	exit;

?>

