
<?php
	
	date_default_timezone_set('Asia/Jakarta');
	
	$condition = "WHERE id_jual = '".$_GET['id_jual']."'";
	
	$lists = TMUK::getAll();
	$lists2 = Jual::getFreeSQL($condition);
	$lists3 = JualDetail::getFreeSQL($condition);
	$lists4 = JualBayar::getFreeSQL($condition);
	
	$tmuk_name = null;
	$tmuk_telp = null;
	
	$html .= '
	<style>
		@page {
			margin: 10px;
		}
	</style>';
	foreach($lists as $list){
		$html .= '<p align="center">	
			'.$list['name'].'<br/>
			'.$list['tmuk'].'<br/>
			'.$list['address'].'
		</p> ';
		
		$tmuk_name = $list['name'];
		$tmuk_telp = $list['telp'];
	}	
	
	$total = 0;
	$count = 0;
	$dpp = 0;
	$ppn = 0;
	
	foreach($lists2 as $list2){
		$dpp = $list2['subtotal'];
		$ppn = $list2['tax'];
		$total = $list2['total'];
		
		$html .= '
		
			<div align="center" style="padding-bottom:5px;border-bottom:1px dotted #000;page-break-inside: avoid;">'.date('d-m-Y', strtotime($list2['tanggal'])).' '.date('H:i:s').' - '.$list2['id_kasir'].'</div>';
	}	
		$html .= '<div align="center" style="padding:5px 0px;border-bottom:1px dotted #000;page-break-inside: avoid;">
			<table style="width:100%">';
				
				foreach($lists3 as $list3){
					$html .= '<tr>
						<td style="width:45%">'.$list3['description'].'</td>
						<td>'.$list3['qty'].'</td>
						<td>'.number_format($list3['harga'],0,",",".").'</td>
						<td>'.number_format($list3['qty'] * $list3['harga'],0,",",".").'</td>
					</tr>';
					$count++;
				}
				
			$html .= '</table>
		</div>
		<div align="center" style="padding:5px 0px;border-bottom:1px dotted #000;page-break-inside: avoid;">
			<table style="width:100%">
				<tr>
					<td>TOTAL SALES ['.$count.'/'.$count.']</td>
					<td>:</td>
					<td>'.number_format($total,0,",",".").'</td>
				</tr>';
				
			foreach($lists4 as $list4){
				if($list4['tipe'] == "DONASI"){
					$cash -= $list4['total'];
				}else{
					$cash += $list4['total'];
				}
				
				$sisa = $cash - $total;	
				
				$html .= '
				<tr>
					<td>'.$list4['tipe'].'</td>
					<td>:</td>
					<td>'.number_format($list4['total'],0,",",".").'</td>
				</tr>';
			}
			
			$html .= '
				<tr>
					<td>TOTAL CHANGE</td>
					<td>:</td>
					<td>'.number_format($sisa,0,",",".").'</td>
				</tr>
			</table>
		</div>
		<div align="center" style="padding:5px 0px;border-bottom:1px dotted #000;page-break-inside: avoid;">
			<table style="width:100%">
				<tr>
					<td>DPP : '.$dpp.'</td>
					<td>PPN : '.$ppn.'</td>
				</tr>
			</table>
		</div>
		<div align="center" style="padding-top:5px;page-break-inside: avoid;">
			THANK YOU FOR SHOPPING AT '.$tmuk_name.'<br/>
			imm@lottemart.co.id<br/>
			Hotline IMM TMUK : '.$tmuk_telp.'<br/>
			Transaction id : '.$_GET['id_jual'].'<br/>
		</div>
	';
	
	require_once (__DIR__ . '/../../library/MPDF/mpdf.php');
	$mpdf = new mPDF('0', array(100,200), 9, 'arial');
	$mpdf->WriteHTML($html);
	$mpdf->Output();
	exit;
	
?>

