<style type="text/css">	
	.red-breadcrumb, nav.navbar { display:none }
	div.main_center .content_header { background:transparent; margin:0; padding:0 }
	div.main_center .content_content { background:transparent; width: 98%; margin:0; padding: 0 }
	main.main { margin-left: 40px; padding: 0 }
	#DataTableZero .markData { color: blue; font-weight: bold; }	
	
	.styled_margin{
		margin-top:0px;
	}

	.styled_margin_harga{
		margin-top:0px;
	}
	
	.styled_member{
		background: #f7f7f7;
		border: 2px solid #fff;
		padding: 10px;
		text-align: left;
	}	
	
	.styled_kasir{
		background: #f7f7f7;
		border: 2px solid #fff;
		padding: 12.5px;
		text-align: left;
	}	
	
	.styled_sell{
		background: #f7f7f7;
		border: 2px solid #fff;
		padding: 5px;
		text-align: left;
		min-height:220px;
	}
	
	.styled_note{
		background: #f7f7f7;
		border: 2px solid #fff;
		padding: 5px;
		text-align: left;
		min-height:100px;
	}
	
	.styled_subtotal{
		background: #f7f7f7;
		border: 2px solid #fff;
		padding: 5px;
		text-align: left;	
		min-height:125px;		
	}
	
	.styled_bayar{
		background: #f7f7f7;
		border: 2px solid #fff;
		padding: 5px;
		text-align: left;
		height:100px;
	}
	
	.styled_bayar_lain{
		background: #f7f7f7;
		border: 2px solid #fff;
		padding: 5px;
		text-align: left;
		height:200px;
	}
	
	.styled_total{
		background: #f7f7f7;
		border: 2px solid #fff;
		padding: 5px;
		text-align: left;
		min-height:75px;
	}
	
	.styled_promo{
		background: #f7f7f7;
		border: 2px solid #fff;
		padding: 5px;
		text-align: left;
		min-height:200px;
	}
	
	.styled_button1{
		background: #f7f7f7;
		border: 2px solid #fff;
		padding: 10px;
		text-align: center;
		min-height:50px;
	}
	
	.styled_button2{
		background: #f7f7f7;
		border: 2px solid #fff;
		padding: 5px;
		text-align: center;
		min-height:50px;
	}
	.tengah {
		margin: auto;
		width: 60%;
		border: 3px solid #73AD21;
		padding: 10px;
	}
	
	
</style>

<script type="text/javascript">
	var myTable;
	var myTableOne;
	var myTableTwo;
	var count = <?php echo count($tunda_details) + count($retur_details); ?>;
	var count_bayar = 0;
	var mydate = new Date();

	$(document).ready( function (){
		window.location.hash="no-back-button";
		window.location.hash="Again-No-back-button";
		window.onhashchange=function(){window.location.hash="no-back-button";}
		$('#tunai').maskNumber({
			integer: true,
		});

		var total_awal = 100;

		document.getElementById("barcode_only").focus();

		myTable = $('#DataTableZero').DataTable({
			"info" 			: false,
			"paging"		: false,
			"ordering"		: false,
			"searching"		: false,
			"scrollY"		: "150px",
			"scrollCollapse": true,
			"scroller"		: true,
			"fnRowCallback"	: function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {					
				$('td:eq(8)', nRow).addClass( "markData" );
			}
		});	

		myTableOne = $('#DataTableOne').DataTable({
			"info" 			: false,
			"paging"		: false,
			"ordering"		: false,
			"searching"		: false,
			"scrollY"		: "100px",
			"scrollCollapse": true				
		});	

		myTableTwo = $('#DataTableTwo').DataTable({
			"info" 			: false,
			"paging"		: false,
			"ordering"		: false,
			"searching"		: false,
			"scrollY"		: "150px",
			"scrollCollapse": true				
		});

		myTableTwo = $('#DataTableThree').DataTable({
			"info" 			: false,
			"paging"		: false,
			"ordering"		: false,
			"searching"		: false,
			"scrollY"		: "150px",
			"scrollCollapse": true				
		});

		$('#DataTableZero tbody').on('click', 'tr', function() {
			if( $(this).hasClass('selected') ){
				$(this).removeClass('selected');
			}
			else{
				myTable.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});

		$('#DataTableOne tbody').on('click', 'tr', function() {
			if( $(this).hasClass('selected') ){
				$(this).removeClass('selected');
			}else{
				myTable.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});
		$('#btn_end').click(function() {
			window.location = '<?php echo $this->url->get(uri('Penjualan/End')) ?>';
			return false;
		});

		$('#btn_back').click(function() {
			window.location = '<?php echo $this->url->get(uri('Immpos')) ?>';
			return false;
		});

		$('#btn_delete').click(function() {
			var data = myTable.rows().data();	
			if(data.length == 0){
				swal("Info", "Tidak ada data yang akan dihapus.", "warning");
				return false;
			}else{
				$('#modal_void').modal('show');
				$('#user_void').focus();

				$('#submit_void').click(function(e){
					$.ajax({ url: "<?php echo $this->url->get(uri('User/voidUser')) ?>?user="+$('#user_void').val()+"&pass="+$('#pass_void').val()+" " }).done(function(data){
						myArray = JSON.parse(data);	
						if(myArray == '' || myArray == null){
							swal("Gagal", "Username atau Password salah.", "error");
						}

						if(myArray[0].role_name.toLowerCase() == 'supervisor' || myArray[0].role_name.toLowerCase() == 'kepalatoko'){
							// var bonuses = $('#DataTableZero tr.selected').next('.bonus');
							var theRow = myTable.row('.selected').data();
							// myTable.row(bonuses).remove();
							myTable.row('.selected').remove().draw();
							myTable.row('.rm-'+theRow[1]).remove().draw( false );
							// myTable.row('.pm-'+theRow[1]).cell(7).data(0).draw( false );
							myTable.row('.buyx_gety'+theRow[1]).remove().draw( false );

							// cell = myTable.row('.pm-'+theRow[1]).cell(i,7);
							// cell.data(0);
							// cek promo
							checkPromo()

							calcQty();
							$('#modal_void').modal('hide');
							$('#user_void').val("");
							$('#pass_void').val("");
							$('#kembalian').val("");
						}else{
							swal("Gagal", "Username tidak punya akses Void.", "error");
						}
					});
					return false;
				});
			}
		});

		$('#btn_add_bayar').click(function() {
			addRowBayar();
			return false;
		});

		$('#btn_delete_bayar').click(function() {
			myTableOne.row('.selected').remove().draw( false );
			return false;
		});

		$('#btn_reset').click(function() {
			var data = myTable.rows().data();	

			if(data.length == 0){
				swal("Info", "Tidak ada data yang akan dihapus.", "warning");
				return false;
				$('#btn_back').prop('disabled', false);
			}else{
				$('#modal_void').modal('show');
				$('#user_void').focus();
				$('#submit_void').click(function(e){
					$.ajax({ url: "<?php echo $this->url->get(uri('User/voidUser')) ?>?user="+$('#user_void').val()+"&pass="+$('#pass_void').val()+" " }).done(function(data){
						myArray = JSON.parse(data);	

						if(myArray == '' || myArray == null){
							swal("Gagal", "Username atau Password salah.", "error");
						}

						if(myArray[0].role_name.toLowerCase() == 'supervisor' || myArray[0].role_name.toLowerCase() == 'kepalatoko'){
							myTable.clear(); myTable.draw();
							myTableOne.clear();	myTableOne.draw();
							myTableTwo.clear();	myTableTwo.draw();

							$("#member_id").val('');
							$("#valid_member").val('');
							$("#valid_bayar").val('');
							$("#valid_kembali").val('');
							$("#discount").val(format(0));
							$("#tax").val(format(0));
							$("#subtotal").val(format(0));	
							$("#total").val(format(0));
							$("#kembalian").val(format(0));
							$("#tunai").val('');
							$("#donasi").val(format(0));
							$("#note").val('');
							$("#status").val('');
							$("#id_jual").val('');
							$("#id_reference").val('');
							$("#total_view").val('');

							$('#modal_void').modal('hide');
							$('#user_void').val("");
							$('#pass_void').val("");
						}else{
							swal("Gagal", "Username tidak punya akses Void.", "error");
						}
					});
					$('#btn_back').prop('disabled', false);
					return false;
				});
			}

			return false;
		});

		$(document).ready(function() {
		    var member = $("#member_id").val();
			var name = '';
			
			if(member != ''){
				$.ajax({ url: "<?php echo $this->url->get(uri('Penjualan/ajaxCheckMember')) ?>?member="+member+" " }).done(function(data){
					myArray = JSON.parse(data);									

					if(myArray != null){						
						$("#valid_member").val("X");
						$("#tipe_member").val(myArray.tipe);
						if(myArray[0].name != undefined)
							name = myArray[0].name;
						else if(myArray[0].br_name != undefined)
							name = myArray[0].br_name;
							$("#discount_member").val(myArray[0].curr_code);			
							calcQty();
						}else{						
							$("#tipe_member").val("");
							$("#member_id").val("");
							calcQty();
						}
					});
			}else{
				$("#valid_member").val("");
			}
			calcQty();

			return false;
		});

		$('#btn_check').click(function() {		
			var member = $("#member_id").val();
			var name = '';
			
			if(member != ''){
				$.ajax({ url: "<?php echo $this->url->get(uri('Penjualan/ajaxCheckMember')) ?>?member="+member+" " }).done(function(data){
					myArray = JSON.parse(data);	
					total_credit = myArray.total_credit;
					if(myArray != null){						
						$("#valid_member").val("X");
						$("#tipe_member").val(myArray.tipe);
						if(myArray[0].name != undefined)
							name = myArray[0].name;
						else if(myArray[0].br_name != undefined)
							name = myArray[0].br_name;
							limit = myArray[0].credit_limit;
							sisa = limit - total_credit;
							$("#discount_member").val(myArray[0].curr_code);			
							swal({
								title : "",
								text : "<b>"+name+"</b> terdaftar sebagai Member. <br><font color='red'>Sisa Limit : <b>"+sisa+"</b></font>",
								type : "success",
								html : true
							});
						}else{						
							$("#tipe_member").val("");
							$("#member_id").val("");
							sweetAlert("Gagal", "Member tidak ditemukan.", "error");
						}
						
						calcQty();
					});
			}else{
				$("#valid_member").val("");
			}

			return false;
		});

		$('#btn_hold').click(function(event) {
			calcQty();
			$("#status").val('HOLD');
			$("#sell-form").submit();
			return false;				
		});	

		$('#btn_submit').click(function() {	
			calcQty();
			$("#status").val('SUBMIT');

			var valid_member = $("#valid_member").val();
			var member = $("#member_id").val();
			var valid_bayar = $("#valid_bayar").val();
			var valid_kembali = $("#valid_kembali").val();
			var total = $("#total").val();
			if(member != '' && valid_member != 'X'){
				sweetAlert("Gagal", "Cek Member terlebih dahulu.", "error");
				return false;
			}

			if(parseInt(total) <= 0){
				sweetAlert("Gagal", "Data Penjualan masih kosong.", "error");
				return false;
			}

			if(valid_bayar != 'X'){
				sweetAlert("Gagal", "Jumlah uang tidak mencukupi.", "error");
				return false;
			}

			if(valid_kembali != 'X'){
				sweetAlert("Gagal", "Kembalian tidak boleh melebihi nilai Tunai.", "error");
				return false;
			}

			$("#sell-form").submit();
			$('#btn_back').prop('disabled', false);
			return false;				
		});								

		$('#sell-form').submit(function(e) {
			var data = myTable.rows().data();	
			var data_input = myTable.$('input, select').serialize();
			var data_arr1 = data_input.split("&");				
			var data_convert = [];
			var count = 10;
			for(var i=0; i< data.length; i++){					
				var qty = data_arr1[i*count].split("=");
				var item = data_arr1[(i*count)+1].split("=");
				var diskon = data_arr1[(i*count)+2].split("=");
				var diskonAmount = data_arr1[(i*count)+3].split("=");
				var taxType = data_arr1[(i*count)+4].split("=");
				var hargaMember = data_arr1[(i*count)+5].split("=");
				var hargaHpp3 = data_arr1[(i*count)+6].split("=");
				var qtyDiskon = data_arr1[(i*count)+7].split("=");
				var noHP = data_arr1[(i*count)+8].split("=");
				var flagPromo = data_arr1[(i*count)+9].split("=");

				if(qty[1] == ''){
					data[i][5] = 0;
					sweetAlert("Gagal", "Jumlah Barang tidak boleh null!", "error");
					return false; 
				}else if(qty[1] == 0){
					sweetAlert("Gagal", "Jumlah Barang tidak boleh kosong!", "error");
					return false; 
				}else{
					data[i][5] = qty[1];
					if(qty[1] < 0) { 
						sweetAlert("Gagal", "Jumlah Barang tidak boleh lebih kecil dari 1!", "error");
						return false; 
					} 	
				}

				if(item[1] == ''){ data[i][9] = 1; }
				else{ data[i][9] = item[1]; }

				if(diskon[1] == ''){ data[i][10] = '0'; }
				else{ data[i][10] = diskon[1]; }

				if(diskonAmount[1] == ''){ data[i][11] = '0'; }
				else{ data[i][11] = diskonAmount[1]; }

				if(taxType[1] == ''){ data[i][12] = '0'; }
				else{ data[i][12] = taxType[1];	}

				if(hargaMember[1] == ''){ data[i][13] = '0'; }
				else{ data[i][13] = hargaMember[1];	}

				if(hargaHpp3[1] == ''){ data[i][14] = '0'; }
				else{ data[i][14] = hargaHpp3[1]; }

				if(noHP[1] == ''){ 
				sweetAlert("Gagal", "Nomor HP tidak boleh kosong!", "error");
				return false;  
			}else{ data[i][15] = noHP[1]; }

			data_convert.push([
				data[i][0],data[i][1],data[i][2],data[i][3],data[i][4],data[i][5],data[i][6],data[i][7],
				data[i][8],data[i][9],data[i][10],data[i][11],data[i][12],data[i][13],data[i][14],data[i][15]
				]);
		}

		var json_data = document.getElementById('json_data');
		json_data.value = JSON.stringify(data_convert);

				// data bayar
				data = myTableOne.rows().data();			
				data_input = myTableOne.$('input, select').serialize();
				data_arr1 = data_input.split("&");		
				
				data_convert = [];
				
				for(var i=0; i< data.length; i++){
					var tipe = data_arr1[i*4].split("=");
					var bank = data_arr1[(i*4)+1].split("=");
					var kartu = data_arr1[(i*4)+2].split("=");
					var total = data_arr1[(i*4)+3].split("=");
					
					if(tipe[1] == ''){ data[i][0] = '';	}
					else{ data[i][0] = tipe[1];	}
					
					if(bank[1] == ''){ data[i][1] = ''; }
					else{ data[i][1] = bank[1];	}
					
					if(kartu[1] == ''){	data[i][2] = ''; }
					else{ data[i][2] = kartu[1]; }
					
					if(total[1] == ''){ data[i][3] = 0; }
					else{ data[i][3] = total[1]; }
					
					if(tipe[1] == 'DEBIT' || tipe[1] == 'KREDIT'){
						if(bank[1] == ''){ swal("Gagal","Bank harus dipilih.","error");	return false; }						
						if(kartu[1] == ''){	swal("Gagal","Nomor Kartu harus diisi.","error"); return false;	}
					}

					if(total[1] == ''){ swal("Gagal","Total harus diisi.","error"); return false;}
					if(total[1] <= 0){ swal("Gagal","Total tidak boleh lebih kecil dari 1.","error"); return false;}
					
					data_convert.push([data[i][0],data[i][1],data[i][2],data[i][3]]);
				}
				
				var json_data_bayar = document.getElementById('json_data_bayar');
				json_data_bayar.value = JSON.stringify(data_convert);
				
				e.preventDefault();
				jQuery.ajax({
					type: 'post',
					url: '<?php echo $this->url->get(uri('Penjualan/Insert')) ?>',
					data: jQuery('#sell-form').serialize(),
					beforeSend: function() {
						$('#btn_hold').attr('disabled', true);
						$('#btn_submit').attr('disabled', true);
						$('#btn_reset').attr('disabled', true);
						$('#btn_end').attr('disabled', true);
						$('.modal').show();
					},
					complete: function() {
						$('#btn_hold').attr('disabled', false);
						$('#btn_submit').attr('disabled', false);						
						$('#btn_reset').attr('disabled', false);
						$('#btn_end').attr('disabled', false);	
						$('.modal').hide();
					}, 
					success: function(data){
						data_array = JSON.parse(data);
						var status = $("#status").val();
						var id_reference = $("#id_reference").val();
						if(data_array.type == 'S'){
							if(status == 'HOLD'){
								swal({
									title : "Sukses",
									text : "Transaksi <b>"+data_array.id+"</b> ditunda.",
									type : "info",
									html : true
								});
							$('#btn_back').prop('disabled', false);
							}else if(status == 'SUBMIT'){
								if(id_reference){
									$.post( "<?php echo $this->url->get(uri('Penjualan/display_I')) ?>?tunai="+$("#tunai").val()+"&kembalian="+$("#kembalian").val()+"&total="+$("#total").val()+"" );
									$.post( "<?php echo $this->url->get(uri('Penjualan/cetak_struk')) ?>?id_jual="+data_array.id+"" );
									setTimeout(function() {
										swal({
											title : "Sukses",
											text : "Transaksi <b>"+data_array.id+"</b> berhasil.<br/>Jangan lupa senyum kepada pelanggan.",
											type: "success",
											html : true,
										}, function() {
											window.location = '<?php echo $this->url->get(uri('Penjualan/Sell')) ?>';
										});
									}, 100);
								}else{
									$.post( "<?php echo $this->url->get(uri('Penjualan/display_I')) ?>?tunai="+$("#tunai").val()+"&kembalian="+$("#kembalian").val()+"&total="+$("#total").val()+"" );
									$.post( "<?php echo $this->url->get(uri('Penjualan/cetak_struk')) ?>?id_jual="+data_array.id+"" );
									swal({
										title : "Sukses",
										text : "Transaksi <b>"+data_array.id+"</b> berhasil.<br/>Jangan lupa senyum kepada pelanggan.",
										type : "success",
										html : true,
									});
								}
							}
							
							myTable.clear(); myTable.draw();
							myTableOne.clear();	myTableOne.draw();
							myTableTwo.clear();	myTableTwo.draw();
							
							$("#member_id").val('');
							$("#valid_member").val('');
							$("#valid_bayar").val('');
							$("#valid_kembali").val('');
							$("#discount").val(format(0));
							$("#tax").val(format(0));
							$("#subtotal").val(format(0));	
							$("#total").val(format(0));
							$("#kembalian").val(format(0));
							$("#tunai").val('');
							$("#donasi").val(format(0));
							$("#note").val('');
							$("#status").val('');
							$("#id_jual").val('');
							$("#id_reference").val('');
							$("#total_view").val('');
							$("#barcode_only").focus();
						}else if(data_array.type == 'E'){
							swal({
								title : data_array.title,
								text : data_array.message,
								type : "error",
								html : true
							});
						}
					}
				});
				
				return false;				
			});			

});		

$(document).change(function(e) {
	var data_input = myTable.column(1).data().toArray();
	var jumlah = myTable.rows().data();
// 	$.post("<?php echo $this->url->get(uri('Penjualan/ajaxCariPromo')) ?>", {data:data_input}, function(e) {
// 		if(e != '[]'){
// 			result = JSON.parse(e);
// 			$.each(result, function(idx, row){
// 				dataArray = row.data;
// 				var find = $("#DataTableZero").dataTable().fnFindCellRowIndexes(dataArray.kode_produk, 1);
// 				myTable.cell(find, 7)
// 				.data(parseInt(dataArray.diskon)).draw(false);
// // if(find.length >= 1 && dataArray != 0){
// // 	// var cell = myTable.cell(i,7);
// // 	// cell.data(parseInt(row.diskon));

// // 	var indexes = myTable.rows().eq(0).filter( function (rowIdx) {
// // 		return myTable.cell( rowIdx, 1).data() == dataArray.kode_produk;
// // 	});
// // 	var rows = myTable.rows(indexes)
// // 		   .nodes();
// // 	console.log(rows.column(7).data());
// // 	$.each(rows, function(key, item){
// // 		myTable.rows(indexes).nodes().to$().addClass('pm-'+item.kode_produk);
// // 	});
// // }
// })
// 		}
// 	})
		calcQty();
	return false;
});

function calcQty() {
	var total_calc = 0;
	var subtotal_calc = 0;
	var tax_calc = 0;
	var discount_calc = 0;
	var cash_calc = 0;
	var cash_lain = 0;
	var kembalian = 0;
	var non_ppn = 0;
	var temp_price = 0;
	var temp_desc = '';
	var temp_qty = 0;

	var valid_member = $("#valid_member").val();
	var tipe_member = $("#tipe_member").val();
	var member = $("#member_id").val();
	var discount = $("#discount").val();
	var tax = $("#tax").val();
	var subtotal = $("#subtotal").val();	
	var total = $("#total").val();
	var donasi = $("#donasi").val(format(0));

	var tunai = 0;
	if($("#tunai").val() != ''){
		tunai = parseFloat($("#tunai").val().replace(/,/g, ''));
	}

	var data = myTable.rows().data();
	var data_input = myTable.$('input, select').serialize();
	data_arr1 = data_input.split("&");
	var count = 10;
	for(var i=0; i < data.length; i++){
		var qty = data_arr1[i*count].split("=");
		var item = data_arr1[(i*count)+1].split("=");
		var diskon = data_arr1[(i*count)+2].split("=");
		var diskonAmount = data_arr1[(i*count)+3].split("=");
		var taxType = data_arr1[(i*count)+4].split("=");
		var hargaMember = data_arr1[(i*count)+5].split("=");
		var hargaHpp3 = data_arr1[(i*count)+6].split("=");
		var qtyDiskon = data_arr1[(i*count)+7].split("=");
		var noHP = data_arr1[(i*count)+8].split("=");
		var flagPromo = data_arr1[(i*count)+9].split("=");

		if(qty[1] != sessionStorage.getItem("qty_"+i)){
			temp_desc = data[i][2];
			temp_qty = qty[1];

			if(tipe_member == "cust"){
				var harga_m = parseInt(data[i][3]);
				var diskon_m = 0;
				if(!$('#discount_member').val()==''){
					diskon_m = parseInt($('#discount_member').val());
				}
				temp_price =  Math.round(harga_m - (harga_m*diskon_m/100));
				// console.log(temp_price);
			}else if(tipe_member == "member"){
				if(hargaMember>0){
					temp_price = hargaMember[1];
				}else{
					
					temp_price = data[i][3];
				}
			}else{
				temp_price = data[i][3];
			}

			sessionStorage.setItem("qty_"+i, qty[1]);
		}

		if(qty[1] != ''){
			var cell; 
			if(valid_member == 'X'){
				if(tipe_member == "member"){
					cell = myTable.cell(i,4);
					if(hargaMember[1]>0){
						cell.data(hargaMember[1]);
					}else{
						cell.data("0");
					}

					cell = myTable.cell(i,8);
					if(hargaMember[1]>0){
						cell.data(Math.round(qty[1] * data[i][4]));
						total_calc = total_calc + Math.round( qty[1] * data[i][4] );
					}else{
						cell.data(Math.round(qty[1] * data[i][3]));
						total_calc = total_calc + Math.round( qty[1] * data[i][3] );
					}

					if(taxType[1] == '2'){
						non_ppn = non_ppn + (qty[1] * data[i][3]);
					}


					if(diskon[1] != ''){
						cell = myTable.cell(i,7);
						cell.data("0");
						discount_calc = discount_calc + ( parseInt(qty[1] * data[i][7] ));							
					}
				}else{
					var harga_m = parseInt(myTable.cell(i,3).data());
					var diskon_m = 0;
					if(!$('#discount_member').val()==''){
						diskon_m = parseInt($('#discount_member').val());
					}

					cell = myTable.cell(i,4);
					cell.data(Math.round(harga_m - (harga_m*diskon_m/100)));

					cell = myTable.cell(i,8);
					cell.data(Math.round(qty[1] * data[i][4]));
					total_calc = total_calc + Math.round( qty[1] * data[i][3] );

					if(taxType[1] == '2'){
						non_ppn = non_ppn + (qty[1] * data[i][3]);
					}

					if(diskon[1] != ''){
						cell = myTable.cell(i,7);
						cell.data( parseInt(qty[1] * data[i][3]) - parseInt(qty[1] * data[i][4]));						
					}
				}											
			}else{
				myTable.cell(i, 7)
					   .data(data[i][7]);

				cell = myTable.cell(i,8);
				cell.data(qty[1] * (data[i][3]-data[i][7]));
				if(data[i][7] !=0){
					$('#diskonAmount_'+i).val(data[i][7]);
				}
				total_calc = total_calc + ( qty[1] * (data[i][3]-data[i][7]) );

				cell = myTable.cell(i,4);
				cell.data("0");

				if(taxType[1] == '2'){
					non_ppn = non_ppn + (qty[1] * data[i][3]);
				}

				// if(flagPromo[1] == 'N'){
				// 	if(diskonAmount[1] != ''){
				// 		if(parseInt(qty[1]) >= parseInt(qtyDiskon[1]) && qtyDiskon[1] != 0){
				// 			if(parseInt(qty[1]) % parseInt(qtyDiskon[1]) == 0){
				// 				if(diskon[1] != 0){
				// 					cell = myTable.cell(i,7);
				// 					cell.data( parseInt(qty[1] * (diskon[1] * data[i][3] / 100)) );
				// 					discount_calc = discount_calc + ( parseInt(qty[1] * (diskon[1] * data[i][3] / 100)) );		
				// 				}else if(diskonAmount[1] != ''){
				// 					if(diskonAmount[1] != 0){
				// 						if(qtyDiskon[1] == 0){ qtyDiskon[1] = 1; }
				// 						var selisih_qty = Math.floor(qty[1] / qtyDiskon[1]);

				// 						cell = myTable.cell(i,7);
				// 						cell.data(parseInt(selisih_qty * diskonAmount[1]));	
				// 						discount_calc = discount_calc + parseInt(selisih_qty * diskonAmount[1]);
				// 					}
				// 				}
				// 			}else{
				// 				if(diskon[1] != 0){
				// 					cell = myTable.cell(i,7);
				// 					alert(parseInt((qty[1]-1) * (diskon[1] * data[i][3] / 100)));
				// 					cell.data( parseInt((qty[1]-1) * (diskon[1] * data[i][3] / 100)) );
				// 					discount_calc = discount_calc + ( parseInt((qty[1]-1) * (diskon[1] * data[i][3] / 100)) );
				// 				}else if(diskonAmount[1] != ''){
				// 					if(diskonAmount[1] != 0){
				// 						if(qtyDiskon[1] == 0){ qtyDiskon[1] = 1; }
				// 						var selisih_qty = Math.floor((qty[1]-1) / qtyDiskon[1]);

				// 						cell = myTable.cell(i,7);
				// 						cell.data(parseInt(selisih_qty * diskonAmount[1]));	
				// 						discount_calc = discount_calc + parseInt(selisih_qty * diskonAmount[1]);
				// 					}
				// 				}		
				// 			}
				// 		}else{
				// 			cell = myTable.cell(i,7);
				// 			cell.data(parseInt(diskonAmount[1]));	
				// 		}						
				// 	}
				// }else{
					discount_calc += parseInt(data[i][7]);
				// }	
			}
		}
	}


	if(tunai == '') { tunai = 0; }	
	if(donasi == '') { donasi = 0; }				
	cash_calc = tunai;		

	data = myTableOne.rows().data();
	data_input = myTableOne.$('input, select').serialize();
	data_arr1 = data_input.split("&");

	for(var i=0; i< data.length; i++){
		var tipe = data_arr1[i*4].split("=");
		var bank = data_arr1[(i*4)+1].split("=");
		var kartu = data_arr1[(i*4)+2].split("=");
		var bayar = data_arr1[(i*4)+3].split("=");

		if(bayar[1] != ''){
			cash_calc = parseInt(cash_calc) + parseInt(bayar[1]);
			cash_lain += parseInt(bayar[1]);
		}
	}
	if(total_awal.value >= 0){
		var diskon_member =0;
		if(!$('#discount_member').val()==''){
			diskon_member = parseInt($('#discount_member').val());
		}

		subtotal_calc = parseInt(total_calc * 100 / (100 + 10)) + (parseInt(non_ppn * 10 / (100 + 10)));
		tax_calc = parseInt(total_calc * 10 / (100 + 10)) - (parseInt(non_ppn * 10 / (100 + 10)));

		if((subtotal_calc + tax_calc) < total_calc){
			var selisih = total_calc - (subtotal_calc + tax_calc);
			subtotal_calc = subtotal_calc + selisih;
		}

		$("#discount").val(format( Math.round(discount_calc / 10) * 10 ));	
		$("#tax").val(format( Math.round(tax_calc / 10) * 10 ));			
		$("#subtotal").val(format( Math.round(subtotal_calc / 10) * 10 ));
		// $("#total_view").val(format( Math.round((total_calc - discount_calc) / 10) * 10 ));
		// $("#total").val(format( Math.round((total_calc - discount_calc) / 10) * 10 ));
		$("#total_view").val(format( Math.round(total_calc / 10) * 10 ));
		$("#total").val(format( Math.round(total_calc / 10) * 10 ));
		var chars = {'.':'',',':'.'};
		var sub_diskon = parseInt($("#discount").val().replace(/\./g, '').replace(/,/g, '.'));
		var a = parseInt($("#tax").val().replace(/\./g, '').replace(/,/g, '.'));	
		var b = parseInt($("#subtotal").val().replace(/\./g, '').replace(/,/g, '.'));	
		var c = parseInt($("#total").val().replace(/\./g, '').replace(/,/g, '.'));

		var xxx = c*diskon_member/100;

		$("#discount").val(format( Math.round(sub_diskon +  xxx) ));
		// $("#total").val(format(c - parseInt($('#discount').val().replace(/\./g, '').replace(/,/g, '.')) ));
		// $("#total_view").val(format(c - parseInt($('#discount').val().replace(/\./g, '').replace(/,/g, '.')) ));

		$("#total").val(format(c));
		$("#total_view").val(format(c));

		if(cash_calc > ( parseInt($("#total").val().replace(/\./g, '').replace(/,/g, '.')) )){
			$("#kembalian").val(format( Math.round((cash_calc - (parseInt($("#total").val().replace(/\./g, '').replace(/,/g, '.')))) / 10) * 10 ));
		}else{
			$("#kembalian").val(format(0));
		}

		if(Math.round((parseInt($("#total").val().replace(/\./g, '').replace(/,/g, '.'))) / 10) * 10 <= cash_calc){
			$("#valid_bayar").val('X');
		}else{
			$("#valid_bayar").val('');
		}

		var last_total = $("#total").val().replace(".", "");			
		kembalian = (cash_calc - ( parseInt($("#total").val().replace(/\./g, '').replace(/,/g, '.')) ));	
		kembalian = Math.round(kembalian / 10) * 10;
		$("#valid_kembali").val('X');
	}

	if(temp_desc != ''){
		$.post( "<?php echo $this->url->get(uri('Penjualan/display_P')) ?>?desc="+temp_desc+"&qty="+temp_qty+"&price="+temp_price+"&total="+$('#total').val()+"" );
	}
}
		
function addRow(){
			var result;
			var flag_add;
			var query_barcode;
			var promo_diskon;
			var input_pulsa;
			var pulsa_qty;
			
			var barcode1 = $('#autocomplete').val();
			var barcode2 = $('#barcode_only').val();
			
			if(barcode1 != '' && barcode2 == ''){
				var barcode_data = barcode1.split(' - ');
				query_barcode = barcode_data[0];
			}
			
			if(barcode2 != '' && barcode1 == ''){
				cek = barcode2.replace(/[^0-9]/g, '');
				query_barcode = cek;
			}
			
			if(query_barcode != ''){
				var data = myTable.rows().data();
				
				for(var i=0; i< data.length; i++){
					var status_ppob = $("#flagPPOB_"+i).text();
					if(status_ppob != 1){
						if(data[i][0] == query_barcode){
							var name_id = data[i][5].split('"');	
							$("#"+name_id[7]).val(parseInt($("#"+name_id[7]).val()) + parseInt(1));						
							flag_add = 'X';
							calcQty();
						}
					}
				}
			}
			// console.log(flag_add)

			if(query_barcode != '' && flag_add != 'X'){
				$.ajax({ url: "<?php echo $this->url->get(uri('Penjualan/ajaxProduct')) ?>?barcode="+query_barcode+"&count_index="+count+" " }).done(function(data){
					myArray = JSON.parse(data);
					if(myArray != null){
						for(var i=0; i < myArray.length; i++){	
							if(myArray[i].barcode != 'f'){
								if(myArray[i].average_cost != null && myArray[i].average_cost != 0){
										var harga = myArray[i].harga;
									if(harga != ''){
										if(myArray[i].diskon != ''){
											promo_diskon = (myArray[i].diskon * harga / 100);
										}else{
											promo_diskon = myArray[i].diskon_amount;
										} 
										
										if(myArray[i].ppob == 1){
											$.get( "<?php echo $this->url->get(uri('Penjualan/checkConnection')) ?>" ).done(function(data){
												myArray = JSON.parse(data);
												swal(myArray.title, myArray.message, myArray.type);
											});
											
											input_pulsa = '<input type="text" id="noHP_'+ myArray[i].count_index +'" name="noHP_'+ myArray[i].count_index +'" placeholder="Masukkan no HP..." value="" > ' + '<input type="hidden" id="flagPromo_'+ myArray[i].count_index +'" name="flagPromo_'+ myArray[i].count_index +'" value="N"/><div id="flagPPOB_'+  myArray[i].count_index +'" name="flagPPOB_'+  myArray[i].count_index +'" style="display:none;visibility:hidden">' + myArray[i].ppob + '</div> ' ;
											pulsa_qty = "readOnly";
										}else{
											input_pulsa = '<input type="hidden" id="noHP_'+ myArray[i].count_index +'" name="noHP_'+ myArray[i].count_index +'" value="X" > ' + '<input type="hidden" id="flagPromo_'+ myArray[i].count_index +'" name="flagPromo_'+ myArray[i].count_index +'" value="N"/><div id="flagPPOB_'+  myArray[i].count_index +'" name="flagPPOB_'+  myArray[i].count_index +'" style="display:none;visibility:hidden">' + myArray[i].ppob + '</div> ' ;
											pulsa_qty = "";
										}

										var disk = 0;
										if(!$('#discount_member').val()==''){
											disk = parseInt($('#discount_member').val());
										}

										var harga_m = 0;
										var harga_mb = 0;
										
										harga_m = Math.round(myArray[i].harga_member);
										if($('#valid_member').val()=='X'){
											if($('#tipe_member').val()=='member'){
												harga_mb = Math.round(myArray[i].harga_member);
											}else{
												harga_m = Math.round(harga - (harga * disk / 100));
											}
										}else{
											harga_mb = 0;
										}

										$('table#DataTableZero').dataTable().fnAddData([
											myArray[i].barcode,
											myArray[i].stock_id,
											myArray[i].uom1_prod_nm,
											Math.round(harga),
											Math.round(harga_m),
											'<input type="number" min="1" class="qty" id="qty_'+ myArray[i].count_index +'" name="qty_'+ myArray[i].count_index +'" style="width:55px" value="1" '+ pulsa_qty +'> ' +
											'<input type="hidden" id="item_'+ myArray[i].count_index +'" name="item_'+ myArray[i].count_index +'" value="'+ myArray[i].stock_id +'" > ' +
											'<input type="hidden" id="diskon_'+ myArray[i].count_index +'" name="diskon_'+ myArray[i].count_index +'" value="'+ myArray[i].diskon +'" > ' +
											'<input type="hidden" id="diskonAmount_'+ myArray[i].count_index +'" name="diskonAmount_'+ myArray[i].count_index +'" value="'+ myArray[i].diskon_amount +'" > ' +
											'<input type="hidden" id="taxType_'+ myArray[i].count_index +'" name="taxType_'+ myArray[i].count_index +'" value="'+ myArray[i].tax_type +'" > ' +
											'<input type="hidden" id="hargaMember_'+ myArray[i].count_index +'" name="hargaMember_'+ myArray[i].count_index +'" value="'+ myArray[i].harga_member +'" > ' +
											'<input type="hidden" id="hargaHpp3_'+ myArray[i].count_index +'" name="hargaHpp3_'+ myArray[i].count_index +'" value="'+ myArray[i].harga_hpp3 +'" > ' +
											'<input type="hidden" id="qtyDiskon_'+ myArray[i].count_index +'" name="qtyDiskon_'+ myArray[i].count_index +'" value="'+ myArray[i].qty +'" > ' ,
											myArray[i].satuan,
											myArray[i].diskon_amount,
											(parseInt(harga) - promo_diskon),
											input_pulsa
											]);

											var find = myTable.column(1)
											.data()
											.flatten()
											.filter(function(value, index){
												return value == myArray[i].kode_produk_y;
											}).toArray();

											if(myArray[i].kode_produk_y != 0){
												var table = $('table#DataTableZero').dataTable().fnAddData([
													myArray[i].barcode2,
													myArray[i].kode_produk_y,
													myArray[i].nama,
													0,
													0,
													'<input type="number" min="0" class="qty" id="qty_'+ myArray[i].count_index +'" name="qty_'+ myArray[i].count_index +'" style="width:55px " value="1" '+ pulsa_qty +' readonly> ' +
													'<input type="hidden" id="item_'+ myArray[i].count_index +'" name="item_'+ myArray[i].count_index +'" value="'+ myArray[i].stock_id +'" > ' +
													'<input type="hidden" id="diskon_'+ myArray[i].count_index +'" name="diskon_'+ myArray[i].count_index +'" value="0" > ' +
													'<input type="hidden" id="diskonAmount_'+ myArray[i].count_index +'" name="diskonAmount_'+ myArray[i].count_index +'" value="0" > ' +
													'<input type="hidden" id="taxType_'+ myArray[i].count_index +'" name="taxType_'+ myArray[i].count_index +'" value="0" > ' +
													'<input type="hidden" id="hargaMember_'+ myArray[i].count_index +'" name="hargaMember_'+ myArray[i].count_index +'" value="0" > ' +
													'<input type="hidden" id="hargaHpp3_'+ myArray[i].count_index +'" name="hargaHpp3_'+ myArray[i].count_index +'" value="'+ myArray[i].harga_hpp +'" > ' +
													'<input type="hidden" id="qtyDiskon_'+ myArray[i].count_index +'" name="qtyDiskon_'+ myArray[i].count_index +'" value="'+ myArray[i].qty +'" > ' ,
													myArray[i].satuan2,
													0,
													0,
													input_pulsa
												]);
												var damn = myTable.row(':last').node();
												$(damn).addClass('buyx_gety'+myArray[i].stock_id);
											}
										
										sessionStorage.setItem("qty_"+myArray[i].count_index, '1');
										temp_desc = myArray[i].uom1_prod_nm;					
										temp_price = harga;
										temp_qty = $("#qty_"+myArray[i].count_index).val();
									}
								}else{
									sweetAlert("Gagal", "Anda harus melakukan pembelian " + myArray[i].uom1_prod_nm, "error");
									return false;
								}
							}else{
								sweetAlert("Peringatan", "Data Produk Tidak Lengkap ", "error");
								return false;
							}
						}
					}
					
					if(temp_qty == 1){
						if($('#total').val() != '0,00'){
							var str = $("#total").val();
							str = str.replace(".", "");
							
							$.post( "<?php echo $this->url->get(uri('Penjualan/display_P')) ?>?desc="+temp_desc+"&qty="+temp_qty+"&price="+temp_price+"&total="+format(parseInt(temp_price) + parseInt(str))+"" );
						}else{
							$.post( "<?php echo $this->url->get(uri('Penjualan/display_P')) ?>?desc="+temp_desc+"&qty="+temp_qty+"&price="+temp_price+"&total="+(parseInt($('#total').val()) + parseInt(temp_price))+"" );
						}
					}

					var data_input = myTable.column(1).data().toArray();
					var jumlah = myTable.rows().data();
					$.post("<?php echo $this->url->get(uri('Penjualan/ajaxCariPwp')) ?>", {data:data_input}, function(e) {
						if(e != '[]'){
							result = JSON.parse(e);
							$.each(result, function(idx, row){
								myArray = row.data;

								var find = myTable.column(1)
												  .data()
												  .flatten()
												  .filter(function(value, index){
												  	return value == myArray.stock_id;
												  }).toArray();
								if(find.length == 0 && myArray.stock_id != 0){
									var filteredData = myTable
									.columns([0, 1])
									.data()
									.flatten()
									.filter( function ( value, index ) {
										return value == myArray.stock_id ? true : false;
									});
									if(filteredData){
										var table = $('table#DataTableZero').dataTable().fnAddData([
										myArray.barcode,
										myArray.stock_id,
										myArray.uom1_prod_nm,
										0,
										0,
										'<input type="number" min="0" class="qty" id="qty_'+ myArray.count_index +'" name="qty_'+ myArray.count_index +'" style="width:55px " value="1" '+ pulsa_qty +' readonly> ' +
										'<input type="hidden" id="item_'+ myArray.count_index +'" name="item_'+ myArray.count_index +'" value="'+ myArray.stock_id +'" > ' +
										'<input type="hidden" id="diskon_'+ myArray.count_index +'" name="diskon_'+ myArray.count_index +'" value="0" > ' +
										'<input type="hidden" id="diskonAmount_'+ myArray.count_index +'" name="diskonAmount_'+ myArray.count_index +'" value="0" > ' +
										'<input type="hidden" id="taxType_'+ myArray.count_index +'" name="taxType_'+ myArray.count_index +'" value="0" > ' +
										'<input type="hidden" id="hargaMember_'+ myArray.count_index +'" name="hargaMember_'+ myArray.count_index +'" value="0" > ' +
										'<input type="hidden" id="hargaHpp3_'+ myArray.count_index +'" name="hargaHpp3_'+ myArray.count_index +'" value="'+ myArray.harga_hpp3 +'" > ' +
										'<input type="hidden" id="qtyDiskon_'+ myArray.count_index +'" name="qtyDiskon_'+ myArray.count_index +'" value="'+ myArray.qty +'" > ' ,
										myArray.satuan,
										0,
										0,
										input_pulsa
										]);

										var indexes = myTable.rows().eq(0).filter( function (rowIdx) {
											return myTable.cell( rowIdx, 1).data() == myArray.stock_id;
										});
										myTable.rows(indexes).nodes().to$().addClass('pwp');
										$.each(row.detail, function(key, item){
											myTable.rows(indexes).nodes().to$().addClass('rm-'+item.kode_produk);
										});
									}
								}
							})
						}
					})

					// cek promo
					checkPromo()

				});
			count++;			
			}else{
				// cek promo
				checkPromo()
			}
document.getElementById("autocomplete").value = "";
document.getElementById("barcode_only").value = "";
document.getElementById("barcode_only").focus();
}	

function checkPromo(){
	var data_input = myTable.column(1).data().toArray();
	$.post("<?php echo $this->url->get(uri('Penjualan/ajaxCariPromo')) ?>", {data:data_input}, function(e) {
		// reset value
		myTable.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
		    if (myTable.rows(rowIdx).nodes().to$().hasClass('promo')) {
		    	myTable.row('.promo').cell(rowIdx, 7).data(0)
		    }
		});

		if(e != '[]'){
			result = JSON.parse(e);
				$.each(result, function(idx, row){
					dataArray = row.data;
					var find = $("#DataTableZero").dataTable().fnFindCellRowIndexes(dataArray.kode_produk, 1);
					myTable.cell(find, 7)
						   .data(parseInt(dataArray.diskon))
						   .draw();
					// document.getElementById("diskonAmount"+idx).value=parseInt(dataArray.diskon); 
				   var indexes = myTable.rows().eq(0).filter( function (rowIdx) {
				   	return myTable.cell( rowIdx, 1).data() == dataArray.kode_produk;
				   });
				   var cek = myTable.data();
				   console.log(cek)
				   myTable.rows(indexes).nodes().to$().addClass('promo');
				   // $.each(result, function(key, item){
					  //  myTable.rows(indexes).nodes().to$().addClass('pm-'+item.detail.kode_produk);
				   // });
				})
		}
		calcQty();
	})
}

function objToString(obj){
	var str = '';
	for(var p in obj){ if(obj.hasOwnProperty(p)){ str += obj[p] + ','; }}
		return str;
}

function changeMember(){
		var member = $("#member_id").val();
		var name = '';
		
			$.ajax({ 
				url: "<?php echo $this->url->get(uri('Penjualan/ajaxCheckMember')) ?>?member="+member+" " 
			}).done(function(data){
					if(data != 'null'){						
						myArray = JSON.parse(data);									
						$("#valid_member").val("X");
						$("#tipe_member").val(myArray.tipe);
						if(myArray[0].name != undefined)
							name = myArray[0].name;
						else if(myArray[0].br_name != undefined)
							name = myArray[0].br_name;
							$("#discount_member").val(myArray[0].curr_code);			
					}else{						
						$("#valid_member").val("");
						$("#discount_member").val("");			
						$("#tipe_member").val("");
					}
					
				});
				calcQty();	
}

$(document).ready( function (){
	var data_input = myTable.column(1).data().toArray();
	var jumlah = myTable.rows().data();
	$.post("<?php echo $this->url->get(uri('Penjualan/ajaxCariPwp')) ?>", {data:data_input}, function(e) {
		if(e != '[]'){
			result = JSON.parse(e);
			$.each(result, function(idx, row){
				myArray = row.data;

				var find = myTable.column(1)
				.data()
				.flatten()
				.filter(function(value, index){
					return value == myArray.stock_id;
				}).toArray();
				if(find.length == 0 && myArray.stock_id != 0){
					var filteredData = myTable
					.columns([0, 1])
					.data()
					.flatten()
					.filter( function ( value, index ) {
						return value == myArray.stock_id ? true : false;
					});
					if(filteredData){
						var table = $('table#DataTableZero').dataTable().fnAddData([
							myArray.barcode,
							myArray.stock_id,
							myArray.uom1_prod_nm,
							0,
							0,
							'<input type="number" min="0" class="qty" id="qty_'+ myArray.count_index +'" name="qty_'+ myArray.count_index +'" style="width:55px " value="1" '+ pulsa_qty +' readonly> ' +
							'<input type="hidden" id="item_'+ myArray.count_index +'" name="item_'+ myArray.count_index +'" value="'+ myArray.stock_id +'" > ' +
							'<input type="hidden" id="diskon_'+ myArray.count_index +'" name="diskon_'+ myArray.count_index +'" value="0" > ' +
							'<input type="hidden" id="diskonAmount_'+ myArray.count_index +'" name="diskonAmount_'+ myArray.count_index +'" value="0" > ' +
							'<input type="hidden" id="taxType_'+ myArray.count_index +'" name="taxType_'+ myArray.count_index +'" value="0" > ' +
							'<input type="hidden" id="hargaMember_'+ myArray.count_index +'" name="hargaMember_'+ myArray.count_index +'" value="0" > ' +
							'<input type="hidden" id="hargaHpp3_'+ myArray.count_index +'" name="hargaHpp3_'+ myArray.count_index +'" value="'+ myArray.harga_hpp3 +'" > ' +
							'<input type="hidden" id="qtyDiskon_'+ myArray.count_index +'" name="qtyDiskon_'+ myArray.count_index +'" value="'+ myArray.qty +'" > ' ,
							myArray.satuan,
							0,
							0,
							input_pulsa
							]);

						var indexes = myTable.rows().eq(0).filter( function (rowIdx) {
							return myTable.cell( rowIdx, 1).data() == myArray.stock_id;
						});
						myTable.rows(indexes).nodes().to$().addClass('pwp');
						$.each(row.detail, function(key, item){
							myTable.rows(indexes).nodes().to$().addClass('rm-'+item.kode_produk);
						});
					}
				}
			})
		}
	})
	checkPromo()
	$('#member_id').on('keyup', function(e){
		changeMember();
	});
	$('#member_id').on('change', function(e){
		changeMember();
	});
});


$(document).on('change', '.metod-bayar', function(e){
	var indek = $(this).data('index');
	var bank = '#bank_'+indek;
	var kartu = '#kartu_'+indek;
	if($(this).val()=='VOUCHER' || $(this).val()=='POINT' || $(this).val()=='PIUTANG'){
		$(kartu).attr("style","visibility: hidden");
		$(bank).attr("style","visibility: hidden");
	}else{
		$(kartu).attr("style","visibility: visible");
		$(bank).attr("style","visibility: visible");
	}
});

function addRowBayar() {
	$('table#DataTableOne').dataTable().fnAddData([
		'<select id="tipe_'+ count_bayar +'" name="tipe_'+ count_bayar +'" class="metod-bayar" data-index="'+count_bayar+'">' +					
		'<option value="DEBIT">DEBIT</option>' +
		'<option value="KREDIT">KREDIT</option>' +
		'<option value="VOUCHER">VOUCHER</option>' +
		'<option value="POINT">POINT</option>' +
		'<option value="PIUTANG">PIUTANG</option>' +
		'</select>',
		'<select id="bank_'+ count_bayar +'" name="bank_'+ count_bayar +'" >' +
		'<option value=""> -- Pilih Bank -- </option>' +
		<?php if(count($lists_bank)>0){ foreach($lists_bank as $list_bank) { ?>
			'<option value="<?= $list_bank['bank_id'].'-'.$list_bank['bank_name'] ?>"> <?= $list_bank['bank_name'] ?> </option>' +
			<?php }} ?>
			'</select>',
			'<input type="text" id="kartu_'+ count_bayar +'" name="kartu_'+ count_bayar +'" style="width:150px" > ' ,
			'<input type="number" id="bayar_'+ count_bayar +'" name="bayar_'+ count_bayar +'" style="width:100px" min="0" > '
			]);

	count_bayar++;
}		
</script>

<?php
function tgl_indonesia($date){
	$Hari = array ("Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu",);
	$Bulan = array ("Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember");
	$tahun     = substr($date, 0, 4);
	$bulan     = substr($date, 5, 2);
	$tgl    = substr($date, 8, 2);
	$waktu    = substr($date,11, 5);
	$hari    = date("w", strtotime($date));
	$result = $Hari[$hari].", ".$tgl." ".$Bulan[(int)$bulan-1]." ".$tahun." ".$waktu." ";
	return $result;
}?>
<script type="text/javascript">
	$(document).ready( function (){
		var data = myTable.rows().data();
	});
</script>
<?php
echo '<div class="content_header">
<ul class="red-breadcrumb">
	<li>'.Phalcon\Tag::linkTo([uri('Immpos'), '<span> IMMPOS </span>']).'</li>
	<li>'.Phalcon\Tag::linkTo([uri('Penjualan'), '<span> Penjualan </span>']).'</li>
</ul>
<div>';
	
	echo '<div class="content_content">';	
	echo '
	'.$this->tag->form([uri("Penjualan/Insert"), "id"=>"sell-form"]).'

	<input type="hidden" id="json_data" name="json_data">
	<input type="hidden" id="json_data_bayar" name="json_data_bayar">
	<input type="hidden" id="status" name="status">
	'.$this->tag->hiddenField(["id_jual", "class"=>"form-control input-sm", "value"=>$tunda->id_jual]).'
	'.$this->tag->hiddenField(["id_reference", "class"=>"form-control input-sm", "value"=>$retur->id_jual]).'
	'.$this->tag->hiddenField(["valid_member", "id"=>"valid_member", "class"=>"form-control input-sm"]).'
	'.$this->tag->hiddenField(["tipe_member", "id"=>"tipe_member", "class"=>"form-control input-sm"]).'
	'.$this->tag->hiddenField(["discount_member", "id"=>"discount_member", "class"=>"form-control input-sm"]).'
	'.$this->tag->hiddenField(["valid_bayar", "id"=>"valid_bayar", "class"=>"form-control input-sm"]).'
	'.$this->tag->hiddenField(["valid_kembali", "id"=>"valid_kembali", "class"=>"form-control input-sm"]).'

	<div class="row">
		<div class="col-sm-8 styled_kasir">				
			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="fa fa-user"></i></span>
					<input type="text" class="form-control input-sm" style="margin-top:0px;background:#fff" name="real_name" value="'.$this->session->get("user")['real_name'].'" readOnly>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="fa fa-desktop"></i></span>
					<input type="text" class="form-control input-sm" style="margin-top:0px;background:#fff" name="kassa" value="'.$seShift->kassa_desc.'" readOnly>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-addon input-sm"><i class="fa fa-clock-o"></i></span>
					<input type="text" class="form-control input-sm" style="margin-top:0px;background:#fff" name="shift" value="'.$seShift->shift_desc.'" readOnly>
				</div>
			</div>
		</div>

		<div class="col-sm-4 styled_member" style="padding-bottom: 0px;padding-top: 5px;">
			<div class="col-sm-6 form-inline">
				'.$this->tag->textField(["member_id", "id"=>"member_id", "class"=>"form-control input-sm", "value"=>$tunda->id_member?$tunda->id_member:$retur->id_member, "placeholder"=>"Nomor Member"]).'
				<button id="btn_check" class="btn btn-primary btn-sm" style="margin-top:5px"> Cek </button>
			</div>
			<div class="col-sm-6 form-inline">
			<label style="text-align: center;margin-left: 35px;">';
			echo tgl_indonesia(date('Y-m-d')); echo'</label></br>
			<label class="timer" style="text-align: center;margin-left: 79px;"></label>
			</div>
		</div>							

		<div class="col-sm-12 styled_sell">						
			<div class="styled_margin form-inline">
				<div class="col-sm-8">												
					<button id="btn_delete" class="btn btn-danger btn-sm" type="button" style="margin-top:5px"> Hapus </button>	
					<input type="text" id="barcode_only" name="barcode_only" style="width:150px" class="form-control input-sm" placeholder="Barcode"/>
					<input type="text" id="autocomplete" name="autocomplete" style="width:350px" class="form-control input-sm" placeholder="Barcode / Nama Produk"/>
				</div>
				<div class="col-sm-4" style="text-align:right">			
					<label> Total </label>
					'.$this->tag->textField(["total_view", "id"=>"total_view", "class"=>"form-control input-sm", "readonly"=>"true", "value"=>$tunda->total?$tunda->total:$retur->total]).'						
				</div>
				<input type="hidden" id="total_awal" name="total_awal" value="'.$retur->total.'" >
			</div>	

			<div class="col-sm-12 styled_margin" style="margin-top:5px">
				<table id="DataTableZero" class="waduk">
					<thead>
						<tr>
							<th style="width:10%"> Barcode </th>
							<th style="width:10%"> Kode Barang </th>
							<th style="width:20%"> Nama Barang </th>
							<th style="width:10%"> Harga </th>					  
							<th style="width:10%"> Harga Member </th>
							<th style="width:10%"> Kuantitas </th>
							<th style="width:10%"> Satuan </th>
							<th style="width:10%"> Diskon </th>
							<th style="width:10%"> Total </th>
							<th style="width:0%"></th>
						</tr>
					</thead>

					<tbody>
						';
						if(count($tunda_details) > 0 ){
							$count = 0;
							?>
							<script type="text/javascript">
								$(document).ready( function () {
									var data_input = myTable.column(1).data().toArray();
									$.post("<?php echo $this->url->get(uri('Penjualan/ajaxCariPwp')) ?>", {data:data_input}, function(e) {
										if(e != '[]'){
											result = JSON.parse(e);
											$.each(result, function(idx, row){
												myArray = row.data;

												var find = myTable.column(1)
												.data()
												.flatten()
												.filter(function(value, index){
													return value == myArray.stock_id;
												}).toArray();
												if(find.length == 0 && myArray.stock_id != 0){
													var filteredData = myTable
													.columns([0, 1])
													.data()
													.flatten()
													.filter( function ( value, index ) {
														return value == myArray.stock_id ? true : false;
													});
													if(filteredData){
														var indexes = myTable.rows().eq(0).filter( function (rowIdx) {
															return myTable.cell( rowIdx, 1).data() == myArray.stock_id;
														});
														myTable.rows(indexes).nodes().to$().addClass('pwp');
														$.each(row.detail, function(key, item){
															myTable.rows(indexes).nodes().to$().addClass('rm-'+item.kode_produk);
														});
													}
												}
											})
										}
									})
									checkPromo()
								});
							</script>
							<?php
							foreach( $tunda_details as $tunda_detail ) {
								if($tunda_detail['ppob'] == 1){ ?>
								<script>
									$.get( "<?php echo $this->url->get(uri('Penjualan/checkConnection')) ?>" ).done(function(data){
										myArray = JSON.parse(data);
										swal(myArray.title, myArray.message, myArray.type);
									});
								</script>
								<?php echo '<tr>';										
								echo '<td>'.$tunda_detail['barcode'].'</td>';
								echo '<td>'.$tunda_detail['item_code'].'</td>';
								echo '<td>'.$tunda_detail['description'].'</td>';					
								echo '<td>'.$tunda_detail['harga'].'</td>';	
								echo '<td>'.$tunda_detail['harga_member'].'</td>';	
								echo '<td>';
								echo '<input type="number" min="1" class="qty" id="qty_'. $count .'" name="qty_'. $count .'" value="'. $tunda_detail['qty'] .'" style="width:55px"/> ';
								echo '<input type="hidden" id="item_'. $count .'" name="item_'. $count .'" value="'. $tunda_detail['item_code'] .'" > ';
								echo '<input type="hidden" id="diskon_'. $count .'" name="diskon_'. $count .'" value="'. $tunda_detail['disc_percent'] .'" > ';
								echo '<input type="hidden" id="diskonAmount_'. $count .'" name="diskonAmount_'. $count .'" value="'. $tunda_detail['discount'] .'" > ';
								echo '<input type="hidden" id="taxType_'. $count .'" name="taxType_'. $count .'" value="'. $tunda_detail['tax_type'] .'" > ';
								echo '<input type="hidden" id="hargaMember_'. $count .'" name="hargaMember_'. $count .'" value="'. $tunda_detail['harga_member'] .'" > ';
								echo '<input type="hidden" id="hargaHpp3_'. $count .'" name="hargaHpp3_'. $count .'" value="'. $tunda_detail['harga_hpp3'] .'" > ';
								echo '<input type="hidden" id="qtyDiskon_'. $count .'" name="qtyDiskon_'. $count .'" value="" > ';
								echo '</td>';	
								echo '<td>'.$tunda_detail['satuan'].'</td>';		
								echo '<td>'.$tunda_detail['discount'].'</td>';		
								echo '<td>'.$tunda_detail['total'].'</td>';
								echo '<td>';
								echo '<input type="text" id="noHP_'.$count.'" name="noHP_'.$count.'" value="" placeholder="Masukkan no HP..."/> ';
								echo '<input type="hidden" id="flagPromo_'.$count.'" name="flagPromo_'.$count.'" value="N"/> ';
								echo '</td>';
								echo '</tr>';
							}else{
								$data ='';
								if($tunda_detail['harga'] == 0){
									$a = new XY();
									$condition = " WHERE kode_produk_y = '".$tunda_detail['item_code']."' AND flag = 'true' ";
									$bonus_xy = $a::getFreeSQL($condition);
									if($bonus_xy){
										$data = 'buyx_gety'.$bonus_xy['0']['kode_produk_x'];
									}
								}
								?>
								<?php
								echo '<tr class="'.$data.'">';										
								echo '<td>'.$tunda_detail['barcode'].'</td>';
								echo '<td>'.$tunda_detail['item_code'].'</td>';
								echo '<td>'.$tunda_detail['description'].'</td>';					
								echo '<td>'.$tunda_detail['harga'].'</td>';	
								echo '<td>'.$tunda_detail['harga_member'].'</td>';	
								echo '<td>';
								if($tunda_detail['harga'] == 0){
									echo '<input type="number" min="1" class="qty" id="qty_'. $count .'" name="qty_'. $count .'" value="'. $tunda_detail['qty'] .'" style="width:55px" readonly/> ';
								}else{
									echo '<input type="number" min="1" class="qty" id="qty_'. $count .'" name="qty_'. $count .'" value="'. $tunda_detail['qty'] .'" style="width:55px"/> ';
								}
								echo '<input type="hidden" id="item_'. $count .'" name="item_'. $count .'" value="'. $tunda_detail['item_code'] .'" > ';
								echo '<input type="hidden" id="diskon_'. $count .'" name="diskon_'. $count .'" value="'. $tunda_detail['discount'] .'" > ';
								echo '<input type="hidden" id="diskonAmount_'. $count .'" name="diskonAmount_'. $count .'" value="'. $tunda_detail['discount'] .'" > ';
								echo '<input type="hidden" id="taxType_'. $count .'" name="taxType_'. $count .'" value="'. $tunda_detail['tax_type'] .'" > ';
								echo '<input type="hidden" id="hargaMember_'. $count .'" name="hargaMember_'. $count .'" value="'. $tunda_detail['harga_member'] .'" > ';
								echo '<input type="hidden" id="hargaHpp3_'. $count .'" name="hargaHpp3_'. $count .'" value="'. $tunda_detail['harga_hpp3'] .'" > ';
								echo '<input type="hidden" id="qtyDiskon_'. $count .'" name="qtyDiskon_'. $count .'" value="" > ';
								echo '</td>';	
								echo '<td>'.$tunda_detail['satuan'].'</td>';		
								echo '<td>'.$tunda_detail['discount'].'</td>';		
								echo '<td>'.$tunda_detail['total'].'</td>';
								echo '<td>';
								echo '<input type="hidden" id="noHP_'.$count.'" name="noHP_'.$count.'" value="X"/> ';
								echo '<input type="hidden" id="flagPromo_'.$count.'" name="flagPromo_'.$count.'" value="N"/> ';
								echo '</td>';
								echo '</tr>';
							}
							$count++;
						}		
					}

					if(count($retur_details) > 0 ){
						$count = 0;
						?>
						<script type="text/javascript">
							$(document).ready( function () {
								var data_input = myTable.column(1).data().toArray();
								$.post("<?php echo $this->url->get(uri('Penjualan/ajaxCariPwp')) ?>", {data:data_input}, function(e) {
									if(e != '[]'){
										result = JSON.parse(e);
										$.each(result, function(idx, row){
											myArray = row.data;

											var find = myTable.column(1)
											.data()
											.flatten()
											.filter(function(value, index){
												return value == myArray.stock_id;
											}).toArray();
											if(find.length == 0 && myArray.stock_id != 0){
												var filteredData = myTable
												.columns([0, 1])
												.data()
												.flatten()
												.filter( function ( value, index ) {
													return value == myArray.stock_id ? true : false;
												});
												if(filteredData){
													var indexes = myTable.rows().eq(0).filter( function (rowIdx) {
														return myTable.cell( rowIdx, 1).data() == myArray.stock_id;
													});
													myTable.rows(indexes).nodes().to$().addClass('pwp');
													$.each(row.detail, function(key, item){
														myTable.rows(indexes).nodes().to$().addClass('rm-'+item.kode_produk);
													});
												}
											}
										})
									}
								})
								checkPromo()
							});
						</script>
						<?php
						foreach( $retur_details as $retur_detail ) {
							if($retur_detail['ppob'] == 1){
								$this->flashSession->success("Gagal;Data pulsa tidak bisa di retur.;error");
								$this->response->redirect(uri('ReturPenjualan'));
							}else{
								$diskon = $retur_detail['discount'] / $retur_detail['qty'];
								$data ='';
								if($retur_detail['harga'] == 0){
									$a = new XY();
									$condition = " WHERE kode_produk_y = '".$retur_detail['item_code']."' AND flag = 'true' ";
									$bonus_xy = $a::getFreeSQL($condition);
									if($bonus_xy){
										$data = 'buyx_gety'.$bonus_xy['0']['kode_produk_x'];
									}
								}
								echo '<tr class="'.$data.'">';										
								echo '<td>'.$retur_detail['barcode'].'</td>';
								echo '<td>'.$retur_detail['item_code'].'</td>';
								echo '<td>'.$retur_detail['description'].'</td>';					
								echo '<td>'.$retur_detail['harga'].'</td>';	
								echo '<td>'.$retur_detail['harga_member'].'</td>';	
								echo '<td>';
								if($retur_detail['harga'] == 0){
									echo '<input type="number" min="1" class="qty" id="qty_'. $count .'" name="qty_'. $count .'" value="'. $retur_detail['qty'] .'" style="width:55px" readonly/> ';
								}else{
									echo '<input type="number" min="1" class="qty" id="qty_'. $count .'" name="qty_'. $count .'" value="'. $retur_detail['qty'] .'" style="width:55px"/> ';
								}
								echo '<input type="hidden" id="item_'. $count .'" name="item_'. $count .'" value="'. $retur_detail['item_code'] .'" > ';
								echo '<input type="hidden" id="diskon_'. $count .'" name="diskon_'. $count .'" value="'. $diskon .'" > ';
								echo '<input type="hidden" id="diskonAmount_'. $count .'" name="diskonAmount_'. $count .'" value="'. $diskon .'" > ';
								echo '<input type="hidden" id="taxType_'. $count .'" name="taxType_'. $count .'" value="'. $retur_detail['tax_type'] .'" > ';
								echo '<input type="hidden" id="hargaMember_'. $count .'" name="hargaMember_'. $count .'" value="'. $retur_detail['harga_member'] .'" > ';
								echo '<input type="hidden" id="hargaHpp3_'. $count .'" name="hargaHpp3_'. $count .'" value="'. $retur_detail['harga_hpp3'] .'" > ';
								echo '<input type="hidden" id="qtyDiskon_'. $count .'" name="qtyDiskon_'. $count .'" value="" > ';
								echo '</td>';	
								echo '<td>'.$retur_detail['satuan'].'</td>';		
								echo '<td>'.$diskon.'</td>';		
								echo '<td>'.$retur_detail['total'].'</td>';
								echo '<td><input type="hidden" id="noHP_'.$count.'" name="noHP_'.$count.'" value="X"/> <input type="hidden" id="flagPromo_'.$count.'" name="flagPromo_'.$count.'" value="N"/></td> ';
								echo '</tr>';
							}

							$count++;
						}		
					}
					echo '
				</tbody>
			</table>
		</div>					
	</div>				

	<div class="col-sm-8 styled_bayar_lain">
		<div class="col-sm-12">
			<label> Pembayaran Lain-lain </label>
		</div>

		<div class="col-sm-12 styled_margin">	
			<button id="btn_add_bayar" class="btn btn-primary btn-sm"> Tambah </button>													
			<button id="btn_delete_bayar" class="btn btn-danger btn-sm"> Hapus </button>										
		</div>

		<div class="col-sm-12 styled_margin" style="margin-top:5px">	
			<table id="DataTableOne">
				<thead>
					<tr>
						<th> Tipe </th>
						<th> Bank </th>					  
						<th> No Kartu </th>
						<th> Total </th>							
					</tr>
				</thead>

				<tbody>
				</tbody>
			</table>
		</div>					
	</div>

	<div class="col-sm-4 styled_note">
		<div class="col-sm-12">
			<label> Note </label>
		</div>

		<div class="col-sm-12">
			'.$this->tag->textArea(["note", "class"=>"form-control input-sm", "rows"=>"2", "cols"=>"24", "value"=>$tunda->note?$tunda->note:$retur->note]).'
		</div>					
	</div>

	<div class="col-sm-4 styled_bayar">
		<div class="col-sm-4 styled_margin">
			<label style="margin-top:8px"> Tunai </label>
		</div>

		<div class="col-sm-8 styled_margin">
			'.$this->tag->textField(["tunai", "class"=>"form-control input-sm"]).'
		</div>

		<div class="col-sm-4 styled_margin">
			<label style="margin-top:8px"> Donasi </label>
		</div>

		<div class="col-sm-8 styled_margin">
			'.$this->tag->textField(["donasi", "class"=>"form-control input-sm", "value"=>"0", "readonly"=>"readonly"]).'
		</div>						
	</div>	

	<div class="col-sm-4 styled_promo">		
		<div class="col-sm-12">
			<label> Promo </label>
		</div>
			<div class="col-sm-12 styled_margin">	
				<div class="panel panel-danger">
					<marquee onmouseover="this.stop()" onmouseout="this.start()" direction="up" scrollamount="2" style="background: #ffffff;text-align:center;padding:-1px;font-size:100%;color:#0fc;border-radius: 10px;max-height:200px;">';
						foreach ($data_diskon as $key => $value) {
							$data_diskon = new Diskon();
							$condition = " WHERE \"promosi_id\" = '".$value['id']."' ";
							$data = $data_diskon::getFreeSQL($condition);
							foreach ($data as $val_diskon) {
								$produk = new Product();
								$condition = " WHERE \"stock_id\" = '".$val_diskon['kode_produk']."' ";
								$data_produk = $produk::getFreeSQL($condition);

								$price = new ProductPrice();
								$condition = " WHERE \"stock_id\" = '".$val_diskon['kode_produk']."' ";
								$cek_price = $price::getFreeSQL($condition);
								foreach ($data_produk as $key => $val_produk) {
									echo'
									<a style="color:#000000">'.$value['nama_promosi'].' : '.$val_produk['description'].' Rp.<strike>'.$val_diskon['cost_price'].'</strike> = Rp.'.$val_diskon['harga_terdiskon'].' (berlaku dari tanggal '.date("d-m-Y", strtotime($value['from_'])).' sampai '.date("d-m-Y", strtotime($value['to_'])).')</a><br><br><br>';
								}
							}
						}
						foreach ($xy as $key => $value) {
							$data_xy = new XY();
							$condition = " WHERE \"promosi_id\" = '".$value['id']."' ";
							$data = $data_xy::getFreeSQL($condition);
							foreach ($data as $xy) {
								$produk_x = new Product();
								$condition = " WHERE \"stock_id\" = '".$xy['kode_produk_x']."' ";
								$data_produk_x = $produk_x::getFreeSQL($condition);

								$produk_y = new Product();
								$condition = " WHERE \"stock_id\" = '".$xy['kode_produk_y']."' ";
								$data_produk_y = $produk_y::getFreeSQL($condition);

								foreach ($data_produk_x as $key => $val_produk) {
									foreach ($data_produk_y as $key => $val_produk_y) {
										echo'
										<a style="color:#000000">'.$value['nama_promosi'].' : Beli '.$val_produk['uom1_prod_nm'].' dapat '.$val_produk_y['uom1_prod_nm'].' (berlaku dari tanggal '.date("d-m-Y", strtotime($value['from_'])).' sampai '.date("d-m-Y", strtotime($value['to_'])).')</a><br><br><br>';
									}
								}
							}
						}

						foreach ($pwp as $key => $val) {
							$data_pwp = new Pwp();
							$condition = " WHERE \"kode_promosi\" = '".$val['id']."' ";
							$data = $data_pwp::getFreeSQL($condition);
							echo'
									<a style="color:#000000">'.$val['nama_promosi'].' : Beli <a style="color:#000000">';
							foreach ($data as $pwp_data) {
								$produk_x = new Product();
								$condition = " WHERE \"stock_id\" = '".$pwp_data['stock_id']."' ";
								$data_produk_x = $produk_x::getFreeSQL($condition);

								$list = new PwpList();
								$condition = " WHERE \"pwp_id\" = '".$pwp_data['id']."' ";
								$data_list = $list::getFreeSQL($condition);
								foreach ($data_list as $key => $val_produk) {
									$produk_list = new Product();
									$condition = " WHERE \"stock_id\" = '".$val_produk['kode_produk']."' ";
									$data_produk_list = $produk_list::getFreeSQL($condition);
									echo'<i>'.$data_produk_list['0']['uom1_prod_nm'].'</i>, ';
								}
								echo'Dapat '.$data_produk_x['0']['uom1_prod_nm'].'</br>';
							}
							echo'(berlaku dari tanggal '.date("d-m-Y", strtotime($value['from_'])).' sampai '.date("d-m-Y", strtotime($value['to_'])).').<br><br><br>';
						}

						foreach ($promosi_promo as $key => $value) {
							$data_promosi = new PromosiPromo();
							$condition = " WHERE \"promosi_id\" = '".$value['id']."' ";
							$data = $data_promosi::getFreeSQL($condition);
							echo'
									<a style="color:#000000">'.$value['nama_promosi'].' : Beli <a style="color:#000000"> :';
							foreach ($data as $promosi) {
								$produk = new Product();
								$condition = " WHERE \"stock_id\" = '".$promosi['kode_produk']."' ";
								$data_produk = $produk::getFreeSQL($condition);

								$price = new ProductPrice();
								$condition = " WHERE \"stock_id\" = '".$promosi['kode_produk']."' ";
								$cek_price = $price::getFreeSQL($condition);
								foreach ($data_produk as $key => $val_produk) {
									echo' <i>'.$val_produk['description'].' Rp.<strike>'.$cek_price['0']['uom1_rounding_price'].'</strike> = Rp.'.($cek_price['0']['uom1_rounding_price'] - $promosi['diskon']).'</i>, ';
								$total += $promosi['diskon'];
								}
							}
							echo'Total Diskon Rp. '.$total.' </br>';
							echo'(berlaku dari tanggal '.date("d-m-Y", strtotime($value['from_'])).' sampai '.date("d-m-Y", strtotime($value['to_'])).').<br><br><br>';
						}


						echo'
						</marquee>
					</div>	
				</div>	
			</div>
		<div class="col-sm-4 styled_promo">		
			<div class="col-sm-12">
				<label> Update Harga Terbaru </label>
			</div>

			<div class="col-sm-12 styled_margin_harga">	
				<div class="panel panel-danger">
				<marquee onmouseover="this.stop()" onmouseout="this.start()" direction="up" scrollamount="2" style="background: #ffffff;text-align:center;padding:-1px;font-size:100%;color:#0fc;border-radius: 10px;max-height:200px;">';
					foreach ($list_label as $key => $value) {
						echo'<p style="color:#000000">'.$value['uom1_prod_nm'].'<br>Rp.'.$value['harga'].'</p><br>';
					}
				echo'
				</marquee>
					<br>
				</div>
			</div>	
		</div>

		<div class="col-sm-4 styled_subtotal">	
			<div class="col-sm-4 styled_margin">
				<label style="margin-top:8px"> Diskon </label>
			</div>

			<div class="col-sm-8 styled_margin">
				'.$this->tag->textField(["discount", "class"=>"form-control input-sm", "readonly"=>"true", "value"=>$tunda->discount?$tunda->discount:$retur->discount]).'
			</div>

			<div class="col-sm-4 styled_margin">
				<label style="margin-top:8px"> Pajak </label>
			</div>

			<div class="col-sm-8 styled_margin">
				'.$this->tag->textField(["tax", "class"=>"form-control input-sm", "readonly"=>"true", "value"=>$tunda->tax?$tunda->tax:$retur->tax]).'
			</div>

			<div class="col-sm-4 styled_margin">
				<label style="margin-top:8px"> Subtotal </label>
			</div>

			<div class="col-sm-8 styled_margin">
				'.$this->tag->textField(["subtotal", "class"=>"form-control input-sm", "readonly"=>"true", "value"=>$tunda->subtotal?$tunda->subtotal:$retur->subtotal]).'
			</div>
		</div>

		<div class="col-sm-4 styled_total">		
			<div class="col-sm-6 styled_margin">	
				<label> Total </label>
				'.$this->tag->textField(["total", "id"=>"total", "class"=>"form-control input-sm", "readonly"=>"true", "value"=>$tunda->total?$tunda->total:$retur->total]).'
			</div>
			<div class="col-sm-6 styled_margin">	
				<label> Kembalian </label>
				'.$this->tag->textField(["kembalian", "id"=>"kembalian", "class"=>"form-control input-sm", "readonly"=>"true"]).'
			</div>
		</div>

		<div class="col-sm-12 styled_button1">
			<div class="col-sm-12">	
				<button id="btn_back" class="btn btn-default" style="float:left"> Kembali </button>
				<button id="btn_submit" type="submit" class="btn btn-primary"> Bayar </button>
				<button id="btn_hold" class="btn btn-warning"> Tunda </button>													
				<button id="btn_reset" class="btn btn-danger"> Batal </button>										
				<button id="btn_end" class="btn btn-default" style="float:right"> Tutup Shift </button>	
			</div>					
		</div>

	</div>
	'.$this->tag->endForm().'
	';

	echo '			
	<div class="modal" style="display: none">
		<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
	</div>
	';
	echo '</div>';
	?>

	<div id="modal_void" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Void</h4>
				</div>
				<div class="modal-body form-inline">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Username" id="user_void" />
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password" id="pass_void" />
					</div>
					<div class="form-group">
						<input id="submit_void" type="button" class="btn btn-primary btn-sm" value="Submit" />
					</div>
				</div>
			</div>

		</div>
	</div>

	<script>
		var count = 0;
		var jsonArray = [];

		function updateClock()
		{
			var currentTime = new Date ( );
			var currentHours = currentTime.getHours ( );
			var currentMinutes = currentTime.getMinutes ( );
			var currentSeconds = currentTime.getSeconds ( );

			currentHours = ( currentHours < 10 ? "0" : "" ) + currentHours;
			currentMinutes = ( currentMinutes < 10 ? "0" : "" ) + currentMinutes;
			currentSeconds = ( currentSeconds < 10 ? "0" : "" ) + currentSeconds;

			var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds;

			$(".timer").html(currentTimeString);

		}

		$(document).ready(function() {
			$('#autocomplete').autocomplete({
				lookup: function (query, done) {
					var dataProduct = [];
					var query = $("#autocomplete").val();	
					$.ajax({ url: "<?php echo $this->url->get(uri('Penjualan/ajaxSearchProduct')) ?>?query="+query+" " }).done(function(data){
						if(data){
							myArray = JSON.parse(data);
							for(var key in myArray){
								dataProduct.push({ "value" : myArray[key].display, "data" : myArray[key].val });
							}

							var result = { suggestions: dataProduct };
							done(result);
						$('#btn_back').prop('disabled', true);
						$('#btn_end').prop('disabled', true);
						}else{
							document.getElementById("autocomplete").value = "";
							$('#autocomplete').autocomplete('clear');
							$("#autocomplete-suggestions").hide();
						}

					});	
				}, 
				autoSelectFirst: false,
				onSelect: function (suggestion) {
					addRow();
				}
			});

			$('#barcode_only').keypress(function(e) {
				var query;
				var barcode1 = $("#autocomplete").val();			
				var barcode2 = $("#barcode_only").val();			
				if(e.which == 13){
					if(barcode1 != '' && barcode2 == ''){ query = barcode1;	}
					if(barcode2 != '' && barcode1 == ''){ query = barcode2;	}
					cek = query.replace(/[^0-9]/g, '');

					$.ajax({ url: "<?php echo $this->url->get(uri('Penjualan/ajaxSearchProduct')) ?>?query="+cek+" " }).done(function(data){
						if(data){
							myArray = JSON.parse(data);
							if(Object.keys(myArray).length >= 1 && Object.keys(myArray).length <= 2){
								for(var key in myArray){
									addRow();
								}
							}
						}else{
							document.getElementById("autocomplete").value = "";
							$('#autocomplete').autocomplete('clear');
							$("#autocomplete-suggestions").hide();
						}
					});

					return false;
				}			
			});

		});	

	</script>