<script type="text/javascript">
	$(document).ready(function() {
		$('#setoran').maskNumber({
			integer: true,
		});
		
		$('#btn_save').click(function() {	
			var setoran = $('#setoran').val();
			var shift_id = $('#shift_id').val();
			var kassa_id = $('#kassa_id').val();
			
			if(setoran == ''){
				sweetAlert("Gagal", "Setoran harus diisi.", "error");
				return false;
			}
			
			if(shift_id == ''){
				sweetAlert("Gagal", "Shift belum dipilih.", "error");
				return false;
			}
			
			if(kassa_id == ''){
				sweetAlert("Gagal", "POS belum dipilih.", "error");
				return false;
			}
			
			$("#start-form").submit();
			return false;
		});			
		
		$('#start-form').submit(function(e) {	
			e.preventDefault();
			jQuery.ajax({
				type: 'post',
				url: '<?php echo $this->url->get(uri('Penjualan/StartJual')) ?>',
				data: jQuery('#start-form').serialize(),
				beforeSend: function() {
					$('#btn_save').attr('disabled', true);	
					$('.modal').show();
				},
				complete: function() {
					$('#btn_save').attr('disabled', false);	
					$('.modal').hide();
				}, 
				success: function (data) {
					console.log(data);		
					data_array = JSON.parse(data);
					
					if(data_array.type == 'S'){
						swal({
							title: "Sukses",
							text: data_array.message,
							type: "success",
							html: true
						});	
						$.post( "<?php echo $this->url->get(uri('Penjualan/cetak_SOS')) ?>?username="+'<?php echo $this->session->get("user")['user_name']; ?>'+"" ).done(function(data){
							window.location = '<?php echo $this->url->get(uri('Penjualan/Sell')) ?>';
						});
					}else if(data_array.type == 'E'){
						swal({
							title: "Gagal",
							text: data_array.message,
							type: "error",
							html: true
						},
						function(isConfirm){
							if (isConfirm) {
								location.reload();
							}
						});
					}
				}
			});
			
			return false;				
		});		
	});			
</script>

<?php
	echo '<div class="content_header">
		<ul class="red-breadcrumb">
			<li>'.Phalcon\Tag::linkTo([uri('Immpos'), '<span> IMMPOS </span>']).'</li>
			<li>'.Phalcon\Tag::linkTo([uri('Penjualan'), '<span> Penjualan </span>']).'</li>
		</ul>
	<div>';
	
	echo '<div class="content_content">';	
		echo '<legend> Mulai Shift </legend><br/>';
	
		echo $this->tag->form([uri("Penjualan/StartJual"), "id"=>"start-form"]);
			echo '<table class="myTable table-striped table-condensed">';
				echo '<tr>';
					echo '<td>'.'<label> ID Kasir </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["kasir_id", "class"=>"form-control", "value"=>$this->session->get("user")['user_name'], "readonly"=>"true"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label> No POS </label>'.'</td>';
					echo '<td>'.$this->tag->select(["kassa_id", $kassa, "class"=>"form-control"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label> Shift </label>'.'</td>';
					echo '<td>'.$this->tag->select(["shift_id", $shift , "class"=>"form-control"]).'</td>';
				echo '</tr>';
				echo '<tr>';
					echo '<td>'.'<label> Setoran Awal </label>'.'</td>';
					echo '<td>'.$this->tag->textField(["setoran", "class"=>"form-control"]).'</td>';
				echo '</tr>';								
				echo '<tr>';
					echo '<td colspan="2" class="center" style="text-align:center;">
						</br>
						<button id="btn_save" class="btn btn-primary"> Mulai Penjualan </button>						
					</td>';
				echo '</tr>';
			echo '</table>';	
		echo $this->tag->endForm();
		
		echo '			
			<div class="modal" style="display: none">
				<center>'.$this->tag->image([uri("img/loading.gif"), "style" => "width:150px;height:150px;"]).'</center>
			</div>
		';
	echo '</div>';
?>	