<style>    	
	.styled_margin{
		margin-top:5px;
	}	
	
	.styled_button{
        border: 1px solid #fff;
        padding: 10px;
        text-align: left;
		min-height: 50px;		
    }
</style>

<script type="text/javascript">
	$(document).ready( function () {	
		$('#btn_back').click( function () {
			window.location = '<?php echo $this->url->get(uri('User')) ?>';
			return false;
		});
		
		$('#btn_save').click( function () {	
			var images = $("#fieldImageFile").val();
			
			if(images == ''){ 
				sweetAlert("Gagal", "Foto Harus diisi", "error");
				return false;
			}
			
			$("#add-form").submit();
			return false;
		});
		$('#add-form').submit(function(e) {	
			e.preventDefault();
			var data = new FormData(this);

			jQuery.ajax({
				type: 'post',
				url: '<?php echo $this->url->get(uri('User/Update')) ?>',
				data: data,
				cache: false,
	            contentType: false,
	            processData: false,
				success: function (data) {
					console.log(data);		
					data_array = JSON.parse(data);
					if(data_array.type == 'S'){
						swal({
							title: "Sukses",
							text: data_array.message,
							type: "success",
							html: true
						},
						function(isConfirm){
							if (isConfirm) {
								location.reload();
							}
						});
					}else if(data_array.type == 'E'){
						swal({
							title: "Gagal",
							text: data_array.message,
							type: "error",
							html: true
						},
						function(isConfirm){
							if (isConfirm) {
								location.reload();
							}
						});
					}
				}
			});
			return false;				
		});	
	});
</script>
<?php
	
	if($this->session->get("is_login") == "X"){					
	}else{
		header("location:login");
	}
	
	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Profile'), '<span> Profile </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	$messages = $this->flashSession->getMessages();
	if(count($messages) > 0){
		foreach ($messages as $messageType => $messageArray) {
			foreach ($messageArray as $message) {
				$arr_msg = explode(";", $message);
				echo "<script>swal({
					title: '".$arr_msg[0]."',
					text: '".$arr_msg[1]."',
					type: '".$arr_msg[2]."',
					html: true });</script>";
				$this->flashSession->clear();
			}
		}
	}
	
	echo '<div class="content_content">';		
	echo '<legend> Ganti Foto </legend>';
	echo $this->tag->form([uri("User/Update"), "class"=>"add-form", "id"=>"add-form", "enctype" => "multipart/form-data"]);
		echo '
			<div class="row">
				<div class="col-sm-3">
					<!-- <center>
						<header class="navbar_center"><img src="/local-store/img/cashier/girl1.png" style="width:200px;height:200px;"><p style="font-size:16px"></p></header>
					</center> --!>
				</div>

					<div class="col-sm-8 styled_margin" style="visibility: hidden;">
						'.$this->tag->textField(["User_Name", "value"=>$data->user_name, "readonly"=>"true", "class"=>"form-control input-sm" ]).'
					</div>
					<div class="col-sm-8 styled_margin" style="visibility: hidden;">
						'.$this->tag->textField(["Role_ID", $role , "class"=>"form-control input-sm", "id"=>"Role_ID", "value" => $data->role_id]).'
					</div>
				<div class="col-sm-6">
					<div class="col-sm-4">
						<label> ID User </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["User_ID", "value"=>$data->user_id, "readonly"=>"true", "class"=>"form-control input-sm" ]).'
					</div>
					
					<div class="col-sm-4">
						<label> Nama User </label>
					</div>
					<div class="col-sm-8 styled_margin">
						'.$this->tag->textField(["User_Name", "value"=>$data->user_name, "readonly"=>"true", "class"=>"form-control input-sm" ]).'
					</div>

					
					<div class="col-sm-4">
						<label> Upload Foto </label>
					</div>
					<div class="col-sm-8 styled_margin">
							'.$this->tag->fileField(["images", "size" => 30, "class" => "form-control", "id" => "fieldImageFile", "value"=>$data->images]).'
						</div>
					
					<div class="col-sm-12 styled_button">
						<center>
							<br/>
							<button id="btn_save" class="btn btn-primary btn-sm"> Simpan </button>
							<button id="btn_back" class="btn btn-default btn-sm"> Kembali </button>							
						</center>
					</div>
				</div>	

				<div class="col-sm-3">
					
				</div>				
			</div>
		';		
    echo $this->tag->endForm();
	echo '</div>';
	
?>

