
<?php

	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('immbo'), '<span> IMMBO-STORE </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	// get list menu (immbo)
	$menu = new Menu();
	$condition = " WHERE \"parent_id\" = '3' ";
	$lists = $menu::getFreeSQL($condition);
	
	echo '<div class="content_content">';
		echo '<div class="metro-surface">';
			echo '			
				<div class="col-sm-4 boot-metro-tile boot-metro-tile-large metro-tile-dgreen">
					'.Phalcon\Tag::linkTo([uri('Pembelian'), '<span><i class="fa fa-shopping-cart fa-2x"></i><div class="judul"><div class="judul"> Pembelian </div></div></span>']).'
				</div>

				<div class="col-sm-2 boot-metro-tile boot-metro-tile-small metro-tile-dgreen">
					'.Phalcon\Tag::linkTo([uri('Persediaan'), '<span><i class="fa fa-cube fa-2x"></i><div class="judul"><div class="judul"> Persediaan </div></div></span>']).'
				</div>
				
				<div class="col-sm-2 boot-metro-tile boot-metro-tile-small metro-tile-dgreen">
					'.Phalcon\Tag::linkTo([uri('LabelHarga'), '<span><i class="fa fa-tags fa-2x"></i><div class="judul"><div class="judul"> Label Harga </div></div></span>']).'
				</div>				
				
				<div class="col-sm-2 boot-metro-tile boot-metro-tile-small metro-tile-dgreen">
					'.Phalcon\Tag::linkTo([uri('ManajemenHarga'), '<span><i class="fa fa-dollar fa-2x"></i><div class="judul"><div class="judul"> Manajemen Harga </div></div></span>']).'
				</div>
				
				<div class="col-sm-4 boot-metro-tile metro-tile-dgreen">
					'.Phalcon\Tag::linkTo([uri('DataMaster'), '<span><i class="fa fa-book fa-2x"></i><div class="judul"><div class="judul"> Data Master </div></div></span>']).'
				</div>
				
				<div class="col-sm-2 boot-metro-tile boot-metro-tile-small metro-tile-dgreen">
					'.Phalcon\Tag::linkTo([uri('Planogram'), '<span><i class="fa fa-th fa-2x"></i><div class="judul"><div class="judul"> Planogram </div></div></span>']).'
				</div>	
				
				<div class="col-sm-4 boot-metro-tile metro-tile-dgreen">
					'.Phalcon\Tag::linkTo([uri('StockOpname'), '<span><i class="fa fa-cubes fa-2x"></i><div class="judul"><div class="judul"> Stock Opname </div></div></span>']).'
				</div>				
				
				<div class="col-sm-2 boot-metro-tile metro-tile-dgreen">
					'.Phalcon\Tag::linkTo([uri('KasBank'), '<span><i class="fa fa-bank fa-2x"></i><div class="judul"><div class="judul"> Kas Bank </div></div></span>']).'
				</div>
				
				<div class="col-sm-2 boot-metro-tile metro-tile-dgreen">
					'.Phalcon\Tag::linkTo([uri('SyncronMaster'), '<span><i class="fa fa-refresh fa-2x"></i><div class="judul"><div class="judul"> Syncron Master </div></div></span>']).'
				</div>
				
				<div class="col-sm-2 boot-metro-tile metro-tile-dgreen">
					'.Phalcon\Tag::linkTo([uri('Laporan'), '<span><i class="fa fa-file-text fa-2x"></i><div class="judul"><div class="judul"> Laporan </div></div></span>']).'
				</div>								
			';
		echo '</div>';
	echo '<div>';
	
?>

