
<?php

	echo '<div class="content_header">';
		echo '<ul class="red-breadcrumb">';
			echo '<li>'.Phalcon\Tag::linkTo([uri('Immpos'), '<span> IMMPOS </span>']).'</li>';
		echo '</ul>';
	echo '<div>';
	
	echo '<div class="content_content">';
		echo '<div class="metro-surface">';		
			echo '			
				<div class="col-sm-4 boot-metro-tile boot-metro-tile-small metro-tile-lblue">
					'.Phalcon\Tag::linkTo([uri('Penjualan'), '<span><i class="fa fa-shopping-cart fa-2x"></i><div class="judul">Penjualan</div></span>']).'
				</div>

				<div class="col-sm-2 boot-metro-tile boot-metro-tile-small metro-tile-lblue">
					'.Phalcon\Tag::linkTo([uri('TundaPenjualan'), '<span><i class="fa fa-pause-circle-o fa-2x"></i><div class="judul">Tunda Penjualan</div></span>']).'
				</div>
				
				<div class="col-sm-2 boot-metro-tile boot-metro-tile-small metro-tile-lblue">
					'.Phalcon\Tag::linkTo([uri('Penjualan/Start'), '<span><i class="fa fa-flag fa-2x"></i><div class="judul">Start of Shift</div></span>']).'
				</div>	
				
				<div class="col-sm-2 boot-metro-tile boot-metro-tile-small metro-tile-lblue">
					'.Phalcon\Tag::linkTo([uri('StartDay'), '<span><i class="fa fa-flag fa-2x"></i><div class="judul">Start of Day</div></span>']).'
				</div>	
				
				<div class="col-sm-4 boot-metro-tile boot-metro-tile-small metro-tile-lblue">
					'.Phalcon\Tag::linkTo([uri('RiwayatPenjualan'), '<span><i class="fa fa-history fa-2x"></i><div class="judul">Riwayat Penjualan</div></span>']).'
				</div>
				
				<div class="col-sm-2 boot-metro-tile boot-metro-tile-small metro-tile-lblue">
					'.Phalcon\Tag::linkTo([uri('ReturPenjualan'), '<span><i class="fa fa-retweet fa-2x"></i><div class="judul">Retur Penjualan</div></span>']).'
				</div>
				
				<div class="col-sm-2 boot-metro-tile boot-metro-tile-small metro-tile-lblue">
					'.Phalcon\Tag::linkTo([uri('Penjualan/End'), '<span><i class="fa fa-flag-checkered fa-2x"></i><div class="judul">End of Shift</div></span>']).'
				</div>	
				
				<div class="col-sm-2 boot-metro-tile boot-metro-tile-small metro-tile-lblue">
					'.Phalcon\Tag::linkTo([uri('EndDay'), '<span><i class="fa fa-flag-checkered fa-2x"></i><div class="judul">End of Day</div></span>']).'
				</div>	
			';
	echo '<div>';
	
?>

